Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore(release): v0.8.7
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

feat: ship GM-friendly default token settings
  src/documents/actor/character.ts
  src/hooks/ready.ts
Due: biome-fix-staged

feat: set pragmatic prototype-token defaults for monster actors
  src/documents/actor/minion.ts
  src/documents/actor/monsterPrototypeTokenDefaults.test.ts
  src/documents/actor/monsterPrototypeTokenDefaults.ts
  src/documents/actor/npc.ts
  src/documents/actor/soloMonster.ts
Due: biome-fix-staged

feat: link solo-monster prototype tokens
  src/documents/actor/monsterPrototypeTokenDefaults.ts
  src/documents/actor/soloMonster.ts
Due: biome-fix-staged

refactor: use CONST.TOKEN_DISPOSITIONS.FRIENDLY for character token disposition
  src/documents/actor/character.ts
Due: biome-fix-staged

feat: ship GM-friendly default token settings (#813)
  src/documents/actor/character.ts
  src/documents/actor/minion.ts
  src/documents/actor/monsterPrototypeTokenDefaults.test.ts
  src/documents/actor/monsterPrototypeTokenDefaults.ts
  src/documents/actor/npc.ts
  src/documents/actor/soloMonster.ts
  src/hooks/ready.ts
Due: biome-fix-staged

feat(combat): limit actions to 1 while Dying
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatantSystem.test.ts
  src/documents/combat/combatantSystem.ts
  src/hooks/combatantHooks/dyingActionLimitSync.test.ts
  src/hooks/combatantHooks/dyingActionLimitSync.ts
  src/nimble.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

feat(combat): allow additional actions while Dying
  src/documents/combat/combatantSystem.test.ts
  src/documents/combat/combatantSystem.ts
  src/hooks/combatantHooks/dyingActionLimitSync.test.ts
  src/hooks/combatantHooks/dyingActionLimitSync.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(combat): clear carried-over additional actions on entering Dying
  src/hooks/combatantHooks/dyingActionLimitSync.test.ts
  src/hooks/combatantHooks/dyingActionLimitSync.ts
Due: biome-fix-staged

feat(combat): allow features to raise the Dying action limit
  packs/classFeatures/core/berserker/berserker-progression/enduring-rage.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/combat/combatantSystem.test.ts
  src/documents/combat/combatantSystem.ts
  src/hooks/combatantHooks/dyingActionLimitSync.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/dyingActionLimit.test.ts
  src/models/rules/dyingActionLimit.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/combatTurnActions.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
  src/view/sheets/components/ActionTracker.svelte.ts
  tests/fixtures/combat.ts
Due: biome-fix-staged

feat(character): show custom reactions on heroic reactions tab
  public/lang/en.json
  src/view/sheets/components/CustomReactionsPanel.svelte
  src/view/sheets/components/CustomReactionsPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.test.ts
  src/view/sheets/components/CustomReactionsPanel.testHarness.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(character): exclude reaction spells from cast spell list
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.test.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged

feat(combat): limit actions to 1 while Dying (#815)
  packs/classFeatures/core/berserker/berserker-progression/enduring-rage.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatantSystem.test.ts
  src/documents/combat/combatantSystem.ts
  src/hooks/combatantHooks/dyingActionLimitSync.test.ts
  src/hooks/combatantHooks/dyingActionLimitSync.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/dyingActionLimit.test.ts
  src/models/rules/dyingActionLimit.ts
  src/nimble.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/ctTopTracker/resources.utils.ts
  tests/fixtures/combat.ts
Due: biome-fix-staged

feat(character): show custom reactions on heroic reactions tab (#817)
  public/lang/en.json
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.svelte
  src/view/sheets/components/CustomReactionsPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.test.ts
  src/view/sheets/components/CustomReactionsPanel.testHarness.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

chore: update langauge keys
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

chore: update i18n keys (#820)
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

chore(i18n): wire Babele compendium translation groundwork
  AGENTS.md
  build/buildBabeleSkeletons.mjs
  docs/system/compendium-translation.md
  package.json
  public/lang/babele/es/nimble.nimble-ancestries.json
  public/lang/babele/es/nimble.nimble-backgrounds.json
  public/lang/babele/es/nimble.nimble-boons.json
  public/lang/babele/es/nimble.nimble-class-features.json
  public/lang/babele/es/nimble.nimble-classes.json
  public/lang/babele/es/nimble.nimble-items.json
  public/lang/babele/es/nimble.nimble-legendary-monsters.json
  public/lang/babele/es/nimble.nimble-magic-items.json
  public/lang/babele/es/nimble.nimble-monsters.json
  public/lang/babele/es/nimble.nimble-secret-spells.json
  public/lang/babele/es/nimble.nimble-spells.json
  public/lang/babele/es/nimble.nimble-subclasses.json
  public/lang/babele/es/nimble.nimble-tables.json
  public/lang/babele/fr/nimble.nimble-ancestries.json
  public/lang/babele/fr/nimble.nimble-backgrounds.json
  public/lang/babele/fr/nimble.nimble-boons.json
  public/lang/babele/fr/nimble.nimble-class-features.json
  public/lang/babele/fr/nimble.nimble-classes.json
  public/lang/babele/fr/nimble.nimble-items.json
  public/lang/babele/fr/nimble.nimble-legendary-monsters.json
  public/lang/babele/fr/nimble.nimble-magic-items.json
  public/lang/babele/fr/nimble.nimble-monsters.json
  public/lang/babele/fr/nimble.nimble-secret-spells.json
  public/lang/babele/fr/nimble.nimble-spells.json
  public/lang/babele/fr/nimble.nimble-subclasses.json
  public/lang/babele/fr/nimble.nimble-tables.json
  public/lang/babele/mappings.json
  public/system.json
  src/hooks/babeleInit.ts
  src/nimble.ts
Due: biome-fix-staged

chore(i18n): expand Babele skeleton coverage to all user-visible strings
  build/buildBabeleSkeletons.mjs
  public/lang/babele/es/nimble.nimble-ancestries.json
  public/lang/babele/es/nimble.nimble-backgrounds.json
  public/lang/babele/es/nimble.nimble-boons.json
  public/lang/babele/es/nimble.nimble-class-features.json
  public/lang/babele/es/nimble.nimble-classes.json
  public/lang/babele/es/nimble.nimble-items.json
  public/lang/babele/es/nimble.nimble-legendary-monsters.json
  public/lang/babele/es/nimble.nimble-magic-items.json
  public/lang/babele/es/nimble.nimble-monsters.json
  public/lang/babele/es/nimble.nimble-secret-spells.json
  public/lang/babele/es/nimble.nimble-spells.json
  public/lang/babele/es/nimble.nimble-subclasses.json
  public/lang/babele/es/nimble.nimble-tables.json
  public/lang/babele/fr/nimble.nimble-ancestries.json
  public/lang/babele/fr/nimble.nimble-backgrounds.json
  public/lang/babele/fr/nimble.nimble-boons.json
  public/lang/babele/fr/nimble.nimble-class-features.json
  public/lang/babele/fr/nimble.nimble-classes.json
  public/lang/babele/fr/nimble.nimble-items.json
  public/lang/babele/fr/nimble.nimble-legendary-monsters.json
  public/lang/babele/fr/nimble.nimble-magic-items.json
  public/lang/babele/fr/nimble.nimble-monsters.json
  public/lang/babele/fr/nimble.nimble-secret-spells.json
  public/lang/babele/fr/nimble.nimble-spells.json
  public/lang/babele/fr/nimble.nimble-subclasses.json
  public/lang/babele/fr/nimble.nimble-tables.json
  public/lang/babele/mappings.json
  src/hooks/babeleInit.ts
Due: biome-fix-staged

chore(i18n): fix RollTable skeleton extraction and cover converters with tests
  build/buildBabeleSkeletons.mjs
  public/lang/babele/es/nimble.nimble-tables.json
  public/lang/babele/fr/nimble.nimble-tables.json
  src/hooks/babeleInit.test.ts
Due: biome-fix-staged

chore(i18n): warn at world ready when a non-English world lacks Babele
  public/lang/en.json
  src/hooks/babeleInstallNotice.test.ts
  src/hooks/babeleInstallNotice.ts
  src/nimble.ts
Due: biome-fix-staged

chore(i18n): harden Babele skeleton generator and add coverage
  build/buildBabeleSkeletons.mjs
  build/lib/babeleSkeletonsLib.mjs
  build/lib/babeleSkeletonsLib.test.mjs
  public/lang/babele/es/nimble.nimble-ancestries.json
  public/lang/babele/es/nimble.nimble-backgrounds.json
  public/lang/babele/es/nimble.nimble-boons.json
  public/lang/babele/es/nimble.nimble-class-features.json
  public/lang/babele/es/nimble.nimble-classes.json
  public/lang/babele/es/nimble.nimble-items.json
  public/lang/babele/es/nimble.nimble-legendary-monsters.json
  public/lang/babele/es/nimble.nimble-magic-items.json
  public/lang/babele/es/nimble.nimble-monsters.json
  public/lang/babele/es/nimble.nimble-secret-spells.json
  public/lang/babele/es/nimble.nimble-spells.json
  public/lang/babele/es/nimble.nimble-subclasses.json
  public/lang/babele/es/nimble.nimble-tables.json
  public/lang/babele/fr/nimble.nimble-ancestries.json
  public/lang/babele/fr/nimble.nimble-backgrounds.json
  public/lang/babele/fr/nimble.nimble-boons.json
  public/lang/babele/fr/nimble.nimble-class-features.json
  public/lang/babele/fr/nimble.nimble-classes.json
  public/lang/babele/fr/nimble.nimble-items.json
  public/lang/babele/fr/nimble.nimble-legendary-monsters.json
  public/lang/babele/fr/nimble.nimble-magic-items.json
  public/lang/babele/fr/nimble.nimble-monsters.json
  public/lang/babele/fr/nimble.nimble-secret-spells.json
  public/lang/babele/fr/nimble.nimble-spells.json
  public/lang/babele/fr/nimble.nimble-subclasses.json
  public/lang/babele/fr/nimble.nimble-tables.json
  src/hooks/babeleInstallNotice.ts
  src/hooks/babeleMappings.test.ts
  vite.config.mts
Due: biome-fix-staged

chore(i18n): address Babele PR review feedback
  build/buildBabeleSkeletons.mjs
  docs/system/compendium-translation.md
  src/hooks/babeleInit.ts
Due: biome-fix-staged

chore(i18n): document field-level stale behavior, pin undefined-lang fallback
  docs/system/compendium-translation.md
  src/hooks/babeleInstallNotice.test.ts
Due: biome-fix-staged

chore(i18n): tidy Babele helpers and fix mappings test formatting
  build/buildBabeleSkeletons.mjs
  build/lib/babeleSkeletonsLib.mjs
  src/hooks/babeleMappings.test.ts
Due: biome-fix-staged

chore(rules): assign stable ids to rule entries in pack build and UI
  build/lib/Pack.mjs
  packs/ancestries/core/common/dwarf.json
  packs/ancestries/core/common/elf.json
  packs/ancestries/core/common/gnome.json
  packs/ancestries/core/exotic/birdfolk.json
  packs/ancestries/core/exotic/celestial.json
  packs/ancestries/core/exotic/dragonborn.json
  packs/ancestries/core/exotic/dryadshroomling.json
  packs/ancestries/core/exotic/fiendkin.json
  packs/ancestries/core/exotic/goblin.json
  packs/ancestries/core/exotic/half-giant.json
  packs/ancestries/core/exotic/kobold.json
  packs/ancestries/core/exotic/oozelingconstruct.json
  packs/ancestries/core/exotic/orc.json
  packs/backgrounds/core/survivalist.json
  packs/backgrounds/core/wild-one.json
  packs/boons/core/epic/epic-speed.json
  packs/boons/core/lodging/plus-1-speed.json
  packs/boons/core/major/stalwart.json
  packs/boons/core/major/tenacious.json
  packs/boons/core/minor/feisty.json
  packs/boons/core/minor/intrepid.json
  packs/classFeatures/core/berserker/savage-arsenal/eager-for-battle.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/hunter/hunter-progression/explorer-of-the-wilds.json
  packs/classFeatures/core/oathsworn/sacred-decree/unstoppable-protector.json
  packs/classFeatures/core/stormshifter/chimeric-boon/fleet-footed.json
  packs/classFeatures/core/stormshifter/chimeric-boon/winged.json
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/professional-skulker.json
  packs/classFeatures/core/zephyr/zephyr-progression/swift-feet.json
  packs/magicItems/core/coreRules/trinket-of-ill-omen.json
  packs/monsters/core/cultists/doomsayer.json
  src/managers/RulesManager.ts
Due: biome-fix-staged

chore(i18n): cover folder derivers and buildPackSkeleton with unit tests
  build/buildBabeleSkeletons.mjs
  build/lib/babeleSkeletonsLib.mjs
  build/lib/babeleSkeletonsLib.test.mjs
Due: biome-fix-staged

chore update FR system translation
  public/lang/fr.json
Due: biome-fix-staged

chore(rules): assign stable ids to rule entries in pack build and UI (#823)
  build/lib/Pack.mjs
  packs/ancestries/core/common/dwarf.json
  packs/ancestries/core/common/elf.json
  packs/ancestries/core/common/gnome.json
  packs/ancestries/core/exotic/birdfolk.json
  packs/ancestries/core/exotic/celestial.json
  packs/ancestries/core/exotic/dragonborn.json
  packs/ancestries/core/exotic/dryadshroomling.json
  packs/ancestries/core/exotic/fiendkin.json
  packs/ancestries/core/exotic/goblin.json
  packs/ancestries/core/exotic/half-giant.json
  packs/ancestries/core/exotic/kobold.json
  packs/ancestries/core/exotic/oozelingconstruct.json
  packs/ancestries/core/exotic/orc.json
  packs/backgrounds/core/survivalist.json
  packs/backgrounds/core/wild-one.json
  packs/boons/core/epic/epic-speed.json
  packs/boons/core/lodging/plus-1-speed.json
  packs/boons/core/major/stalwart.json
  packs/boons/core/major/tenacious.json
  packs/boons/core/minor/feisty.json
  packs/boons/core/minor/intrepid.json
  packs/classFeatures/core/berserker/savage-arsenal/eager-for-battle.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/hunter/hunter-progression/explorer-of-the-wilds.json
  packs/classFeatures/core/oathsworn/sacred-decree/unstoppable-protector.json
  packs/classFeatures/core/stormshifter/chimeric-boon/fleet-footed.json
  packs/classFeatures/core/stormshifter/chimeric-boon/winged.json
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/professional-skulker.json
  packs/classFeatures/core/zephyr/zephyr-progression/swift-feet.json
  packs/magicItems/core/coreRules/trinket-of-ill-omen.json
  packs/monsters/core/cultists/doomsayer.json
  src/managers/RulesManager.ts
Due: biome-fix-staged

fix(conditions): only active GM applies automatic conditions
  src/hooks/automaticConditions.ts
Due: biome-fix-staged

test(conditions): cover active-GM guard for automatic conditions
  src/hooks/automaticConditions.test.ts
Due: biome-fix-staged

feat(character-sheet): show color-coded associated stat for each skill (#509)
  public/lang/en.json
  src/scss/base/_theme.scss
  src/scss/components/_skill.scss
  src/view/dialogs/components/characterCreator/SkillPointAssignment.svelte
  src/view/sheets/components/Skills.svelte
Due: biome-fix-staged, prettier-svelte

feat(actor): convert monsters between standard, minion, and solo subtypes
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/convertMonsterType.test.ts
  src/models/actor/actorDataModels.ts
  src/view/dialogs/NPCMetaConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(settings): custom and aliased in-game languages
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/hooks/ready.ts
  src/settings/index.ts
  src/settings/languageSettings.test.ts
  src/settings/languageSettings.ts
  src/view/dialogs/CharacterLanguageProficienciesConfigDialog.svelte
  src/view/dialogs/LanguageCustomizationDialog.svelte
  src/view/dialogs/languageCustomization/state.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(combat): let GMs and players hand the active turn to another combatant
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatSorting.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

feat(character-sheet): use color-coded stat icons for skills
  public/lang/en.json
  src/config.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/dialogs/components/characterCreator/SkillPointAssignment.svelte
  src/view/sheets/components/Skills.svelte
Due: biome-fix-staged, prettier-svelte

fix(actor): force-replace system on monster type change, confirm + close sheet
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/convertMonsterType.test.ts
  src/view/dialogs/NPCMetaConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(combat): split turn handoff into "Swap Turns" and "Take the Turn"
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

refactor(combat): DRY the combat tracker context menu items into a snippet
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

feat(settings): ancestry-driven language grants and aliases
  packs/ancestries/core/common/gnome.json
  packs/ancestries/core/exotic/orc.json
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/hooks/ready.ts
  src/models/rules/grantProficiencies.ts
  src/settings/index.ts
  src/settings/languageSettings.test.ts
  src/settings/languageSettings.ts
  src/utils/getLanguageName.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/CharacterLanguageProficienciesConfigDialog.svelte
  src/view/dialogs/LanguageCustomizationDialog.svelte
  src/view/dialogs/components/characterCreator/BonusLanguageSelection.svelte
  src/view/dialogs/languageCustomization/state.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
