Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

docs: relax one-export-per-file rule for constants and types
  AGENTS.md
Due: none

feat(migration): add Migration014 to populate granted feature IDs
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration014GrantedFeatureIds.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix: address PR review feedback for heroic action macros
  src/hooks/hotBarDrop.ts
  src/macros/activateHeroicActionMacro.test.ts
  src/macros/activateHeroicActionMacro.ts
  src/macros/createHeroicActionMacro.ts
  src/migration/migrations/Migration011SwiftFistsUnarmedProficiency.ts
  src/utils/attackUtils.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/handleInterposeAndDefend.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.test.ts
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): grant class features on level up and remove on level down (#571)
  AGENTS.md
  public/lang/en.json
  src/documents/actor/character.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration014GrantedFeatureIds.ts
  src/migration/migrations/index.ts
  src/models/actor/CharacterDataModel.ts
  src/utils/getEpicBoons.ts
  src/view/components/ExpandableDocumentList.svelte
  src/view/components/ExpandableDocumentList.svelte.ts
  src/view/components/SelectionIndicator.svelte
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialog.test.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/EpicBoonSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/SubclassSelection.svelte
  src/view/dialogs/const/levelUpConstants.ts
  tests/mocks/foundry.ts
  types/components/CharacterLevelDownDialog.d.ts
  types/components/CharacterLevelUpDialog.d.ts
  types/components/ClassFeatureSelection.d.ts
  types/components/ExpandableDocumentList.d.ts
  types/components/LevelUpChoices.d.ts
  types/components/SelectionIndicator.d.ts
Due: biome-fix-staged, prettier-svelte

refactor: consolidate execute*Reaction functions into config-driven helper
  src/macros/activateHeroicActionMacro.ts
Due: biome-fix-staged

fix: clean up level-up/level-down dialog state and grant logic
  src/config.ts
  src/documents/actor/character.ts
  src/utils/generateBlankSkillSet.ts
  src/utils/getEpicBoons.ts
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
Due: biome-fix-staged

fix: clean up level-up/level-down dialog state and grant logic (#586)
  src/config.ts
  src/documents/actor/character.ts
  src/utils/generateBlankSkillSet.ts
  src/utils/getEpicBoons.ts
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
Due: biome-fix-staged

feat(charges): implement end-to-end charge pool system with recovery hooks, UI, and enriched tooltips
  docs/STYLE_GUIDE.md
  public/lang/en.json
  public/system.json
  src/config.ts
  src/config/registerRulesConfig.ts
  src/hooks/chargeSystem.test.ts
  src/hooks/chargeSystem.ts
  src/hooks/renderChatMessage.ts
  src/managers/RestManager.ts
  src/models/chat/ChargeAdjustmentCardDataModel.ts
  src/models/chat/SafeRestCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/models/rules/chargeConsumer.ts
  src/models/rules/chargePool.ts
  src/nimble.ts
  src/scss/components/_document-card.scss
  src/scss/components/_tooltip.scss
  src/utils/chargePoolRuleConfig.ts
  src/utils/chargePoolService.test.ts
  src/utils/chargePoolService.ts
  src/utils/chargeUiConfig.ts
  src/view/chat/ChargeAdjustmentCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/ChargeConsumptionNode.svelte
  src/view/components/ChargeIndicator.svelte
  src/view/dialogs/ConfigureChargesDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  types/components/ChargeIndicator.d.ts
  types/components/ConfigureChargesDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(ui): use fixed portrait position on PC/NPC sheets (#572)
  src/scss/components/_image.scss
Due: none

chore: add distinct Discord badges for Nimble RPG and FoundryVTT
  README.md
Due: none

chore: update Discord invite link (#560)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  CONTRIBUTING.md
  README.md
  docs/.vitepress/config.mts
  docs/index.md
Due: biome-fix-staged

fix: add --overwrite flag to worktree setup script
  build/worktreeSetup.mjs
Due: biome-fix-staged

fix: add --overwrite flag to worktree setup script (#694)
  build/worktreeSetup.mjs
Due: biome-fix-staged

fix: preserve @key and computed dice counts in damage formula normalization
  src/managers/ItemActivationManager.ts
  src/utils/normalizeDamageRollFormula.test.ts
  src/utils/normalizeDamageRollFormula.ts
Due: biome-fix-staged

fix(dice): cast Die through unknown to silence tsc DieConstructor mismatch
  src/dice/nimbleDieModifiers.ts
Due: biome-fix-staged

fix(dice): auto-flag AoE from template.shape only; strip bug-id noise from comments and tests
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration015WeaponType.ts
  src/models/item/ObjectDataModel.ts
  src/view/sheets/components/attackUtils.ts
Due: biome-fix-staged

refactor(dice): drop phase-numbered naming in DamageRoll
  src/dice/DamageRoll.ts
  src/dice/dice-slice1.test.ts
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

fix(dice): code review cleanups — accurate comments, minion-miss rule note, 4 new tests
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/managers/ItemActivationManager.ts
  src/view/sheets/components/attackUtils.ts
Due: biome-fix-staged

docs(dice): strip local rulebook file:line refs from comments
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration015WeaponType.ts
  src/models/item/ObjectDataModel.ts
  src/view/sheets/components/attackUtils.ts
Due: biome-fix-staged

feat(dice): results panel with per-die tiles, outcome badges, and grouped pools
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

chore(dice): remove unused PrimaryDie import in dice-slice1.test
  src/dice/dice-slice1.test.ts
Due: biome-fix-staged

fix(dice): invert stageAndRoll fraction to match Foundry v13 mapRandomFace((1 - rv) * faces)
  src/view/debug/stageAndRoll.test.ts
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged

feat(dice): add dice testbench debug setting and empty window shell
  public/lang/en.json
  src/settings/index.ts
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

feat(dice): roll builder UI for dice testbench
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

feat(dice): add stageAndRoll orchestration for dice testbench
  src/view/debug/stageAndRoll.test.ts
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged

feat(dice): scenario presets for dice testbench
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
  src/view/debug/scenarios.ts
Due: biome-fix-staged, prettier-svelte

feat(dice): simplify rollMode sources to adv/dis counters, convert Force Crit/Miss to checkboxes
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

refactor(dice): lift _evaluate outcome interpretation into Phase 5 finalization
  src/dice/DamageRoll.ts
  src/dice/dice-slice1.test.ts
  src/dice/nimbleDieModifiers.ts
Due: biome-fix-staged

refactor(dice): merge dice-slice1.test.ts into DamageRoll.test.ts
  src/dice/DamageRoll.test.ts
  src/dice/dice-slice1.test.ts
Due: biome-fix-staged

feat(dice): fix correctness bugs and refactor into phased pipeline
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/constructD20RollFormula.ts
  src/dice/constructD20Term.ts
  src/dice/dice-slice1.test.ts
  src/dice/nimbleDieModifiers.ts
  src/dice/terms/PrimaryDie.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/hooks/init.ts
  src/managers/HitDiceManager.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration015WeaponType.ts
  src/migration/migrations/index.ts
  src/models/item/ObjectDataModel.ts
  src/utils/getRollFormula.ts
  src/view/sheets/components/attackUtils.ts
Due: biome-fix-staged

feat(dice): add weapon type suggestions and rollModeSources hint to testbench
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

feat(dice): testbench surfaces actor effect and passes actor roll data to formulas
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged, prettier-svelte

feat(dice): show explosion glow on base primary die when it triggered the chain
  src/view/debug/DiceTestbench.svelte
Due: prettier-svelte

fix(dice): split base primary dice from explosion rerolls in testbench results
  src/view/debug/DiceTestbench.svelte
Due: prettier-svelte

docs(system): add dice engine overview
  docs/system/dice-engine.md
  docs/system/index.md
Due: none

feat(dice): tag vicious-chain dice with provenance and group results panel by category
  public/lang/en.json
  src/dice/DamageRoll.ts
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

chore: update .gitignore
  .gitignore
Due: none

fix(dice): bump migration schema to 14 and break attackUtils import cycle
  src/view/sheets/components/attackUtils.ts
Due: biome-fix-staged

feat: drag heroic actions and reactions to macro bar (#496)
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/game.ts
  src/hooks/hotBarDrop.test.ts
  src/hooks/hotBarDrop.ts
  src/macros/activateHeroicActionMacro.test.ts
  src/macros/activateHeroicActionMacro.ts
  src/macros/activateItemMacro.test.ts
  src/macros/activateItemMacro.ts
  src/macros/createHeroicActionMacro.test.ts
  src/macros/createHeroicActionMacro.ts
  src/migration/migrations/Migration011SwiftFistsUnarmedProficiency.ts
  src/utils/assessOptions.ts
  src/utils/attackUtils.ts
  src/utils/showReactionConfirmation.ts
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/ReactionPanels.test.ts
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/components/handleInterposeAndDefend.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.test.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.testHarness.svelte
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

fix: preserve @key in damage formula normalization (#696)
  src/managers/ItemActivationManager.ts
  src/utils/normalizeDamageRollFormula.test.ts
  src/utils/normalizeDamageRollFormula.ts
Due: biome-fix-staged
