Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(conditions): let GMs add custom conditions from world settings (#484)
  public/lang/en.json
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/settings/customConditionSettings.test.ts
  src/settings/customConditionSettings.ts
  src/settings/index.ts
  src/settings/registerCustomConditionSettings.ts
  src/view/settings/CustomConditionsEditor.svelte
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditor.types.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
Due: biome-fix-staged, prettier-svelte

docs(conditions): correct custom condition cleanup steps and editor description (#484)
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/index.md
  docs/documentation/playing/conditions.md
Due: none

refactor(conditions): address style-guide conformance findings for custom conditions (#484)
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/index.md
  docs/documentation/playing/conditions.md
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/settings/customConditionSettings.test.ts
  src/settings/registerCustomConditionSettings.test.ts
  src/settings/registerCustomConditionSettings.ts
  src/view/settings/CustomConditionsEditor.svelte
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(conditions): use the namespaced FilePicker and seed statusEffects for Foundry V14 (#484)
  src/managers/ConditionManager.test.ts
  src/settings/customConditionSettings.test.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
Due: biome-fix-staged

fix(conditions): address review feedback on custom conditions (#484)
  docs/documentation/gm/settings.md
  docs/documentation/playing/conditions.md
  public/lang/en.json
  src/enrichers/enrichCondition.ts
  src/models/rules/conditionImmunity.ts
  src/nimble.ts
  src/settings/customConditionSettings.test.ts
  src/settings/customConditionSettings.ts
  src/settings/index.ts
  src/settings/registerCustomConditionSettings.test.ts
  src/settings/registerCustomConditionSettings.ts
  src/view/components/ActorConditionsList.svelte
  src/view/settings/CustomConditionsEditor.svelte
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditor.types.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

fix(conditions): keep the chat chip readable when its condition is gone (#484)
  src/view/chat/components/ConditionNode.svelte
  src/view/chat/components/ConditionNode.test.ts
Due: biome-fix-staged, prettier-svelte

fix(conditions): address the second review pass on custom conditions (#484)
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/documents/dialogs/GenericDialog.svelte.ts
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/applyCondition.ts
  src/models/rules/conditionImmunity.ts
  src/settings/customConditionSettings.test.ts
  src/settings/customConditionSettings.ts
  src/settings/registerCustomConditionSettings.test.ts
  src/settings/registerCustomConditionSettings.ts
  src/settings/registerSpellSchoolSettings.ts
  src/view/chat/components/ConditionNode.svelte
  src/view/chat/components/ConditionNode.test.ts
  src/view/pixi/NimbleTokenHUD.svelte
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
Due: biome-fix-staged, prettier-svelte

docs(conditions): trim comments on the custom conditions diff (#484)
  src/config/registerConditionsConfig.ts
  src/enrichers/enrichCondition.ts
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/models/rules/conditionImmunity.ts
  src/nimble.ts
  src/scss/base/_variables.scss
  src/settings/customConditionSettings.test.ts
  src/settings/customConditionSettings.ts
  src/settings/index.ts
  src/settings/registerCustomConditionSettings.ts
  src/view/components/ActorConditionsList.svelte
  src/view/settings/CustomConditionsEditor.svelte
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditor.types.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(conditions): offer to strip a removed condition from what still uses it (#484)
  docs/documentation/gm/settings.md
  docs/documentation/playing/conditions.md
  public/lang/en.json
  src/settings/findConditionUsage.test.ts
  src/settings/findConditionUsage.ts
  src/settings/removeConditionReferences.test.ts
  src/settings/removeConditionReferences.ts
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
  src/view/settings/RemoveConditionDialog.svelte
  src/view/settings/RemoveConditionDialog.svelte.test.ts
  src/view/settings/RemoveConditionDialog.types.ts
Due: biome-fix-staged, prettier-svelte

feat(conditions): let GMs add custom conditions from world settings (#911)
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/index.md
  docs/documentation/playing/conditions.md
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/documents/dialogs/GenericDialog.svelte.ts
  src/enrichers/enrichCondition.ts
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/applyCondition.ts
  src/models/rules/conditionImmunity.ts
  src/nimble.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/settings/customConditionSettings.test.ts
  src/settings/customConditionSettings.ts
  src/settings/findConditionUsage.test.ts
  src/settings/findConditionUsage.ts
  src/settings/index.ts
  src/settings/registerCustomConditionSettings.test.ts
  src/settings/registerCustomConditionSettings.ts
  src/settings/registerSpellSchoolSettings.ts
  src/settings/removeConditionReferences.test.ts
  src/settings/removeConditionReferences.ts
  src/view/chat/components/ConditionNode.svelte
  src/view/chat/components/ConditionNode.test.ts
  src/view/components/ActorConditionsList.svelte
  src/view/pixi/NimbleTokenHUD.svelte
  src/view/settings/CustomConditionsEditor.svelte
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditor.types.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
  src/view/settings/RemoveConditionDialog.svelte
  src/view/settings/RemoveConditionDialog.svelte.test.ts
  src/view/settings/RemoveConditionDialog.types.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

feat(backgrounds): automate Haunted Past fear advantage
  packs/backgrounds/core/haunted-past.json
  src/documents/dialogs/CharacterCreationDialog.test.ts
Due: biome-fix-staged

fix(backgrounds): make Haunted Past fear advantage reach existing characters
  .github/workflows/checks.yml
  packs/backgrounds/core/haunted-past.json
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/compendiumSourceId.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
  src/migration/migrations/Migration044HauntedPastFearAdvantage.test.ts
  src/migration/migrations/Migration044HauntedPastFearAdvantage.ts
  src/migration/migrations/index.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: biome-fix-staged, prettier-svelte

fix: description for createOpening action
  public/lang/en.json
Due: biome-fix-staged

fix: 'createOpening' action description
  public/lang/en.json
Due: biome-fix-staged

fix: description for createOpening action (#917)
  public/lang/en.json
Due: biome-fix-staged

fix(mana): seed current mana when max mana first becomes non-zero
  src/hooks/manaSeeding.test.ts
  src/hooks/manaSeeding.ts
  src/nimble.ts
Due: biome-fix-staged

feat(rules): add situationalRollMode and use it for Haunted Past
  docs/documentation/reference/_partials/situationalRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/haunted-past.json
  public/lang/en.json
  src/config.ts
  src/config/registerRulesConfig.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/migrations/Migration044HauntedPastFearAdvantage.test.ts
  src/migration/migrations/Migration044HauntedPastFearAdvantage.ts
  src/models/rules/situationalRollMode.test.ts
  src/models/rules/situationalRollMode.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.utils.test.ts
  src/view/dialogs/CheckRollDialog.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): move per-level maxHpBonus with the class level
  src/documents/item/class.test.ts
  src/documents/item/class.ts
  src/models/rules/maxHpBonus.test.ts
  src/models/rules/maxHpBonus.ts
Due: biome-fix-staged

chore(migration): drop the Haunted Past migration test
  .github/workflows/checks.yml
  src/migration/migrations/Migration044HauntedPastFearAdvantage.test.ts
Due: biome-fix-staged

fix(rules): derive maxHpBonus instead of banking it into hp.bonus
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/maxHpBonus.test.ts
  src/models/rules/maxHpBonus.ts
  src/view/dialogs/EditHitPointsDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(migration): unbank stored maxHpBonus contributions
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration044MaxHpBonusDerived.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(import): count maxHpBonus rules in the import preview max HP
  src/import/playerCharacter/buildImportPreview.test.ts
  src/import/playerCharacter/buildImportPreview.ts
Due: biome-fix-staged

docs(rules): document rules read outside the hook sweep
  docs/system/rules.md
Due: none

fix(rules): address review findings on the maxHpBonus derivation
  docs/system/rules.md
  src/migration/migrations/Migration044MaxHpBonusDerived.ts
  src/models/rules/maxHpBonus.test.ts
  src/view/dialogs/EditHitPointsDialog.svelte
  tests/integration/itemGrants.test.ts
Due: biome-fix-staged, prettier-svelte

fix(mana): key the stashed max mana by actor id
  src/hooks/manaSeeding.test.ts
  src/hooks/manaSeeding.ts
Due: biome-fix-staged

fix(rules): test the max HP summation and warn on a late predicate
  docs/system/rules.md
  src/documents/actor/earlyModifierPass.test.ts
  src/models/rules/maxHpBonus.test.ts
  src/models/rules/maxHpBonus.ts
Due: biome-fix-staged

fix(mana): clamp current mana on level down and key the stash by uuid
  src/documents/actor/character.ts
  src/hooks/manaSeeding.test.ts
  src/hooks/manaSeeding.ts
  tests/integration/manaSeeding.test.ts
Due: biome-fix-staged

fix(ui): make checkboxes square and legible in dark mode
  src/scss/base/_theme.scss
  src/scss/vendor/foundry/_input.scss
Due: none

fix(ui): centre the checkbox glyph inside its control
  src/scss/vendor/foundry/_input.scss
Due: none

fix(shepherd): grant 2 Sacred Graces at level 5
  packs/classFeatures/core/shepherd/shepherd-progression/sacred-graces.json
  src/utils/classProgression/shepherd.test.ts
Due: biome-fix-staged

test(shepherd): pin Sacred Grace pick count through the real level-up picker
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.test.ts
  tests/harnesses/FeatureOptionPickerStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(rules): recalculate maxHpBonus on level-up instead of banking it (#927)
  docs/system/rules.md
  src/documents/actor/character.ts
  src/documents/actor/earlyModifierPass.test.ts
  src/import/playerCharacter/buildImportPreview.test.ts
  src/import/playerCharacter/buildImportPreview.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration044MaxHpBonusDerived.ts
  src/migration/migrations/index.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/maxHpBonus.test.ts
  src/models/rules/maxHpBonus.ts
  src/view/dialogs/EditHitPointsDialog.svelte
  tests/integration/itemGrants.test.ts
Due: biome-fix-staged, prettier-svelte

refactor(mana): drop the unreachable class item seeding hooks
  src/hooks/manaSeeding.test.ts
  src/hooks/manaSeeding.ts
Due: biome-fix-staged

fix(mana): clamp a stranded pool wherever the maximum falls away
  src/documents/actor/character.ts
  src/hooks/manaSeeding.test.ts
  src/hooks/manaSeeding.ts
  tests/integration/manaSeeding.test.ts
Due: biome-fix-staged

fix(ui): make checkboxes square, legible in dark mode, and centred (#928)
  src/scss/base/_theme.scss
  src/scss/vendor/foundry/_input.scss
Due: none

fix(tests): join the live world through the v14.367 username field
  tests/integration/pool.ts
Due: biome-fix-staged

feat(rules): add situationalRollMode and use it for Haunted Past
  docs/documentation/reference/_partials/situationalRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/haunted-past.json
  public/lang/en.json
  src/config.ts
  src/config/registerRulesConfig.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/migrations/Migration045HauntedPastFearAdvantage.test.ts
  src/migration/migrations/Migration045HauntedPastFearAdvantage.ts
  src/models/rules/situationalRollMode.test.ts
  src/models/rules/situationalRollMode.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.utils.test.ts
  src/view/dialogs/CheckRollDialog.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(backgrounds): make Haunted Past fear advantage reach existing characters
  .github/workflows/checks.yml
  packs/backgrounds/core/haunted-past.json
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/compendiumSourceId.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
  src/migration/migrations/Migration045HauntedPastFearAdvantage.test.ts
  src/migration/migrations/Migration045HauntedPastFearAdvantage.ts
  src/migration/migrations/index.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: biome-fix-staged, prettier-svelte

test(dialogs): cover the situational roll mode wiring
  docs/documentation/reference/_partials/situationalRollMode.md
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/migrations/Migration045HauntedPastFearAdvantage.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
