Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

test(migration): remove one-shot Migration044 test
  src/migration/migrations/Migration045HauntedPastFearAdvantage.test.ts
Due: biome-fix-staged

feat(dialogs): give situational modifiers their own panel and an icon
  docs/documentation/reference/_partials/situationalRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/haunted-past.json
  public/lang/en.json
  src/migration/migrations/Migration045HauntedPastFearAdvantage.ts
  src/models/rules/situationalRollMode.test.ts
  src/models/rules/situationalRollMode.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
  src/view/dialogs/CheckRollDialog.utils.test.ts
  src/view/dialogs/CheckRollDialog.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(dialogs): drive the slider from situational modifiers and rework the panel
  docs/documentation/reference/_partials/situationalRollMode.md
  docs/system/rules.md
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration046HauntedPastFearIcon.ts
  src/migration/migrations/index.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

fix(dialogs): use the system's checkbox and readable colours for situational modifiers
  src/view/dialogs/CheckRollDialog.svelte
Due: prettier-svelte

feat(levelUp): correct characters short on an earlier level's choices
  public/lang/en.json
  src/documents/actor/applyLevelCorrection.test.ts
  src/documents/actor/character.ts
  src/utils/findMissingLevelSelections.test.ts
  src/utils/findMissingLevelSelections.ts
  src/view/dialogs/CharacterLevelCorrectionDialog.svelte
  src/view/dialogs/CharacterLevelCorrectionDialog.test.ts
  src/view/dialogs/CharacterLevelCorrectionDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.test.ts
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  types/components/CharacterLevelCorrectionDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): show the granting item's own art on situational modifiers
  docs/documentation/reference/_partials/situationalRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/haunted-past.json
  public/lang/en.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration045HauntedPastFearAdvantage.ts
  src/migration/migrations/Migration046HauntedPastFearIcon.ts
  src/migration/migrations/index.ts
  src/models/rules/situationalRollMode.test.ts
  src/models/rules/situationalRollMode.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
  src/view/dialogs/CheckRollDialog.utils.test.ts
  src/view/dialogs/CheckRollDialog.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(backgrounds): address review on Haunted Past fear advantage
  packs/backgrounds/core/haunted-past.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

fix(mana): seed current mana when max mana first becomes non-zero (#919)
  src/documents/actor/character.ts
  src/hooks/manaSeeding.test.ts
  src/hooks/manaSeeding.ts
  src/nimble.ts
  tests/integration/manaSeeding.test.ts
Due: biome-fix-staged

refactor(ancestry): draw the variants with game icons and ask for one like a step
  public/assets/icons/LICENSE.md
  public/assets/icons/ancestry-variant.svg
  public/assets/icons/beastfolk.svg
  public/assets/icons/construct.svg
  public/assets/icons/dryad.svg
  public/assets/icons/minotaur.svg
  public/assets/icons/oozeling.svg
  public/assets/icons/shroomling.svg
  public/lang/en.json
  src/config.ts
  src/utils/ancestryVariants.test.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte.test.ts
  tests/harnesses/CharacterCreationStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(ancestry): choose which kind of people a multi-variant ancestry is (#159)
  packs/ancestries/core/exotic/dryadshroomling.json
  packs/ancestries/core/exotic/minotaurbeastfolk.json
  packs/ancestries/core/exotic/oozelingconstruct.json
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/documents/item/ancestry.test.ts
  src/documents/item/ancestry.ts
  src/documents/item/item.d.ts
  src/models/item/AncestryDataModel.ts
  src/utils/ancestryVariants.test.ts
  src/utils/ancestryVariants.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte.test.ts
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/components/VariantOptionsInput.svelte
  tests/harnesses/AncestryOptionsSelectionHarness.svelte
  tests/harnesses/CharacterCreationStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

refactor(ancestry): let the variant code speak for itself
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/documents/item/ancestry.test.ts
  src/documents/item/ancestry.ts
  src/models/item/AncestryDataModel.ts
  src/utils/ancestryVariants.test.ts
  src/utils/ancestryVariants.ts
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte.test.ts
  src/view/sheets/components/VariantOptionsInput.svelte
  src/view/sheets/components/VariantOptionsInput.svelte.test.ts
  src/view/sheets/components/VariantOptionsInput.svelte.ts
  tests/harnesses/AncestryOptionsSelectionHarness.svelte
  tests/harnesses/CharacterCreationStateHarness.svelte
  types/components/VariantOptionsInput.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(ancestry): settle variant naming, tags, and the sheet's authoring control
  docs/STYLE_GUIDE.md
  docs/documentation/characters/creation.md
  docs/system/compendium-translation.md
  public/lang/en.json
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/documents/item/ancestry.test.ts
  src/documents/item/ancestry.ts
  src/utils/ancestryVariants.test.ts
  src/utils/ancestryVariants.ts
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte.test.ts
  src/view/sheets/components/VariantOptionsInput.svelte
  src/view/sheets/components/VariantOptionsInput.svelte.test.ts
  src/view/sheets/components/VariantOptionsInput.svelte.ts
  tests/harnesses/AncestryOptionsSelectionHarness.svelte
  tests/harnesses/CharacterCreationStateHarness.svelte
  types/components/VariantOptionsInput.d.ts
Due: biome-fix-staged, prettier-svelte

feat(ancestry): give each variant an icon and left-align the choice rows
  src/config.ts
  src/utils/ancestryVariants.test.ts
  src/utils/ancestryVariants.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

test(ancestry): keep the stub documents' uuid non-nullable under Foundry v14 types
  src/documents/dialogs/CharacterCreationDialog.test.ts
Due: biome-fix-staged

refactor(ancestry): split the options step into types, state, and utils
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.types.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(characterSheet): place the level correction banner inside the header
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

feat(rules): add situationalRollMode and automate Haunted Past (#908)
  .github/workflows/checks.yml
  docs/documentation/reference/_partials/situationalRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/haunted-past.json
  public/lang/en.json
  src/config.ts
  src/config/registerRulesConfig.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/compendiumSourceId.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
  src/migration/migrations/Migration045HauntedPastFearAdvantage.ts
  src/migration/migrations/index.ts
  src/models/rules/situationalRollMode.test.ts
  src/models/rules/situationalRollMode.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
  src/view/dialogs/CheckRollDialog.utils.test.ts
  src/view/dialogs/CheckRollDialog.utils.ts
Due: biome-fix-staged, prettier-svelte

refactor(chat): conform the deferred-damage button to the style guide
  docs/STYLE_GUIDE.md
  packs/spells/core/necrotic/shadow-trap.json
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageDeferredDamage.test.ts
  src/migration/migrations/Migration046ShadowTrapDeferredDamage.ts
  src/scss/components/_button.scss
  src/utils/buildDeferredDamagePatch.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/DamageNode.test.ts
  src/view/chat/components/DamageNode.testHarness.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/components/DamageNode.d.ts
Due: biome-fix-staged, prettier-svelte

feat(spells): roll Shadow Trap's damage from the chat card (#370)
  packs/spells/core/necrotic/shadow-trap.json
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageDamageApplication.test.ts
  src/documents/chatMessageDeferredDamage.test.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration046ShadowTrapDeferredDamage.ts
  src/migration/migrations/index.ts
  src/utils/buildDeferredDamagePatch.test.ts
  src/utils/buildDeferredDamagePatch.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/chat/components/DamageNode.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): roll deferred damage as an attack that can crit and miss
  docs/documentation/homebrew/activations.md
  packs/spells/core/necrotic/shadow-trap.json
  src/documents/chatMessage.ts
  src/documents/chatMessageDamageApplication.test.ts
  src/documents/chatMessageDeferredDamage.test.ts
  src/migration/migrations/Migration046ShadowTrapDeferredDamage.ts
  src/utils/buildDeferredDamagePatch.test.ts
  src/utils/buildDeferredDamagePatch.ts
  src/utils/showDiceAnimation.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/view/chat/components/DamageNode.test.ts
  src/view/chat/components/DamageRoll.svelte
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(shepherd): grant 2 Sacred Graces at level 5 (#929)
  packs/classFeatures/core/shepherd/shepherd-progression/sacred-graces.json
  public/lang/en.json
  src/documents/actor/applyLevelCorrection.test.ts
  src/documents/actor/character.ts
  src/utils/classProgression/shepherd.test.ts
  src/utils/findMissingLevelSelections.test.ts
  src/utils/findMissingLevelSelections.ts
  src/view/dialogs/CharacterLevelCorrectionDialog.svelte
  src/view/dialogs/CharacterLevelCorrectionDialog.test.ts
  src/view/dialogs/CharacterLevelCorrectionDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.test.ts
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  tests/harnesses/FeatureOptionPickerStateHarness.svelte
  types/components/CharacterLevelCorrectionDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(spells): roll Shadow Trap's damage from the chat card (#370) (#910)
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/activations.md
  packs/spells/core/necrotic/shadow-trap.json
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageDamageApplication.test.ts
  src/documents/chatMessageDeferredDamage.test.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration046ShadowTrapDeferredDamage.ts
  src/migration/migrations/index.ts
  src/scss/components/_button.scss
  src/utils/buildDeferredDamagePatch.test.ts
  src/utils/buildDeferredDamagePatch.ts
  src/utils/showDiceAnimation.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/DamageNode.test.ts
  src/view/chat/components/DamageNode.testHarness.svelte
  src/view/chat/components/DamageRoll.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/components/DamageNode.d.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): situational saving throw roll modes, Survivalist poison save (#401)
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration047SurvivalistPoisonSave.ts
  src/migration/migrations/index.ts
  src/models/rules/savingThrowRollMode.test.ts
  src/models/rules/savingThrowRollMode.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

refactor(saves): extract roll-mode calculators, share pack source-id fold (#401)
  docs/documentation/reference/_partials/savingThrowRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/config.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/Migration047SurvivalistPoisonSave.ts
  src/models/rules/rule.d.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.test.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.test.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.ts
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: biome-fix-staged, prettier-svelte

feat(saves): apply situational save advantage from the roll dialog (#401)
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/migration/migrations/Migration047SurvivalistPoisonSave.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.test.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
  src/view/dialogs/formatRollModeLabel.ts
  src/view/dialogs/situationalSaveRules.test.ts
  src/view/dialogs/situationalSaveRules.ts
Due: biome-fix-staged, prettier-svelte

refactor(saves): reuse situationalRollMode for Survivalist's poison save (#401)
  docs/documentation/reference/_partials/savingThrowRollMode.md
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/migrations/Migration047SurvivalistPoisonSave.ts
  src/models/rules/rule.d.ts
  src/models/rules/savingThrowRollMode.test.ts
  src/models/rules/savingThrowRollMode.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.test.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/CheckRollDialog.svelte.test.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.test.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.ts
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
  src/view/dialogs/situationalSaveRules.test.ts
  src/view/dialogs/situationalSaveRules.ts
Due: biome-fix-staged, prettier-svelte

refactor(saves): address review on situational saving throw roll modes (#401)
  docs/documentation/reference/_partials/savingThrowRollMode.md
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/migration/migrations/Migration047SurvivalistPoisonSave.ts
  src/scss/base/_variables.scss
  src/scss/components/_chat-card.scss
  src/scss/components/_document-card.scss
  src/utils/calculateSavingThrowRollModes.test.ts
  src/utils/calculateSavingThrowRollModes.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.test.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/formatRollModeLabel.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(tests): join the live world through the v14.367 username field (#931)
  tests/integration/pool.ts
Due: biome-fix-staged

feat(saves): grant Survivalist advantage against poison saves (#401)
  docs/documentation/reference/_partials/savingThrowRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/Migration047SurvivalistPoisonSave.ts
  src/migration/migrations/index.ts
  src/scss/base/_variables.scss
  src/scss/components/_chat-card.scss
  src/scss/components/_document-card.scss
  src/utils/calculateSavingThrowRollModes.test.ts
  src/utils/calculateSavingThrowRollModes.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.test.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: biome-fix-staged, prettier-svelte

refactor(rules): complete removeSpells rule metadata and promote spell damage-type helpers
  public/lang/en.json
  src/documents/actor/character.ts
  src/models/rules/removeSpells.test.ts
  src/models/rules/removeSpells.ts
  src/utils/spell/spellDamageType.test.ts
  src/utils/spell/spellDamageType.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
Due: biome-fix-staged

feat(level-up): grant and remove spells during subclass selection (#702)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/removeSpells.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): restrict spell schools with keep-and-convert exception
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-flame/fiery-dedication.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-frost/crown-of-ice.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-surges/electrical-dedication.json
  packs/ids.json
  packs/subclasses/core/mage/invoker-of-flame.json
  packs/subclasses/core/mage/invoker-of-frost.json
  packs/subclasses/core/mage/invoker-of-surges.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/restrictSpellSchools.test.ts
  src/models/rules/restrictSpellSchools.ts
  src/utils/classProgression/mage.expect.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

docs(dice): record the Dice So Nice integration
  docs/documentation/gm/settings.md
  docs/system/dice-engine.md
Due: none

feat(settings): move the 3D dice settings into their own dialog
  public/lang/en.json
  scripts/docs/generateReference.gen.ts
  src/settings/diceSoNiceSettings.ts
  src/settings/index.ts
  src/settings/registerDiceSoNiceSettings.test.ts
  src/settings/registerDiceSoNiceSettings.ts
  src/view/settings/DiceSoNiceSettingsDialog.svelte
  src/view/settings/DiceSoNiceSettingsDialog.types.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

fix(dice): harden the Dice So Nice primary die appearance
  src/dice/DamageRoll.ts
  src/dice/diceSoNiceIntegration.test.ts
  src/dice/diceSoNiceIntegration.ts
  src/dice/nimbleDieModifiers.ts
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

feat(dice): render the primary die distinctly in Dice So Nice with per-user colors
  public/lang/en.json
  src/dice/DamageRoll.ts
  src/dice/diceSoNiceIntegration.test.ts
  src/dice/diceSoNiceIntegration.ts
  src/dice/nimbleDieModifiers.ts
  src/dice/terms/PrimaryDie.ts
  src/nimble.ts
  src/settings/diceSoNiceSettings.ts
  src/settings/index.ts
Due: biome-fix-staged

test(dice): cover the primary die 3D appearance tagging
  src/dice/DamageRoll.test.ts
  src/dice/nimbleDieModifiers.test.ts
Due: biome-fix-staged

feat(dice): distinct Dice So Nice color for the primary die with per-user customization (#914)
  docs/documentation/gm/settings.md
  docs/system/dice-engine.md
  public/lang/en.json
  scripts/docs/generateReference.gen.ts
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/diceSoNiceIntegration.test.ts
  src/dice/diceSoNiceIntegration.ts
  src/dice/nimbleDieModifiers.test.ts
  src/dice/nimbleDieModifiers.ts
  src/dice/terms/PrimaryDie.ts
  src/nimble.ts
  src/settings/diceSoNiceSettings.ts
  src/settings/index.ts
  src/settings/registerDiceSoNiceSettings.test.ts
  src/settings/registerDiceSoNiceSettings.ts
  src/view/settings/DiceSoNiceSettingsDialog.svelte
  src/view/settings/DiceSoNiceSettingsDialog.types.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

chore(release): v0.9.0
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
