Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(sheets): v14 ApplicationV2 compatibility for dialogs and sheet helpers
  lib/SvelteActorSheet.svelte.ts
  src/documents/dialogs/ActorCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/view/handlers/updateDocumentImage.ts
  src/view/settings/CustomSpellSchoolsEditorState.svelte.ts
  src/view/sheets/character/pdfExport/showPdfPreview.ts
  tests/integration/sheetRender.test.ts
Due: biome-fix-staged

fix(data): v14 document and data-model API sweep
  public/system.json
  src/documents/actor/character.ts
  src/documents/actor/monsterPrototypeTokenDefaults.test.ts
  src/documents/actor/monsterPrototypeTokenDefaults.ts
  src/documents/chatMessage.ts
  src/documents/item/class.ts
  src/hooks/ready.ts
  src/managers/HitDiceManager.ts
  src/migration/devFlagRebrand.ts
  src/models/fields/RecordField.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePoolService.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
  tests/integration/dataOps.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(effects): ActiveEffect V2 compatibility for conditions
  src/hooks/init.ts
  src/managers/ConditionManager.ts
  src/models/activeEffect/conditionDataModel.ts
  tests/integration/conditions.test.ts
  tests/integration/dataOps.test.ts
Due: biome-fix-staged

feat(canvas): AoE placement on V14 Regions; drop dead MeasuredTemplate code
  public/lang/en.json
  src/canvas/buildAoERegionShape.ts
  src/canvas/layers/templateLayer.ts
  src/canvas/placeAoERegion.ts
  src/documents/canvas/measureTemplate.ts
  src/documents/chatMessage.ts
  src/hooks/init.ts
  src/managers/ItemActivationManager.ts
  src/view/chat/FeatureCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/TemplateSection.svelte
  tests/integration/aoeRegions.test.ts
Due: biome-fix-staged, prettier-svelte

chore(v14): deprecation cleanup and internal doc updates
  docs/PROJECT_CONTEXT.md
  package.json
  pnpm-lock.yaml
  src/dice/nimbleDieModifiers.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/soloMonster.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatCommon.ts
  src/documents/combat/combatInitiative.ts
  src/documents/combat/combatMinionAttacks.ts
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/hooks/combatantHooks/adjacencySync.ts
  src/hooks/init.ts
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
  src/import/playerCharacter/buildImportPreview.ts
  src/managers/ItemActivationManager.ts
  src/managers/types.ts
  src/utils/toMessageMode.test.ts
  src/utils/toMessageMode.ts
  src/view/debug/stageAndRoll.test.ts
  src/view/debug/stageAndRoll.ts
  src/view/sheets/components/CharacterJsonExportButton.utils.ts
  src/view/sheets/components/ClassProgressionLevelRow.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
Due: biome-fix-staged

test(integration): final V14 QA coverage — chat cards and sheet edit round-trips
  tests/integration/chatCards.test.ts
  tests/integration/sheetEdit.test.ts
Due: biome-fix-staged

fix(canvas): AoE placement UX — auto-place on cast, grid snapping, WYSIWYG preview, AoE gating
  packs/spells/core/fire/pyroclasm.json
  packs/spells/core/wind/boisterous-winds.json
  src/canvas/placeAoEForMessage.ts
  src/canvas/placeAoERegion.ts
  src/dice/DamageRoll.test.ts
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
  src/managers/ItemActivationManager.ts
  src/view/chat/components/TemplateSection.svelte
  src/view/sheets/pages/ItemActivationTargetConfigTab.svelte
  tests/integration/chatCards.test.ts
  tests/integration/sheetEdit.test.ts
  tests/integration/sheetRender.test.ts
Due: biome-fix-staged, prettier-svelte

feat(migration): Migration027 reconciles shipped AoE template flags
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration027AoETemplateFlags.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(combat): claim the turn-end refill synchronously to dedup against Foundry's fire-and-forget turn events
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix(combat): restore per-turn actions for characters and solo monsters (#838)
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatInitiative.test.ts
  src/documents/combat/combatInitiative.ts
Due: biome-fix-staged

fix(i18n): keep placeholder strings as keys through prelocalization
  src/utils/prelocalize.test.ts
  src/utils/prelocalize.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(dicepool): let players add dice to their own pool (#803)
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(dicepool): let players add dice to their own pool (#803) (#846)
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): add modifyToggle rule type
  src/config/registerRulesConfig.ts
  src/models/rules/modifyToggle.test.ts
  src/models/rules/modifyToggle.ts
Due: biome-fix-staged

chore(release): v0.8.8
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

feat(toggleEffect): suppression, inactivity end, and deletion cleanup
  public/lang/en.json
  src/documents/item/base.svelte.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
Due: biome-fix-staged

feat(conditions): surface toggle-backed effects with rule-owned off switch
  public/lang/en.json
  src/utils/toggleEffectControl.test.ts
  src/utils/toggleEffectControl.ts
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
Due: biome-fix-staged, prettier-svelte

test(dicePool): pin Intensifying Fury die-size breakpoints
  src/utils/dicePool/helpers.test.ts
Due: biome-fix-staged

feat(migration): reconcile embedded Rage and Deep Rage with toggle rework
  packs/classFeatures/core/berserker/berserker-progression/deep-rage.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration026RageToggleEffect.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(sheet): wound pips beyond six clipped by overlay
  src/scss/components/_wounds.scss
Due: none

fix(migration): renumber Rage toggle migration to 027
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration027RageToggleEffect.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(chat): apply banked dice-pool bonuses through monster armor
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/Targets.svelte
Due: biome-fix-staged, prettier-svelte

refactor(rules): rename onUnconscious trigger to onActorDying
  docs/system/rules.md
  packs/classFeatures/core/berserker/berserker-progression/deep-rage.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  public/lang/en.json
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/migration/migrations/Migration027RageToggleEffect.ts
  src/models/rules/base.ts
  src/models/rules/modifyToggle.test.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
Due: biome-fix-staged

style(wounds): drop explanatory comments from _wounds.scss
  src/scss/components/_wounds.scss
Due: none

fix(chat): address review follow-ups on damage preview and roll collection
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
Due: biome-fix-staged

fix(combat): apply banked dice-pool bonuses through monster armor (#847)
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/Targets.svelte
Due: biome-fix-staged, prettier-svelte

fix(rules): gate toggleEffect turn-off to the active GM
  src/hooks/automaticConditions.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/isActiveGM.ts
  src/view/sheets/components/WeaponCard.svelte
Due: biome-fix-staged, prettier-svelte

refactor(rules): route all toggleEffect GM gates through isActiveGM()
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
Due: biome-fix-staged

feat(rules): add toggleEffect foundation rule (#577) (#805)
  build/lib/babeleSkeletonsLib.test.mjs
  docs/system/rules.md
  packs/classFeatures/core/berserker/berserker-progression/deep-rage.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/item/base.svelte.ts
  src/hooks/automaticConditions.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration027RageToggleEffect.ts
  src/migration/migrations/index.ts
  src/models/rules/base.ts
  src/models/rules/modifyToggle.test.ts
  src/models/rules/modifyToggle.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_wounds.scss
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
  src/utils/isActiveGM.ts
  src/utils/toggleEffectControl.test.ts
  src/utils/toggleEffectControl.ts
  src/view/chat/components/PoolNode.svelte
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/components/WeaponCard.d.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(levelUp): restore gainedAtLevels on combat-tactics and commanders-order
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/classFeatures/core/commander/commanders-order/reposition.json
Due: biome-fix-staged

feat(levelUp): support selecting one option or another on level up (#708)
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/ids.json
  src/documents/actor/character.ts
  src/migration/migrations/Migration028CombatDiceMaxFormula.ts
  src/migration/migrations/index.ts
  src/models/actor/CharacterDataModel.ts
  src/models/item/FeatureDataModel.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

fix(levelUp): correct commander & stormshifter progressions; robust pool bonus
  packs/classFeatures/core/berserker/berserker-progression/savage-arsenal.json
  packs/classFeatures/core/commander/commander-progression/commanders-orders.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/mage/mage-progression/spell-shaper.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/sacred-decree.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/gift-from-the-master.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/the-pact-is-sealed.json
  packs/classFeatures/core/shepherd/shepherd-progression/sacred-graces.json
  packs/classFeatures/core/songweaver/songweaver-progression/a-people-person.json
  packs/classFeatures/core/songweaver/songweaver-progression/lyrical-weaponry.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/direbeast-form.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/expert-shifter.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/underhanded-abilities.json
  packs/classFeatures/core/zephyr/zephyr-progression/martial-arts-ability.json
  packs/ids.json
  src/documents/actor/character.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
Due: biome-fix-staged, prettier-svelte

test(levelUp): verify class progression 1-20 for all classes; fix Songweaver companion count
  docs/testing/class-progression-test-report.html
  packs/classFeatures/core/songweaver/songweaver-progression/a-people-person.json
  src/utils/classProgression/berserker.test.ts
  src/utils/classProgression/commander.test.ts
  src/utils/classProgression/hunter.test.ts
  src/utils/classProgression/mage.test.ts
  src/utils/classProgression/oathsworn.test.ts
  src/utils/classProgression/shadowmancer.test.ts
  src/utils/classProgression/shepherd.test.ts
  src/utils/classProgression/songweaver.test.ts
  src/utils/classProgression/stormshifter.test.ts
  src/utils/classProgression/the-cheat.test.ts
  src/utils/classProgression/zephyr.test.ts
  tests/fixtures/classProgression.ts
Due: biome-fix-staged

feat(levelUp): add option-select class features and refine picker UI
  build/lib/Pack.mjs
  packs/classFeatures/core/berserker/berserker-progression/savage-arsenal.json
  packs/classFeatures/core/commander/commander-progression/commanders-orders.json
  packs/classFeatures/core/hunter/hunter-progression/thrill-of-the-hunt.json
  packs/classFeatures/core/mage/mage-progression/spell-shaper.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/sacred-decree.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/gift-from-the-master.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/the-pact-is-sealed.json
  packs/classFeatures/core/shepherd/shepherd-progression/sacred-graces.json
  packs/classFeatures/core/songweaver/songweaver-progression/a-people-person.json
  packs/classFeatures/core/songweaver/songweaver-progression/lyrical-weaponry.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/direbeast-form.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/expert-shifter.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/underhanded-abilities.json
  packs/classFeatures/core/zephyr/zephyr-progression/martial-arts-ability.json
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(levelUp): extract LevelUpFeatureOptionPicker state and pack-scan util
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.utils.ts
Due: biome-fix-staged, prettier-svelte

refactor(test): dedupe class-progression fixture helpers
  tests/fixtures/classProgression.ts
Due: biome-fix-staged

test(levelUp): verify commander's level-1 Coordinated Strike grant end-to-end
  src/documents/dialogs/CharacterCreationDialog.commander.test.ts
  src/utils/classProgression/commander.test.ts
  src/utils/classProgression/mage.test.ts
Due: biome-fix-staged

fix(migration): bump LATEST_SCHEMA_VERSION to 28 to match migration count
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

refactor(test): move class-progression fixture types to a types file
  src/utils/classProgression/berserker.test.ts
  src/utils/classProgression/commander.test.ts
  src/utils/classProgression/hunter.test.ts
  src/utils/classProgression/mage.test.ts
  src/utils/classProgression/oathsworn.test.ts
  src/utils/classProgression/shadowmancer.test.ts
  src/utils/classProgression/shepherd.test.ts
  src/utils/classProgression/songweaver.test.ts
  src/utils/classProgression/stormshifter.test.ts
  src/utils/classProgression/the-cheat.test.ts
  src/utils/classProgression/zephyr.test.ts
  tests/fixtures/classProgression.ts
  tests/fixtures/classProgression.types.ts
Due: biome-fix-staged

test(classProgression): inline expectation reports off session scratchpad
  src/utils/classProgression/hunter.test.ts
  src/utils/classProgression/mage.test.ts
  src/utils/classProgression/oathsworn.test.ts
  src/utils/classProgression/songweaver.test.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
