Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(actors): add self-state and target-state domain tags
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
Due: biome-fix-staged

feat(damageBonus): add targetCondition field for target-gated bonuses
  src/managers/ItemActivationManager.ts
  src/models/rules/damageBonus.test.ts
  src/models/rules/damageBonus.ts
  src/utils/attackUtils.ts
Due: biome-fix-staged

refactor(rules-builder): split PredicateBuilder into cache, helpers, state
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/PredicateBuilderState.svelte.ts
  src/view/rulesBuilder/components/predicateBuilderRows.ts
  src/view/rulesBuilder/components/predicateKeyCache.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(rules-builder): wire RichTextEditor through Foundry's prose-mirror
  public/lang/en.json
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/components/RichTextEditor.svelte
  src/view/rulesBuilder/components/RichTextEditorState.svelte.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): add optional dieSize hint to chargePool
  src/models/rules/chargePool.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolRuleConfig.ts
  src/utils/chargePoolService.test.ts
Due: biome-fix-staged

refactor(rules): unify modifyDicePool into modifyPool with poolType
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/models/rules/dicePool.test.ts
  src/models/rules/modifyPool.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolService.test.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/types.ts
Due: biome-fix-staged

fix(packs): use flat roll-data keys for Fury and Combat Dice max formulas
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  src/migration/migrations/Migration019DicePoolBackfill.ts
Due: biome-fix-staged

fix(combat): emit nimble.initiativeRolled from in-combat rolls
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

refactor(rules): drop rule-level item activation hook
  packs/classFeatures/core/berserker/berserker-progression/intensifying-fury.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  src/hooks/chargePoolTriggers/initiativeTrigger.ts
  src/hooks/dicePoolTriggers/attackedTrigger.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration019DicePoolBackfill.ts
  src/migration/migrations/index.ts
  src/models/rules/base.ts
  src/nimble.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePool/chargePoolRoll.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePoolRuleConfig.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/helpers.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(sheets): refresh DicePoolTracker on pool and document updates
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged

feat(activation): spend pool dice from the activation dialog
  public/lang/en.json
  src/managers/ItemActivationManager.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(activation): add pool effect node for dice/charge pool fills
  src/managers/ItemActivationManager.ts
  src/utils/treeManipulation/createEffectNode.ts
  src/utils/treeManipulation/createPoolNode.ts
  types/effectTree.d.ts
Due: biome-fix-staged

test(activation): cover pool effect node dispatch routing
  src/managers/ItemActivationManager.poolNode.test.ts
Due: biome-fix-staged

feat(activation): render pool nodes on activation chat card
  public/lang/en.json
  src/managers/ItemActivationManager.ts
  src/view/chat/components/PoolNode.svelte
  src/view/dataPreparationHelpers/effectTree/getNodeComponent.ts
  src/view/dataPreparationHelpers/effectTree/groupNodes.ts
Due: biome-fix-staged, prettier-svelte

fix(dicePool): extract die-face icons to a standalone utility
  src/utils/dicePool/dieFaceIcons.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

chore: lintfix
  packs/classFeatures/core/berserker/berserker-progression/rage.json
Due: biome-fix-staged

feat(activation): spend charge-pool dice from the dialog and polish UI
  public/lang/en.json
  src/managers/ItemActivationManager.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(rules): add autoBonus consumption mode to dicePool
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  src/migration/migrations/Migration019DicePoolBackfill.ts
  src/models/rules/dicePool.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/types.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(sheets): add pool node config UI and i18n the effects tab
  public/lang/en.json
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(berserker): wire Rage activation to roll Fury Dice
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  public/lang/en.json
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration020RagePoolActivation.ts
  src/migration/migrations/index.ts
  src/view/chat/components/PoolNode.svelte
Due: biome-fix-staged, prettier-svelte

chore: adjust aoe targeting string
  public/lang/en.json
Due: biome-fix-staged

chore: adjust aoe targeting string (#770)
  public/lang/en.json
Due: biome-fix-staged

feat(spells): detect target disposition on Searing Light to show heal or damage button (#758)
  eslint.config.js
  packs/classFeatures/core/shepherd/shepherd-progression/searing-light.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration019SearingLightDisposition.ts
  src/migration/migrations/index.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/DamageRoll.svelte
  src/view/chat/components/HealingNode.svelte
  src/view/chat/components/RollSummary.svelte
  src/view/chat/utils/useDispositionState.svelte.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/components/RollSummary.d.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(rules-builder): use theme tokens so styling works in light and dark mode
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/components/RichTextEditor.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
Due: prettier-svelte

fix(rules-builder): style JSON textareas and disable row drag while editing
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/sheets/pages/ItemRulesTab.svelte
Due: prettier-svelte

fix(rules-builder): theme-token cleanup and JSON editor fixes (#771)
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/components/RichTextEditor.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/sheets/pages/ItemRulesTab.svelte
Due: prettier-svelte

refactor(rules): drop rule-level item activation hook
  packs/classFeatures/core/berserker/berserker-progression/intensifying-fury.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  src/hooks/chargePoolTriggers/initiativeTrigger.ts
  src/hooks/dicePoolTriggers/attackedTrigger.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration020DicePoolBackfill.ts
  src/migration/migrations/index.ts
  src/models/rules/base.ts
  src/nimble.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePool/chargePoolRoll.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePoolRuleConfig.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/helpers.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(packs): use flat roll-data keys for Fury and Combat Dice max formulas
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  src/migration/migrations/Migration020DicePoolBackfill.ts
Due: biome-fix-staged

feat(rules): integrate dicePool, chargePool, and modifyPool with rules builder
  public/lang/en.json
  src/models/rules/chargePool.ts
  src/models/rules/dicePool.ts
  src/models/rules/modifyPool.ts
Due: biome-fix-staged

feat(rules): add dicePool and modifyPool rules (#767)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/base.svelte.ts
  src/hooks/dicePoolSystem.ts
  src/models/rules/chargePool.ts
  src/models/rules/dicePool.test.ts
  src/models/rules/dicePool.ts
  src/models/rules/modifyPool.ts
  src/nimble.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolService.test.ts
  src/utils/dicePool/dicePoolHooks.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/dicePoolSync.ts
  src/utils/dicePool/dicePoolTags.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/types.ts
Due: biome-fix-staged

fix(dicePool): address #768 review feedback
  public/lang/en.json
  src/hooks/chargePoolTriggers/chargePoolTriggers.test.ts
  src/hooks/chargePoolTriggers/initiativeTrigger.ts
  src/hooks/dicePoolTriggers/attackedTrigger.test.ts
  src/hooks/dicePoolTriggers/attackedTrigger.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/chargePool/helpers.test.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/helpers.test.ts
  src/view/sheets/components/DicePoolTracker.svelte
  types/components/DicePoolTracker.d.ts
Due: biome-fix-staged, prettier-svelte

fix(activation): type PoolNode component props
  src/view/chat/components/PoolNode.svelte
  types/components/PoolNode.d.ts
Due: biome-fix-staged, prettier-svelte

fix(activation): move PoolNode colors to theme variables
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/chat/components/PoolNode.svelte
Due: prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
