Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Hover-over adjustment for resource drawer
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

PR Review edits
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix: resolve type errors in extracted state files and add defensive roll handling
  src/view/chat/components/DamageRoll.svelte
  src/view/dialogs/AssessActionDialog.svelte
  src/view/dialogs/AssessActionDialog.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/components/AssessActionPanel.svelte.ts
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix: set PC sheet minWidth in sheetDefaults.ts instead of CSS
  src/documents/sheets/sheetDefaults.ts
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-fix-staged, prettier-svelte

fix: spread sheet defaults to avoid frozen object issue
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
Due: biome-fix-staged

fix: use CSS min-width for PC sheet instead of position config
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/documents/sheets/sheetDefaults.ts
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-fix-staged, prettier-svelte

fix: update PC sheet min-width to 367px in global SCSS
  src/scss/components/_sheet.scss
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

TOOL: Inject git branch name at build time
  src/scss/components/_branch-badge.scss
  src/scss/main.scss
  src/settings/index.ts
  types/globals.d.ts
  vite.config.mts
Due: biome-fix-staged

feat: add Heroic Actions tab to PC sheet (#428)
  docs/STYLE_GUIDE.md
  packs/classFeatures/core/the-cheat/the-cheat-progression/twist-the-blade-2.json
  public/lang/en.json
  public/system.json
  src/documents/sheets/sheetDefaults.ts
  src/migration/migrations/Migration010SwiftFistsUnarmedDamage.ts
  src/models/rules/unarmedDamage.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_sheet.scss
  src/utils/assessOptions.ts
  src/utils/evaluateFormula.ts
  src/utils/movementSpeeds.ts
  src/utils/targeting.ts
  src/view/chat/AssessActionCard.svelte
  src/view/chat/components/DamageRoll.svelte
  src/view/dialogs/AssessActionDialog.svelte
  src/view/dialogs/AssessActionDialog.svelte.ts
  src/view/dialogs/HeroicActionsHelpDialog.svelte
  src/view/dialogs/MoveActionDialog.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/components/AssessActionPanel.svelte.ts
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/components/HeroicActionBox.svelte
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  types/components/AssessActionDialog.d.ts
  types/components/AssessActionPanel.d.ts
  types/components/AttackActionPanel.d.ts
  types/components/CastSpellActionPanel.d.ts
  types/components/HeroicActionBox.d.ts
  types/components/MoveActionDialog.d.ts
  types/components/MoveActionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

CHG: Fix branch badge SCSS conventions
  src/scss/components/_branch-badge.scss
Due: none

CHG: Localize branch badge and use safe DOM construction
  public/lang/en.json
  src/settings/index.ts
Due: biome-fix-staged

BUG: Handle detached HEAD and omit badge when branch unknown
  src/settings/index.ts
  vite.config.mts
Due: biome-fix-staged

chore(i18n): register Spanish and French translation files
  public/system.json
Due: biome-fix-staged

BUG: Auto-restart Vite dev server on git branch switch
  vite.config.mts
Due: biome-fix-staged

docs: update planning documents to indicate ongoing development and potential changes
  docs/planning/architecture.md
  docs/planning/epics.md
  docs/planning/product-vision.md
  docs/planning/ux-design-directions.md
  docs/planning/ux-design-specification.md
Due: none

CHG: Update audit status for Michael Ghelfi audio pack
  PRD.md
  playwright/screenshots/michaelghelfi-compendium-open.png
  playwright/screenshots/michaelghelfi-playlists-tab.png
  progress.txt
  ralph-once.sh
Due: none

chore(i18n): register Spanish and French translation files (#430)
  public/system.json
Due: biome-fix-staged

feat(sheets): floating combat actions tracker on PC sheet
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/FloatingCombatBar.svelte
Due: prettier-svelte

style(sheets): increase floating combat bar dice icon size
  src/view/sheets/components/FloatingCombatBar.svelte
Due: prettier-svelte

refactor(sheets): extract FloatingCombatBar state to separate file
  src/view/sheets/components/FloatingCombatBar.svelte
  src/view/sheets/components/FloatingCombatBar.svelte.ts
Due: biome-fix-staged, prettier-svelte

style(sheets): make floating combat bar more compact and flush with sheet
  src/view/sheets/components/FloatingCombatBar.svelte
Due: prettier-svelte

refactor(sheets): rename FloatingCombatBar to ActionTracker
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(sheets): make end turn button hover state lighter instead of darker
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

feat(sheets): add expanding ring animation to end turn button
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

fix(sheets): preserve blue background on ready end turn button in dark mode
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): change end turn button to green
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): tone down end turn button hover brightness
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): darken end turn button animation ring border
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): make end turn hover a darker, less saturated green
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): use theme-aware colors for end turn ring animation
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): match end turn button green to dice pip icon color
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

fix(sheets): revert ring animation color back to original hue
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): make ring animation smoother and more fluid
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

feat(sheets): add third ring to end turn button animation
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

Revert "feat(sheets): add third ring to end turn button animation"
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): make end turn ring animation more subtle
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

style(sheets): make ring animation more natural and flowing
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

fix(sheets): remove eslint-disable for no-explicit-any in ActionTracker
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged

CHG: Update Ralph scripts for task management
  PRD.md
  afk-ralph.sh
  ralph/afk-docker.sh
  ralph/afk-local.sh
  ralph/once-auto.sh
  ralph/once.sh
Due: none

FEAT(hooks): Add Torch module compatibility hook for Nimble item schema
  src/hooks/ready.ts
  src/hooks/torchCompatibility.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
