Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(heroicActions): exclude long-cast spells from spell panel and show action features in attack panel
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged

fix(combat): end turn QoL, action tracker visibility, combatant init (#756)
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/utils/combatState.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix(heroicActions): remove long-cast spells from heroic action panel and show feats in attack panel (#761)
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged

fix(reactions): opp attack deducts 1 action and detect scene-agnostic combats
  src/documents/actor/character.ts
  src/documents/combat/combat.svelte.ts
  src/macros/activateHeroicActionMacro.ts
  src/utils/combatState.ts
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/ReactionPanels.test.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.test.ts
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged

fix(reactions): opp attack deducts 1 action, detect scene-agnostic combats (#757)
  src/documents/actor/character.ts
  src/documents/combat/combat.svelte.ts
  src/macros/activateHeroicActionMacro.ts
  src/utils/combatState.ts
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/ReactionPanels.test.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.test.ts
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged

fix(rules-builder): apply numeric input filter to ArrayField<NumberField> elements
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
Due: prettier-svelte

fix(combat): skip end-turn confirmation for monsters and NPCs
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix(rules-builder): tighten widget dispatch, MIME isolation, schema rebuild
  src/models/rules/_widgetOption.ts
  src/view/rulesBuilder/actions/reorderable.svelte.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

test(rules-builder): cover widget validation, MIME isolation, schema-load i18n
  public/lang/en.json
  src/models/rules/_widgetOption.test.ts
  src/view/rulesBuilder/actions/reorderable.svelte.test.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

fix(types): widen unknown casts and type vi.fn signatures
  src/view/rulesBuilder/actions/reorderable.svelte.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

docs(rules): document Rules Builder integration and link from AGENTS
  .claude/hooks/rules-context.md
  AGENTS.md
  docs/system/index.md
  docs/system/rules.md
Due: none

fix(combat): skip end-turn confirmation for monsters and NPCs (#762)
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix(combat): prevent runaway round counter with legendary turn expansion
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix(combat): prevent runaway round counter with legendary turn expansion (#763)
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

feat(rules-builder): friendlier predicate UI with tag-key typeahead
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte.test.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

fix(rules-builder): drop unused identifier input and item-derived predicate keys
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
Due: prettier-svelte

feat(spells): detect target disposition on Searing Light to show heal or damage button
  eslint.config.js
  packs/classFeatures/core/shepherd/shepherd-progression/searing-light.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration019SearingLightDisposition.ts
  src/migration/migrations/index.ts
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/DamageRoll.svelte
  src/view/chat/components/HealingNode.svelte
  src/view/chat/components/RollSummary.svelte
  types/components/RollSummary.d.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

feat(spells): update Searing Light disposition check to react to canvas token selection
  src/view/chat/components/HealingNode.svelte
  src/view/chat/components/RollSummary.svelte
Due: prettier-svelte

feat(chat): apply disposition emphasis to damage button in RollSummary
  src/view/chat/components/RollSummary.svelte
Due: prettier-svelte

fix(chat): show damage button for Searing Light, run migration 016
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): address PR review feedback on script ordering and migration scope
  src/migration/migrations/Migration019SearingLightDisposition.ts
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/HealingNode.svelte
  src/view/chat/components/RollSummary.svelte
Due: biome-fix-staged, prettier-svelte

refactor(chat): extract shared disposition state logic into useDispositionState hook
  src/view/chat/components/HealingNode.svelte
  src/view/chat/components/RollSummary.svelte
  src/view/chat/utils/useDispositionState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): broaden migration match, add disposition UI, fix 'any' visibility
  src/migration/migrations/Migration019SearingLightDisposition.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

chore(release): v0.8.5
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

docs(style-guide): document co-located .svelte.ts state file pattern
  docs/STYLE_GUIDE.md
Due: none

feat(dicePools): add dice pool tracking for Berserker, Commander, and Oathsworn
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/base.svelte.ts
  src/hooks/ruleEventDispatch.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration019DicePoolFields.ts
  src/migration/migrations/Migration020RollOnActivation.ts
  src/migration/migrations/Migration021IndividualFuryDice.ts
  src/migration/migrations/index.ts
  src/models/rules/base.ts
  src/models/rules/dicePool.test.ts
  src/models/rules/dicePool.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): add dicePool and modifyDicePool rule types
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/base.svelte.ts
  src/hooks/dicePoolSystem.ts
  src/models/rules/dicePool.test.ts
  src/models/rules/dicePool.ts
  src/models/rules/modifyDicePool.ts
  src/nimble.ts
  src/utils/dicePool/dicePoolHooks.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/dicePoolSync.ts
  src/utils/dicePool/dicePoolTags.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/types.ts
Due: biome-fix-staged

chore(rules): drop unused BankedDie type from dicePool
  src/utils/dicePool/types.ts
Due: biome-fix-staged

fix(rules-builder): escape rule type in schema-load error, i18n sweep, share types
  public/lang/en.json
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/components/DocumentPicker.svelte
  src/view/rulesBuilder/components/FormulaInput.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/rulesBuilder/types.d.ts
  src/view/sheets/pages/ItemRulesTab.svelte
Due: biome-fix-staged, prettier-svelte

refactor(rules-builder): extract RulesBuilderWindow state to factory
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/RulesBuilderWindow.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules-builder): extract ItemRulesTab state to factory
  src/view/sheets/pages/ItemRulesTab.svelte
  src/view/sheets/pages/ItemRulesTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules-builder): extract DocumentPicker state to factory
  src/view/rulesBuilder/components/DocumentPicker.svelte
  src/view/rulesBuilder/components/DocumentPicker.svelte.ts
Due: biome-fix-staged, prettier-svelte

docs(style-guide): document co-located .svelte.ts state file pattern (#764)
  docs/STYLE_GUIDE.md
Due: none

refactor(rules-builder): extract RuleCard state to factory
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules-builder): extract RuleTypePicker state to factory
  src/view/rulesBuilder/components/RuleTypePicker.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules-builder): extract SchemaFieldRenderer state to factory
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/rulesBuilder/components/SchemaFieldRendererState.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules-builder): drop unused getValue from SchemaFieldRenderer factory
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/rulesBuilder/components/SchemaFieldRendererState.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules-builder): move openBuilder into ItemRulesTab factory
  src/view/sheets/pages/ItemRulesTab.svelte
  src/view/sheets/pages/ItemRulesTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(predicate): add presence-check statement for AND composition
  src/etc/Predicate.ts
Due: biome-fix-staged
