Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: add remove combatant button to combat tracker cards (#459)
  public/lang/en.json
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix: address PR review feedback for vicious explosion mechanic
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/migration/migrations/Migration012ViciousExplosionDamage.ts
Due: biome-fix-staged

fix: update sickle and razor wind
  packs/items/core/weapons/sickle.json
  packs/spells/core/wind/razor-wind.json
Due: biome-fix-staged

fix: implement vicious weapon explosion mechanic (#454)
  packs/items/core/weapons/sickle.json
  packs/items/core/weapons/sling.json
  packs/spells/core/wind/razor-wind.json
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/terms/PrimaryDie.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration012ViciousExplosionDamage.ts
  src/migration/migrations/index.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix: apply temp healing to temp HP instead of regular HP
  src/documents/actor/base.svelte.ts
  src/documents/chatMessage.ts
  src/view/chat/components/HealingNode.svelte
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix: apply temp healing to temp HP instead of regular HP (#460)
  src/documents/actor/base.svelte.ts
  src/documents/chatMessage.ts
  src/view/chat/components/HealingNode.svelte
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

chore(release): v0.8.0
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

refactor(player-sheet): modularize dropped item scroll behavior
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

Refactor: Remove context menu action for converting feet to spaces and integrate conversion logic into the NimbleScene document class.
  public/lang/en.json
  public/lang/es.json
  src/config/registerDocumentConfig.ts
  src/documents/scene/scene.ts
  src/hooks/init.ts
  src/hooks/sceneDirectoryConvertFeetToSpacesContextMenu.ts
  src/nimble.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

Add unit conversion tests for NimbleScene `_preCreate` logic
  src/documents/scene/scene.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

Remove Linter Changes
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  docs/package.json
Due: biome-fix-staged

Cleanup(player-sheet): remove unused `playerCharacterPrimaryTabs.ts` file
  src/view/sheets/playerCharacterPrimaryTabs.ts
Due: biome-fix-staged

refactor(inventory-tab): add type safety for drag-and-drop handlers
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

fix(player-sheet): add timeout safeguards to dropped item scroll observer
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

feat(player-sheet): add timeout constant for dropped item scroll observer
  src/view/sheets/dropItemFlashState.ts
Due: biome-fix-staged

fix: improve death state sync for tokens
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/hooks/combatantHealthStateSync.ts
Due: biome-fix-staged

fix: resolve migration reliability issues with source ID lookups and runner
  public/lang/en.json
  src/hooks/ready.ts
  src/migration/MigrationBase.ts
  src/migration/MigrationRunner.ts
  src/migration/migrations/Migration006DwarfMaxHitDice.ts
  src/migration/migrations/Migration007WildOneHitDiceAdvantage.ts
  src/migration/migrations/Migration008FieldMedicHealingPotionBonus.ts
  src/migration/migrations/Migration009HealingEffects.ts
  src/migration/migrations/Migration010SwiftFistsUnarmedDamage.ts
  src/migration/migrations/Migration011SwiftFistsUnarmedProficiency.ts
  src/migration/migrations/Migration012ViciousExplosionDamage.ts
Due: biome-fix-staged

fix: update Oozeling/Construct ancestry check to use getSourceId method
  src/migration/migrations/Migration003OozelingConstructRules.ts
Due: biome-fix-staged

fix: improve migration reliability (#464)
  public/lang/en.json
  src/hooks/ready.ts
  src/migration/MigrationBase.ts
  src/migration/MigrationRunner.ts
  src/migration/migrations/Migration003OozelingConstructRules.ts
  src/migration/migrations/Migration006DwarfMaxHitDice.ts
  src/migration/migrations/Migration007WildOneHitDiceAdvantage.ts
  src/migration/migrations/Migration008FieldMedicHealingPotionBonus.ts
  src/migration/migrations/Migration009HealingEffects.ts
  src/migration/migrations/Migration010SwiftFistsUnarmedDamage.ts
  src/migration/migrations/Migration011SwiftFistsUnarmedProficiency.ts
  src/migration/migrations/Migration012ViciousExplosionDamage.ts
Due: biome-fix-staged

Enhancements for Drag and Drop on Items in the character sheet. (#396)
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_document-card.scss
  src/utils/shouldFlashDroppedItem.test.ts
  src/utils/shouldFlashDroppedItem.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/dropItemFlashState.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  src/view/sheets/playerCharacterPrimaryTabConfig.ts
Due: biome-fix-staged, prettier-svelte

chore: support beta relases
  .github/workflows/main.yml
Due: none

feat: get custom items for character creation
  src/utils/getChoicesFromCompendium.ts
Due: biome-fix-staged

feat: get custom items for character creation (#466)
  src/utils/getChoicesFromCompendium.ts
Due: biome-fix-staged

fix: make action dice discrete and show tooltips to the right
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(scene): tighten scene conversion typing and broaden _preCreate tests
  src/documents/scene/scene.test.ts
  src/documents/scene/scene.ts
  types/scene.ts
Due: biome-fix-staged

fix: Condition and hit point tracking unique per token (#463)
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/hooks/combatantHealthStateSync.ts
Due: biome-fix-staged

fix(inventory): make equipped the source of truth for object rule state
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/item/item.d.ts
  src/documents/item/object.ts
  src/managers/RulesManager.test.ts
  src/managers/RulesManager.ts
  src/managers/manager.d.ts
  src/models/item/ObjectDataModel.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: biome-fix-staged, prettier-svelte

feat: add class feature grants during character creation
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

fix: auto-select single-option feature groups
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
Due: prettier-svelte

fix: hide selection UI for single-option feature groups
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
Due: prettier-svelte

fix: simplify class features heading and layout
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
Due: prettier-svelte

fix: improve scroll behavior for character creation
  src/utils/scrollIntoView.ts
  src/view/dialogs/CharacterCreationDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix: scroll to class features after selecting a class
  src/view/dialogs/CharacterCreationDialog.svelte
Due: prettier-svelte

fix: position character creation dialog at top of viewport
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

fix: update critical rules for agent guidelines
  AGENTS.md
Due: none

fix: add base branch and translation rules to agent guidelines
  AGENTS.md
Due: none

fix: add translation and base branch rules to agent guidelines (#501)
  AGENTS.md
Due: none

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
