Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

Update es.json (#379)
  public/lang/es.json
Due: biome-fix-staged

fix: address PR review feedback for healing button
  public/lang/en.json
  src/documents/chatMessage.ts
  src/managers/ItemActivationManager.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

fix: prevent elf initiative roll mode from accumulating
  src/documents/actor/character.ts
Due: biome-fix-staged

fix: journal Source HTML not displaying and Save button inaccessible
  src/scss/vendor/foundry/_editor.scss
Due: none

fix: journal Source HTML not displaying and Save button inaccessible (#384)
  src/scss/vendor/foundry/_editor.scss
Due: none

fix(svelte): resolve compile warnings in components and build (#362)
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/BackgroundSheet.svelte
  src/view/sheets/BoonSheet.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/MonsterFeatureSheet.svelte
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/SpellSheet.svelte
  src/view/sheets/SubclassSheet.svelte
  vite.config.mts
Due: biome-fix-staged, prettier-svelte

feat: add Apply Healing button and healingPotionBonus rule (#368) (#375)
  packs/classFeatures/core/commander/commander-progression/field-medic.json
  packs/classFeatures/core/hunter/hunter-subclasses/keeper-of-the-wildheart/healing-salve.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/lay-on-hands.json
  packs/classFeatures/core/shepherd/shepherd-progression/searing-light.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/hooks/renderChatMessage.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration008FieldMedicHealingPotionBonus.ts
  src/migration/migrations/Migration009HealingEffects.ts
  src/migration/migrations/index.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/MinionGroupAttackCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.ts
  src/models/rules/healingPotionBonus.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

fix: prevent elf initiative roll mode from accumulating (#383)
  src/documents/actor/character.ts
Due: biome-fix-staged

fix: only show red dice in chat card for hit/miss primary die
  src/dice/DamageRoll.ts
  src/view/dataPreparationHelpers/rollTooltips/prepareRollTooltipDiceResults.ts
Due: biome-fix-staged

Lowered complexity
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatCommon.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/view/ui/CombatTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix: let items be draggable, editable and deletable even when locked
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: enhance edit toggle styling for better visibility
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

revert: npcsheet item drop block
  src/documents/sheets/NPCSheet.svelte.ts
Due: biome-fix-staged

fix: update actor creation to include reactive properties and adjust deleteItem return type
  src/view/components/ActorConditionsList.test.ts
  src/view/sheets/components/Item.svelte
  types/globals.d.ts
Due: biome-fix-staged, prettier-svelte

fix: hide edit buttons when not in edit mode
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/view/components/ActorConditionsList.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/AbilityScores.svelte
  src/view/sheets/components/Item.svelte
  src/view/sheets/components/MonsterFeature.svelte
  src/view/sheets/components/MovementSpeed.svelte
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/components/Skills.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  types/globals.d.ts
Due: biome-fix-staged, prettier-svelte

chore: ignore .claude folder
  .gitignore
Due: none

fix: adjust edit toggle track transparency and remove thumb border
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

fix: improve edit toggle styling and sidebar button alignment
  src/scss/components/_sheet.scss
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

Fix MovementSpeed layout regression with multiple movement types (#385)
  src/view/sheets/components/MovementSpeed.svelte
Due: prettier-svelte

fix: address PR review comments
  .gitignore
  src/scss/components/_button.scss
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/MovementSpeed.svelte
Due: prettier-svelte

fix: consistent edit button visibility and layout improvements
  src/scss/components/_button.scss
  src/scss/components/_section-header.scss
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/AbilityScores.svelte
  src/view/sheets/components/MovementSpeed.svelte
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/components/Skills.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

fix(sheets): improve edit mode toggle (#373)
  .gitignore
  src/scss/components/_button.scss
  src/scss/components/_section-header.scss
  src/scss/components/_sheet.scss
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/AbilityScores.svelte
  src/view/sheets/components/Item.svelte
  src/view/sheets/components/MonsterFeature.svelte
  src/view/sheets/components/MovementSpeed.svelte
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/components/Skills.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  types/globals.d.ts
Due: biome-fix-staged, prettier-svelte

feat(hooks): add item activation hooks and chat message flags (#361)
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
Due: biome-fix-staged

Sort Fix
  src/hooks/compendiumSpellsFilter.ts
Due: biome-fix-staged

format update
  src/hooks/compendiumSpellsFilter.ts
Due: biome-fix-staged

unit tests covering utility/cantrip/tiered/string/invalid inputs
  src/hooks/compendiumSpellsFilter.test.ts
  src/hooks/compendiumSpellsFilter.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

chore: migrate from npm to pnpm
  .github/workflows/checks.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/run-tests.yml
  .github/workflows/update-dev-cache.yml
  .npmrc
  AGENT.md
  CONTRIBUTING.md
  build/release.mjs
  build/worktreeSetup.mjs
  docs/RELEASE_GUIDE.md
  docs/STYLE_GUIDE.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: biome-fix-staged

fix: missing packageManager version
  package.json
Due: biome-fix-staged

fix: missing eslint dependancy
  package.json
  pnpm-lock.yaml
Due: biome-fix-staged

chore: migrate from npm to pnpm (#391)
  .github/workflows/checks.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/run-tests.yml
  .github/workflows/update-dev-cache.yml
  .npmrc
  AGENT.md
  CONTRIBUTING.md
  build/release.mjs
  build/worktreeSetup.mjs
  docs/RELEASE_GUIDE.md
  docs/STYLE_GUIDE.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: biome-fix-staged

fix: svelte preprocess part of approved builds
  package.json
Due: biome-fix-staged

fix: svelte preprocess part of approved builds (#392)
  package.json
Due: biome-fix-staged

Spell Compendium Sort fix (#389)
  src/hooks/compendiumSpellsFilter.test.ts
  src/hooks/compendiumSpellsFilter.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

NCCT v1.0
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/ready.ts
  src/scss/components/_combat-tracker.scss
  src/scss/main.scss
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/CombatTrackerSettings.svelte.ts
  src/view/ui/NcctTopTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
  src/view/ui/components/CollapsedMonsterCard.svelte
  src/view/ui/components/CombatTrackerControls.svelte
  src/view/ui/components/CombatTrackerControls.test.ts
  src/view/ui/components/CombatTrackerSettingsWindow.svelte
  src/view/ui/components/MonsterCombatant.svelte
  src/view/ui/components/PlayerCharacterCombatant.svelte
Due: biome-fix-staged, prettier-svelte

removed persistant name title
  src/view/ui/NcctTopTracker.svelte
Due: prettier-svelte

Game System toggle to show/hide combat tracker NCCT
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

show/hide sidebar buttons and scroll bar
  src/view/ui/NcctTopTracker.svelte
Due: prettier-svelte

Formatting update. Settings update
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/dialogs/NcctSettingsDialog.svelte
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Lowered complexity
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/utils/combatantOrdering.ts
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte
