Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(movement): a skipped turn clears no movement history
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatMovementHistory.test.ts
Due: biome-fix-staged

test(movement): gridless legs round on the running distance, not per segment
  src/utils/movement/measureWaypointSpaces.test.ts
  src/utils/movement/measureWaypointSpaces.ts
  src/utils/movement/summariseMovementHistory.test.ts
  src/utils/movement/summariseMovementHistory.ts
Due: biome-fix-staged

test(movement): cover when an actor gets the spacesMovedThisTurn tag
  src/documents/actor/populateDerivedTags.test.ts
Due: biome-fix-staged

fix(movement): review fixes for the record, tag docs and dispatch
  AGENTS.md
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  src/documents/actor/base.svelte.ts
  src/documents/combat/combat.svelte.ts
  src/documents/token/tokenDocument.ts
  src/hooks/init.ts
  src/hooks/movementHistoryRefresh.ts
  src/hooks/ready.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/movement/getSpacesMovedThisTurn.ts
  src/movement/movementRecord.ts
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/getSpacesMovedThisTurn.test.ts
  src/utils/movement/getSpacesMovedThisTurn.ts
  src/utils/movement/measureWaypointSpaces.test.ts
  src/utils/movement/measureWaypointSpaces.ts
  src/utils/movement/movementActions.ts
  src/utils/movement/movementKind.test.ts
  src/utils/movement/movementKind.ts
  src/utils/movement/reachChanges.test.ts
  src/utils/movement/reachChanges.ts
  src/utils/movement/spacesBetween.test.ts
  src/utils/movement/spacesBetween.ts
  src/utils/movement/summariseMovementHistory.test.ts
  src/utils/movement/summariseMovementHistory.ts
  src/utils/tokenAdjacency.ts
  src/view/settings/AutomationSettingsDialog.svelte
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

test(movement): a continuation that arrives after its Movement stopped is not reported again
  src/documents/token/tokenDocument.test.ts
Due: biome-fix-staged

fix(movement): measure a Movement from its chain's origin, with no phantom leg
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
Due: biome-fix-staged

fix(movement): read one measured segment per waypoint, as core drops resize segments
  src/utils/movement/measureWaypointSpaces.test.ts
  src/utils/movement/measureWaypointSpaces.ts
Due: biome-fix-staged

feat(movement): register Free Move and Forced Movement token actions
  public/lang/en.json
  src/hooks/init.ts
  src/movement/movementActions.ts
  src/movement/movementKind.test.ts
  src/movement/movementKind.ts
Due: biome-fix-staged

fix(movement): record movement history in any started combat, not only the viewed one
  src/documents/token/tokenDocument.test.ts
  src/documents/token/tokenDocument.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/isInStartedCombat.test.ts
  src/utils/movement/isInStartedCombat.ts
Due: biome-fix-staged

docs(movement): Movement Tracking reports every move, in and out of combat
  docs/documentation/gm/combat.md
  public/lang/en.json
Due: biome-fix-staged

feat(settings): movement tracking automation toggle
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/settings/automationSettings.ts
  src/settings/registerAutomationSettings.test.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(movement): movement finished record and event
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/movement/buildMovementRecord.test.ts
  src/movement/buildMovementRecord.ts
  src/movement/movementRecord.ts
  src/movement/reachChanges.test.ts
  src/movement/reachChanges.ts
Due: biome-fix-staged

fix(movement): a full empty space between gridless tokens counts 2, as on a grid
  src/utils/movement/spacesBetween.test.ts
  src/utils/movement/spacesBetween.ts
Due: biome-fix-staged

test(movement): cover when a token reports movementFinished
  src/documents/token/tokenDocument.test.ts
Due: biome-fix-staged

fix(movement): match combatants by id and wait for a scene grid
  src/utils/movement/getSpacesMovedThisTurn.test.ts
  src/utils/movement/getSpacesMovedThisTurn.ts
Due: biome-fix-staged

fix(movement): refresh the Spaces Moved This Turn tag when a combat or the toggle changes
  src/hooks/movementHistoryRefresh.test.ts
  src/hooks/movementHistoryRefresh.ts
  src/settings/registerAutomationSettings.test.ts
  src/settings/registerAutomationSettings.ts
Due: biome-fix-staged

feat(movement): Spaces Moved This Turn from the token movement history
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  src/documents/actor/base.svelte.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/movementHistoryRefresh.ts
  src/movement/getSpacesMovedThisTurn.test.ts
  src/movement/getSpacesMovedThisTurn.ts
  src/movement/summariseMovementHistory.test.ts
  src/movement/summariseMovementHistory.ts
  src/nimble.ts
Due: biome-fix-staged

fix(movement): a minion group's turn clears every member's movement history
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatMovementHistory.test.ts
Due: biome-fix-staged

test(movement): live movement tracking suite
  tests/integration/movementTracking.test.ts
Due: biome-fix-staged

test(movement): the Free Move and Forced Movement actions register at init
  src/utils/movement/movementActions.test.ts
Due: biome-fix-staged

fix(movement): count Spaces Moved This Turn in any started combat, not only the viewed one
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
Due: biome-fix-staged

fix(movement): Spaces Moved This Turn passes over a combatant with no token to the next started combat
  src/utils/movement/getSpacesMovedThisTurn.test.ts
  src/utils/movement/getSpacesMovedThisTurn.ts
Due: biome-fix-staged

fix(movement): refuse taken offers, cap stamps at the offer, drop the inert plan option
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/resolveMoveDistance.test.ts
Due: biome-fix-staged

feat(settings): movement offers automation toggle
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/settings/registerAutomationSettings.test.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(movement): each creature's movement shows as a tag on its card row
  public/lang/en.json
  src/utils/movement/movementOffers.ts
  src/view/chat/FeatureCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/ReactionCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNode.testHarness.svelte
  src/view/chat/components/MoveNodeState.svelte.ts
  src/view/chat/components/MovementStatusChip.svelte
  src/view/chat/components/Targets.svelte
  src/view/chat/components/Targets.test.ts
  src/view/chat/components/Targets.testHarness.svelte
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
  src/view/chat/targetsSection.ts
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged, prettier-svelte

test(movement): keep only the empty Token and TokenRuler bases in the shared mock
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(movement): Interpose's redirect moves the card's open offers to the new target
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
Due: biome-fix-staged

fix(chat): a Movement Offer reads as one short line
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/utils/movement/movementOffers.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged, prettier-svelte

test(movement): the offer tests stub Foundry globals with vi.stubGlobal
  src/hooks/movementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/Targets.test.ts
Due: biome-fix-staged

fix(movement): a target whose token is gone keeps its tag in the move node
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

docs(movement): the card shows "in any direction" for Forced Movement
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
Due: none

fix(movement): a move node for the feature's user has no direction
  docs/documentation/homebrew/activations.md
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNodeState.svelte.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(movement): report the drag result from the mover's client
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

feat(movement): Tab switches a drag between the offered movement and the token's own
  docs/documentation/gm/combat.md
  public/lang/en.json
  public/templates/hud/waypoint-label.hbs
  src/documents/token/token.ts
  src/documents/token/tokenLayer.ts
  src/documents/token/tokenRuler.ts
  src/hooks/init.ts
  src/scss/components/_token-ruler.scss
  tests/mocks/foundry.ts
Due: biome-fix-staged

docs(movement): the setting is Forced and Free Movement, and the docs say what the card shows
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  public/lang/en.json
Due: biome-fix-staged

fix(chat): the move node states the offer and records the result
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

refactor(movement): offer types used across modules live in types/movement.ts
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/documents/token/tokenRuler.ts
  src/utils/movement/markWaypointsPastOffer.test.ts
  src/utils/movement/markWaypointsPastOffer.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveMoveDistance.ts
  src/view/chat/components/MoveNodeState.svelte.ts
  types/movement.ts
Due: biome-fix-staged

refactor(movement): the tag types live in types/components, and dead text goes
  public/lang/en.json
  src/view/chat/components/MovementStatusChip.svelte
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
  types/components/MovementStatusChip.d.ts
Due: biome-fix-staged, prettier-svelte

test(movement): live suite for stamped Movement Offers that guide the drag
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
