Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

refactor(spells): extract shared spell description utilities
  src/utils/spellDescription.ts
  src/view/dialogs/components/characterCreator/SpellCard.svelte.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
Due: biome-fix-staged

feat: improve heroic reaction force handling and remove Create an Opening target requirement
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/hotBarDrop.test.ts
  src/macros/activateHeroicActionMacro.test.ts
  src/macros/activateHeroicActionMacro.ts
  src/macros/activateItemMacro.test.ts
  src/macros/createHeroicActionMacro.test.ts
  src/utils/assessOptions.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/ReactionPanels.test.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.test.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.testHarness.svelte
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

chore: fix formatting in combat.svelte.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix: localize hardcoded warning messages in macro functions
  public/lang/en.json
  src/macros/activateHeroicActionMacro.ts
Due: biome-fix-staged

fix: revert help icon to upgrade.svg
  src/macros/createHeroicActionMacro.ts
Due: biome-fix-staged

refactor: extract showReactionConfirmation to shared utility
  src/macros/activateHeroicActionMacro.ts
  src/utils/showReactionConfirmation.ts
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
Due: biome-fix-staged

feat: drag heroic actions and reactions to macro bar
  src/game.ts
  src/hooks/hotBarDrop.ts
  src/macros/activateHeroicActionMacro.ts
  src/macros/createHeroicActionMacro.ts
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat: add confirmation dialogs and draggable buttons for heroic actions
  public/lang/en.json
  src/documents/combat/combat.svelte.ts
  src/macros/activateHeroicActionMacro.ts
  src/macros/activateItemMacro.ts
  src/macros/createHeroicActionMacro.ts
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

chore(agents): add rules system context hook (#557)
  .claude/hooks/rules-context.md
  .claude/hooks/rules-context.sh
  .claude/settings.json
Due: biome-fix-staged

feat(rules): add adjacency sync and condition rule type
  docs/STYLE_GUIDE.md
  packs/boons/core/major/lionhearted.json
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/config/registerRulesConfig.ts
  src/documents/actor/base.svelte.ts
  src/hooks/combatantHooks/adjacencySync.ts
  src/hooks/ready.ts
  src/models/rules/armorClass.ts
  src/models/rules/condition.ts
  src/settings/adjacencySettings.ts
  src/settings/index.ts
  src/utils/tokenAdjacency.ts
  types/globals.d.ts
Due: biome-fix-staged

feat(conditions): add lionhearted condition icon
  public/assets/icons/LICENSE.md
  public/assets/icons/lionhearted.svg
Due: none

refactor(rules): simplify Lionhearted to single armorClass rule
  public/assets/icons/LICENSE.md
  public/assets/icons/lionhearted.svg
Due: none

feat(settings): add adjacencyIncludesDiagonals world setting
  docs/STYLE_GUIDE.md
  packs/boons/core/major/lionhearted.json
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/config/registerRulesConfig.ts
  src/models/rules/condition.ts
  src/settings/adjacencySettings.ts
  src/utils/tokenAdjacency.ts
  vite.config.local.mts
Due: biome-fix-staged

chore(lang): trim adjacency setting hint text
  public/lang/en.json
Due: biome-fix-staged

test(tokenAdjacency): add unit tests for countAdjacentEnemies
  src/utils/tokenAdjacency.test.ts
  src/utils/tokenAdjacency.ts
Due: biome-fix-staged

chore: unexport internal registerAdjacencyIncludesDiagonalsSetting
  src/settings/adjacencySettings.ts
Due: biome-fix-staged

fix(review): address trevlar feedback on PR #562
  .gitignore
  public/assets/icons/LICENSE.md
  public/lang/en.json
  src/settings/adjacencySettings.ts
Due: biome-fix-staged

feat(character-creator): require character name before creation
  public/lang/en.json
  src/config.ts
  src/view/dialogs/characterCreation/state.svelte.ts
Due: biome-fix-staged

test(character-creator): add name validation tests
  src/view/dialogs/CharacterCreationDialog.test.ts
Due: biome-fix-staged

refactor(spells): enforce one-export-per-file and add localization
  public/lang/en.json
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/utils/getSpells.test.ts
  src/utils/getSpells.ts
  src/utils/getSpellsFromIndex.ts
  src/utils/spellDescription.ts
  src/view/dialogs/characterCreation/utils/processGrantSpellsRules.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte.ts
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  src/view/dialogs/components/characterCreator/SpellSelection.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(spells): split spellHelpers into individual modules
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/utils/getGrantSpellSelectionRuleIds.ts
  src/view/dialogs/characterCreation/utils/hasSpellGrants.ts
  src/view/dialogs/characterCreation/utils/removeConfirmedSchoolsForRuleIds.ts
  src/view/dialogs/characterCreation/utils/removeSelectionsForRuleIds.ts
  src/view/dialogs/characterCreation/utils/spellHelpers.ts
  src/view/dialogs/characterCreation/utils/spellSelectionsComplete.ts
Due: biome-fix-staged

fix(review): remove vite.config.local.mts from repo
  vite.config.local.mts
Due: biome-fix-staged

feat(compendium): add Nimble Core Rules journal compendium
  packs/ids.json
  packs/rules/core/ancestry-and-background.json
  packs/rules/core/character-creation.json
  packs/rules/core/combat.json
  packs/rules/core/core-rules.json
  packs/rules/core/equipment.json
  packs/rules/core/glossary.json
  packs/rules/core/optional-rules.json
  packs/rules/core/resting-and-downtime.json
  packs/rules/core/spells.json
  packs/rules/core/start-here.json
  public/system.json
Due: biome-fix-staged

feat(character-creator): require character name before creation (#565)
  public/lang/en.json
  src/config.ts
  src/view/dialogs/CharacterCreationDialog.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
Due: biome-fix-staged

fix(test): add missing spellIndex prop to CharacterCreationDialog test
  src/view/dialogs/CharacterCreationDialog.test.ts
Due: biome-fix-staged

fix(test): add missing spellIndex prop to CharacterCreationDialog test (#568)
  src/view/dialogs/CharacterCreationDialog.test.ts
Due: biome-fix-staged

fix(i18n): remove trailing whitespace from es.json
  public/lang/es.json
Due: biome-fix-staged

fix(i18n): remove trailing whitespace from es.json (#569)
  public/lang/es.json
Due: biome-fix-staged

feat(level-up): add epic boon selection at level 19 and improve level down UI
  public/lang/en.json
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/utils/getEpicBoons.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialog.test.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/levelUpHelper/EpicBoonSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/SubclassSelection.svelte
  tests/mocks/foundry.ts
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

chore: update Discord invite link across all files
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  CONTRIBUTING.md
  README.md
  docs/.vitepress/config.mts
  docs/index.md
Due: biome-fix-staged

fix(ui): use fixed portrait position on PC/NPC sheets (#489)
  src/scss/components/_image.scss
Due: none

refactor: extract SelectionIndicator into shared component
  public/lang/en.json
  src/view/components/SelectionIndicator.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/levelUpHelper/EpicBoonSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/SubclassSelection.svelte
  types/components/SelectionIndicator.d.ts
Due: biome-fix-staged, prettier-svelte

refactor: extract ExpandableDocumentList shared component
  src/view/components/ExpandableDocumentList.svelte
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/components/levelUpHelper/EpicBoonSelection.svelte
  src/view/dialogs/components/levelUpHelper/SubclassSelection.svelte
  types/components/ExpandableDocumentList.d.ts
Due: biome-fix-staged, prettier-svelte

fix(i18n): localize hardcoded strings in SubclassSelection
  public/lang/en.json
  src/view/dialogs/components/levelUpHelper/SubclassSelection.svelte
Due: biome-fix-staged, prettier-svelte

fix: remove debug console.log statements from level-up summary
  src/documents/actor/character.ts
Due: biome-fix-staged

refactor: extract component logic into .svelte.ts state files and type/const modules
  src/view/components/ExpandableDocumentList.svelte
  src/view/components/ExpandableDocumentList.svelte.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/const/levelUpConstants.ts
  types/components/CharacterLevelDownDialog.d.ts
  types/components/CharacterLevelUpDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix: add error handling to async effects and batch-load epic boons
  src/utils/getEpicBoons.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
Due: biome-fix-staged

fix(ui): constrain portrait image size while preserving aspect ratio (#489)
  src/scss/components/_image.scss
Due: none

fix: add error handling to fromUuid calls, localize loading text, and deduplicate types
  src/view/components/ExpandableDocumentList.svelte
  src/view/components/ExpandableDocumentList.svelte.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/const/levelUpConstants.ts
  types/components/CharacterLevelUpDialog.d.ts
  types/components/LevelUpChoices.d.ts
Due: biome-fix-staged, prettier-svelte
