Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

DOC: Update MEMORY and agent documentation
  .claude/agent-memory/nimble-local-ops/MEMORY.md
  .claude/agents/nimble-local-ops.md
  .claude/commands/nimble-local-git-ops.md
  ralph-once.sh
Due: none

DOC: Add agent memory and Git operations documentation
  .claude/agent-memory/nimble-local-git-ops/MEMORY.md
  .claude/agents/nimble-local-git-ops.md
  afk-ralph.sh
  ralph-once.sh
Due: none

FEAT: Auto-apply conditions to targets when condition button clicked on chat card
  src/documents/chatMessage.ts
  src/view/chat/components/ConditionNode.svelte
Due: biome-fix-staged, prettier-svelte

FIX(ui): correct broken lang key refs for spell upcast slider in config
  src/config.ts
Due: biome-fix-staged

DOC: Mark localization audit complete; update progress.txt
  PRD.md
  progress.txt
Due: none

chore: add initial agent guidelines and instructions files
  .clinerules
  .cursorrules
  .github/copilot-instructions.md
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

chore: add Claude Code settings, MCP config, and gitignore updates
  .claude/settings.json
  .gitignore
  .mcp.json
Due: biome-fix-staged

chore: add planning artifacts and UX design directions
  _bmad-output/planning-artifacts/architecture.md
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/prd-validation-report.md
  _bmad-output/planning-artifacts/prd.md
  _bmad-output/planning-artifacts/ux-design-specification.md
  _bmad-output/ux-design-directions.html
Due: none

DOC: Update PRD with upstream overlap audit tasks
  PRD.md
Due: none

DOC: Add documentation for E2E testing and known issues
  .claude/agent-memory/nimble-e2e-tester/MEMORY.md
  .claude/agent-memory/nimble-e2e-tester/console-errors.md
  .claude/agent-memory/nimble-e2e-tester/foundry-init.md
  .claude/agent-memory/nimble-e2e-tester/scene-controls.md
  .claude/agent-memory/nimble-e2e-tester/sheets.md
  .playwright-mcp/console-2026-03-08T23-04-32-817Z.log
  src/hooks/minionGroupTokenActions.ts
  src/settings/index.ts
Due: biome-fix-staged

CHG: Update group attack panel visibility logic
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

DOC: Update MEMORY.md with screenshot conventions
  .claude/agent-memory/nimble-e2e-tester/MEMORY.md
  playwright/screenshots/01-join-page.png
  playwright/screenshots/02-game-loaded.png
  playwright/screenshots/03-scene-controls-with-crosshairs.png
  playwright/screenshots/04-panel-hidden-after-toggle-off.png
  playwright/screenshots/05-panel-shown-after-toggle-on.png
  playwright/screenshots/06-mage-character-sheet.png
  playwright/screenshots/07-mage-inventory-tab.png
  playwright/screenshots/08-mage-bio-tab.png
  playwright/screenshots/09-mage-spells-tab.png
  playwright/screenshots/10-berserker-npc-sheet.png
Due: none

CHG: Remove hideGroupAttackPanel feature
  public/lang/en.json
  src/hooks/minionGroupTokenActions.ts
  src/settings/index.ts
Due: biome-fix-staged

CHG: Remove upstream overlap audit section
  PRD.md
Due: none

CHG: Update reporting process in nimble-e2e-tester
  .claude/agents/nimble-e2e-tester.md
Due: none

CHG: Add new agents for configuration auditing and patterns
  .claude/agent-memory/nimble-local-git-ops/commit-patterns.md
  .claude/agent-memory/nimble-local-git-ops/known-issues.md
  .claude/agent-memory/nimble-local-git-ops/pr-patterns.md
  .claude/agents/nimble-e2e-tester.md
  .claude/agents/nimble-local-git-ops.md
  .claude/agents/nimble-macro.md
  .claude/agents/nimble-research.md
  .claude/agents/nimble-review.md
  .claude/agents/nimble-scaffold.md
  .claude/agents/nimble-token-keeper.md
  .claude/agents/nimble-upstream.md
  .claude/commands/nimble-token-keeper.md
Due: none

CHG: Simplify agent usage descriptions
  .claude/commands/nimble-e2e-tester.md
  .claude/commands/nimble-local-git-ops.md
  .claude/commands/nimble-macro.md
  .claude/commands/nimble-research.md
  .claude/commands/nimble-review.md
  .claude/commands/nimble-scaffold.md
  .claude/commands/nimble-token-keeper.md
  .claude/commands/nimble-upstream.md
Due: none

chore: remove warning
  .npmrc
Due: none

CHG: Add GitHub Copilot instructions and mcp configuration
  .github/copilot-instructions.md
  .vscode/mcp.json
  CLAUDE.md
Due: biome-fix-staged

chore: remove warning (#420)
  .npmrc
Due: none

CHG: Update agent documentation and add new skills
  .claude/agents/nimble-e2e-tester.md
  .claude/agents/nimble-local-git-ops.md
  .claude/agents/nimble-review.md
  .claude/agents/nimble-scaffold.md
  .claude/skills/nimble-code-conventions.md
  .claude/skills/nimble-git-conventions.md
  .claude/skills/nimble-playwright-patterns.md
  .vscode/mcp.json
Due: biome-fix-staged

CHORE(build): migrate flat skill files to directory structure and add new skills
  .claude/skills/nimble-code-conventions/SKILL.md
  .claude/skills/nimble-code-conventions/assets/README.md
  .claude/skills/nimble-code-conventions/references/svelte5-script-order.md
  .claude/skills/nimble-code-conventions/scripts/README.md
  .claude/skills/nimble-deploy/SKILL.md
  .claude/skills/nimble-git-conventions/SKILL.md
  .claude/skills/nimble-git-conventions/assets/README.md
  .claude/skills/nimble-git-conventions/references/commit-grouping.md
  .claude/skills/nimble-git-conventions/scripts/check-branch.sh
  .claude/skills/nimble-playwright-patterns/SKILL.md
  .claude/skills/nimble-playwright-patterns/assets/README.md
  .claude/skills/nimble-playwright-patterns/references/foundry-selectors.md
  .claude/skills/nimble-playwright-patterns/scripts/wait-for-foundry.js
  .claude/skills/skill-creator/SKILL.md
Due: biome-fix-staged

CHG: Update agent definitions for efficiency review
  .claude/agents/nimble-e2e-tester.md
  .claude/agents/nimble-local-git-ops.md
  .claude/agents/nimble-macro.md
  .claude/agents/nimble-scaffold.md
  .claude/agents/nimble-token-keeper.md
  .claude/agents/nimble-upstream.md
Due: none

CHG: Split nimble-local-git-ops into nimble-git-ops + nimble-commit-push, update skills
  .claude/agent-memory/nimble-commit-push/MEMORY.md
  .claude/agent-memory/nimble-git-ops/MEMORY.md
  .claude/agent-memory/nimble-git-ops/commit-patterns.md
  .claude/agent-memory/nimble-git-ops/known-issues.md
  .claude/agent-memory/nimble-git-ops/pr-patterns.md
  .claude/agents/nimble-commit-push.md
  .claude/agents/nimble-git-ops.md
  .claude/agents/nimble-local-git-ops.md
  .claude/commands/nimble-commit-push.md
  .claude/commands/nimble-git-ops.md
  .claude/commands/nimble-local-git-ops.md
  .claude/skills/nimble-deploy/SKILL.md
  .claude/skills/nimble-deploy/assets/README.md
  .claude/skills/nimble-deploy/references/deploy-logs.md
  .claude/skills/nimble-deploy/scripts/deploy-log.sh
  .claude/skills/nimble-git-conventions/SKILL.md
  CLAUDE.md
Due: none

CHG: Update skill-creator description and remove directory rules
  .claude/skills/skill-creator/SKILL.md
Due: none

CHG: Update images for attack macros
  packs/macros/core/atk-melee.json
  packs/macros/core/atk-ranged.json
  packs/macros/core/atk-spells.json
Due: biome-fix-staged

CHG: Add FoundryVTT start and stop scripts
  package.json
Due: biome-fix-staged

CHG: Update deployment scripts for FoundryVTT
  package.json
Due: biome-fix-staged

chore: update twist the blade 2 to level 13
  packs/classFeatures/core/the-cheat/the-cheat-progression/twist-the-blade-2.json
Due: biome-fix-staged

CHG: Update .gitignore and CLAUDE.md for memory path
  .gitignore
  CLAUDE.md
Due: none

DATA: Rename "Place Torch" macro to "Place Light"
  packs/ids.json
  packs/macros/core/place-light.json
  packs/macros/core/place-torch.json
Due: biome-fix-staged

BUG: Stamp coreVersion in built packs to prevent migration
  build/lib/LevelDB.mjs
Due: biome-fix-staged

BUG: Restore active layer after Place Light macro
  packs/macros/core/place-light.json
Due: biome-fix-staged

chore: add initial docs page and deployment workflow
  .github/workflows/docs-deploy.yml
  docs/.gitignore
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/RELEASE_GUIDE.md
  docs/STYLE_GUIDE.md
  docs/contributing.md
  docs/index.md
  docs/package.json
  docs/pnpm-lock.yaml
Due: biome-fix-staged

chore: remove version specification for pnpm action in deployment workflow
  .github/workflows/docs-deploy.yml
Due: none

chore: update twist the blade 2 to level 13 (#423)
  packs/classFeatures/core/the-cheat/the-cheat-progression/twist-the-blade-2.json
Due: biome-fix-staged

Apply Damage button - affecting action count (#412)
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/components/RollSummary.svelte
Due: biome-fix-staged, prettier-svelte

fix: allow non-GM players to apply damage and simplify defeat sync
  packs/classFeatures/core/the-cheat/the-cheat-progression/twist-the-blade-2.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/components/RollSummary.svelte
Due: biome-fix-staged, prettier-svelte
