Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

CHG: Remove the style guide document
  docs/CHARACTER_SYSTEM.md
  docs/COMPENDIUM_AUTHORING.md
  docs/FOUNDRY_API_REFERENCE.md
  docs/MACROS_AND_AUTOMATION.md
  docs/RELEASE_GUIDE.md
  docs/SCENE_AND_CANVAS.md
  docs/STYLE_GUIDE.md
Due: none

build: add Macro document type support to compendia pipeline
  build/lib/IdBuilder.mjs
  build/lib/LevelDB.mjs
Due: biome-fix-staged

feat: add macros compendium pack
  packs/ids.json
  packs/macros/core/atk-melee.json
  packs/macros/core/atk-ranged.json
  packs/macros/core/atk-spells.json
  packs/macros/core/day-night-toggle.json
  packs/macros/core/open-door.json
  packs/macros/core/place-torch.json
  public/system.json
Due: biome-fix-staged

feat: add starting gear hook on PC creation
  src/hooks/startingGear.ts
Due: biome-fix-staged

feat: add hideGroupAttackPanel client setting
  public/lang/en.json
  src/hooks/minionGroupTokenActions.ts
  src/settings/index.ts
Due: biome-fix-staged

feat: register ATK library at system ready
  src/game.ts
  src/hooks/atkInit.ts
  src/nimble.ts
Due: biome-fix-staged

DOC: Add comprehensive code style guide
  docs/RELEASE_GUIDE.md
  docs/STYLE_GUIDE.md
Due: none

FEAT: Add mana potion and macros to the system
  packs/ids.json
  packs/items/core/consumables/mana-potion.json
  packs/macros/core/atk-melee.json
Due: biome-fix-staged

FEAT: Add group attack panel visibility setting
  src/hooks/minionGroupTokenActions.ts
  src/settings/index.ts
Due: biome-fix-staged

FEAT: Add agent memory update instructions
  CLAUDE.md
Due: none

FEAT: Add sub-agent commands and usage guidelines
  CLAUDE.md
Due: none

fix(chat): stabilize reactive chat card mounting (#416)
  src/hooks/renderChatMessage.test.ts
  src/hooks/renderChatMessage.ts
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SavingThrowCard.svelte
  src/view/chat/SkillCheckCard.svelte
  src/view/chat/components/Targets.svelte
Due: biome-fix-staged, prettier-svelte

FEAT: Add new agents for macro, research, review, scaffold, and upstream
  .claude/agents/nimble-macro.md
  .claude/agents/nimble-research.md
  .claude/agents/nimble-review.md
  .claude/agents/nimble-scaffold.md
  .claude/agents/nimble-upstream.md
  .claude/commands/nimble-macro.md
  .claude/commands/nimble-research.md
  .claude/commands/nimble-review.md
  .claude/commands/nimble-scaffold.md
  .claude/commands/nimble-upstream.md
Due: none

FEAT: Add nimble-git-ops agent for Git operations
  .claude/agents/nimble-git-ops.md
Due: none

CHORE: Fix nimble-git-ops command description
  .claude/commands/nimble-git-ops.md
Due: none

FEAT: Add nimble-local-ops agent and command documentation
  .claude/agents/nimble-local-ops.md
  .claude/commands/nmb-git-ops.md
  .claude/commands/nmb-macro.md
  .claude/commands/nmb-research.md
  .claude/commands/nmb-review.md
  .claude/commands/nmb-scaffold.md
  .claude/commands/nmb-upstream.md
Due: none

FEAT: Add new agents for Git operations, macro, research, review, scaffold, and upstream
  .claude/commands/nimble-git-ops.md
  .claude/commands/nimble-macro.md
  .claude/commands/nimble-research.md
  .claude/commands/nimble-review.md
  .claude/commands/nimble-scaffold.md
  .claude/commands/nimble-upstream.md
Due: none

FEAT: Add initial PRD and automation scripts for Ralph
  PRD.md
  afk-ralph.sh
  progress.txt
  ralph-once.sh
Due: none

FIX: Chat cards not appearing when sidebar is collapsed
  src/hooks/renderChatMessage.ts
Due: biome-fix-staged

CHORE: Mark sidebar-collapsed chat bug as done; add progress.txt
  PRD.md
  progress.txt
Due: none

Resource Drawer, Heroic Reactions, UI updates
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/config/registerConditionsConfig.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHealthStateSync.ts
  src/models/actor/SoloMonsterDataModel.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/nimble.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/actorResources.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/heroicActions.ts
  src/utils/isCombatantDead.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/sheets/pages/NPCSettingsTab.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.test.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
  tests/fixtures/combat.ts
  types/combat.d.ts
Due: biome-fix-staged, prettier-svelte

CHORE(build): add deploy logging for deploy:nimble
  .gitignore
  logs/.gitkeep
  package.json
  scripts/deploy-log.sh
Due: biome-fix-staged

DOC: Add MEMORY.md for local ops agent guidelines
  .claude/agent-memory/nimble-local-ops/MEMORY.md
Due: none

TEST(core): Add smoke test verifying document proxy classes load without error
  src/documents/documentProxy.test.ts
Due: biome-fix-staged

CHORE: Mark proxy smoke-test done; update progress.txt
  PRD.md
  progress.txt
Due: none

CHG: Clarify task implementation instructions
  ralph-once.sh
Due: none

CHG: Update PRD with new tasks and clarifications
  PRD.md
Due: none

fix: add grid-area styles to inventory and features delete buttons
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

fix: add grid-area styles to inventory and features delete buttons (#417)
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

CHORE: Add Dockerfile.sandbox and docker-sandbox CLI plugin for afk-ralph
  Dockerfile.sandbox
  PRD.md
  progress.txt
  ralph-once.sh
Due: none

FIX: Skill check rolls broken on remote server due to RangeSlider array binding
  src/view/dialogs/CheckRollDialog.svelte
Due: prettier-svelte

CHORE: Mark remote skill-check bug done; update progress.txt
  PRD.md
  progress.txt
Due: none

CHG: Update task instructions for testing before commit
  afk-ralph.sh
  ralph-once.sh
Due: none

FEAT: Add nimble-e2e-tester agent documentation
  .claude/agents/nimble-e2e-tester.md
  .claude/commands/nimble-e2e-tester.md
Due: none

CHG: Add log files for Foundry VTT warnings and errors
  .playwright-mcp/console-2026-03-08T06-20-10-748Z.log
  .playwright-mcp/console-2026-03-08T07-04-43-219Z.log
  .playwright-mcp/console-2026-03-08T07-05-42-291Z.log
  .playwright-mcp/console-2026-03-08T07-13-58-353Z.log
  .playwright-mcp/startup-errors.log
  .playwright/snapshots/actor-sheet-open.png
  .playwright/snapshots/actor-sheet-smoke-test.png
  .playwright/snapshots/inventory-tab.png
  .playwright/snapshots/startup-state.png
Due: none

FEAT: Add entrypoint script for Claude Code Docker image
  Dockerfile.sandbox
  PRD.md
  afk-ralph.sh
Due: none

scope cleanup -> feature only
  src/utils/replaceRollFormulaData.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/ItemActivationConfigDialog.test.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/handlers/updateDocumentImage.test.ts
  src/view/handlers/updateDocumentImage.ts
Due: biome-fix-staged, prettier-svelte

TEST(dice): Add isCriticalSuccess/isCriticalFailure getters and unit tests to NimbleRoll
  PRD.md
  lefthook.yml
  progress.txt
  src/dice/NimbleRoll.test.ts
  src/dice/NimbleRoll.ts
Due: biome-fix-staged

Apply Damage no longer resets action count. Only the GM can see or use Apply Damage
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/components/RollSummary.svelte
Due: biome-fix-staged, prettier-svelte

REFACTOR(dice): Extract _primaryDieTerm helper; add PrimaryDie and DamageRoll tests
  src/dice/DamageRoll.ts
  src/dice/NimbleRoll.test.ts
  src/dice/NimbleRoll.ts
  src/dice/terms/PrimaryDie.test.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
