Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: fix npm audit vulnerabilities (#327)
  package-lock.json
Due: biome-fix-staged

fix(import): parse On Failure/On Success save patterns from Nimble Nexus
  src/import/nimbleNexus/descriptionParser.test.ts
  src/import/nimbleNexus/descriptionParser.ts
Due: biome-fix-staged

feat(import): add smart parsing for Nimble Nexus action descriptions (#323)
  src/import/nimbleNexus/NimbleNexusParser.ts
  src/import/nimbleNexus/constants.ts
  src/import/nimbleNexus/descriptionParser.test.ts
  src/import/nimbleNexus/descriptionParser.ts
  src/import/nimbleNexus/types.ts
  src/view/dialogs/components/monsterImport/BrowseTabContent.svelte
Due: biome-fix-staged, prettier-svelte

feat: apply hit dice size bonus rules on level up
  public/lang/en.json
  src/documents/actor/character.ts
  src/view/dialogs/components/levelUpHelper/HitPointSelection.svelte
  src/view/dialogs/components/levelUpHelper/SkillPointAssignment.svelte
Due: biome-fix-staged, prettier-svelte

feat: add migrations for Dwarf and Wild One hit dice rules
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration006DwarfMaxHitDice.ts
  src/migration/migrations/Migration007WildOneHitDiceAdvantage.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

Spanish translation of json file
  public/lang/esp.json
Due: biome-fix-staged

Start/End Combat text adjustment. Lightmode Target avatar adjustment
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_combat-tracker.scss
  src/scss/components/_minion-group-token-actions.scss
  src/view/ui/CombatTracker.svelte
Due: prettier-svelte

Update es.json
  public/lang/esp.json
Due: biome-fix-staged

Delete public/lang/es.json
  public/lang/es.json
Due: biome-fix-staged

Rename esp.json to es.json
  public/lang/es.json
Due: biome-fix-staged

fix: apply hit dice size bonus in hit points dialogs
  src/view/dialogs/EditHitPointsDialog.svelte
  src/view/dialogs/components/levelUpHelper/HitPointSelection.svelte
Due: prettier-svelte

feat: add translations for level up HP selection component
  public/lang/en.json
  src/config.ts
  src/view/dialogs/components/levelUpHelper/HitPointSelection.svelte
Due: biome-fix-staged, prettier-svelte

feat: apply hit dice size bonus rules on level up (#328)
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration006DwarfMaxHitDice.ts
  src/migration/migrations/Migration007WildOneHitDiceAdvantage.ts
  src/migration/migrations/index.ts
  src/view/dialogs/EditHitPointsDialog.svelte
  src/view/dialogs/components/levelUpHelper/HitPointSelection.svelte
  src/view/dialogs/components/levelUpHelper/SkillPointAssignment.svelte
Due: biome-fix-staged, prettier-svelte

chore(packs): Formatting and ids generated
  packs/ids.json
  packs/legendaryMonsters/core/dregatha-thrice-chinned.json
  packs/legendaryMonsters/core/greenthumb-lichling.json
  packs/legendaryMonsters/core/krogg-goblin-king.json
  packs/legendaryMonsters/core/lind-worm.json
  packs/legendaryMonsters/core/rat-prince.json
  packs/legendaryMonsters/core/scorpion-queen.json
  packs/monsters/core/briarbanes/giant-venus-flytrap.json
  packs/monsters/core/goblins/pinky.json
  packs/monsters/core/horrors/incubus-succubus.json
  packs/monsters/core/underground/giant-slug-minion.json
  packs/monsters/core/underground/rat-swarm.json
  packs/monsters/core/underground/wax-golem.json
Due: biome-fix-staged

chore(packs): Formatting and ids generated (#346)
  packs/ids.json
  packs/legendaryMonsters/core/dregatha-thrice-chinned.json
  packs/legendaryMonsters/core/greenthumb-lichling.json
  packs/legendaryMonsters/core/krogg-goblin-king.json
  packs/legendaryMonsters/core/lind-worm.json
  packs/legendaryMonsters/core/rat-prince.json
  packs/legendaryMonsters/core/scorpion-queen.json
  packs/monsters/core/briarbanes/giant-venus-flytrap.json
  packs/monsters/core/goblins/pinky.json
  packs/monsters/core/horrors/incubus-succubus.json
  packs/monsters/core/underground/giant-slug-minion.json
  packs/monsters/core/underground/rat-swarm.json
  packs/monsters/core/underground/wax-golem.json
Due: biome-fix-staged

chore: fix formatting
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/nimble.ts
  tests/mocks/combat.ts
Due: biome-fix-staged

chore(packs): ignore formatting
  lefthook.yml
Due: none

chore: exclude packs from biome formatting
  lefthook.yml
Due: none

fix: resolve character sheet rendering and token actor issues
  build/lib/Pack.mjs
  src/documents/actor/base.svelte.ts
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/view/chat/components/ItemCardEffects.svelte
  src/view/chat/components/Targets.svelte
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-fix-staged, prettier-svelte

fix: add proper type casting for token actor resolution
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
Due: biome-fix-staged

feat: initial feature for 5e monster importer
  package-lock.json
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/ActorCreationDialog.svelte.ts
  src/hooks/dnd5eCompendiumContext.ts
  src/import/dnd5e/Dnd5eConverter.ts
  src/import/dnd5e/Dnd5eImportDialog.svelte.ts
  src/import/dnd5e/Dnd5eJsonIngest.ts
  src/import/dnd5e/Dnd5eSpellConverter.ts
  src/import/dnd5e/Dnd5eTextIngest.ts
  src/import/dnd5e/__tests__/Dnd5eConverter.test.ts
  src/import/dnd5e/__tests__/Dnd5eJsonIngest.test.ts
  src/import/dnd5e/__tests__/Dnd5eSpellConverter.test.ts
  src/import/dnd5e/__tests__/Dnd5eTextIngest.test.ts
  src/import/dnd5e/constants.ts
  src/import/dnd5e/types.ts
  src/nimble.ts
  src/view/dialogs/ActorCreationDialog.svelte
  src/view/dialogs/Dnd5eImportDialog.svelte
  tests/fixtures/dnd5e.ts
  tests/fixtures/index.ts
Due: biome-fix-staged, prettier-svelte

chore: remove unused imports and cleanup
  src/import/dnd5e/Dnd5eConverter.ts
  src/import/dnd5e/Dnd5eJsonIngest.ts
  src/import/dnd5e/Dnd5eSpellConverter.ts
  src/import/dnd5e/Dnd5eTextIngest.ts
  src/import/dnd5e/__tests__/Dnd5eConverter.test.ts
  src/import/dnd5e/types.ts
Due: biome-fix-staged

chore: rename fixture file
  src/import/dnd5e/__tests__/Dnd5eConverter.test.ts
  src/import/dnd5e/__tests__/Dnd5eJsonIngest.test.ts
  src/import/dnd5e/__tests__/Dnd5eTextIngest.test.ts
  tests/fixtures/dnd5eImporter.ts
  tests/fixtures/index.ts
Due: biome-fix-staged

fix: correct type casting for token actor parent resolution
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
Due: biome-fix-staged

chore(docs): expand style guide with foundational principles and patterns
  docs/STYLE_GUIDE.md
Due: none

chore(docs): update AGENT.md to align with expanded style guide
  AGENT.md
Due: none

chore(docs): add comprehensive coding style guide (#339)
  AGENT.md
  docs/STYLE_GUIDE.md
Due: none

fix: increase item sheet sizes and improve editor UX
  src/documents/sheets/AncestrySheet.svelte.ts
  src/documents/sheets/BackgroundSheet.svelte.ts
  src/documents/sheets/BoonSheet.svelte.ts
  src/documents/sheets/ClassSheet.svelte.ts
  src/documents/sheets/FeatureSheet.svelte.ts
  src/documents/sheets/MonsterFeatureSheet.svelte.ts
  src/documents/sheets/ObjectSheet.svelte.ts
  src/documents/sheets/SpellSheet.svelte.ts
  src/documents/sheets/SubclassSheet.svelte.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/components/characterCreator/StartingEquipmentSelection.svelte
  src/view/sheets/components/Editor.svelte
Due: biome-fix-staged, prettier-svelte

fix: resolve sheet rendering errors and improve UX
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/components/PrimaryNavigationItem.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/BackgroundSheet.svelte
  src/view/sheets/BoonSheet.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/MonsterFeatureSheet.svelte
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/SpellSheet.svelte
  src/view/sheets/SubclassSheet.svelte
  src/view/sheets/pages/PlayerCharacterBioTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: increase NPC sheet height and add min-height to notes tab
  src/documents/sheets/NPCSheet.svelte.ts
  src/view/sheets/pages/NPCNotesTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: remove any type casts and debug console.logs from Editor
  src/view/sheets/components/Editor.svelte
Due: prettier-svelte

fix: resolve sheet rendering errors and improve UX (#351)
  src/documents/sheets/AncestrySheet.svelte.ts
  src/documents/sheets/BackgroundSheet.svelte.ts
  src/documents/sheets/BoonSheet.svelte.ts
  src/documents/sheets/ClassSheet.svelte.ts
  src/documents/sheets/FeatureSheet.svelte.ts
  src/documents/sheets/MonsterFeatureSheet.svelte.ts
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/ObjectSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/documents/sheets/SpellSheet.svelte.ts
  src/documents/sheets/SubclassSheet.svelte.ts
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/components/PrimaryNavigationItem.svelte
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/components/characterCreator/StartingEquipmentSelection.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/BackgroundSheet.svelte
  src/view/sheets/BoonSheet.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/MonsterFeatureSheet.svelte
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/SpellSheet.svelte
  src/view/sheets/SubclassSheet.svelte
  src/view/sheets/components/Editor.svelte
  src/view/sheets/pages/NPCNotesTab.svelte
  src/view/sheets/pages/PlayerCharacterBioTab.svelte
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
