Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

feat(movement): offer a Movement by arming the token, not a card button
  public/lang/en.json
  src/documents/token/token.ts
  src/hooks/init.ts
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/findArmedMovementOffer.test.ts
  src/utils/movement/findArmedMovementOffer.ts
  src/utils/movement/movementOfferConstraints.test.ts
  src/utils/movement/movementOfferConstraints.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  src/utils/movement/takeMovementOffer.ts
  tests/mocks/foundry.ts
  types/movement.ts
Due: biome-fix-staged

refactor(chat): move the move node's card logic into a state file
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNodeState.svelte.ts
Due: biome-fix-staged, prettier-svelte

docs(movement): Movement Offers arm the token
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
Due: none

docs(movement): the push shape is a system convenience, not a rule
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
Due: none

feat(movement): requestMove primitive and owning-client plan relay
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/init.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

style(movement): the tag takes theme colours that pass the contrast rules in both themes
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/chat/components/MovementStatusChip.svelte
Due: prettier-svelte

test(movement): the live rules suite reads the drop tag per token and the one-line result
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

fix(dice pools): dice given back after a reroll are not a pool gain
  docs/documentation/reference/_partials/poolGainMessage.md
  docs/system/rules.md
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
Due: biome-fix-staged

fix(movement): a Free Move card takes the rule label as its title, so Coordinated Strike's card says Advance!
  docs/documentation/reference/_partials/freeMove.md
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/postMovementOfferCard.ts
Due: biome-fix-staged

fix(dice pools): an activation that rolls several dice into a pool is one gain
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
Due: biome-fix-staged

docs(settings): the Movement Tracking hint says features react in a started combat
  public/lang/en.json
Due: biome-fix-staged

fix(rules): movement triggers fire only in a started combat
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/system/rules.md
  public/lang/en.json
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

docs(rules): say "within N spaces" for the ally distance, not "range"
  docs/documentation/gm/combat.md
  public/lang/en.json
Due: biome-fix-staged

fix(movement): build standalone offers without the chooser field
  packs/classFeatures/core/hunter/thrill-of-the-hunt/fleet-feet.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/view/chat/MovementOfferCard.test.ts
  tests/integration/chatCards.test.ts
Due: biome-fix-staged

fix(chat): a failed Use on a Movement Trigger card tells the user
  public/lang/en.json
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
Due: biome-fix-staged

fix(chat): the movement trigger card shows who moved and how far
  docs/documentation/gm/combat.md
  public/lang/en.json
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged, prettier-svelte

feat(packs): Swift Fury offers its Free Move on a card when you gain Fury Dice
  packs/classFeatures/core/berserker/savage-arsenal/swift-fury.json
Due: biome-fix-staged

fix(chat): a standalone Movement Offer card says why under its title
  public/lang/en.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): a movement trigger card lets the owner use the feature and keeps what it does not know
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  public/lang/en.json
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/movementCardDataModels.test.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/movement/matchMovementTrigger.test.ts
  src/utils/movement/matchMovementTrigger.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

feat(movement): match a finished Movement against a trigger's geometry
  src/utils/movement/matchMovementTrigger.test.ts
  src/utils/movement/matchMovementTrigger.ts
Due: biome-fix-staged

fix(rules): find the Free Move token without the canvas
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/findActorToken.test.ts
  src/utils/movement/findActorToken.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
Due: biome-fix-staged

feat(rules): freeMove and movementTrigger rules
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/chargePool/ruleChargeGate.test.ts
  src/utils/chargePool/ruleChargeGate.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

docs(rules): worked examples for Free Move and Movement Trigger
  docs/documentation/reference/_partials/freeMove.md
  docs/documentation/reference/_partials/movementTrigger.md
  docs/documentation/reference/_partials/poolGainMessage.md
Due: none

test(rules): the turn-start test for a combatant with no actor checks dispatch
  src/hooks/ruleEventDispatch.test.ts
Due: biome-fix-staged

test(movement): the offer card tests read the summary line and each creature's tag
  src/view/chat/MovementOfferCard.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

feat(packs): Chaos Lash offers its Reaction when an enemy moves adjacent
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
Due: biome-fix-staged

fix(movement): a Free Move rule for its own creature hides the direction field
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
Due: biome-fix-staged

refactor(chat): the note node declares its props type with the other components
  src/view/chat/components/TextNode.svelte
  types/components/TextNode.d.ts
Due: biome-fix-staged, prettier-svelte

test(movement): the trigger matcher's grid mock measures distance, as core does
  src/utils/movement/matchMovementTrigger.test.ts
Due: biome-fix-staged

test(movement): live suite for freeMove and movementTrigger
  tests/integration/chatCards.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

feat(packs): Advance! reminds of advantage after moving toward an enemy, and Coordinated Strike offers its group move
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/advance.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

fix(rules): a free move on pool gain or turn start posts once, through the rule lifecycle
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/chargePool/ruleChargeGate.test.ts
Due: biome-fix-staged

docs(movement): features that offer a Free Move on their own and features that react to movement
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/system/rules.md
Due: none

fix(movement): a Free Move card posts nothing when no creature gets an offer
  docs/documentation/reference/_partials/freeMove.md
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
Due: biome-fix-staged

fix(rules): Free Move and movement trigger cards follow the movement toggles
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/system/rules.md
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
Due: biome-fix-staged

feat(packs): Thunderous Steps offers its damage when a Raging Berserker stops next to creatures after 4 spaces this turn
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
Due: biome-fix-staged

docs(movement): the Free Move rule and its docs describe the card in plain words
  docs/documentation/gm/combat.md
  docs/documentation/reference/_partials/freeMove.md
  docs/documentation/reference/_partials/poolGainMessage.md
  public/lang/en.json
Due: biome-fix-staged

feat(packs): Sharpshooter's card shows the spaces moved this turn and the distance to the target
  packs/classFeatures/core/hunter/thrill-of-the-hunt/sharpshooter.json
Due: biome-fix-staged

fix(rules): two Free Move offers started together cannot share one charge
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/chargePool/ruleChargeGate.test.ts
  src/utils/chargePool/ruleChargeGate.ts
Due: biome-fix-staged

refactor(rules): a movement trigger has no charge pool of its own
  docs/system/rules.md
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  public/lang/en.json
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged
