Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(items): only suppress activation cards when rule automation is on
  src/documents/item/base.svelte.ts
  src/hooks/ruleEventDispatch.ts
  src/utils/isAutoApplyEnabled.ts
Due: biome-fix-staged

feat(dicePool): route spend requests to a closed character sheet
  docs/system/rules.md
  src/hooks/dicePoolSpendRequestRouter.test.ts
  src/hooks/dicePoolSpendRequestRouter.ts
  src/hooks/ready.ts
  src/utils/dicePool/pendingSpendRequests.ts
  src/view/sheets/components/DicePoolTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): keep Apply Damage clickable when the bank absorbs the hit
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
Due: biome-fix-staged

feat(effects): confirm before deleting item-granted Active Effects
  public/lang/en.json
  src/view/components/ActorConditionsList.svelte
Due: biome-fix-staged, prettier-svelte

fix(effects): list item-granted effects in the conditions panel and confirm deletion
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
Due: biome-fix-staged, prettier-svelte

feat(migration): backfill That all you got?! damage-reduction spend effect
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration029ThatAllYouGotDamageReduction.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(combat): let players roll initiative from their character sheet
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix(combat): let players roll initiative from their character sheet (#853)
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

feat(level-up): grant and remove spells during subclass selection (#702)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/removeSpells.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): damage reduction and banked Fury Dice support (#851)
  docs/system/rules.md
  packs/classFeatures/core/berserker/berserker-progression/that-all-you-got.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/base.svelte.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
  src/hooks/dicePoolSpendRequestRouter.test.ts
  src/hooks/dicePoolSpendRequestRouter.ts
  src/hooks/ready.ts
  src/hooks/ruleEventDispatch.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration029ThatAllYouGotDamageReduction.ts
  src/migration/migrations/index.ts
  src/models/rules/base.ts
  src/models/rules/damageBonus.ts
  src/models/rules/damageReduction.test.ts
  src/models/rules/damageReduction.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/bankedDamageReduction.test.ts
  src/utils/bankedDamageReduction.ts
  src/utils/dicePool/dicePoolConsumers.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/pendingSpendRequests.ts
  src/utils/dicePool/types.ts
  src/utils/isAutoApplyEnabled.ts
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/sheets/components/DicePoolPanel.svelte
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): show duplicate class features with source labels and selection
  public/lang/en.json
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(ancestry): style-guide conformance for ancestry bonus
  public/lang/en.json
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.svelte
  tests/harnesses/CharacterCreationStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(level-up): restrict spell schools with keep-and-convert exception
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-flame/fiery-dedication.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-frost/crown-of-ice.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-surges/electrical-dedication.json
  packs/ids.json
  packs/subclasses/core/mage/invoker-of-flame.json
  packs/subclasses/core/mage/invoker-of-frost.json
  packs/subclasses/core/mage/invoker-of-surges.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/restrictSpellSchools.test.ts
  src/models/rules/restrictSpellSchools.ts
  src/utils/classProgression/mage.expect.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

docs: cover damage reduction, banked effects, and either-or level-up options
  docs/documentation/characters/advancement.md
  docs/documentation/playing/conditions.md
  docs/documentation/playing/dice-and-chat.md
  docs/documentation/reference/_partials/damageReduction.md
Due: none

chore(tests): drop unused vitest import in prelocalize test
  src/utils/prelocalize.test.ts
Due: biome-fix-staged

fix(tests): defer integration pool setup past vitest's runner-start cap
  tests/integration/pool.ts
Due: biome-fix-staged

feat(rules): builder-editable suppressActivationCard envelope field
  docs/system/rules.md
  public/lang/en.json
  scripts/docs/generateReference.gen.ts
  src/models/rules/base.test.ts
  src/models/rules/base.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
Due: biome-fix-staged, prettier-svelte

docs: document the suppress activation card field for homebrewers
  docs/documentation/rules-builder/index.md
  scripts/docs/generateReference.gen.ts
Due: biome-fix-staged

feat(rules): resistance mode, monster resistances, and banked reduction expiry
  docs/documentation/gm/monsters.md
  docs/documentation/homebrew/monsters.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/hooks/bankedDamageReductionExpiry.test.ts
  src/hooks/bankedDamageReductionExpiry.ts
  src/models/rules/damageReduction.test.ts
  src/models/rules/damageReduction.ts
  src/nimble.ts
  src/view/dialogs/NPCMetaConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(ui): damage-modifier breakdown on chat cards and visible monster defenses
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/models/rules/damageReduction.ts
  src/view/chat/components/Targets.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(rules): attribute reductions to their source and stop accumulator duplication
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/models/rules/accumulatorRegistry.ts
  src/models/rules/base.ts
  src/models/rules/damageReduction.test.ts
  src/models/rules/damageReduction.ts
  src/utils/bankedDamageReduction.test.ts
  src/utils/bankedDamageReduction.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
Due: biome-fix-staged

docs: cover damage reduction half mode and the Reduced Damage card block
  docs/documentation/playing/dice-and-chat.md
  docs/documentation/reference/_partials/damageReduction.md
Due: none

fix: address review feedback on damage reduction follow-ups
  public/lang/en.json
  src/documents/actor/prepareDataAccumulatorReset.test.ts
  src/documents/chatMessage.ts
  src/view/sheets/pages/NPCCoreTab.svelte
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): let an explicit always suppress regardless of automation
  docs/system/rules.md
  src/documents/item/base.svelte.ts
  src/documents/item/shouldSuppressActivationCard.test.ts
  src/models/rules/base.test.ts
  src/models/rules/base.ts
Due: biome-fix-staged

feat(rules): add skillRollMode rule type for skill check advantage
  docs/documentation/reference/_partials/skillRollMode.md
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/leave-no-trace.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/rules/skillRollMode.test.ts
  src/models/rules/skillRollMode.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

fix(rules): honor predicates in initiativeRollMode and skillBonus
  src/models/rules/initiativeRollMode.test.ts
  src/models/rules/initiativeRollMode.ts
  src/models/rules/skillBonus.test.ts
  src/models/rules/skillBonus.ts
Due: biome-fix-staged

fix(rules): honor predicates in remaining data-prep rules
  src/models/rules/abilityBonus.test.ts
  src/models/rules/abilityBonus.ts
  src/models/rules/healingPotionBonus.test.ts
  src/models/rules/healingPotionBonus.ts
  src/models/rules/maxHitDice.test.ts
  src/models/rules/maxHitDice.ts
  src/models/rules/maxWounds.test.ts
  src/models/rules/maxWounds.ts
  src/models/rules/savingThrowBonus.test.ts
  src/models/rules/savingThrowBonus.ts
Due: biome-fix-staged

fix(actors): make self:fullHp an early domain tag
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/minion.ts
  src/documents/actor/npc.ts
  src/documents/actor/populateDerivedTags.test.ts
  src/documents/actor/soloMonster.ts
Due: biome-fix-staged

feat(rules): warn when early-phase rules predicate on late tags
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/leave-no-trace.json
  public/lang/en.json
  src/config.ts
  src/config/registerPredicateConfig.ts
  src/etc/Predicate.test.ts
  src/etc/Predicate.ts
  src/models/rules/base.test.ts
  src/models/rules/base.ts
  src/models/rules/savingThrowRollMode.ts
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte.test.ts
  src/view/rulesBuilder/components/PredicateBuilderState.svelte.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

docs(rules): clarify skillRollMode set/adjust ordering
  docs/documentation/reference/_partials/skillRollMode.md
  public/lang/en.json
Due: biome-fix-staged

fix(rules): make late-predicate guard phase-aware for dual-phase rules
  public/lang/en.json
  src/models/rules/base.test.ts
  src/models/rules/base.ts
  src/models/rules/grantMovement.ts
  src/models/rules/speedBonus.ts
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
Due: biome-fix-staged

feat(rules): add skillRollMode rule type for skill check advantage (#857)
  docs/documentation/reference/_partials/skillRollMode.md
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/leave-no-trace.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/rules/abilityBonus.test.ts
  src/models/rules/abilityBonus.ts
  src/models/rules/healingPotionBonus.test.ts
  src/models/rules/healingPotionBonus.ts
  src/models/rules/initiativeRollMode.test.ts
  src/models/rules/initiativeRollMode.ts
  src/models/rules/maxHitDice.test.ts
  src/models/rules/maxHitDice.ts
  src/models/rules/maxWounds.test.ts
  src/models/rules/maxWounds.ts
  src/models/rules/savingThrowBonus.test.ts
  src/models/rules/savingThrowBonus.ts
  src/models/rules/skillBonus.test.ts
  src/models/rules/skillBonus.ts
  src/models/rules/skillRollMode.test.ts
  src/models/rules/skillRollMode.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

fix(rules): make self:fullHp an early tag and guard late-tag predicates (#858)
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/leave-no-trace.json
  public/lang/en.json
  src/config.ts
  src/config/registerPredicateConfig.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/minion.ts
  src/documents/actor/npc.ts
  src/documents/actor/populateDerivedTags.test.ts
  src/documents/actor/soloMonster.ts
  src/etc/Predicate.test.ts
  src/etc/Predicate.ts
  src/models/rules/base.test.ts
  src/models/rules/base.ts
  src/models/rules/grantMovement.ts
  src/models/rules/savingThrowRollMode.ts
  src/models/rules/speedBonus.ts
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte.test.ts
  src/view/rulesBuilder/components/PredicateBuilderState.svelte.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): damage resistance mode, monster defenses, and banked reduction expiry (#855)
  docs/documentation/gm/monsters.md
  docs/documentation/homebrew/monsters.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/prepareDataAccumulatorReset.test.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/hooks/bankedDamageReductionExpiry.test.ts
  src/hooks/bankedDamageReductionExpiry.ts
  src/models/rules/accumulatorRegistry.ts
  src/models/rules/base.ts
  src/models/rules/damageReduction.test.ts
  src/models/rules/damageReduction.ts
  src/nimble.ts
  src/utils/bankedDamageReduction.test.ts
  src/utils/bankedDamageReduction.ts
  src/view/chat/components/Targets.svelte
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/pages/NPCCoreTab.svelte
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): builder-editable suppressActivationCard envelope field (#856)
  docs/documentation/playing/dice-and-chat.md
  docs/documentation/reference/_partials/damageReduction.md
  docs/documentation/rules-builder/index.md
  docs/system/rules.md
  public/lang/en.json
  scripts/docs/generateReference.gen.ts
  src/documents/item/base.svelte.ts
  src/documents/item/shouldSuppressActivationCard.test.ts
  src/models/rules/base.test.ts
  src/models/rules/base.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(docs): make the docs site installable under a pnpm workspace root
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
Due: none

fix(rules): reject spoofed-GM incoming-attack reaction requests
  docs/system/rules.md
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/utils/incomingAttackReactions.test.ts
  src/utils/incomingAttackReactions.ts
Due: biome-fix-staged

fix(rules): relay marker effect writes through the GM (#830)
  src/hooks/ready.ts
  src/models/rules/markTarget.test.ts
  src/models/rules/markTarget.ts
  src/utils/markTargetEffects.test.ts
  src/utils/markTargetEffects.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
