Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

test(movement): live movement tracking suite
  tests/integration/movementTracking.test.ts
Due: biome-fix-staged

fix(movement): match combatants by id and wait for a scene grid
  src/utils/movement/getSpacesMovedThisTurn.test.ts
  src/utils/movement/getSpacesMovedThisTurn.ts
Due: biome-fix-staged

feat(movement): requestMove primitive and owning-client plan relay
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/init.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

test(chat): move node card states
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNode.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(settings): movement offers automation toggle
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/settings/registerAutomationSettings.test.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(activation): move effect node with Movement Offers on the card
  docs/documentation/homebrew/activations.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/treeManipulation/createEffectNode.ts
  src/utils/treeManipulation/createMoveNode.ts
  src/view/chat/components/MoveNode.svelte
  src/view/dataPreparationHelpers/effectTree/getNodeComponent.ts
  src/view/dataPreparationHelpers/effectTree/groupNodes.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/components/MoveNode.d.ts
  types/effectTree.d.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): report the drag result from the mover's client
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

feat(movement): rebuild offers from the card and authorise who takes them
  public/lang/en.json
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferEntry.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/movement/takeMovementOffer.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): straight drags only for directed pushes
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
Due: biome-fix-staged

chore(movement): schema bounds, editor and settings cleanups, docs
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  src/models/chat/common.ts
  src/view/settings/AutomationSettingsDialog.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

test(movement): live suite for movement offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

fix(movement): refuse taken offers, cap stamps at the offer, drop the inert plan option
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/resolveMoveDistance.test.ts
Due: biome-fix-staged

fix(chat): move card plural button, taken state, one drag at a time
  public/lang/en.json
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

docs(movement): the push shape is a system convenience, not a rule
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
Due: none

docs(movement): Movement Offers arm the token
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
Due: none

fix(chat): the move node states the offer and records the result
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

test(movement): live suite for armed Movement Offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

feat(movement): offer a Movement by arming the token, not a card button
  public/lang/en.json
  src/documents/token/token.ts
  src/hooks/init.ts
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/findArmedMovementOffer.test.ts
  src/utils/movement/findArmedMovementOffer.ts
  src/utils/movement/movementOfferConstraints.test.ts
  src/utils/movement/movementOfferConstraints.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  src/utils/movement/takeMovementOffer.ts
  tests/mocks/foundry.ts
  types/movement.ts
Due: biome-fix-staged

fix(chat cards): show a damage roll once when the node has a target disposition
  src/documents/chatMessage.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/utils/treeManipulation/hasDispositionTarget.ts
  src/view/chat/components/ItemCardEffects.test.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
  src/view/dataPreparationHelpers/effectTree/processNodes.ts
  types/effectTree.d.ts
Due: biome-fix-staged

fix(chat cards): treat Any as no target disposition on the Apply Damage hint
  src/view/chat/components/ApplyDamageButton.svelte
  types/components/ApplyDamageButton.d.ts
Due: biome-fix-staged, prettier-svelte

fix(chat cards): let only an outcome child stand in for the root damage roll
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
Due: biome-fix-staged

test(chat cards): use the Vitest globals instead of importing them
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
Due: biome-fix-staged

feat(inventory): container objects that change what their contents cost (#818)
  docs/STYLE_GUIDE.md
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/items.md
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/documents/actor/getUsedInventorySlots.test.ts
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/models/item/ObjectDataModel.ts
  src/utils/inventoryContainers.test.ts
  src/utils/inventoryContainers.ts
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(inventory): equip containers that need it, drop stray pack edits, cover the untested paths (#818)
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  src/documents/item/object.test.ts
  src/utils/inventoryContainers.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

fix(inventory): drag a stored item out of its container (#818)
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(inventory): drag items in and out of containers, and unequip on stow (#818)
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/items.md
  packs/items/core/misc/large-sack.json
  packs/items/core/misc/quiver-and-ammo.json
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/documents/actor/storeItemInContainer.test.ts
  src/models/item/ObjectDataModel.ts
  src/utils/inventoryContainers.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): apply concentration to the caster on cast (#23)
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/spells.md
  docs/documentation/playing/conditions.md
  packs/secretSpells/core/necrotic/memory-veil.json
  packs/secretSpells/core/radiant/radiant-bond.json
  packs/secretSpells/core/wind/greater-windform.json
  packs/secretSpells/core/wind/lesser-windform.json
  packs/spells/core/fire/enchant-weapon.json
  packs/spells/core/fire/fiery-embrace.json
  packs/spells/core/lightning/electrocharge.json
  packs/spells/core/lightning/seething-storm.json
  packs/spells/core/necrotic/shadow-trap.json
  packs/spells/core/wind/boisterous-winds.json
  packs/spells/core/wind/fly.json
  public/lang/en.json
  src/documents/item/activationConcentration.test.ts
  src/documents/item/base.svelte.ts
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration062ConcentrationAppliesToCaster.ts
  src/migration/migrations/index.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.ts
  src/utils/applyCasterConcentration.test.ts
  src/utils/applyCasterConcentration.ts
  src/utils/applyConditionToActor.ts
  src/utils/concentrationSpellsPack.test.ts
  src/view/chat/ObjectCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/ConcentrationNode.svelte
Due: biome-fix-staged, prettier-svelte

refactor: drop comments the new tests now assert
  src/documents/item/base.svelte.ts
  src/documents/item/object.test.ts
  src/migration/migrations/Migration062ConcentrationAppliesToCaster.ts
  src/utils/applyCasterConcentration.ts
Due: biome-fix-staged

refactor: trim comments on the concentration branch to what earns its place
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  src/documents/item/activationConcentration.test.ts
  src/documents/item/base.svelte.ts
  src/documents/item/object.test.ts
  src/migration/migrations/Migration062ConcentrationAppliesToCaster.ts
  src/models/chat/common.ts
  src/utils/applyCasterConcentration.test.ts
  src/utils/applyCasterConcentration.ts
  src/utils/concentrationSpellsPack.test.ts
Due: biome-fix-staged

fix(spells): stamp the real concentration outcome on the card and guard the tail
  docs/STYLE_GUIDE.md
  src/documents/item/activationConcentration.test.ts
  src/documents/item/base.svelte.ts
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/utils/applyCasterConcentration.test.ts
  src/utils/applyCasterConcentration.ts
Due: biome-fix-staged

fix(chat cards): keep the Roll Damage button on deferred damage
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
Due: biome-fix-staged

fix(chat cards): narrow the disposition helper to clear a svelte-check error
  src/utils/treeManipulation/hasDispositionTarget.ts
  src/view/chat/components/ApplyDamageButton.svelte
Due: biome-fix-staged, prettier-svelte

fix(inventory): confirm before emptying a container, and tidy the review findings (#818)
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/items.md
  public/lang/en.json
  src/documents/actor/getUsedInventorySlots.test.ts
  src/documents/actor/storeItemInContainer.test.ts
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/utils/inventoryContainers.test.ts
  src/utils/inventoryContainers.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): address review on concentration-on-cast (#975)
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/spells.md
  docs/documentation/playing/conditions.md
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-sky-and-storm/master-of-storm.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/item/activationConcentration.test.ts
  src/documents/item/base.svelte.ts
  src/documents/item/object.test.ts
  src/migration/migrations/Migration062ConcentrationAppliesToCaster.ts
  src/models/chat/chatDataModels.test.ts
  src/models/rules/concentrationTrack.test.ts
  src/models/rules/concentrationTrack.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/applyCasterConcentration.test.ts
  src/utils/applyCasterConcentration.ts
  src/utils/applyConditionToActor.ts
  src/utils/concentrationSpellsPack.test.ts
  src/view/chat/components/ConcentrationNode.svelte
  src/view/chat/components/ConcentrationNode.test.ts
  src/view/chat/components/ConcentrationNode.testHarness.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(inventory): write equipped state and rules together, cover containers live (#818)
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/managers/RulesManager.ts
  tests/integration/containerInventory.test.ts
Due: biome-fix-staged

refactor(chat): hoist the shared card-section styles, cover concentration live
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_chat-card.scss
  src/view/chat/FeatureCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/ConcentrationNode.svelte
  src/view/chat/components/GrantedActionOffers.svelte
  src/view/chat/components/IncomingReactionPrompts.svelte
  src/view/chat/components/ItemCardEffects.svelte
  src/view/chat/components/Targets.svelte
  tests/integration/concentration.test.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): hold at most the concentration tracks a rule names (#23)
  docs/STYLE_GUIDE.md
  docs/documentation/playing/conditions.md
  docs/documentation/reference/_partials/concentrationTrack.md
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-sky-and-storm/master-of-storm.json
  packs/magicItems/core/gmGuide/cloak-of-lesser-windform.json
  packs/magicItems/core/wands/wand-of-fly.json
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/concentrationToggle.test.ts
  src/documents/actor/endOneConcentration.test.ts
  src/documents/actor/endOneConcentration.ts
  src/documents/concentration.ts
  src/documents/item/activationConcentration.test.ts
  src/documents/item/base.svelte.ts
  src/migration/migrations/Migration062ConcentrationAppliesToCaster.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/concentrationTrack.test.ts
  src/models/rules/concentrationTrack.ts
  src/scss/components/_chat-card.scss
  src/utils/applyConditionToActor.ts
  src/utils/concentrationPack.test.ts
  src/utils/concentrationSpellsPack.test.ts
  src/view/chat/SafeRestCard.svelte
  tests/integration/concentration.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

fix(inventory): keep container helpers private, route drops into the bag they land on (#818)
  docs/STYLE_GUIDE.md
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/items.md
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/actor/getUsedInventorySlots.test.ts
  src/documents/actor/storeItemInContainer.test.ts
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/managers/RulesManager.ts
  src/models/item/ObjectDataModel.ts
  src/utils/containerConfig.ts
  src/utils/inventoryContainers.test.ts
  src/utils/inventoryContainers.ts
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.state.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.ts
  tests/fixtures/containableObject.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
  tests/integration/containerInventory.test.ts
  types/inventoryContainers.d.ts
Due: biome-fix-staged, prettier-svelte

fix(chat cards): let a stored Any keep a bare damage node on the card
  docs/documentation/homebrew/activations.md
  src/utils/treeManipulation/findNodesByContexts.ts
  src/utils/treeManipulation/isAwaitingDeferredRoll.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
Due: biome-fix-staged

refactor(chat cards): share isAwaitingDeferredRoll across its three callers
  src/utils/buildDeferredDamagePatch.ts
  src/view/chat/components/DamageNode.svelte
Due: biome-fix-staged, prettier-svelte
