Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(ui): improve charge indicator button hover text contrast
  src/view/components/ChargeIndicator.svelte
Due: prettier-svelte

fix(ui): correct charge consumption delta display format
  src/view/chat/components/ChargeConsumptionNode.svelte
Due: prettier-svelte

feat(chargePool): add implicit self-consumption for item-scoped pools
  src/utils/chargePool/helpers.ts
Due: biome-fix-staged

feat(chargePool): add onWound, onTurnStart, onTurnEnd, onKill, and onBloodied recovery triggers
  src/documents/chatMessage.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/chargePoolTriggers/bloodiedTrigger.ts
  src/hooks/chargePoolTriggers/chargePoolTriggers.test.ts
  src/hooks/chargePoolTriggers/killTrigger.ts
  src/hooks/chargePoolTriggers/turnTrigger.ts
  src/hooks/chargePoolTriggers/woundTrigger.ts
  src/nimble.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePoolRuleConfig.ts
Due: biome-fix-staged

fix(ui): unify charge consumption and recovery display format
  src/view/chat/components/ChargeConsumptionNode.svelte
Due: prettier-svelte

fix(chargePool): add runtime warning when chargeConsumer can't resolve pool
  src/utils/chargePool/chargePoolConsume.ts
Due: biome-fix-staged

feat(charges): anchor configure dialog above-and-left of pill
  src/documents/dialogs/GenericDialog.svelte.ts
  src/view/components/ChargeIndicator.svelte
Due: biome-fix-staged, prettier-svelte

fix: formatting
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

chore(rules): add pack data audit for upcoming choice tightening
  build/scripts/audit-rule-choices.mjs
  package.json
Due: biome-fix-staged

feat(rules): foundation for rules builder UI
  src/managers/RulesManager.test.ts
  src/managers/RulesManager.ts
  src/models/rules/base.test.ts
  src/models/rules/base.ts
  src/models/rules/speedBonus.test.ts
  src/models/rules/speedBonus.ts
Due: biome-fix-staged

feat(rules): add schema-driven rules builder UI
  src/models/rules/abilityBonus.test.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/armorClass.test.ts
  src/models/rules/conditionImmunity.test.ts
  src/models/rules/damageBonus.test.ts
  src/models/rules/grantProficiencies.test.ts
  src/models/rules/grantSpells.test.ts
  src/models/rules/initiativeRollMode.test.ts
  src/models/rules/note.test.ts
  src/models/rules/savingThrowBonus.test.ts
  src/models/rules/savingThrowRollMode.test.ts
  src/models/rules/skillBonus.test.ts
  src/models/rules/speedBonus.test.ts
  src/view/rulesBuilder/actions/reorderable.svelte.ts
  src/view/rulesBuilder/components/DocumentPicker.svelte
  src/view/rulesBuilder/components/FormulaInput.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte.test.ts
  src/view/rulesBuilder/components/RichTextEditor.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte.test.ts
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(reorderable): take onReorder callback in options
  src/view/rulesBuilder/actions/reorderable.svelte.ts
Due: biome-fix-staged

fix(rules): untrack one-time prop reads in builder components
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
Due: prettier-svelte

feat(rules): replace JSON editor with the schema builder
  src/view/sheets/pages/ItemRulesTab.svelte
Due: prettier-svelte

test(rules): add manager add+reload integration test and 15-rule fixture
  src/managers/RulesManager.test.ts
  tests/fixtures/index.ts
  tests/fixtures/rulesBuilderPerf.ts
Due: biome-fix-staged

fix(character-creation): deduplicate world-item spells against compendium source in spell index
  src/utils/getSpells.ts
Due: biome-fix-staged

fix(reorderable): detect drag handle via mousedown
  src/view/rulesBuilder/actions/reorderable.svelte.ts
Due: biome-fix-staged

feat(rules): friendlier field labels, hints, and placeholders
  src/models/rules/abilityBonus.ts
  src/models/rules/applyCondition.ts
  src/models/rules/armorClass.ts
  src/models/rules/conditionImmunity.ts
  src/models/rules/damageBonus.ts
  src/models/rules/grantItem.ts
  src/models/rules/grantSpells.ts
  src/models/rules/healingPotionBonus.ts
  src/models/rules/incrementHitDice.ts
  src/models/rules/initiativeBonus.ts
  src/models/rules/initiativeRollMode.ts
  src/models/rules/maxHitDice.ts
  src/models/rules/maxHpBonus.ts
  src/models/rules/maxWounds.ts
  src/models/rules/savingThrowBonus.ts
  src/models/rules/savingThrowRollMode.ts
  src/models/rules/skillBonus.ts
  src/models/rules/speedBonus.ts
  src/view/rulesBuilder/components/FormulaInput.svelte
Due: biome-fix-staged, prettier-svelte

feat(rules-builder): slim rule cards, gate power-user controls
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rules-builder): redesign rule type picker as compact icon grid
  src/view/rulesBuilder/components/RuleTypePicker.svelte
Due: prettier-svelte

feat(rules): launch builder in its own window
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/sheets/pages/ItemRulesTab.svelte
Due: prettier-svelte

feat(character-creation): auto-equip starting equipment items on character creation
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

fix(pack): suggestion fix
  packs/legendaryMonsters/core/dregatha-thrice-chinned.json
Due: biome-fix-staged

feat(inventory): improve equip toggle button with contextual icons and tooltip
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(character-creation): auto-equip starting equipment items on character creation (#754)
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

fix(character-creation): deduplicate world-item spells against compendium source in spell index (#753)
  src/utils/getSpells.ts
Due: biome-fix-staged

fix(combat): end turn QoL updates, action tracker visibility, and combatant init
  packs/backgrounds/core/fearless.json
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/utils/combatState.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

refactor(reorderable): scope action to cross-list copy only
  src/view/rulesBuilder/actions/reorderable.svelte.ts
Due: biome-fix-staged

feat(rules-builder): priority-driven ordering and cross-sheet drag-copy
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/types.d.ts
  src/view/sheets/pages/ItemRulesTab.svelte
Due: biome-fix-staged, prettier-svelte

chore(rules-builder): trim opinion comments and verbose docblocks
  src/models/rules/_widgetOption.ts
  src/view/rulesBuilder/components/PredicateBuilder.svelte
  src/view/rulesBuilder/components/PredicateBuilder.svelte.test.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

feat(rules-builder): collapsible rule cards with collapse-all toggle
  src/view/rulesBuilder/RulesBuilderWindow.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rules-builder): polish grantSpells picker UX
  src/models/rules/_widgetOption.ts
  src/models/rules/grantSpells.ts
  src/view/rulesBuilder/actions/reorderable.svelte.ts
  src/view/rulesBuilder/components/DocumentPicker.svelte
  src/view/rulesBuilder/components/RuleCard.allRules.test.ts
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

feat(rules-tab): per-row JSON editor as builder fallback
  src/view/sheets/pages/ItemRulesTab.svelte
Due: prettier-svelte

chore(lint): fix eslint issues
  eslint.config.js
  src/view/rulesBuilder/components/RichTextEditor.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
Due: biome-fix-staged, prettier-svelte

chore(deps): allow SchemaFieldRenderer self-import for recursion
  .dependency-cruiser.cjs
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
Due: prettier-svelte

chore(lint): remove eslint comment
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
Due: prettier-svelte

feat(inventory): improve equip toggle button with contextual icons and tooltip (#755)
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: biome-fix-staged, prettier-svelte
