Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

DATA(config): Add Torch light-source config for Nimble item schema
  public/torch-nimble.json
Due: biome-fix-staged

DOCS: Mark Torch module audit complete with implementation notes
  progress.txt
Due: none

TEST(e2e): Add Torch compatibility and get-users Playwright scripts
  playwright/get-users.cjs
  playwright/torch-compatibility-test.js
Due: biome-fix-staged

CHG: Add timeout to Claude commands in Ralph scripts
  ralph/afk-local.sh
  ralph/once-auto.sh
  ralph/once.sh
Due: none

Update progress.txt
  progress.txt
Due: none

CHG: Add option to ignore missing files in format action
  .github/workflows/format.yml
Due: none

CHG: Mark Torch item schema configuration as complete
  PRD.md
Due: none

AUDIT: Foundry MCP Bridge actor creation — all types pass, no schema mismatches
  PRD.md
  progress.txt
Due: none

CHG: Configure Torch for Nimble item schema
  PRD.md
Due: none

FEAT: Add nimble-coder agent for PRD-driven iterations
  .claude/agents/nimble-coder.md
  .claude/commands/nimble-coder.md
  ralph/afk-docker.sh
  ralph/afk-local.sh
  ralph/once-auto.sh
  ralph/once.sh
Due: none

CHG: Enhance nimble-coder autonomy rules
  .claude/agents/nimble-coder.md
Due: none

fix: longbow damage
  packs/items/core/weapons/longbow.json
Due: biome-fix-staged

fix: longbow damage (#432)
  packs/items/core/weapons/longbow.json
Due: biome-fix-staged

DOCS(prd): update module-compat directory path for automated-animations config
  PRD.md
Due: none

CHG: Improve debug message formatting for Torch compatibility
  docs/automated-animations-integration.md
  src/hooks/torchCompatibility.ts
Due: biome-fix-staged

PR Reviews addressed
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

PR Review items addressed
  src/config/registerConditionsConfig.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/heroicActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/combatTracker.utils.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/layout.utils.ts
  src/view/ui/ctTopTracker/resources.utils.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/uiState.svelte.ts
Due: biome-fix-staged, prettier-svelte

FEAT(module-compat): Add Automated Animations Nimble preset config
  PRD.md
  docs/automated-animations-integration.md
  progress.txt
  public/module-compat/automated-animations-nimble.json
Due: biome-fix-staged

CHG: Update JSON schema for automated animations
  docs/automated-animations-integration.md
Due: none

chore: add JSDoc documentation to dice roll attack functions
  src/dice/DamageRoll.ts
  src/dice/DicePool.ts
  src/dice/NimbleRoll.ts
  src/dice/constructD20RollFormula.ts
  src/dice/constructD20Term.ts
  src/dice/getDeterministicBonus.ts
  src/dice/simplifyOperatorTerms.ts
  src/dice/terms/PrimaryDie.ts
  src/managers/ItemActivationManager.ts
  src/managers/ModifierManager.ts
  src/utils/getRollFormula.ts
Due: biome-fix-staged

chore: add JSDoc documentation to dice roll attack functions (#418)
  src/dice/DamageRoll.ts
  src/dice/DicePool.ts
  src/dice/NimbleRoll.ts
  src/dice/constructD20RollFormula.ts
  src/dice/constructD20Term.ts
  src/dice/getDeterministicBonus.ts
  src/dice/simplifyOperatorTerms.ts
  src/dice/terms/PrimaryDie.ts
  src/managers/ItemActivationManager.ts
  src/managers/ModifierManager.ts
  src/utils/getRollFormula.ts
Due: biome-fix-staged

feat(sheets): floating combat actions tracker on PC sheet (#424)
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

PR Review items
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  src/view/ui/ctTopTracker/uiState.svelte.ts
Due: biome-fix-staged, prettier-svelte

DOCS: Add hero-classes ability reference docs for auto-animations
  docs/hero-classes/beastmaster.md
  docs/hero-classes/berserker.md
  docs/hero-classes/commander.md
  docs/hero-classes/hunter.md
  docs/hero-classes/mage.md
  docs/hero-classes/oathbreaker.md
  docs/hero-classes/oathsworn.md
  docs/hero-classes/reaver.md
  docs/hero-classes/shadowmancer.md
  docs/hero-classes/shepherd.md
  docs/hero-classes/songweaver.md
  docs/hero-classes/spellblade.md
  docs/hero-classes/stormshifter.md
  docs/hero-classes/the-cheat.md
  docs/hero-classes/zephyr.md
Due: none

CHG: Remove Docker sandbox and afk-ralph scripts
  Dockerfile.sandbox
  afk-ralph.sh
  progress.txt
Due: none

DOCS: Add nimble-ability-refs skill for spell/attack/ability lookups
  .claude/skills/nimble-ability-refs/SKILL.md
  .claude/skills/nimble-ability-refs/assets/README.md
  .claude/skills/nimble-ability-refs/references/README.md
  .claude/skills/nimble-ability-refs/scripts/search-packs.sh
  CLAUDE.md
  PRD.md
Due: none

Update es.json
  public/lang/es.json
Due: biome-fix-staged

docs: add PR guidelines and Discord link to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: add PR guidelines and Discord link to CONTRIBUTING.md (#439)
  CONTRIBUTING.md
Due: none

docs: update planning documents to indicate ongoing development and potential changes
  docs/planning/architecture.md
  docs/planning/epics.md
  docs/planning/product-vision.md
  docs/planning/ux-design-directions.md
  docs/planning/ux-design-specification.md
Due: none

docs: add planning docs, system docs section, and polish landing page
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/FullscreenIframe.vue
  docs/.vitepress/theme/index.ts
  docs/index.md
  docs/planning/architecture.md
  docs/planning/epics.md
  docs/planning/product-vision.md
  docs/planning/ux-design-directions.md
  docs/planning/ux-design-specification.md
  docs/public/ux-design-directions.html
  docs/system/index.md
Due: biome-fix-staged

chore: add planning artifacts and UX design directions
  _bmad-output/planning-artifacts/architecture.md
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/prd-validation-report.md
  _bmad-output/planning-artifacts/prd.md
  _bmad-output/planning-artifacts/ux-design-specification.md
  _bmad-output/ux-design-directions.html
Due: none

chore: remove version specification for pnpm action in deployment workflow
  .github/workflows/docs-deploy.yml
Due: none

chore: add step to disable Jekyll in docs deployment workflow
  .github/workflows/docs-deploy.yml
Due: none

chore: add initial docs page and deployment workflow
  .github/workflows/docs-deploy.yml
  docs/.gitignore
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/RELEASE_GUIDE.md
  docs/STYLE_GUIDE.md
  docs/contributing.md
  docs/index.md
  docs/package.json
  docs/pnpm-lock.yaml
Due: biome-fix-staged

chore: add initial agent guidelines and instructions files
  .clinerules
  .cursorrules
  .github/copilot-instructions.md
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

chore: add Claude Code settings, MCP config, and gitignore updates
  .claude/settings.json
  .gitignore
  .mcp.json
Due: biome-fix-staged

chore: trigger update
  docs/index.md
Due: none

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
