Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

Add size options UI control to ancestry sheet
  src/view/sheets/AncestrySheet.svelte
Due: prettier-svelte

Format code with Biome
  src/view/sheets/AncestrySheet.svelte
Due: prettier-svelte

feat(ancestry): rework size selection for authoring and character creation
  public/lang/en.json
  src/config.ts
  src/view/dialogs/components/characterCreator/AncestrySizeSelection.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/components/SizeOptionsSelect.svelte
  src/view/sheets/components/sizeSelection.test.ts
  src/view/sheets/components/sizeSelection.ts
Due: biome-fix-staged, prettier-svelte

refactor(character-creation): number the ancestry option steps
  public/lang/en.json
  src/config.ts
  src/view/dialogs/components/characterCreator/AncestrySizeSelection.svelte
Due: biome-fix-staged, prettier-svelte

chore: add a release note generator claude command (#869) (#903)
  .claude/commands/nimble-release-notes.md
Due: none

fix(ancestry): restore the published size when the last one is removed
  public/lang/en.json
  src/models/item/AncestryDataModel.ts
  src/utils/sizeSelection.test.ts
  src/utils/sizeSelection.ts
  src/view/dataPreparationHelpers/metaData/prepareAncestryMetadata.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestrySizeSelection.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/components/SizeOptionsSelect.svelte
  src/view/sheets/components/sizeSelection.ts
Due: biome-fix-staged, prettier-svelte

feat(migration): Commander pack repair
  src/migration/Migration037CommanderPackRepair.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration037CommanderPackRepair.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(packs): drop placeholder damage nodes from Hold the Line! and Field Medic
  packs/classFeatures/core/commander/commander-progression/field-medic.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
Due: biome-fix-staged

feat(packs): track Taunting Strike uses and offer the Taunt
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-bulwark/taunting-strike.json
Due: biome-fix-staged

feat(packs): Coordinated Strike riders for As One! and the capstones
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

feat(packs): Vanguard charge pool bonuses
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/experienced-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
Due: biome-fix-staged

feat(packs): grant the ally attack from Coordinated Strike
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

feat(migration): Commander Coordinated Strike automation
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration036CommanderCoordinatedStrike.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(packs): correct Coordinated Strike targeting and reminder data
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

fix(packs): drop a level that grants no extra use from Master Commander
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  src/migration/migrations/Migration036CommanderCoordinatedStrike.ts
Due: biome-fix-staged

fix(packs): repair I Can Do This ALL DAY!
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
Due: biome-fix-staged

feat(packs): make Coordinated Strike a zero-cost activation
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

feat(packs): 1/encounter gates for Hold the Line! and I Can Do This ALL DAY!
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
Due: biome-fix-staged

feat(packs): scale Coordinated Strike uses with Master Commander
  packs/classFeatures/core/commander/commander-progression/master-commander.json
Due: biome-fix-staged

fix(packs): drop placeholder damage nodes from Combat Tactics
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
Due: biome-fix-staged

fix(packs): stop Move it! Move it! dealing thunder damage
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
Due: biome-fix-staged

feat(migration): Coordinated Strike riders, and drop migration tests
  src/migration/Migration035CommanderCoordinatedStrike.test.ts
  src/migration/Migration037CommanderPackRepair.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration038CommanderStrikeRiders.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

test(migration): restore Migration035 pack-parity tests
  src/migration/Migration035CommanderCoordinatedStrike.test.ts
Due: biome-fix-staged

feat(packs): add Coordinated Strike use pools
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

feat(rules): add a subclass domain tag
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  src/documents/actor/character.ts
  src/documents/actor/populateDerivedTags.test.ts
Due: biome-fix-staged

fix(ui): keep the tracker's pending action marker inside the card
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

fix(chat): report a granted action's target instead of refusing it
  public/lang/en.json
  src/view/chat/components/GrantedActionOffers.svelte
  src/view/chat/components/GrantedActionOffers.test.ts
  src/view/chat/utils/resolveGrantedOfferTargeting.test.ts
  src/view/chat/utils/resolveGrantedOfferTargeting.ts
Due: biome-fix-staged, prettier-svelte

feat(packs): gate the Coordinated Strike capstones to once per encounter
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

feat(ui): let the charge badge resolve its own pools
  src/view/components/ChargeIndicator.svelte
  src/view/components/ChargeIndicator.test.ts
  types/components/ChargeIndicator.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): let a charge pool opt out of being displayed
  docs/documentation/reference/_partials/chargePool.md
  public/lang/en.json
  src/models/rules/chargePool.ts
  src/utils/chargePool/chargePoolPreview.ts
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolService.test.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged

fix(ui): keep hidden charge pools adjustable
  public/lang/en.json
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePoolService.test.ts
  src/view/components/ChargeIndicator.svelte
  src/view/dialogs/ConfigureChargesDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(combat): fold pending action grants at turn start
  src/hooks/combatantHooks/pendingActionDeltaFold.test.ts
  src/hooks/combatantHooks/pendingActionDeltaFold.ts
  src/nimble.ts
Due: biome-fix-staged

feat(migration): Coordinated Strike encounter gate
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration039CommanderEncounterGate.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(ui): pluralise and correct the pending action wording
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/utils/pendingActionWording.test.ts
  src/utils/pendingActionWording.ts
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged

fix(packs): show one charge badge on Coordinated Strike, not three
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

feat(ui): show charges on the actions tab
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.testHarness.svelte
  src/view/sheets/components/CustomReactionsPanel.svelte
  src/view/sheets/components/CustomReactionsPanel.test.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/components/WeaponCard.test.ts
  types/components/WeaponCard.d.ts
Due: biome-fix-staged, prettier-svelte

feat(chat): report action adjustments on the activation card
  src/hooks/actionEconomySystem.test.ts
  src/hooks/actionEconomySystem.ts
  src/utils/actionDeltaSummary.test.ts
  src/utils/actionDeltaSummary.ts
  src/view/chat/FeatureCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/ActionDeltaSummaryNode.svelte
Due: biome-fix-staged, prettier-svelte

fix(combat): all-allies action grants no longer include the granter
  src/hooks/actionEconomySystem.test.ts
  src/hooks/actionEconomySystem.ts
Due: biome-fix-staged

fix(chat): block a granted action aimed at its own recipient
  public/lang/en.json
  src/view/chat/components/GrantedActionOffers.svelte
  src/view/chat/components/GrantedActionOffers.test.ts
  src/view/chat/utils/resolveGrantedOfferTargeting.test.ts
  src/view/chat/utils/resolveGrantedOfferTargeting.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): let a charge pool honour its own predicate
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged
