Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(movement): the ruler shows a character's Moves on its own turn
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  public/templates/hud/waypoint-label.hbs
  src/documents/token/tokenRuler.ts
  src/scss/components/_token-ruler.scss
  src/utils/movement/markMoveBands.test.ts
  src/utils/movement/markMoveBands.ts
  src/utils/movement/moveBandOptions.test.ts
  src/utils/movement/moveBandOptions.ts
  types/movement.ts
Due: biome-fix-staged

feat(activation): move effect node with Movement Offers on the card
  docs/documentation/homebrew/activations.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/treeManipulation/createEffectNode.ts
  src/utils/treeManipulation/createMoveNode.ts
  src/view/chat/components/MoveNode.svelte
  src/view/dataPreparationHelpers/effectTree/getNodeComponent.ts
  src/view/dataPreparationHelpers/effectTree/groupNodes.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/components/MoveNode.d.ts
  types/effectTree.d.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): turning a movement toggle on or off lapses every open offer
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  src/utils/movement/registerMovementOffers.test.ts
  src/utils/movement/registerMovementOffers.ts
Due: biome-fix-staged

fix(chat): only the cards that render move nodes set the TARGETS context
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ReactionCard.svelte
  src/view/chat/targetsSection.ts
Due: biome-fix-staged, prettier-svelte

feat(movement): the ruler label says which offered movement a drag uses
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  public/lang/en.json
  public/templates/hud/waypoint-label.hbs
  src/documents/token/tokenRuler.ts
  src/scss/components/_token-ruler.scss
  src/scss/main.scss
  src/utils/movement/markWaypointsPastOffer.test.ts
  src/utils/movement/markWaypointsPastOffer.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): a target whose token is gone keeps its tag in the move node
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

feat(settings): movement offers automation toggle
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/settings/registerAutomationSettings.test.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): the move node states the offer and records the result
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): a move distance formula that cannot be read warns in the console
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
Due: biome-fix-staged

fix(movement): a finished Movement settles every open offer its token carries
  docs/documentation/gm/combat.md
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
Due: biome-fix-staged

fix(movement): only a turn that ends in a started combat ends a waiting move, and only for its combatants
  src/hooks/movementOffers.test.ts
  src/hooks/movementOffers.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.ts
Due: biome-fix-staged

refactor(movement): remove the move node's unused chooser field
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/utils/treeManipulation/createMoveNode.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): Tab takes a drag through the offered movement and each of core's movement actions
  src/documents/token/token.ts
  src/documents/token/tokenLayer.ts
  src/utils/movement/cycleOfferedDragAction.test.ts
  src/utils/movement/cycleOfferedDragAction.ts
Due: biome-fix-staged

fix(chat): move card plural button, taken state, one drag at a time
  public/lang/en.json
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): a card that shows move tags must say whether it has a Targets section
  src/view/chat/targetsSection.ts
Due: biome-fix-staged

fix(movement): refuse taken offers, cap stamps at the offer, drop the inert plan option
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/resolveMoveDistance.test.ts
Due: biome-fix-staged

feat(movement): Tab switches a drag between the offered movement and the token's own
  docs/documentation/gm/combat.md
  public/lang/en.json
  public/templates/hud/waypoint-label.hbs
  src/documents/token/token.ts
  src/documents/token/tokenLayer.ts
  src/documents/token/tokenRuler.ts
  src/hooks/init.ts
  src/scss/components/_token-ruler.scss
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(movement): a toggle change untracks each waiting move, and its tag states the move
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  src/hooks/movementOffers.test.ts
  src/hooks/movementOffers.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MovementStatusChip.svelte
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
  tests/integration/movementOffers.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

docs(movement): the card shows "in any direction" for Forced Movement
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
Due: none

feat(movement): stamp Movement Offers on the card once and read them from there
  docs/STYLE_GUIDE.md
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/documents/token/token.ts
  src/documents/token/tokenRuler.ts
  src/models/chat/common.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/findArmedMovementOffer.test.ts
  src/utils/movement/findArmedMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferEntry.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

test(movement): the live offer suite expects a drop to settle every open offer
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

test(movement): live suite for movement offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

feat(movement): an open Movement Offer lapses when its combat turn ends
  public/lang/en.json
  src/models/chat/common.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/registerMovementOffers.test.ts
  src/utils/movement/registerMovementOffers.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): Movement Offers work only while Movement Tracking is on
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): a Movement Offer reads as one short line
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/utils/movement/movementOffers.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): each dragged token names its own Movement Offer on the drop
  src/documents/token/token.ts
  src/utils/movement/movementOfferTag.test.ts
  src/utils/movement/movementOfferTag.ts
Due: biome-fix-staged

docs(movement): the combat page says the token is dragged as usual while a toggle is off
  docs/documentation/gm/combat.md
Due: none

feat(rules): a movementTrigger rule whispers its card to the feature's owner and the GM, unless it is set to show it to everyone
  public/lang/en.json
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
Due: biome-fix-staged

refactor(chat): remove the Movement context stamp and its note placeholders
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/activations.md
  packs/classFeatures/core/hunter/thrill-of-the-hunt/sharpshooter.json
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/movementContext.test.ts
  src/utils/movement/movementContext.ts
  src/view/chat/components/TextNode.svelte
  src/view/chat/components/TextNode.test.ts
  src/view/chat/components/TextNode.testHarness.svelte
  src/view/dataPreparationHelpers/resolveMovementPlaceholders.ts
  types/components/TextNode.d.ts
Due: biome-fix-staged, prettier-svelte

feat(packs): Fleet Feet and Chaos Lash offer their moves
  packs/classFeatures/core/hunter/thrill-of-the-hunt/fleet-feet.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
Due: biome-fix-staged

feat(chat): a Movement Offer card of its own, and a card that offers an item after a Movement
  public/lang/en.json
  public/system.json
  src/hooks/renderChatMessage.ts
  src/models/chat/MovementOfferCardDataModel.ts
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/models/chat/movementCardDataModels.test.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  types/components/MovementOfferCard.d.ts
  types/components/MovementTriggerCard.d.ts
Due: biome-fix-staged, prettier-svelte

test(dice pools): a batched gain announces the faces before the rolls, then the faces after
  src/managers/ItemActivationManager.poolNode.test.ts
Due: biome-fix-staged

fix(rules): the Move for Free rule and its docs use the books' words
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
Due: biome-fix-staged

fix(rules): movement triggers fire only in a started combat
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/system/rules.md
  public/lang/en.json
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

refactor(rules): a movement trigger has no charge pool of its own
  docs/system/rules.md
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  public/lang/en.json
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

refactor(dice pools): one test decides what counts as a pool gain
  src/hooks/poolGainMessage.ts
  src/hooks/ruleEventDispatch.ts
  src/utils/dicePool/poolGain.test.ts
  src/utils/dicePool/poolGain.ts
Due: biome-fix-staged

docs(rules): say "within N spaces" for the ally distance, not "range"
  docs/documentation/gm/combat.md
  public/lang/en.json
Due: biome-fix-staged

feat(packs): Thunderous Steps offers its damage when a Raging Berserker stops next to creatures after 4 spaces this turn
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
Due: biome-fix-staged

fix(rules): "allies within" means the same on both movement rules, and 0 is every ally on the scene
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/alliesWithin.test.ts
  src/utils/movement/alliesWithin.ts
  src/utils/movement/matchMovementTrigger.ts
Due: biome-fix-staged

feat(movement): match a finished Movement against a trigger's geometry
  src/utils/movement/matchMovementTrigger.test.ts
  src/utils/movement/matchMovementTrigger.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
