Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

refactor(rest): share countBy, thin the swap section script, find focus targets without a selector
  docs/STYLE_GUIDE.md
  src/utils/collectOptionPoolRequirements.ts
  src/utils/countBy.ts
  src/utils/planOptionSwap.ts
  src/utils/summarizeOptionSwap.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
Due: biome-fix-staged, prettier-svelte

test(integration): pin a die taken from none and a refused stale swap
  tests/integration/optionSwap.test.ts
Due: biome-fix-staged

feat(rules): add the optionSwap, skillPointMove and poolMaxBonus rule types
  src/config/registerRulesConfig.ts
  src/models/rules/optionSwap.test.ts
  src/models/rules/optionSwap.ts
  src/models/rules/poolMaxBonus.test.ts
  src/models/rules/poolMaxBonus.ts
  src/models/rules/skillPointMove.test.ts
  src/models/rules/skillPointMove.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

feat(packs): give every class its rest re-pick feature and fix Jack of All Trades
  packs/classFeatures/core/berserker/berserker-progression/wrath-and-ruin.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/commander/commander-progression/rigorous-training.json
  packs/classFeatures/core/hunter/hunter-progression/remember-the-wild.json
  packs/classFeatures/core/mage/mage-progression/study.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/serve-selflessly.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/supplicate.json
  packs/classFeatures/core/shepherd/shepherd-progression/serve.json
  packs/classFeatures/core/songweaver/songweaver-progression/perform.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/be-wild.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/trade-secrets.json
  packs/classFeatures/core/zephyr/zephyr-progression/focus.json
  packs/ids.json
  src/utils/classProgression/berserker.expect.ts
  src/utils/classProgression/commander.test.ts
  src/utils/classProgression/hunter.expect.ts
  src/utils/classProgression/mage.expect.ts
  src/utils/classProgression/oathsworn.expect.ts
  src/utils/classProgression/shadowmancer.expect.ts
  src/utils/classProgression/shepherd.expect.ts
  src/utils/classProgression/songweaver.expect.ts
  src/utils/classProgression/stormshifter.expect.ts
  src/utils/classProgression/the-cheat.expect.ts
  src/utils/classProgression/zephyr.expect.ts
Due: biome-fix-staged

feat(migration): grant the swap features and pool max bonus items to existing characters
  .gitignore
  src/migration/MigrationRunnerBase.ts
  src/migration/compendiumSourceId.ts
  src/migration/migrations/Migration049PoolMaxBonusItems.ts
  src/migration/migrations/Migration050GrantOptionSwapFeatures.ts
  src/migration/migrations/Migration051JackOfAllTradesSkillPointMove.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

feat(utils): compute what a class grants, what the sheet holds, and what a rest may swap
  src/utils/collectHeldPicks.test.ts
  src/utils/collectHeldPicks.ts
  src/utils/collectOptionPoolCandidates.ts
  src/utils/collectOptionPoolEntitlement.test.ts
  src/utils/collectOptionPoolEntitlement.ts
  src/utils/collectOptionPoolRequirements.ts
  src/utils/collectSwappableOptions.test.ts
  src/utils/collectSwappableOptions.ts
  src/utils/countBy.ts
  src/utils/findMissingLevelSelections.test.ts
  src/utils/findMissingLevelSelections.ts
  src/utils/formatGroupName.ts
  src/utils/planOptionSwap.test.ts
  src/utils/planOptionSwap.ts
  src/utils/resolveOptionSwapOffer.test.ts
  src/utils/resolveOptionSwapOffer.ts
  src/utils/skillLimits.ts
  src/utils/summarizeOptionSwap.test.ts
  src/utils/summarizeOptionSwap.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/sheets/components/ClassProgressionLevelRow.state.svelte.ts
  src/view/sheets/components/ClassProgressionLevelRowUtils.ts
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTabUtils.ts
  types/optionSwap.d.ts
Due: biome-fix-staged

feat(rest): apply option swaps and skill point moves on a rest and report them on the card
  src/documents/actor/applyOptionSwap.test.ts
  src/documents/actor/character.ts
  src/managers/RestManager.ts
  src/models/actor/CharacterDataModel.ts
  src/models/chat/FieldRestCardDataModel.ts
  src/models/chat/SafeRestCardDataModel.ts
  src/view/chat/FieldRestCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/components/OptionChangesList.svelte
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.test.ts
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  tests/harnesses/CharacterLevelDownStateHarness.svelte
  types/components/OptionChangesList.d.ts
Due: biome-fix-staged, prettier-svelte

feat(ui): offer option swaps in the rest dialogs as cards, places and chips
  public/lang/en.json
  src/view/components/Hint.svelte
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/levelUpHelper/SkillPointAssignment.svelte
  src/view/dialogs/components/optionSwap/FeaturePeek.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.test.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
  src/view/dialogs/components/optionSwap/SkillMoveLine.svelte
  tests/fixtures/optionSwap.ts
  tests/harnesses/OptionSwapSectionStateHarness.svelte
  types/components/ClassFeatureSelection.d.ts
  types/components/FeaturePeek.d.ts
  types/components/OptionSwapSection.d.ts
  types/components/SkillMoveLine.d.ts
Due: biome-fix-staged, prettier-svelte

test(live): swap class options through the live rest dialogs
  tests/integration/README.md
  tests/integration/optionSwap.test.ts
Due: biome-fix-staged

docs: document swapping class options on a rest
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/character-options.md
  docs/documentation/playing/rest-and-recovery.md
  docs/documentation/reference/_partials/grantItem.md
  docs/documentation/reference/_partials/optionSwap.md
  docs/documentation/reference/_partials/poolMaxBonus.md
  docs/documentation/reference/_partials/skillPointMove.md
Due: none

chore: add a CodeRabbit config tuned to the repo's review rules
  .coderabbit.yaml
Due: none

docs(claude): route tasks to the specialist agents in CLAUDE.md
  CLAUDE.md
Due: none

chore(claude): track the specialist agent files
  .claude/agents/content-pack-agent.md
  .claude/agents/foundry-agent.md
  .claude/agents/nimble-rules-agent.md
  .claude/agents/quality-agent.md
  .claude/agents/rules-engine-agent.md
  .claude/agents/ui-agent.md
  .gitignore
Due: none

fix(ui): open the option hover card on keyboard focus as well as the pointer
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

fix: point to a more useful folder for nimblerules
  .claude/agents/nimble-rules-agent.md
  .gitignore
Due: none

feat(ui): move one skill point per point the rules grant, one line each
  docs/documentation/playing/rest-and-recovery.md
  public/lang/en.json
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.test.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
  src/view/dialogs/components/optionSwap/SkillMoveLine.svelte
  tests/harnesses/OptionSwapSectionStateHarness.svelte
  types/components/SkillMoveLine.d.ts
  types/optionSwap.d.ts
Due: biome-fix-staged, prettier-svelte

fix(claude): correct the rule description key and add RollTable UUIDs
  .claude/agents/content-pack-agent.md
  .claude/agents/foundry-agent.md
  .claude/agents/rules-engine-agent.md
  .claude/hooks/rules-context.md
  .coderabbit.yaml
  docs/system/rules.md
Due: none

chore: add a CodeRabbit config and track the Claude agent files (#952)
  .claude/agents/content-pack-agent.md
  .claude/agents/foundry-agent.md
  .claude/agents/nimble-rules-agent.md
  .claude/agents/quality-agent.md
  .claude/agents/rules-engine-agent.md
  .claude/agents/ui-agent.md
  .claude/hooks/rules-context.md
  .coderabbit.yaml
  .gitignore
  CLAUDE.md
  docs/system/rules.md
Due: none

test(spells): cover the level-up card's mana cost
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  tests/harnesses/LevelUpSpellCardStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

docs(settings): correct the upcast exception on Resource Spending
  docs/documentation/gm/settings.md
Due: none

refactor(spells): share one mana cost helper across the three cost sites
  src/utils/spell/getSpellManaCost.test.ts
  src/utils/spell/getSpellManaCost.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

test(spells): stub fromUuid with vi.stubGlobal in the level-up card test
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
Due: biome-fix-staged

fix(spells): cast at the spell's tier when the actor has no tier ladder
  src/view/dialogs/SpellUpcastDialog.svelte
Due: prettier-svelte

docs(spells): qualify the upcast mana cap by the Resource Spending setting
  docs/documentation/homebrew/spells.md
Due: none

fix(spells): point spell cost indicators at the spell tier
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

test(migration): assert every registered migration version is a number
  src/migration/migrationVersion.test.ts
Due: biome-fix-staged

fix(spells): bound upcasting from one helper in the dialog and the manager
  docs/documentation/homebrew/spells.md
  src/managers/ItemActivationManager.ts
  src/utils/spell/computeUpcastBounds.test.ts
  src/utils/spell/computeUpcastBounds.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

test(migration): assert the schema version constant matches the list
  src/migration/migrationVersion.test.ts
Due: biome-fix-staged

fix(spells): honour resource spending automation in the cast dialog
  src/managers/ItemActivationManager.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

chore(spells): drop an unused tier field and trim the upcast bounds JSDoc
  src/utils/spell/computeUpcastBounds.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

chore(spells): drop the SpellUpcastDialog debug logs
  src/documents/dialogs/SpellUpcastDialog.svelte.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

test(migration): drop the duplicate migration version test
  src/migration/migrationVersion.test.ts
Due: biome-fix-staged

fix(spells): find a level threshold nested inside $and or $or
  src/utils/spell/getHighestSpellTier.test.ts
  src/utils/spell/getHighestSpellTier.ts
Due: biome-fix-staged

feat(spells): derive unlocked spell tier from authored spell grants
  src/documents/actor/character.ts
  src/utils/spell/getHighestSpellTier.packs.test.ts
  src/utils/spell/getHighestSpellTier.test.ts
  src/utils/spell/getHighestSpellTier.ts
Due: biome-fix-staged

style(actor): drop em dashes from the spell tier comments
  src/documents/actor/character.ts
Due: biome-fix-staged

test(spells): pin the Shadowmancer tier at level 12
  src/utils/spell/getHighestSpellTier.packs.test.ts
Due: biome-fix-staged

fix(spells): keep granted spell tiers inside 0 to 9
  src/models/rules/grantSpells.ts
  src/utils/spell/getHighestSpellTier.test.ts
  src/utils/spell/getHighestSpellTier.ts
Due: biome-fix-staged

fix(spells): stop deciding caster status from mana, and use the rules engine
  public/lang/en.json
  src/utils/spell/getHighestSpellTier.packs.test.ts
  src/utils/spell/getHighestSpellTier.test.ts
  src/utils/spell/getHighestSpellTier.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(sheet): make the spell tier reset clear the override
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  src/view/sheets/pages/PlayerCharacterSettingsTabState.svelte.ts
Due: biome-fix-staged, prettier-svelte
