Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(chat): a Movement Offer card of its own, and a card that offers an item after a Movement
  public/lang/en.json
  public/system.json
  src/hooks/renderChatMessage.ts
  src/models/chat/MovementOfferCardDataModel.ts
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/models/chat/movementCardDataModels.test.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  types/components/MovementOfferCard.d.ts
  types/components/MovementTriggerCard.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules): a movement trigger card always offers Use, with no reminder payload
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/system/rules.md
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/advance.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  public/lang/en.json
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/movementCardDataModels.test.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
  tests/integration/chatCards.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

feat(chat): an activation card records the spaces moved this turn and how far each target is
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/movementContext.test.ts
  src/utils/movement/movementContext.ts
  src/view/chat/components/TextNode.svelte
  src/view/chat/components/TextNode.test.ts
  src/view/chat/components/TextNode.testHarness.svelte
  src/view/dataPreparationHelpers/resolveMovementPlaceholders.ts
Due: biome-fix-staged, prettier-svelte

refactor(chat): remove the Movement context stamp and its note placeholders
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/activations.md
  packs/classFeatures/core/hunter/thrill-of-the-hunt/sharpshooter.json
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/movementContext.test.ts
  src/utils/movement/movementContext.ts
  src/view/chat/components/TextNode.svelte
  src/view/chat/components/TextNode.test.ts
  src/view/chat/components/TextNode.testHarness.svelte
  src/view/dataPreparationHelpers/resolveMovementPlaceholders.ts
  types/components/TextNode.d.ts
Due: biome-fix-staged, prettier-svelte

feat(packs): Fleet Feet and Chaos Lash offer their moves
  packs/classFeatures/core/hunter/thrill-of-the-hunt/fleet-feet.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
Due: biome-fix-staged

test(movement): the live rules suite builds the offer tag key from the system id
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

docs(rules): the contributor docs name the Forced and Free Movement toggle
  docs/system/rules.md
Due: none

feat(migration): Migration067 brings existing copies of the movement pilot features up to the pack
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration067MovementPilots.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(dice): put the primary die modifier excess after the primary die
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
Due: biome-fix-staged

docs(dice): rename the roll window fields and explain what they do
  docs/documentation/homebrew/activations.md
  docs/documentation/playing/dice-and-chat.md
  public/lang/en.json
Due: biome-fix-staged

test(chat): match the new primary die labels
  src/view/chat/components/DamageNode.test.ts
Due: biome-fix-staged

feat(chat): show the primary die roll before the modifier on the card
  docs/documentation/playing/dice-and-chat.md
  public/lang/en.json
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/view/chat/components/DamageNode.test.ts
  src/view/chat/components/RollSummary.svelte
  types/components/RollSummary.d.ts
Due: biome-fix-staged, prettier-svelte

fix(dice): keep the recorded primary die roll on restore and cap the result on the card
  docs/documentation/playing/dice-and-chat.md
  public/lang/en.json
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/view/chat/components/DamageNode.test.ts
  src/view/chat/components/RollSummary.svelte
Due: biome-fix-staged, prettier-svelte

fix(dice): add the primary die modifier to the set primary die result
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
Due: biome-fix-staged

fix(chat): show primary die details only for a roll that can crit or miss
  src/view/chat/components/DamageNode.test.ts
  src/view/chat/components/DamageRoll.svelte
  src/view/chat/components/RollSummary.svelte
  src/view/chat/components/RollSummary.svelte.ts
  src/view/chat/components/RollSummary.test.ts
  types/components/RollSummary.d.ts
Due: biome-fix-staged, prettier-svelte

docs(dice): correct the roll window field descriptions
  docs/documentation/playing/dice-and-chat.md
Due: none

fix(dice): apply the primary die presets to the die that stays
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/nimbleDieModifiers.test.ts
  src/dice/nimbleDieModifiers.ts
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

fix(dialogs): move the roll window warnings to the lang file
  public/lang/en.json
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

docs(dice): update the advantage text and the old field name
  docs/documentation/homebrew/activations.md
  docs/documentation/homebrew/spells.md
  docs/documentation/playing/dice-and-chat.md
Due: none

fix(dice): correct the primary die modifier formula and make the roll window fields clear (#995)
  docs/documentation/homebrew/activations.md
  docs/documentation/homebrew/spells.md
  docs/documentation/playing/dice-and-chat.md
  public/lang/en.json
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/nimbleDieModifiers.test.ts
  src/dice/nimbleDieModifiers.ts
  src/dice/terms/PrimaryDie.ts
  src/view/chat/components/DamageNode.test.ts
  src/view/chat/components/DamageRoll.svelte
  src/view/chat/components/RollSummary.svelte
  src/view/chat/components/RollSummary.svelte.ts
  src/view/chat/components/RollSummary.test.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/SpellUpcastDialog.svelte
  types/components/RollSummary.d.ts
Due: biome-fix-staged, prettier-svelte

feat(character-sheet): give each class feature group its own section (#570)
  docs/documentation/characters/character-sheet.md
  src/utils/getClassFeatures.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.test.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.ts
Due: biome-fix-staged, prettier-svelte

feat(combat-tracker): minimize the tracker to a slim current-turn bar (#549)
  docs/documentation/gm/combat.md
  public/lang/en.json
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/minimized.utils.test.ts
  src/view/ui/ctTopTracker/minimized.utils.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

fix(migration): migrate an unlinked token's own items, not the world actor's
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  packs/classFeatures/core/commander/weapon-mastery/weapon-mastery.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-legendary.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-rare.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-uncommon.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-very-rare.json
  src/migration/MigrationRunner.ts
Due: biome-fix-staged

chore: keep pack diffs to content only
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
Due: biome-fix-staged

feat(conditions): monster-scoped conditions and actor-driven attack overrides (#948)
  docs/documentation/reference/_partials/modifyOutgoingAttack.md
  docs/documentation/reference/_partials/recurringDamage.md
  docs/system/rules.md
  packs/monsters/core/stirges/greater-stirge.json
  packs/monsters/core/stirges/stirge.json
  packs/monsters/core/underground/great-worm.json
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/config/registerRulesConfig.ts
  src/dice/DamageRoll.test.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/populateDerivedTags.test.ts
  src/hooks/conditionExpiry.test.ts
  src/hooks/conditionExpiry.ts
  src/hooks/conditionRuleGrants.test.ts
  src/hooks/conditionRuleGrants.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/applyCondition.ts
  src/models/rules/modifyOutgoingAttack.test.ts
  src/models/rules/modifyOutgoingAttack.ts
  src/models/rules/recurringDamage.test.ts
  src/models/rules/recurringDamage.ts
  src/nimble.ts
  src/utils/actorHealthState.ts
  src/utils/isMonsterScopedCondition.test.ts
  src/utils/isMonsterScopedCondition.ts
  src/utils/outgoingAttackOverrides.test.ts
  src/utils/outgoingAttackOverrides.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged

refactor(equipment): drop hand and swap tracking, make Strength advisory
  docs/documentation/characters/character-sheet.md
  packs/classFeatures/core/commander/weapon-mastery/weapon-mastery.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-legendary.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-rare.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-uncommon.json
  packs/magicItems/core/coreRules/weapon-of-many-hands-very-rare.json
  public/lang/en.json
  scripts/docs/generateReference.gen.ts
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/migration/migrations/Migration067WeaponTwoHandedOverride.ts
  src/models/actor/CharacterDataModel.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/models/rules/equipmentSwapBonus.test.ts
  src/models/rules/equipmentSwapBonus.ts
  src/models/rules/extraHands.test.ts
  src/models/rules/extraHands.ts
  src/scss/components/_document-card.scss
  src/utils/enforceWeaponAttack.ts
  src/utils/equipCompatibility.test.ts
  src/utils/equipCompatibility.ts
  src/utils/equipmentSwaps.test.ts
  src/utils/equipmentSwaps.ts
  src/utils/weaponAttackLegality.test.ts
  src/utils/weaponAttackLegality.ts
  src/utils/weaponHands.ts
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  types/components/WeaponCard.d.ts
Due: biome-fix-staged, prettier-svelte

feat(character-sheet): nest class feature groups under their class
  docs/documentation/characters/character-sheet.md
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.test.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.ts
Due: biome-fix-staged, prettier-svelte

fix(combat-tracker): stop the minimized bar's turn arrows moving between turns
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

feat(character-sheet): rail the nested blocks to show what a class covers
  docs/documentation/characters/character-sheet.md
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: prettier-svelte

fix(conditions): register monster-scoped conditions so they can be applied
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/utils/shouldListCondition.test.ts
  src/utils/shouldListCondition.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
  src/view/pixi/NimbleTokenHUD.svelte
Due: biome-fix-staged, prettier-svelte

fix(character-sheet): localize group headings and reach orphaned subclass features (#570)
  public/lang/en.json
  src/config.ts
  src/view/dataPreparationHelpers/filterItems.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.test.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.ts
Due: biome-fix-staged, prettier-svelte

feat(character-sheet): nest each feature group under its class (#570)
  docs/documentation/characters/character-sheet.md
  public/lang/en.json
  src/config.ts
  src/utils/getClassFeatures.ts
  src/view/dataPreparationHelpers/filterItems.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.test.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTabUtils.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): offer a move only on the outcome the card has; save outcomes only show the distance
  docs/documentation/homebrew/activations.md
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  types/movement.ts
Due: biome-fix-staged

test(movement): the live offer suite cleans up its cards and pins both movement toggles
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

fix(movement): a rolled or rerolled outcome reconciles the card's Movement Offers
  docs/STYLE_GUIDE.md
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/documents/chatMessageDeferredDamage.test.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
Due: biome-fix-staged

test(movement): keep only the empty Token and TokenRuler bases in the shared mock
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(movement): a push that moved less than offered carries the damage reminder
  docs/documentation/gm/combat.md
  public/lang/en.json
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
Due: biome-fix-staged

refactor(movement): register the offer hooks from src/hooks
  src/hooks/movementOffers.test.ts
  src/hooks/movementOffers.ts
  src/hooks/ready.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.ts
  src/utils/movement/registerMovementOffers.ts
Due: biome-fix-staged

feat(movement): rebuild offers from the card and authorise who takes them
  public/lang/en.json
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferEntry.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/movement/takeMovementOffer.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
