Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(movement): a token ruler reads the carried offers once until a chat message changes, not the whole chat log each time
  src/hooks/movementOffers.test.ts
  src/hooks/movementOffers.ts
  src/nimble.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
Due: biome-fix-staged

fix(movement): straight drags only for directed pushes
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
Due: biome-fix-staged

refactor(movement): offer types used across modules live in types/movement.ts
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/documents/token/tokenRuler.ts
  src/utils/movement/markWaypointsPastOffer.test.ts
  src/utils/movement/markWaypointsPastOffer.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveMoveDistance.ts
  src/view/chat/components/MoveNodeState.svelte.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): the ruler and the card count a move for free in the same measure, and card writes run one at a time
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/markWaypointsPastOffer.ts
  src/utils/movement/measureWaypointSpaces.test.ts
  src/utils/movement/measureWaypointSpaces.ts
  src/utils/movement/movementOfferMeasure.test.ts
  src/utils/movement/movementOfferMeasure.ts
  src/utils/movement/queueMovementOfferWrite.test.ts
  src/utils/movement/queueMovementOfferWrite.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): a movement action with no Speed leaves the Moves of the other actions alone
  src/utils/movement/markMoveBands.test.ts
  src/utils/movement/markMoveBands.ts
Due: biome-fix-staged

test(chat): move node card states
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNode.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): a move tag can be reached with the keyboard
  src/view/chat/components/MovementStatusChip.svelte
Due: prettier-svelte

fix(movement): a move node's distance formula keeps its sign
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
Due: biome-fix-staged

fix(chat): only a card type with the field gets Movement Offers written
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/utils/movement/cardCarriesMovementOffers.test.ts
  src/utils/movement/cardCarriesMovementOffers.ts
Due: biome-fix-staged

feat(movement): each creature's movement shows as a tag on its card row
  public/lang/en.json
  src/utils/movement/movementOffers.ts
  src/view/chat/FeatureCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/ReactionCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNode.testHarness.svelte
  src/view/chat/components/MoveNodeState.svelte.ts
  src/view/chat/components/MovementStatusChip.svelte
  src/view/chat/components/Targets.svelte
  src/view/chat/components/Targets.test.ts
  src/view/chat/components/Targets.testHarness.svelte
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
  src/view/chat/targetsSection.ts
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): offers lapse when the combatant or round changes, on that combat's scenes only
  src/utils/movement/registerMovementOffers.test.ts
  src/utils/movement/registerMovementOffers.ts
Due: biome-fix-staged

fix(chat): a push reads as a set distance, and the card says "move for free" as the books do
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  docs/documentation/rules-builder/predicates.md
  public/lang/en.json
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  tests/integration/movementOffers.test.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

chore(movement): schema bounds, editor and settings cleanups, docs
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  src/models/chat/common.ts
  src/view/settings/AutomationSettingsDialog.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

refactor(movement): the tag types live in types/components, and dead text goes
  public/lang/en.json
  src/view/chat/components/MovementStatusChip.svelte
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
  types/components/MovementStatusChip.d.ts
Due: biome-fix-staged, prettier-svelte

feat(movement): a Movement Offer shows its distance on the ruler and never stops the drag
  public/lang/en.json
  src/documents/token/token.ts
  src/documents/token/tokenRuler.ts
  src/hooks/init.ts
  src/utils/movement/markWaypointsPastOffer.test.ts
  src/utils/movement/markWaypointsPastOffer.ts
  src/utils/movement/movementActions.ts
  src/utils/movement/movementOfferConstraints.test.ts
  src/utils/movement/movementOfferConstraints.ts
  src/view/chat/components/MoveNode.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(movement): a creature moved in any direction that went another way reads "Not used"
  docs/documentation/gm/combat.md
  public/lang/en.json
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
Due: biome-fix-staged

test(movement): live suite for stamped Movement Offers that guide the drag
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

fix(movement): report the drag result from the mover's client
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): a row image in the move node has no alt text
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

test(movement): the offer tests stub Foundry globals with vi.stubGlobal
  src/hooks/movementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/Targets.test.ts
Due: biome-fix-staged

fix(movement): the Movement Offers setting describes a guided drag, and the card field is tested
  public/lang/en.json
  src/models/chat/common.test.ts
Due: biome-fix-staged

feat(movement): requestMove primitive and owning-client plan relay
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/init.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): Interpose's redirect moves the card's open offers to the new target
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
Due: biome-fix-staged

docs(movement): a Movement Offer guides the drag and never stops it
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
Due: none

test(movement): live suite for armed Movement Offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

docs(movement): the setting is Forced and Free Movement, and the docs say what the card shows
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  public/lang/en.json
Due: biome-fix-staged

docs(movement): a move node's distance reads the source's roll data
  types/effectTree.d.ts
Due: biome-fix-staged

docs(movement): the push shape is a system convenience, not a rule
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
Due: none

fix(movement): the Movement Offer tag key takes its prefix from SYSTEM_ID
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/movementOfferTag.test.ts
  src/utils/movement/movementOfferTag.ts
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

docs(movement): contributor docs describe how offers are stamped, carried and settled now
  docs/STYLE_GUIDE.md
  docs/system/rules.md
Due: none

refactor(chat): move the move node's card logic into a state file
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNodeState.svelte.ts
Due: biome-fix-staged, prettier-svelte

style(movement): the tag takes theme colours that pass the contrast rules in both themes
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/chat/components/MovementStatusChip.svelte
Due: prettier-svelte

fix(movement): a move node for the feature's user has no direction
  docs/documentation/homebrew/activations.md
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNodeState.svelte.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

docs(movement): Movement Offers arm the token
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
Due: none

fix(movement): the dashed part of an offered drag starts where the offer ends
  src/documents/token/tokenRuler.ts
Due: biome-fix-staged

test(movement): unit tests for the Tab ring, Unconstrained Movement and target changes on a card
  src/documents/chatMessageMovementOfferTargets.test.ts
  src/documents/token/token.test.ts
  src/documents/token/tokenLayer.test.ts
Due: biome-fix-staged

refactor(movement): the ruler's display rules are a tested module with one source for the Move colours
  src/documents/token/tokenRuler.ts
  src/scss/base/_variables.scss
  src/scss/components/_token-ruler.scss
  src/utils/movement/rulerDisplay.test.ts
  src/utils/movement/rulerDisplay.ts
Due: biome-fix-staged

fix(movement): the card does not list an offer of zero spaces
  src/hooks/movementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNodeState.svelte.ts
Due: biome-fix-staged

feat(movement): a drag names its Movement Offer and the GM records it by name
  src/documents/token/token.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOfferTag.test.ts
  src/utils/movement/movementOfferTag.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  types/movement.ts
Due: biome-fix-staged

feat(movement): offer a Movement by arming the token, not a card button
  public/lang/en.json
  src/documents/token/token.ts
  src/hooks/init.ts
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/findArmedMovementOffer.test.ts
  src/utils/movement/findArmedMovementOffer.ts
  src/utils/movement/movementOfferConstraints.test.ts
  src/utils/movement/movementOfferConstraints.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  src/utils/movement/takeMovementOffer.ts
  tests/mocks/foundry.ts
  types/movement.ts
Due: biome-fix-staged
