Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(rules): let a charge consumer spend a player-chosen amount
  public/lang/en.json
  src/documents/item/base.svelte.ts
  src/hooks/chargeSystem.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/chargeConsumer.ts
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolRuleConfig.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogHelpers.test.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(oathsworn): automate Lay on Hands as a tracked healing pool
  packs/classFeatures/core/oathsworn/oathsworn-progression/lay-on-hands.json
  src/migration/migrations/Migration048LayOnHandsPool.test.ts
  src/migration/migrations/Migration048LayOnHandsPool.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

docs: describe pools you spend a chosen amount of
  docs/documentation/characters/character-sheet.md
  docs/documentation/reference/_partials/chargeConsumer.md
Due: none

test(integration): cover the variable charge spend end to end
  tests/integration/chargeSpend.test.ts
Due: biome-fix-staged

fix(activation): drop the placeholder damage preview from the roll dialog
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogHelpers.test.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
Due: biome-fix-staged, prettier-svelte

chore(lang): babele update
  public/lang/babele/es/nimble.nimble-ancestries.json
  public/lang/babele/es/nimble.nimble-ancestry-bonuses.json
  public/lang/babele/es/nimble.nimble-backgrounds.json
  public/lang/babele/es/nimble.nimble-boons.json
  public/lang/babele/es/nimble.nimble-class-features.json
  public/lang/babele/es/nimble.nimble-magic-items.json
  public/lang/babele/es/nimble.nimble-monsters.json
  public/lang/babele/fr/nimble.nimble-ancestries.json
  public/lang/babele/fr/nimble.nimble-ancestry-bonuses.json
  public/lang/babele/fr/nimble.nimble-backgrounds.json
  public/lang/babele/fr/nimble.nimble-boons.json
  public/lang/babele/fr/nimble.nimble-class-features.json
  public/lang/babele/fr/nimble.nimble-magic-items.json
  public/lang/babele/fr/nimble.nimble-monsters.json
Due: biome-fix-staged

fix(test): set the test character's HP after the class import
  tests/integration/chargeSpend.test.ts
Due: biome-fix-staged

fix(activation): show the ceiling a variable spend actually enforces
  src/managers/ItemActivationManager.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogHelpers.test.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

test(rules): prove a pool is spendable from another item
  src/utils/chargePool/helpers.test.ts
Due: biome-fix-staged

docs(settings): correct the upcast exception on Resource Spending
  docs/documentation/gm/settings.md
Due: none

fix(spells): honour resource spending automation in the cast dialog
  src/managers/ItemActivationManager.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): point spell cost indicators at the spell tier
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

test(migration): assert the schema version constant matches the list
  src/migration/migrationVersion.test.ts
Due: biome-fix-staged

fix(spells): stop deciding caster status from mana, and use the rules engine
  public/lang/en.json
  src/utils/spell/getHighestSpellTier.packs.test.ts
  src/utils/spell/getHighestSpellTier.test.ts
  src/utils/spell/getHighestSpellTier.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(spells): derive unlocked spell tier from authored spell grants
  src/documents/actor/character.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/getHighestSpellTier.packs.test.ts
  src/utils/spell/getHighestSpellTier.test.ts
  src/utils/spell/getHighestSpellTier.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(sheet): make the spell tier reset clear the override
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  src/view/sheets/pages/PlayerCharacterSettingsTabState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): charge the declared pool when a multiclass caster holds no mana
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  types/spellCost.d.ts
Due: biome-fix-staged

feat(class): edit class spellcasting on the class sheet
  public/lang/en.json
  src/config.ts
  src/view/sheets/ClassSheet.state.svelte.test.ts
  src/view/sheets/ClassSheet.state.svelte.ts
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/ClassSheetUtils.ts
Due: biome-fix-staged, prettier-svelte

fix(activation): hold dialog spends until the use is allowed
  src/documents/item/base.svelte.ts
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

feat(spells): bound the overdraft by level, and show the real level-up cost
  public/lang/en.json
  src/models/item/ClassDataModel.ts
  src/utils/spell/confirmSpellOverdraft.ts
  src/utils/spell/paySpellCost.test.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  types/components/LevelUpSpellCard.d.ts
  types/components/LevelUpSpellGrants.d.ts
  types/spellCost.d.ts
Due: biome-fix-staged, prettier-svelte

feat(spells): class-declared spell cost with pool spend and overdraft
  public/lang/en.json
  src/documents/item/spell.ts
  src/models/item/ClassDataModel.ts
  src/utils/spell/confirmSpellOverdraft.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
Due: biome-fix-staged

fix(spells): attribute a spell cost to its class and pay for a cast once
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/asChargePoolActor.ts
  src/utils/spell/confirmSpellOverdraft.ts
  src/utils/spell/paySpellCost.test.ts
  src/utils/spell/paySpellCost.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/utils/spell/spendSpellCost.ts
  src/utils/spell/validateSpellCost.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  types/spellCost.d.ts
Due: biome-fix-staged

feat(spells): resolve a class-pinned cast tier on every activation path
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

docs(classes): document the class spellcasting config
  docs/documentation/homebrew/character-options.md
  docs/documentation/homebrew/spells.md
Due: none

fix(spells): localize the cast dialog's mana cost line
  src/view/dialogs/SpellUpcastDialog.svelte
Due: prettier-svelte

refactor(spells): tighten the spell cost seam after review
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/managers/ItemActivationManager.ts
  src/utils/chargePool/helpers.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(shadowmancer): Pilfered Power as a charge pool with a pool spell cost
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/pilfered-power.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/heart-of-burning-fire.json
  packs/classes/core/shadowmancer.json
  src/utils/classProgression/shadowmancer.expect.ts
Due: biome-fix-staged

fix(shadowmancer): regain Pilfered Power on the initiative roll
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/heart-of-burning-fire.json
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

test(migration): drop the Migration048 output test
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
Due: biome-fix-staged

feat(migration): migrate embedded Shadowmancer items to Pilfered Power
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(shadowmancer): bound the overdraft at level 11 and clear stale mana
  packs/classes/core/shadowmancer.json
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

docs(spells): document pool spell costs and the Greedy Pact limitation
  docs/documentation/characters/character-sheet.md
Due: none

refactor(class-sheet): match the sibling handlers' fire-and-forget update
  src/view/sheets/ClassSheet.state.svelte.ts
Due: biome-fix-staged

docs(charges): document a pool shown as a sheet resource
  docs/documentation/characters/character-sheet.md
  docs/documentation/reference/_partials/chargePool.md
Due: none

refactor(charges): read a pool's display flags through one helper
  src/utils/chargePool/helpers.ts
Due: biome-fix-staged

fix(sheet): theme the resource bar and move its props type out
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ResourceBar.svelte
  types/components/ResourceBar.d.ts
Due: biome-fix-staged, prettier-svelte

feat(shadowmancer): show Pilfered Power where mana is shown
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/pilfered-power.json
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

fix(spells): localize the cast dialog warnings
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(sheet): pass Math.clamp arguments in documented order
  src/view/sheets/components/ResourceBar.svelte
Due: prettier-svelte

refactor(spells): name the spell cost outcome for both its callers
  src/utils/spell/spendSpellCost.ts
  src/utils/spell/validateSpellCost.ts
  types/spellCost.d.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
