Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix: correct isDisabled logic for opportunity attacks
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
Due: biome-fix-staged

style: improve Heroic Actions tab button styling
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

fix: update combatant query
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged

chore: update schema version to enable migrations through v11
  packs/classes/core/zephyr.json
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

fix: apply melee damage bonus to unarmed strikes
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

fix: remove duplicate damageOutcome on unarmed strike crits
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

feat: add CI check for migration version consistency
  .github/workflows/checks.yml
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

fix: apply advantage/disadvantage to AoE spells without primary die (#446)
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

feat: add Heroic Reactions tab with chat card targeting system (#431)
  public/lang/en.json
  public/system.json
  src/documents/chatMessage.ts
  src/hooks/renderChatMessage.ts
  src/models/chat/MoveActionCardDataModel.ts
  src/models/chat/ReactionCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_reaction-card.scss
  src/scss/main.scss
  src/view/chat/AssessActionCard.svelte
  src/view/chat/MoveActionCard.svelte
  src/view/chat/ReactionCard.svelte
  src/view/chat/ReactionCardState.svelte.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/TargetSelector.svelte
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  types/components/MoveActionCard.d.ts
  types/components/ReactionCard.d.ts
  types/components/ReactionPanel.d.ts
  types/components/TargetSelector.d.ts
  types/components/WeaponCard.d.ts
Due: biome-fix-staged, prettier-svelte

fix: crits cannot miss (#445)
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

feat: add CI check for migration version consistency (#452)
  .github/workflows/checks.yml
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

refactor: improve reaction panel reactivity and UI (#450)
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

style: improve Heroic Actions tab button styling (#451)
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

Sync with Character Sheet Reactions. Updated gradient colors on Interpose & Defend button
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/utils/getHeroicReactionUsageState.test.ts
  src/utils/getHeroicReactionUsageState.ts
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

feat: add Zephyr unarmed strike proficiency and Reverberating Strikes (#447)
  packs/classFeatures/core/zephyr/zephyr-progression/reverberating-strikes.json
  packs/classFeatures/core/zephyr/zephyr-progression/swift-fists.json
  packs/classes/core/zephyr.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration011SwiftFistsUnarmedProficiency.ts
  src/migration/migrations/index.ts
  src/models/rules/meleeDamageBonus.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/attackUtils.ts
Due: biome-fix-staged

fix: ActionTracker shows for started combat even if not active (#449)
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged

fix(ct): refresh expanded monster group bar after drag reorder
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combatSorting.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

revert(sheet): remove interpose and defend combined button gradient tweak
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte
Due: prettier-svelte

fix: implement vicious weapon explosion mechanic
  src/dice/DamageRoll.ts
  src/dice/terms/PrimaryDie.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

top group red bar update fix
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix: add migration for vicious explosion damage removal
  packs/items/core/weapons/sickle.json
  packs/items/core/weapons/sling.json
  packs/spells/core/wind/razor-wind.json
  src/migration/migrations/Migration012ViciousExplosionDamage.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

Style update to Interpose & Defend Buttons
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte
Due: prettier-svelte

Style update to Interpose & Defend Buttons (#455)
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte
Due: prettier-svelte

fix: update LATEST_SCHEMA_VERSION to 12 for vicious migration
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

feat: add setting to enable/disable Combat System panel
  public/lang/en.json
  src/hooks/minionGroupTokenActions.ts
  src/settings/ncswSettings.ts
Due: biome-fix-staged

feat: add setting to enable/disable Combat System panel (#456)
  public/lang/en.json
  src/hooks/minionGroupTokenActions.ts
  src/settings/ncswSettings.ts
Due: biome-fix-staged

feat: repurpose combat sidebar button to toggle combat
  src/hooks/ready.ts
  src/scss/vendor/foundry/_initiative.scss
Due: biome-fix-staged

fix: hide combat sidebar button for non-GM/Assistant users
  src/hooks/ready.ts
Due: biome-fix-staged

feat: restrict combat toggle to GM/Assistant and confirm end with combatants
  src/hooks/ready.ts
Due: biome-fix-staged

fix: use CSS-based approach to hide combat sidebar button for players
  src/hooks/ready.ts
  src/scss/vendor/foundry/_initiative.scss
Due: biome-fix-staged

refactor: extract combat sidebar toggle to separate module
  src/hooks/combatSidebarToggle.ts
  src/hooks/ready.ts
Due: biome-fix-staged

feat: repurpose combat sidebar button to toggle combat (#448)
  src/hooks/combatSidebarToggle.ts
  src/hooks/ready.ts
  src/scss/vendor/foundry/_initiative.scss
Due: biome-fix-staged

fix: resolve hover name cutoff when no heroes in combat
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

feat: add empty state for combat tracker with no combatants
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

feat: add remove combatant button to combat tracker cards
  public/lang/en.json
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix: resolve hover name cutoff when no heroes in combat (#457)
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

feat: add empty state for combat tracker with no combatants (#458)
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte
