Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(class-sheet): improve progression tab display and add Epic Boon
  public/lang/en.json
  src/utils/getClassFeatures.ts
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(progression): deduplicate features by name within groups
  src/utils/getClassFeatures.ts
Due: biome-fix-staged

chore(packs): update feature descriptions and remove unused CSS
  packs/classFeatures/core/berserker/berserker-progression/intensifying-fury.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  packs/classFeatures/core/commander/commander-progression/combat-tactics.json
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/mage/mage-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/mana-and-radiant-spellcasting.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/master-of-darkness.json
  packs/classFeatures/core/shepherd/shepherd-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/shepherd/shepherd-progression/master-of-twilight.json
  packs/classFeatures/core/songweaver/songweaver-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/songweaver/songweaver-progression/windbag.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/direbeast-form.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormcaller.json
  src/view/sheets/components/ClassProgressionLevelRow.svelte
Due: biome-fix-staged, prettier-svelte

feat(progression): show level-specific descriptions only
  src/view/sheets/components/ClassProgressionLevelRow.svelte
Due: prettier-svelte

feat(class-sheet): show subclass level progression in available subclasses section
  src/utils/getClassFeatures.ts
  src/utils/getSubclassChoices.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
  types/components/ClassProgressionTab.d.ts
Due: biome-fix-staged, prettier-svelte

fix: resolve type errors, unused CSS, and slugify test safety
  src/utils/getClassFeatures.ts
  src/utils/getClassProgressionData.ts
  src/utils/getSubclassChoices.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
  types/components/ClassProgressionTab.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(class-sheet): split script into constants, utils, state, and types files
  src/view/sheets/ClassSheet.state.svelte.ts
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/ClassSheetConstants.ts
  src/view/sheets/ClassSheetUtils.ts
  types/components/ClassSheet.d.ts
Due: biome-fix-staged, prettier-svelte

fix(class-sheet): rename state to classState to avoid $state rune conflict
  src/view/sheets/ClassSheet.svelte
Due: prettier-svelte

fix(class-sheet): restore correct state file import path
  src/view/sheets/ClassSheet.svelte
Due: prettier-svelte

refactor(class-sheet): split ClassProgressionTab and ClassProgressionLevelRow scripts into constants, utils, and state files
  src/view/sheets/components/ClassProgressionLevelRow.state.svelte.ts
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/components/ClassProgressionLevelRowConstants.ts
  src/view/sheets/components/ClassProgressionLevelRowUtils.ts
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
  src/view/sheets/pages/ClassProgressionTabConstants.ts
  src/view/sheets/pages/ClassProgressionTabUtils.ts
Due: biome-fix-staged, prettier-svelte

style(class-sheet): replace hardcoded badge colors with theme-aware CSS variables
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/sheets/components/ClassProgressionLevelRow.svelte
Due: prettier-svelte

feat(class-sheet): add source tags, enriched descriptions, and world item deletion
  packs/backgrounds/core/fearless.json
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/shepherd/shepherd-progression/master-of-twilight.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormcaller.json
  public/lang/en.json
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/getClassFeatures.ts
  src/view/sheets/components/ClassProgressionLevelRow.state.svelte.ts
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
  src/view/sheets/pages/ClassProgressionTabUtils.ts
  types/components/ClassProgressionTab.d.ts
Due: biome-fix-staged, prettier-svelte

fix(a11y): add aria-label to icon-only delete buttons in class progression views
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: prettier-svelte

ci: add rolling dev release workflow
  .github/workflows/dev-release.yml
Due: none

ci: rebrand dev build to nimble-dev system id
  .github/workflows/dev-release.yml
  build/dev-rebrand.mjs
Due: biome-fix-staged

ci: rolling dev release on push to dev (#748)
  .github/workflows/dev-release.yml
  build/dev-rebrand.mjs
Due: biome-fix-staged

feat(soloMonster): rework Last Stand to heal-and-tag mechanic (#747)
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/documents/actor/soloMonster.ts
  src/hooks/combatantHooks/combatantDefeatSync.ts
  src/hooks/combatantHooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHooks/combatantHealthStateSync.ts
  src/import/nimbleNexus/constants.ts
  src/models/actor/SoloMonsterDataModel.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/actorHpChangePaths.ts
  src/utils/actorResources.ts
  src/view/sheets/pages/NPCSettingsTab.svelte
  tests/fixtures/combat.ts
  tests/mocks/combat.ts
  types/combat.d.ts
Due: biome-fix-staged, prettier-svelte

fix(soloMonster): pull bloodied/Last Stand description from feature items
  src/documents/actor/soloMonster.ts
  src/models/actor/SoloMonsterDataModel.ts
Due: biome-fix-staged

fix(soloMonster): serialize health-state sync with per-actor mutex
  src/hooks/combatantHooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHooks/combatantHealthStateSync.ts
Due: biome-fix-staged

chore(migration): backfill lastStandHp on shipped legendary monsters
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration018LastStandHp.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(class-sheet): show feature group with one item immediately on add
  src/utils/getClassFeatures.ts
Due: biome-fix-staged

fix(class-sheet): fix dedup, scroll reset, and unique naming for feature groups
  src/utils/getClassFeatures.ts
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
Due: biome-fix-staged

fix(class-sheet): constrain feature card layout with truncation and empty state
  public/lang/en.json
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(i18n): localize all hardcoded strings in class progression views
  public/lang/en.json
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: biome-fix-staged, prettier-svelte

refactor(class-progression): remove magic numbers and pointless re-exports
  src/utils/getClassProgressionData.ts
  src/view/sheets/components/ClassProgressionLevelRow.state.svelte.ts
  src/view/sheets/components/ClassProgressionLevelRowUtils.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(build): derive system path from system.json id
  build/dev-rebrand.mjs
  src/config.ts
  src/config/registerConditionsConfig.ts
  src/macros/createHeroicActionMacro.ts
  src/utils/systemId.ts
  tsconfig.json
  vite.config.mts
Due: biome-fix-staged

fix(build): derive system path from system.json id (#750)
  build/dev-rebrand.mjs
  src/config.ts
  src/config/registerConditionsConfig.ts
  src/macros/createHeroicActionMacro.ts
  src/utils/systemId.ts
  tsconfig.json
  vite.config.mts
Due: biome-fix-staged

refactor(class-progression): fix race conditions, cast hacks, and loose types
  src/utils/getSubclassChoices.ts
  src/view/sheets/components/ClassProgressionLevelRow.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  types/components/ClassSheet.d.ts
Due: biome-fix-staged

fix(a11y): add aria-label to icon-only buttons in class progression views
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: prettier-svelte

fix(build): rewrite SCSS namespace and pack assets at build time
  build/dev-rebrand.mjs
  svelte.config.js
  vite.config.mts
Due: biome-fix-staged

fix(build): rewrite SCSS namespace and pack assets at build time for dev build (#751)
  build/dev-rebrand.mjs
  svelte.config.js
  vite.config.mts
Due: biome-fix-staged

feat(soloMonster): make Last Stand item-driven for any actor type
  src/hooks/combatantHooks/combatantDefeatSync.ts
  src/hooks/combatantHooks/combatantHealthStateSync.ts
  src/migration/migrations/Migration018LastStandHp.ts
  src/models/actor/SoloMonsterDataModel.ts
  src/models/item/MonsterFeatureDataModel.ts
  src/utils/actorHealthState.ts
  src/utils/actorHpChangePaths.ts
  src/utils/actorResources.ts
  src/view/sheets/MonsterFeatureSheet.svelte
  src/view/sheets/pages/NPCSettingsTab.svelte
  tests/fixtures/combat.ts
  types/combat.d.ts
Due: biome-fix-staged, prettier-svelte

chore(packs): move lastStandHp from actor to feature item
  packs/legendaryMonsters/core/alaric-draegoth-the-crimson-count.json
  packs/legendaryMonsters/core/azriel-lord-of-pain-and-flame.json
  packs/legendaryMonsters/core/caerys-the-hollow-star.json
  packs/legendaryMonsters/core/dravok-all-seeing-tyrant.json
  packs/legendaryMonsters/core/dregatha-thrice-chinned.json
  packs/legendaryMonsters/core/florindris-bane-of-the-forest.json
  packs/legendaryMonsters/core/general-flameheart.json
  packs/legendaryMonsters/core/gloomwing-the-cruel.json
  packs/legendaryMonsters/core/greenthumb-lichling.json
  packs/legendaryMonsters/core/grimbeak-the-unyielding.json
  packs/legendaryMonsters/core/kelebek-entomancer.json
  packs/legendaryMonsters/core/krogg-goblin-king.json
  packs/legendaryMonsters/core/nalzar-apex-predator.json
  packs/legendaryMonsters/core/pudge-the-blunderer.json
  packs/legendaryMonsters/core/queen-aranya-broodmother.json
  packs/legendaryMonsters/core/ravager-of-the-lowlands.json
  packs/legendaryMonsters/core/thorn-quickblade.json
  packs/legendaryMonsters/core/titan-of-the-deep-woods.json
  packs/legendaryMonsters/core/ulvek-psionic-despot.json
  packs/legendaryMonsters/core/vael-undying-necromancer.json
Due: biome-fix-staged

feat(charges): implement end-to-end charge pool system with recovery hooks, UI, and enriched tooltips
  docs/STYLE_GUIDE.md
  public/lang/en.json
  public/system.json
  src/config.ts
  src/config/registerRulesConfig.ts
  src/hooks/chargeSystem.test.ts
  src/hooks/chargeSystem.ts
  src/hooks/renderChatMessage.ts
  src/managers/RestManager.ts
  src/models/chat/ChargeAdjustmentCardDataModel.ts
  src/models/chat/SafeRestCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/models/rules/chargeConsumer.ts
  src/models/rules/chargePool.ts
  src/nimble.ts
  src/scss/components/_document-card.scss
  src/scss/components/_tooltip.scss
  src/utils/chargePoolRuleConfig.ts
  src/utils/chargePoolService.test.ts
  src/utils/chargePoolService.ts
  src/utils/chargeUiConfig.ts
  src/view/chat/ChargeAdjustmentCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/ChargeConsumptionNode.svelte
  src/view/components/ChargeIndicator.svelte
  src/view/dialogs/ConfigureChargesDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  types/components/ChargeIndicator.d.ts
  types/components/ConfigureChargesDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(chargePool): add outbound hooks for consume, recover, and change operations
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/chargePoolHooks.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

chore(chargePool): split 892-line service into focused modules
  docs/STYLE_GUIDE.md
  src/hooks/chargeSystem.test.ts
  src/hooks/chargeSystem.ts
  src/managers/RestManager.ts
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/chargePoolPreview.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolService.test.ts
  src/view/components/ChargeIndicator.svelte
  src/view/dialogs/ConfigureChargesDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

test(chargePool): add test for encounterEnd reset-to-zero with set mode
  src/utils/chargePoolService.test.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
