Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

feat(character): name JSON exports with system, character, and class
  src/view/sheets/character/jsonExport/CharacterJsonExportButton.svelte
Due: prettier-svelte

fix(character): validate imports are Nimble player characters and grant importer ownership
  public/lang/en.json
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
Due: biome-fix-staged

fix(character): write exportSource to _stats per Foundry v13
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
  src/view/sheets/character/jsonExport/CharacterJsonExportButton.svelte
Due: biome-fix-staged, prettier-svelte

refactor(character): address code review findings for JSON export/import
  public/lang/en.json
  src/config.ts
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
  src/import/playerCharacter/buildImportPreview.test.ts
  src/import/playerCharacter/buildImportPreview.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
  src/view/sheets/components/CharacterJsonExportButton.svelte
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  types/components/CharacterJsonExportButton.d.ts
  types/components/ImportPlayerCharacterDialog.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(character): extract import dialog interaction state into factory
  src/view/dialogs/ImportPlayerCharacterDialog.state.svelte.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
Due: biome-fix-staged, prettier-svelte

refactor(character): extract JSON export serialization into utils file
  src/view/sheets/components/CharacterJsonExportButton.svelte
  src/view/sheets/components/CharacterJsonExportButton.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(ci): remove tsx/jsx globs that crash format auto-commit (#809)
  .github/workflows/format.yml
Due: none

feat(character): full-character JSON export and import with preview (#808)
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/ActorCreationDialog.svelte.ts
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
  src/import/playerCharacter/buildImportPreview.test.ts
  src/import/playerCharacter/buildImportPreview.ts
  src/view/dialogs/ActorCreationDialog.svelte
  src/view/dialogs/ImportPlayerCharacterDialog.state.svelte.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
  src/view/sheets/components/CharacterJsonExportButton.svelte
  src/view/sheets/components/CharacterJsonExportButton.utils.ts
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  types/components/CharacterJsonExportButton.d.ts
  types/components/ImportPlayerCharacterDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): Improve content picker and spell display
  public/lang/en.json
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): Improve UI spacing and spell details formatting
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): Improve dialog resizing and add separate preview dialog
  public/lang/en.json
  src/documents/dialogs/GenericDialog.svelte.ts
  src/scss/components/_sheet.scss
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfPreviewDialog.svelte
  types/components/PdfPreviewDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(pdf-export): resolve dialog lint errors
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfPreviewDialog.svelte
Due: prettier-svelte

feat(pdf-export): Sort features by level and balance column distribution
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): Redesign PDF export dialog with rich text and preview
  public/assets/pdf/CharacterSheet-Full-NoLines.png
  public/lang/en.json
  src/scss/components/_sheet.scss
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/drawStyledText.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/character/pdfExport/parseHtmlToStyledSegments.ts
  src/view/sheets/character/pdfExport/showPdfPreview.ts
  types/components/PdfExportDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat: Add PDF character sheet export
  package.json
  pnpm-lock.yaml
  public/assets/pdf/CharacterSheet-Full.png
  public/lang/en.json
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  types/components/CharacterPdfExportButton.d.ts
  vite.config.mts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): live preview, rich text toolbar, group/subclass features, notes, and UX polish
  public/lang/en.json
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/drawStyledText.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/character/pdfExport/parseHtmlToStyledSegments.ts
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  types/components/PdfPreviewDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(pdf-export): use optional chain for notes null check
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged

fix(pdf-export): assign trimmed notes to variable before null check
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged

fix(pdf-export): prevent section headers from being orphaned at column ends
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged

feat(pdf-export): add search field to content picker
  public/lang/en.json
  src/view/dialogs/PdfExportDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): add Reset to Default button to column editor
  public/lang/en.json
  src/view/dialogs/PdfExportDialog.svelte
Due: biome-fix-staged, prettier-svelte

chore(pdf-export): remove dead plain-text column generation code
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged

fix(pdf-export): category name match in content picker search shows all category items
  src/view/dialogs/PdfExportDialog.svelte
Due: prettier-svelte

refactor(pdf-export): extract dialog state factories from PdfExportDialog and PdfPreviewDialog
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfExportDialogState.svelte.ts
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/dialogs/PdfPreviewDialogState.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(pdf-export): remove redundant \$derived wrappers in dialog components
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfPreviewDialog.svelte
Due: prettier-svelte

refactor(pdf-export): extract CharacterPdfExportButton state to factory
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/CharacterPdfExportButtonState.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(settings): extract PlayerCharacterSettingsTab script into state factory
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  src/view/sheets/pages/PlayerCharacterSettingsTabState.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor(pdf): extract shared types from pdfExport utilities into pdfExport.types.ts
  src/view/dialogs/PdfExportDialogState.svelte.ts
  src/view/sheets/character/pdfExport/CharacterPdfExportButtonState.svelte.ts
  src/view/sheets/character/pdfExport/drawStyledText.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/parseHtmlToStyledSegments.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
  src/view/sheets/character/pdfExport/pdfExport.types.ts
  src/view/sheets/character/pdfExport/showPdfPreview.ts
Due: biome-fix-staged

chore(pdf): remove unused type imports after types extraction
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
Due: biome-fix-staged

feat(pdf-export): polish UX — per-column line height, dynamic capacity, ellipsis, and column height increase
  packs/classFeatures/core/mage/spellshaper/extra-dimensional-vision.json
  public/lang/en.json
  src/view/dialogs/ImportPlayerCharacterDialog.state.svelte.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfExportDialogState.svelte.ts
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/dialogs/PdfPreviewDialogState.svelte.ts
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/CharacterPdfExportButtonState.svelte.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/extractCharacterData.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
  src/view/sheets/character/pdfExport/pdfExport.types.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
  types/components/PdfExportDialog.d.ts
  types/components/PdfPreviewDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): add Additional Sheet — a second page with header bar and three tall columns
  public/lang/en.json
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfExportDialogState.svelte.ts
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
  src/view/sheets/character/pdfExport/pdfExport.types.ts
  types/components/PdfPreviewDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): rewrite preview as scrollable multi-page and fix preview/PDF alignment
  public/assets/pdf/CharacterSheet-Additional-NoLines.png
  public/assets/pdf/CharacterSheet-Additional.png
  public/lang/en.json
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfExportDialogState.svelte.ts
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/sheets/character/pdfExport/CharacterPdfExportButtonState.svelte.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
  src/view/sheets/character/pdfExport/pdfExport.types.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): allow walk mode in grantMovement and fix speed formula
  public/lang/en.json
  src/models/rules/grantMovement.test.ts
  src/models/rules/grantMovement.ts
Due: biome-fix-staged

fix(css): make prose-mirror description editors visible in roll table dialogs
  src/scss/main.scss
  src/scss/vendor/foundry/_roll-table.scss
Due: none

test(import): add determineActorType unit tests for nexus minion import
  src/import/nimbleNexus/NimbleNexusParser.test.ts
Due: biome-fix-staged

fix(rules): allow walk mode in grantMovement and fix speed formula (#810)
  public/lang/en.json
  src/models/rules/grantMovement.test.ts
  src/models/rules/grantMovement.ts
Due: biome-fix-staged

fix(css): make prose-mirror description editors visible in roll table dialogs (#811)
  src/scss/main.scss
  src/scss/vendor/foundry/_roll-table.scss
Due: none

refactor(pdf-export): split PdfPreviewDialog script into state and utils
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/dialogs/PdfPreviewDialog.utils.ts
  src/view/dialogs/PdfPreviewDialogState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(pdf-export): rest column text just above ruled lines, not colliding
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfExportDialogState.svelte.ts
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/dialogs/PdfPreviewDialog.utils.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
Due: biome-fix-staged, prettier-svelte

feat: Add PDF character sheet export (#531)
  package.json
  packs/classFeatures/core/mage/spellshaper/extra-dimensional-vision.json
  pnpm-lock.yaml
  public/assets/pdf/CharacterSheet-Additional-NoLines.png
  public/assets/pdf/CharacterSheet-Additional.png
  public/assets/pdf/CharacterSheet-Full-NoLines.png
  public/assets/pdf/CharacterSheet-Full.png
  public/lang/en.json
  src/documents/dialogs/GenericDialog.svelte.ts
  src/scss/components/_sheet.scss
  src/view/dialogs/ImportPlayerCharacterDialog.state.svelte.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfExportDialogState.svelte.ts
  src/view/dialogs/PdfPreviewDialog.svelte
  src/view/dialogs/PdfPreviewDialog.utils.ts
  src/view/dialogs/PdfPreviewDialogState.svelte.ts
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/CharacterPdfExportButtonState.svelte.ts
  src/view/sheets/character/pdfExport/drawStyledText.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/extractCharacterData.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/character/pdfExport/parseHtmlToStyledSegments.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
  src/view/sheets/character/pdfExport/pdfExport.types.ts
  src/view/sheets/character/pdfExport/showPdfPreview.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  src/view/sheets/pages/PlayerCharacterSettingsTabState.svelte.ts
  types/components/CharacterPdfExportButton.d.ts
  types/components/PdfExportDialog.d.ts
  types/components/PdfPreviewDialog.d.ts
  vite.config.mts
Due: biome-fix-staged, prettier-svelte
