Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

feat(dice-pool): clear refill mode + encounterEnd trigger for combat-end wipes
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  src/hooks/dicePoolTriggers/encounterEndTrigger.test.ts
  src/hooks/dicePoolTriggers/encounterEndTrigger.ts
  src/migration/migrations/Migration024OathswornRefillMode.test.ts
  src/migration/migrations/Migration024OathswornRefillMode.ts
  src/nimble.ts
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
Due: biome-fix-staged

feat(oathsworn): Unending Judgment L18 damage bonus
  packs/classFeatures/core/oathsworn/oathsworn-progression/unending-judgment.json
  src/migration/migrations/Migration024OathswornRefillMode.ts
Due: biome-fix-staged

chore(migration): bump LATEST_SCHEMA_VERSION to 24
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

fix: apply negative max hit dice bonuses (#786)
  docs/STYLE_GUIDE.md
  src/documents/actor/character.ts
  src/managers/HitDiceManager.test.ts
  src/managers/HitDiceManager.ts
  src/utils/clampHitDiceBySize.ts
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): split dicePool consumption onto a new diceConsumer rule
  docs/system/rules.md
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration025DiceConsumerSplit.test.ts
  src/migration/migrations/Migration025DiceConsumerSplit.ts
  src/migration/migrations/index.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/models/rules/dicePool.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/types.ts
Due: biome-fix-staged

fix(oathsworn): Judgment Dice refill correctness + combat-end clear + L18 Unending Judgment (#789)
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/unending-judgment.json
  src/hooks/dicePoolTriggers/encounterEndTrigger.test.ts
  src/hooks/dicePoolTriggers/encounterEndTrigger.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration024OathswornRefillMode.ts
  src/migration/migrations/index.ts
  src/nimble.ts
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
Due: biome-fix-staged

chore(migration): drop Migration025 unit test
  src/migration/migrations/Migration025DiceConsumerSplit.test.ts
Due: biome-fix-staged

feat(rules): split dicePool consumption onto a new diceConsumer rule (#790)
  docs/system/rules.md
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration025DiceConsumerSplit.ts
  src/migration/migrations/index.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/models/rules/dicePool.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/types.ts
Due: biome-fix-staged

feat(rules): dice-pool spend dialog, tracker controls, pool-picker widget
  packs/classFeatures/core/berserker/berserker-progression/that-all-you-got.json
  public/lang/en.json
  src/documents/dialogs/SpendDicePoolDialog.svelte.ts
  src/documents/dialogs/SpendDicePoolDialog.test.ts
  src/models/rules/_widgetOption.ts
  src/models/rules/chargeConsumer.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/models/rules/modifyPool.ts
  src/utils/dicePool/dicePoolConsumers.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/view/dialogs/SpendDicePoolDialog.svelte
  src/view/rulesBuilder/components/ChargePoolPicker.svelte
  src/view/rulesBuilder/components/ChargePoolPicker.svelte.ts
  src/view/rulesBuilder/components/DicePoolPicker.svelte
  src/view/rulesBuilder/components/DicePoolPicker.svelte.ts
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(ui): inline dice-pool panel with collapsible per-feature spend
  public/lang/en.json
  src/documents/dialogs/SpendDicePoolDialog.svelte.ts
  src/documents/dialogs/SpendDicePoolDialog.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/view/dialogs/SpendDicePoolDialog.svelte
  src/view/sheets/components/DicePoolPanel.svelte
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(dice): route bare khn/kln formulas into DamageRoll modifier-mode
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
Due: biome-fix-staged

fix(dice): route bare khn/kln formulas into DamageRoll modifier-mode (#792)
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
Due: biome-fix-staged

feat(predicate): add $and/$or composition and address PR #782 review feedback
  docs/system/rules.md
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/populateDerivedTags.test.ts
  src/etc/Predicate.test.ts
  src/etc/Predicate.ts
  src/models/rules/damageBonus.test.ts
Due: biome-fix-staged

feat(rules+ui): dice-pool spend UX, inline panel, pool-picker widget (#791)
  packs/classFeatures/core/berserker/berserker-progression/that-all-you-got.json
  public/lang/en.json
  src/models/rules/_widgetOption.ts
  src/models/rules/chargeConsumer.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/models/rules/modifyPool.ts
  src/utils/dicePool/dicePoolConsumers.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/view/rulesBuilder/components/ChargePoolPicker.svelte
  src/view/rulesBuilder/components/ChargePoolPicker.svelte.ts
  src/view/rulesBuilder/components/DicePoolPicker.svelte
  src/view/rulesBuilder/components/DicePoolPicker.svelte.ts
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte
  src/view/sheets/components/DicePoolPanel.svelte
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(dev-build): route hardcoded "nimble" id through SYSTEM_ID
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/chatMessage.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combatant/combatant.svelte.ts
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
  src/hooks/chargePoolTriggers/initiativeTrigger.ts
  src/hooks/chargeSystem.ts
  src/hooks/dicePoolTriggers/attackedTrigger.ts
  src/hooks/ruleEventDispatch.ts
  src/macros/createHeroicActionMacro.ts
  src/macros/createMacro.ts
  src/managers/RestManager.ts
  src/models/rules/applyCondition.ts
  src/nimble.ts
  src/settings/index.ts
  src/utils/chargePool/chargePoolHooks.ts
  src/utils/chargePool/helpers.ts
  src/utils/dicePool/dicePoolHooks.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
  src/utils/systemId.test.ts
  src/utils/systemId.ts
  src/view/chat/components/ChargeConsumptionNode.svelte
  src/view/rulesBuilder/RulesBuilderWindow.svelte.ts
  src/view/rulesBuilder/components/ChargePoolPicker.svelte.ts
  src/view/rulesBuilder/components/DicePoolPicker.svelte.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/components/DicePoolTracker.svelte.ts
  src/view/sheets/pages/ItemRulesTab.svelte.ts
  tests/setup.ts
Due: biome-fix-staged, prettier-svelte

docs: document systemHookName and SYSTEM_ID scope rules
  AGENTS.md
  docs/STYLE_GUIDE.md
Due: none

fix(dev-build): route hardcoded "nimble" id through SYSTEM_ID (#793)
  AGENTS.md
  docs/STYLE_GUIDE.md
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/chatMessage.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combatant/combatant.svelte.ts
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
  src/hooks/chargePoolTriggers/initiativeTrigger.ts
  src/hooks/chargeSystem.ts
  src/hooks/dicePoolTriggers/attackedTrigger.ts
  src/hooks/ruleEventDispatch.ts
  src/macros/createHeroicActionMacro.ts
  src/macros/createMacro.ts
  src/managers/RestManager.ts
  src/models/rules/applyCondition.ts
  src/nimble.ts
  src/settings/index.ts
  src/utils/chargePool/chargePoolHooks.ts
  src/utils/chargePool/helpers.ts
  src/utils/dicePool/dicePoolHooks.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
  src/utils/systemId.test.ts
  src/utils/systemId.ts
  src/view/chat/components/ChargeConsumptionNode.svelte
  src/view/rulesBuilder/RulesBuilderWindow.svelte.ts
  src/view/rulesBuilder/components/ChargePoolPicker.svelte.ts
  src/view/rulesBuilder/components/DicePoolPicker.svelte.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/components/DicePoolTracker.svelte.ts
  src/view/sheets/pages/ItemRulesTab.svelte.ts
  tests/setup.ts
Due: biome-fix-staged, prettier-svelte

fix(armor): AC not updating on item change, iron defense level 13 dead rule
  packs/ancestries/core/exotic/turtlefolk.json
  packs/classFeatures/core/zephyr/zephyr-progression/iron-defense.json
  packs/magicItems/core/coreRules/resolute-fangs-golden-bastion.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
Due: biome-fix-staged

feat(predicate): expand predicate vocabulary with self/target tags and targetCondition (#782)
  docs/system/rules.md
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/minion.ts
  src/documents/actor/npc.ts
  src/documents/actor/populateDerivedTags.test.ts
  src/documents/actor/soloMonster.ts
  src/etc/Predicate.test.ts
  src/etc/Predicate.ts
  src/macros/activateHeroicActionMacro.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/damageBonus.test.ts
  src/models/rules/damageBonus.ts
  src/utils/attackUtils.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

chore(release): v0.8.6
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

fix(monsters): correct Giant Spider Bite damage to 2d8+4
  packs/monsters/core/underground/giant-spider.json
Due: biome-fix-staged

fix(ui): swap Yes/No button order in confirmation dialogs to match Foundry default
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix(npc-sheet): restore scroll on monster conditions tab
  src/view/sheets/pages/NPCConditionsTab.svelte
Due: prettier-svelte

fix(monsters): correct Giant Spider Bite damage to 2d8+4 (#796)
  packs/monsters/core/underground/giant-spider.json
Due: biome-fix-staged

fix(ui): swap Yes/No button order in confirmation dialogs to match Foundry default (#797)
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix(npc-sheet): restore scroll on monster conditions tab (#798)
  src/view/sheets/pages/NPCConditionsTab.svelte
Due: prettier-svelte

feat(levelUp): support selecting one option or another on level up (#708)
  packs/classFeatures/core/commander/commander-progression/combat-experience.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/ids.json
  src/documents/actor/character.ts
  src/models/item/FeatureDataModel.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

feat(compendia): group subclass folders under a [Class] Subclasses wrapper
  build/lib/Pack.mjs
Due: biome-fix-staged

feat(levelUp): pool max bonus — grant item on first selection and sync name/description
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  src/documents/actor/character.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration026CombatDiceMaxFormula.ts
  src/migration/migrations/index.ts
  src/models/actor/CharacterDataModel.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
Due: biome-fix-staged

fix(compendium): remove combat-tactics from levels 6+ selection groups
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
Due: biome-fix-staged

feat(levelUp): support selectionCount for option sub-items and add class feature option data
  packs/classFeatures/core/berserker/berserker-progression/savage-arsenal.json
  packs/classFeatures/core/commander/commander-progression/commanders-orders.json
  packs/classFeatures/core/hunter/hunter-progression/thrill-of-the-hunt.json
  packs/classFeatures/core/mage/mage-progression/spell-shaper.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/sacred-decree.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/gift-from-the-master.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/the-pact-is-sealed.json
  packs/classFeatures/core/shepherd/shepherd-progression/sacred-graces.json
  packs/classFeatures/core/songweaver/songweaver-progression/a-people-person.json
  packs/classFeatures/core/songweaver/songweaver-progression/lyrical-weaponry.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/direbeast-form.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/expert-shifter.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/underhanded-abilities.json
  packs/classFeatures/core/zephyr/zephyr-progression/martial-arts-ability.json
  packs/ids.json
  src/models/item/FeatureDataModel.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

chore: compendia formatting
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
  packs/classFeatures/core/commander/commander-progression/combat-experience.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
Due: biome-fix-staged

fix(levelUp): support per-level levelUpOptions and fix Commander progression data
  packs/classFeatures/core/commander/commander-progression/combat-experience.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/ids.json
  src/models/item/FeatureDataModel.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

fix(inventory): make quantity input interactive without triggering item roll
  src/scss/components/_document-card.scss
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

fix(inventory): make quantity input interactive without triggering item roll (#802)
  src/scss/components/_document-card.scss
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

chore(compendia): replace hardcoded group display name map with data-driven groupLabel field
  build/lib/Pack.mjs
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/classFeatures/core/commander/commanders-order/reposition.json
Due: biome-fix-staged
