Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore(docs): update release docs and changelog
  CHANGELOG.md
  docs/RELEASE_GUIDE.md
Due: none

Updated es.json (#354)
  public/lang/es.json
Due: biome-fix-staged

chore: worktree cleanup script
  build/worktreeCleanup.mjs
  package.json
Due: biome-fix-staged

chore: worktree cleanup script (#359)
  build/worktreeCleanup.mjs
  package.json
Due: biome-fix-staged

fix: lint fix
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/hooks/ready.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_actor-conditions.scss
  src/scss/main.scss
  src/scss/vendor/foundry/_status-effects.scss
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/pages/NPCConditionsTab.svelte
  src/view/sheets/pages/PlayerCharacterConditionsTab.svelte
  src/view/ui/CanvasConditionsPanel.svelte
  src/view/ui/CanvasConditionsPanel.test.ts
Due: biome-fix-staged, prettier-svelte

feat: enhance actor conditions management and UI
  public/lang/en.json
  public/lang/fr.json
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_actor-conditions.scss
  src/scss/components/_tooltip.scss
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged, prettier-svelte

feat: add functionality to remove effects and update condition handling in ActorConditionsList
  public/lang/en.json
  public/lang/fr.json
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged, prettier-svelte

fix: adjust layout and styling for player sheet and sidebar
  src/scss/components/_sheet.scss
Due: none

fix: replace pro fa icon with free fa icon for condition tabs
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

feat: implement default sheet dimensions
  src/documents/sheets/AncestrySheet.svelte.ts
  src/documents/sheets/BackgroundSheet.svelte.ts
  src/documents/sheets/BoonSheet.svelte.ts
  src/documents/sheets/ClassSheet.svelte.ts
  src/documents/sheets/FeatureSheet.svelte.ts
  src/documents/sheets/MonsterFeatureSheet.svelte.ts
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/ObjectSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/documents/sheets/SpellSheet.svelte.ts
  src/documents/sheets/SubclassSheet.svelte.ts
  src/documents/sheets/sheetDefaults.ts
Due: biome-fix-staged

fix: type handling for effects and conditions in ActorConditionsList
  src/view/components/ActorConditionsList.svelte
Due: prettier-svelte

feat: enhance condition tooltip to display duration in a user-friendly format
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged

fix: address PR feedback for actor conditions UI and code quality
  public/lang/en.json
  public/lang/fr.json
  src/scss/components/_actor-conditions.scss
  src/view/components/ActorConditionsList.svelte
Due: biome-fix-staged, prettier-svelte

refactor: extract duration formatting to shared utility and add catalog keyboard nav
  src/utils/formatDuration.ts
  src/view/components/ActorConditionsList.svelte
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged, prettier-svelte

fix: symlink permissions error on windows
  build/worktreeSetup.mjs
Due: biome-fix-staged

Improve Active Effects and Conditions display on actor sheets and token HUD (#332)
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/sheets/AncestrySheet.svelte.ts
  src/documents/sheets/BackgroundSheet.svelte.ts
  src/documents/sheets/BoonSheet.svelte.ts
  src/documents/sheets/ClassSheet.svelte.ts
  src/documents/sheets/FeatureSheet.svelte.ts
  src/documents/sheets/MonsterFeatureSheet.svelte.ts
  src/documents/sheets/NPCSheet.svelte.ts
  src/documents/sheets/ObjectSheet.svelte.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/documents/sheets/SpellSheet.svelte.ts
  src/documents/sheets/SubclassSheet.svelte.ts
  src/documents/sheets/sheetDefaults.ts
  src/hooks/ready.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_actor-conditions.scss
  src/scss/components/_sheet.scss
  src/scss/components/_tooltip.scss
  src/scss/main.scss
  src/scss/vendor/foundry/_status-effects.scss
  src/utils/formatDuration.ts
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/pages/NPCConditionsTab.svelte
  src/view/sheets/pages/PlayerCharacterConditionsTab.svelte
  src/view/ui/CanvasConditionsPanel.svelte
  src/view/ui/CanvasConditionsPanel.test.ts
Due: biome-fix-staged, prettier-svelte

fix: symlink permissions error on windows (#360)
  build/worktreeSetup.mjs
Due: biome-fix-staged

feat: add pre-use and post-use hooks for item and spell actions
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
Due: biome-fix-staged

feat: add flags to NimbleBaseItem and NimbleSpellItem for enhanced item tracking
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
Due: biome-fix-staged

fix: replace setContext with untrack for messageDocument
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/BackgroundSheet.svelte
  src/view/sheets/BoonSheet.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/MonsterFeatureSheet.svelte
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/SpellSheet.svelte
  src/view/sheets/SubclassSheet.svelte
Due: prettier-svelte

fix: suppress a11y warnings from third-party libraries in node_modules
  vite.config.mts
Due: biome-fix-staged

feat: add Apply Healing button and healingPotionBonus rule (#368)
  packs/classFeatures/core/commander/commander-progression/field-medic.json
  packs/classFeatures/core/hunter/hunter-subclasses/keeper-of-the-wildheart/healing-salve.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/lay-on-hands.json
  packs/classFeatures/core/shepherd/shepherd-progression/searing-light.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration008FieldMedicHealingPotionBonus.ts
  src/migration/migrations/Migration009HealingEffects.ts
  src/migration/migrations/index.ts
  src/models/rules/healingPotionBonus.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

feat: track applied healing state with undo functionality
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

fix: add appliedHealing schema to chat card data models
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/MinionGroupAttackCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

fix: use Foundry delete syntax for undoing healing
  src/documents/chatMessage.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

NCS v1.5
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_minion-group-token-actions.scss
Due: biome-fix-staged

feat: add localization and UX improvements to healing button
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/view/chat/components/HealingNode.svelte
Due: biome-fix-staged, prettier-svelte

refactor: move undo button to icon button inside healing applied block
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

style: improve undo button for light/dark mode compatibility
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

fix: use nimble-sheet-background for solid undo button background
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

style: make undo button square with aspect-ratio and larger icon
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

style: use basic button styling for undo button
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

style: add border and hover effects matching Cast Spell button
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

style: use Font Awesome icon for undo button and improve styling
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

fix: only auto-target self for healing items
  src/documents/item/base.svelte.ts
Due: biome-fix-staged

refactor: rename healing potion variables to healing item
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

fix: unmount old Svelte component before mounting new one
  src/hooks/renderChatMessage.ts
Due: biome-fix-staged

feat: add permission check and use Font Awesome icons
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

Update es.json
  public/lang/es.json
Due: biome-fix-staged

chore: support beta relases
  .github/workflows/main.yml
Due: none

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
