Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

chore(release): v0.8.9
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

feat(backgrounds): automate Haunted Past fear advantage
  packs/backgrounds/core/haunted-past.json
  src/documents/dialogs/CharacterCreationDialog.test.ts
Due: biome-fix-staged

feat(rules): situational saving throw roll modes, Survivalist poison save (#401)
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration042SurvivalistPoisonSave.ts
  src/migration/migrations/index.ts
  src/models/rules/savingThrowRollMode.test.ts
  src/models/rules/savingThrowRollMode.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(spells): roll Shadow Trap's damage from the chat card (#370)
  packs/spells/core/necrotic/shadow-trap.json
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageDamageApplication.test.ts
  src/documents/chatMessageDeferredDamage.test.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration042ShadowTrapDeferredDamage.ts
  src/migration/migrations/index.ts
  src/utils/buildDeferredDamagePatch.test.ts
  src/utils/buildDeferredDamagePatch.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/chat/components/DamageNode.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(levelUp): stop duplicate feature copies from crashing the level-up dialog (#907)
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
Due: biome-fix-staged

feat(conditions): let GMs add custom conditions from world settings (#484)
  public/lang/en.json
  src/managers/ConditionManager.test.ts
  src/managers/ConditionManager.ts
  src/settings/customConditionSettings.test.ts
  src/settings/customConditionSettings.ts
  src/settings/index.ts
  src/settings/registerCustomConditionSettings.ts
  src/view/settings/CustomConditionsEditor.svelte
  src/view/settings/CustomConditionsEditor.svelte.test.ts
  src/view/settings/CustomConditionsEditor.types.ts
  src/view/settings/CustomConditionsEditorState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(backgrounds): make Haunted Past fear advantage reach existing characters
  .github/workflows/checks.yml
  packs/backgrounds/core/haunted-past.json
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/compendiumSourceId.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
  src/migration/migrations/Migration042HauntedPastFearAdvantage.test.ts
  src/migration/migrations/Migration042HauntedPastFearAdvantage.ts
  src/migration/migrations/index.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: biome-fix-staged, prettier-svelte

feat(ancestry): choose which kind of people a multi-variant ancestry is (#159)
  packs/ancestries/core/exotic/dryadshroomling.json
  packs/ancestries/core/exotic/minotaurbeastfolk.json
  packs/ancestries/core/exotic/oozelingconstruct.json
  public/lang/en.json
  src/config.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/documents/item/ancestry.test.ts
  src/documents/item/ancestry.ts
  src/documents/item/item.d.ts
  src/models/item/AncestryDataModel.ts
  src/utils/ancestryVariants.test.ts
  src/utils/ancestryVariants.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryOptionsSelection.svelte.test.ts
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/components/VariantOptionsInput.svelte
  tests/harnesses/AncestryOptionsSelectionHarness.svelte
  tests/harnesses/CharacterCreationStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

refactor(saves): extract roll-mode calculators, share pack source-id fold (#401)
  docs/documentation/reference/_partials/savingThrowRollMode.md
  docs/system/rules.md
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/config.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
  src/migration/migrations/Migration042SurvivalistPoisonSave.ts
  src/migration/packSourceId.ts
  src/models/rules/rule.d.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.test.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.test.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.ts
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: biome-fix-staged, prettier-svelte

feat(spells): let a dropped spell become a spell scroll (#395)
  packs/magicItems/core/spellScrollTemplates/spell-scroll-cantrip.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-1.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-2.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-3.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-4.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-5.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-6.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-7.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-8.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-9.json
  public/lang/en.json
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration042SpellScrollsShareASlot.ts
  src/migration/migrations/index.ts
  src/settings/index.ts
  src/settings/spellScrollSettings.ts
  src/utils/createScrollFromSpell.test.ts
  src/utils/createScrollFromSpell.ts
  src/utils/getSpellScrollData.ts
  src/utils/getSpellScrollTemplateTier.ts
  src/utils/getSpells.ts
  src/utils/knowsSpellSchool.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(saves): apply situational save advantage from the roll dialog (#401)
  packs/backgrounds/core/survivalist.json
  public/lang/en.json
  src/migration/migrations/Migration042SurvivalistPoisonSave.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.test.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.utils.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/formatRollModeLabel.ts
  src/view/dialogs/situationalSaveRules.test.ts
  src/view/dialogs/situationalSaveRules.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): two scroll dialog defects found running it in Foundry
  packs/magicItems/core/spellScrollTemplates/spell-scroll-cantrip.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-1.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-2.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-3.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-4.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-5.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-6.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-7.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-8.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-9.json
  src/view/dialogs/SpellScrollDialog.svelte
Due: biome-fix-staged, prettier-svelte

refactor(spells): use the house choice-card pattern, token-driven for both themes
  src/utils/nextDialogId.ts
  src/view/dialogs/SpellScrollDialog.svelte
Due: biome-fix-staged, prettier-svelte

refactor(spells): single full-width action naming its own outcome
  public/lang/en.json
  src/view/dialogs/SpellScrollDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): never spend a scroll the player has not committed to
  public/lang/en.json
  src/documents/item/object.ts
Due: biome-fix-staged

docs(spells): correct the activate() comment about when a scroll is spent
  src/documents/item/object.ts
Due: biome-fix-staged

feat(spells): say why a scroll is asking for an Arcana check
  public/lang/en.json
  src/documents/actor/actorInterfaces.ts
  src/documents/item/object.ts
  src/view/dialogs/CheckRollDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(spells): let a dropped spell become a spell scroll (#395)
  packs/magicItems/core/spellScrollTemplates/spell-scroll-cantrip.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-1.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-2.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-3.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-4.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-5.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-6.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-7.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-8.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-9.json
  public/lang/en.json
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration043SpellScrollsShareASlot.ts
  src/migration/migrations/index.ts
  src/settings/index.ts
  src/settings/spellScrollSettings.ts
  src/utils/createScrollFromSpell.test.ts
  src/utils/createScrollFromSpell.ts
  src/utils/getSpellScrollData.ts
  src/utils/getSpellScrollTemplateTier.ts
  src/utils/getSpells.ts
  src/utils/knowsSpellSchool.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(spells): conform the scroll feature to the style guide
  public/lang/en.json
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/migration/migrations/Migration043SpellScrollsShareASlot.ts
  src/scss/base/_base.scss
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/settings/index.ts
  src/settings/spellScrollSettings.test.ts
  src/settings/spellScrollSettings.ts
  src/utils/createScrollFromSpell.test.ts
  src/utils/createScrollFromSpell.ts
  src/utils/getSpellScrollData.ts
  src/utils/getSpellScrollTemplateTier.test.ts
  src/utils/getSpellScrollTemplateTier.ts
  src/utils/getSpells.test.ts
  src/utils/knowsSpellSchool.test.ts
  src/utils/nextDialogId.ts
  src/utils/spellLabels.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/SpellScrollDialog.state.svelte.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/components/spellScroll/SpellScrollCandidateRow.svelte
  src/view/dialogs/components/spellScroll/SpellScrollChoiceCard.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(spells): register the shared spell utils and tighten the choice-card types
  docs/STYLE_GUIDE.md
  src/scss/base/_variables.scss
  src/view/dialogs/components/spellScroll/SpellScrollCandidateRow.svelte
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

test(spells): cover the dialog state, and close the round-3 audit findings
  docs/STYLE_GUIDE.md
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.test.ts
  src/view/dialogs/components/spellScroll/SpellScrollCandidateRow.svelte
  src/view/dialogs/components/spellScroll/SpellScrollChoiceCard.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  tests/harnesses/SpellScrollDialogStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

test(spells): kill two mutants the new tests were letting through
  src/settings/spellScrollSettings.test.ts
  src/utils/createScrollFromSpell.test.ts
  src/utils/knowsSpellSchool.test.ts
Due: biome-fix-staged

test(spells): silence the one compiler warning the state harness added
  docs/STYLE_GUIDE.md
  tests/harnesses/SpellScrollDialogStateHarness.svelte
Due: prettier-svelte

fix(spells): close the PR review on spell scrolls
  public/lang/en.json
  src/documents/actor/actorInterfaces.ts
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/scss/base/_base.scss
  src/utils/createScrollFromSpell.test.ts
  src/utils/createScrollFromSpell.ts
  src/utils/getSpellScrollTemplateTier.test.ts
  src/utils/getSpellScrollTemplateTier.ts
  src/utils/getSpells.test.ts
  src/utils/getSpells.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.test.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/components/spellScroll/SpellScrollCandidateRow.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  tests/harnesses/SpellScrollDialogStateHarness.svelte
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

docs(spells): tighten the scroll activation doc comment
  src/documents/item/object.ts
Due: biome-fix-staged

docs(spells): reword the scroll check and confirmation comments
  src/documents/item/object.ts
Due: biome-fix-staged

docs(inventory): reword the stacked-item lookup comment
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
Due: biome-fix-staged

chore(spells): rename the scroll blanks to "Spell Scroll, Tier N"
  docs/STYLE_GUIDE.md
  packs/magicItems/core/spellScrollTemplates/spell-scroll-cantrip.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-1.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-2.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-3.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-4.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-5.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-6.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-7.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-8.json
  packs/magicItems/core/spellScrollTemplates/spell-scroll-tier-9.json
  public/lang/babele/es/nimble.nimble-magic-items.json
  public/lang/babele/fr/nimble.nimble-magic-items.json
  src/migration/migrations/Migration043SpellScrollsShareASlot.ts
  src/utils/createScrollFromSpell.ts
  src/utils/getSpellScrollTemplateTier.ts
Due: biome-fix-staged

docs(spells): cut the comments that were not carrying knowledge
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/migration/migrations/Migration043SpellScrollsShareASlot.ts
  src/settings/spellScrollSettings.test.ts
  src/settings/spellScrollSettings.ts
  src/utils/createScrollFromSpell.ts
  src/utils/getSpellScrollTemplateTier.test.ts
  src/utils/getSpellScrollTemplateTier.ts
  src/utils/getSpells.ts
  src/utils/knowsSpellSchool.ts
  src/utils/spellLabels.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/SpellScrollDialog.state.svelte.test.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/components/spellScroll/SpellScrollCandidateRow.svelte
  src/view/dialogs/components/spellScroll/SpellScrollChoiceCard.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  tests/harnesses/SpellScrollDialogStateHarness.svelte
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(pdfExport): print document link labels instead of raw UUIDs
  src/utils/resolveContentLinks.test.ts
  src/utils/resolveContentLinks.ts
  src/view/sheets/character/pdfExport/generatePdfContent.test.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged

fix(spells): wait for the scroll's dice, fix the dark-theme warning hint
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/scss/components/_hint.scss
  src/view/dialogs/SpellScrollDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(pdfExport): print document link labels instead of raw UUIDs (#915)
  src/utils/resolveContentLinks.test.ts
  src/utils/resolveContentLinks.ts
  src/view/sheets/character/pdfExport/generatePdfContent.test.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged
