Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix: Half-Giant Dwarvish predicate not evaluating INT condition (#529)
  src/documents/actor/character.ts
Due: biome-fix-staged

style: improve pc creator UI consistency (#537)
  src/scss/components/_card.scss
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/StartingEquipmentSelection.svelte
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: prettier-svelte

fix: Combat tracker invisible area no longer blocks canvas clicks (#527)
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Initiative fix
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatInitiative.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/rollCharacterInitiative.test.ts
  src/view/sheets/rollCharacterInitiative.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(combat): End turn action refill race (#519)
  docs/STYLE_GUIDE.md
  src/documents/combat/combat.svelte.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/combatantActionMutationQueue.test.ts
  src/utils/combatantActionMutationQueue.ts
  src/utils/queueCombatantMutationWithFreshDocument.test.ts
  src/utils/queueCombatantMutationWithFreshDocument.ts
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

feature: add HP scrolling text and centralize HP manipulation flow (#516)
  src/documents/actor/actor.d.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/hpScrollingTextColors.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

chore: update image icons on legendary monsters
  packs/legendaryMonsters/core/alaric-draegoth-the-crimson-count.json
  packs/legendaryMonsters/core/azriel-lord-of-pain-and-flame.json
  packs/legendaryMonsters/core/caerys-the-hollow-star.json
  packs/legendaryMonsters/core/dravok-all-seeing-tyrant.json
  packs/legendaryMonsters/core/florindris-bane-of-the-forest.json
  packs/legendaryMonsters/core/general-flameheart.json
  packs/legendaryMonsters/core/gloomwing-the-cruel.json
  packs/legendaryMonsters/core/grimbeak-the-unyielding.json
  packs/legendaryMonsters/core/nalzar-apex-predator.json
  packs/legendaryMonsters/core/queen-aranya-broodmother.json
  packs/legendaryMonsters/core/ravager-of-the-lowlands.json
  packs/legendaryMonsters/core/thorn-quickblade.json
  packs/legendaryMonsters/core/titan-of-the-deep-woods.json
  packs/legendaryMonsters/core/ulvek-psionic-despot.json
  packs/legendaryMonsters/core/vael-undying-necromancer.json
Due: biome-fix-staged

chore: update image icons from Nimble books
  packs/magicItems/core/coreRules/phoenix-helm.json
  packs/magicItems/core/gmGuide/manglemaul.json
  packs/monsters/core/briarbanes/briarbane-rootbreaker.json
  packs/monsters/core/oozes/elder-ooze.json
  packs/monsters/core/underground/great-worm.json
  public/assets/legendaryMonsterImages/Greenthumb.webp
  public/assets/magicItems/MangleMaul.webp
  public/assets/magicItems/PheonixHelm.webp
  public/assets/monsterImages/ElderOoze.webp
  public/assets/monsterImages/GreatWorm.webp
  public/assets/monsterImages/Rootbreaker.webp
Due: biome-fix-staged

fix: apply biome formatting to docs config files
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  docs/package.json
Due: biome-fix-staged

chore: gitignore release notes drafts
  .gitignore
Due: none

fix: apply biome formatting to docs config files (#544)
  .gitignore
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  docs/package.json
Due: biome-fix-staged

chore: add custom image icons for monsters and magic items
  packs/legendaryMonsters/core/greenthumb-lichling.json
Due: biome-fix-staged

init_dupe
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(rules): add initiativeMessage rule type
  packs/classFeatures/core/berserker/savage-arsenal/eager-for-battle.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/combat/handleInitiativeRules.ts
  src/documents/combat/handlers/initiativeMessageHandler.ts
  src/models/rules/initiativeMessage.ts
Due: biome-fix-staged

chore: trim comments to match codebase style
  src/documents/combat/handlers/initiativeMessageHandler.ts
  src/models/rules/initiativeMessage.ts
Due: biome-fix-staged

fix(rules): address maintainer review feedback
  src/documents/combat/handlers/initiativeMessageHandler.ts
  src/models/rules/initiativeMessage.test.ts
  src/utils/combatManaRules.ts
  src/utils/itemSourceRules.ts
Due: biome-fix-staged

docs: add itemSourceRules to shared code inventory
  docs/STYLE_GUIDE.md
Due: none

fix: prevent duplicate initiative rolls (#548)
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(rules): add initiativeMessage rule type (#550)
  docs/STYLE_GUIDE.md
  packs/classFeatures/core/berserker/savage-arsenal/eager-for-battle.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/combat/handleInitiativeRules.ts
  src/documents/combat/handlers/initiativeMessageHandler.ts
  src/models/rules/initiativeMessage.test.ts
  src/models/rules/initiativeMessage.ts
  src/utils/combatManaRules.ts
  src/utils/itemSourceRules.ts
Due: biome-fix-staged

Choose turn order before starting combat
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatMinionGroups.ts
  src/documents/combat/combatSorting.ts
  src/utils/combatTurnSync.test.ts
  src/utils/combatTurnSync.ts
  src/utils/minionGrouping.test.ts
  src/utils/minionGrouping.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
Due: biome-fix-staged

PR Review fix
  src/view/dialogs/CheckRollDialog.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/ui/CtTopTracker.state.svelte.ts
  types/combat.d.ts
  types/components/CheckRollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

init roll enricher
  src/documents/actor/base.svelte.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

PR review fix
  docs/STYLE_GUIDE.md
  src/utils/combatTurnSync.ts
  src/utils/getHeroicReactionUsageState.ts
  src/utils/isCombatStarted.test.ts
  src/utils/isCombatStarted.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
Due: biome-fix-staged

test(sheet): align core tab initiative test with helper flow
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
Due: biome-fix-staged

feat(combat): add left-to-right ordering setting for combat tracker
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

Nimble Setting
  public/lang/en.json
  src/settings/index.ts
  src/settings/initiativeSettings.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
Due: biome-fix-staged, prettier-svelte

add character to combar late
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
Due: biome-fix-staged, prettier-svelte

type-check fix
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

feat(zephyr): implement unarmored predicate for Swift Feet
  packs/classFeatures/core/zephyr/zephyr-progression/swift-feet.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/migration/migrations/Migration013SwiftFeetPredicates.ts
  src/migration/migrations/index.ts
  src/models/rules/initiativeBonus.ts
  src/models/rules/speedBonus.test.ts
  src/models/rules/speedBonus.ts
  src/view/dialogs/CharacterMovementConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(migration): update LATEST_SCHEMA_VERSION to 13 for Swift Feet migration
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

fix(i18n): localize all hardcoded strings in CtSettingsDialog
  public/lang/en.json
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
Due: biome-fix-staged, prettier-svelte

Update es.json
  public/lang/es.json
Due: biome-fix-staged

feat(combat): add left-to-right ordering setting for combat tracker (#553)
  public/lang/en.json
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

fix: address PR review feedback for multi-action cost
  src/utils/resolveItemActionCost.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
Due: biome-fix-staged, prettier-svelte

feat(rules): implement Lionhearted adjacency bonus
  packs/boons/core/major/lionhearted.json
  public/lang/en.json
  src/config/registerConditionsConfig.ts
  src/config/registerRulesConfig.ts
  src/hooks/combatantHooks/lionheartedAdjacencySync.test.ts
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
  src/hooks/ready.ts
  src/models/rules/lionheartedBonus.ts
  src/utils/tokenAdjacency.ts
Due: biome-fix-staged

fix(lionhearted): resolve status toggle and armor bonus not applying
  src/documents/actor/character.ts
  src/hooks/combatantHooks/lionheartedAdjacencySync.test.ts
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
  src/models/rules/lionheartedBonus.ts
Due: biome-fix-staged

fix(lionhearted): simplify boon detection to use instantiated actor rules
  src/hooks/combatantHooks/lionheartedAdjacencySync.test.ts
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
Due: biome-fix-staged

fix(lionhearted): hold scheduled flag until async sync completes
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
