Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

docs: update configuration and contributing documents; add Discord link to index
  docs/.vitepress/config.mts
  docs/contributing.md
  docs/index.md
Due: biome-fix-staged

Persistant show/hide
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/settings/ncswSettings.ts
Due: biome-fix-staged

NCS - Persistent Show/Hide (#440)
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/settings/ncswSettings.ts
Due: biome-fix-staged

refactor: extract shared WeaponCard component for attack lists
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte
  src/view/sheets/components/WeaponCard.svelte
Due: prettier-svelte

feat: add Heroic Reactions tab with chat card targeting system
  public/lang/en.json
  src/documents/chatMessage.ts
  src/hooks/renderChatMessage.ts
  src/models/chat/ReactionCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/view/chat/ReactionCard.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix: rename state to panelState to avoid $state rune conflict
  src/view/sheets/components/OpportunityReactionPanel.svelte
Due: prettier-svelte

feat: add descriptive messages to reaction chat cards
  public/lang/en.json
  src/view/chat/ReactionCard.svelte
Due: biome-fix-staged, prettier-svelte

refactor: add TypeScript, localization, shared styles to reaction components
  public/lang/en.json
  public/system.json
  src/scss/components/_reaction-card.scss
  src/scss/main.scss
  src/view/chat/ReactionCard.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte
  src/view/sheets/components/WeaponCard.svelte
  types/components/ReactionCard.d.ts
  types/components/ReactionPanel.d.ts
  types/components/WeaponCard.d.ts
Due: biome-fix-staged, prettier-svelte

fix: adjust reaction chat card styles to match attack cards
  src/view/chat/ReactionCard.svelte
Due: prettier-svelte

feat: add styled move action chat card with speed display
  public/lang/en.json
  public/system.json
  src/hooks/renderChatMessage.ts
  src/models/chat/MoveActionCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/view/chat/MoveActionCard.svelte
  src/view/sheets/components/MoveActionPanel.svelte
Due: biome-fix-staged, prettier-svelte

fix: opportunity attacks now correctly default to disadvantage
  src/view/sheets/components/OpportunityReactionPanel.svelte.ts
Due: biome-fix-staged

refactor: extract state logic into separate .svelte.ts files
  public/lang/en.json
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_reaction-card.scss
  src/view/chat/AssessActionCard.svelte
  src/view/chat/AssessActionCard.svelte.ts
  src/view/chat/ReactionCard.svelte
  src/view/chat/ReactionCard.svelte.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): stabilize reactive chat card mounting and rename Interpose & Defend
  public/lang/en.json
  src/view/chat/AssessActionCard.svelte
  src/view/chat/AssessActionCard.svelte.ts
  src/view/chat/ReactionCard.svelte
  src/view/chat/ReactionCard.svelte.ts
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityReactionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(i18n): add missing localization keys for MoveActionPanel
  public/lang/en.json
Due: biome-fix-staged

docs: add PROJECT_CONTEXT.md for AI agent guidelines
  AGENTS.md
  docs/.vitepress/config.mts
  docs/PROJECT_CONTEXT.md
Due: biome-fix-staged

docs: add note to always use MCP context7 for documentation
  AGENTS.md
Due: none

refactor: use CSS custom properties and extract TargetSelector component
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/chat/ReactionCard.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityReactionPanel.svelte
  src/view/sheets/components/TargetSelector.svelte
  types/components/TargetSelector.d.ts
Due: biome-fix-staged, prettier-svelte

refactor: rename OpportunityReactionPanel to OpportunityAttackPanel
  PR_REVIEW.md
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

refactor: extract ReactionCard state logic into separate file
  src/view/chat/ReactionCard.svelte
  src/view/chat/ReactionCardState.svelte.ts
Due: biome-fix-staged, prettier-svelte

chore: remove file
  PR_REVIEW.md
Due: none

Secret Spells
  packs/ids.json
  packs/secretSpells/core/fire/hearth-and-home.json
  packs/secretSpells/core/ice/cryotomb.json
  packs/secretSpells/core/lightning/sparkfetch.json
  packs/secretSpells/core/lightning/teleport.json
  packs/secretSpells/core/necrotic/memory-veil.json
  packs/secretSpells/core/necrotic/speak-with-dead.json
  packs/secretSpells/core/radiant/radiant-bond.json
  packs/secretSpells/core/radiant/revive.json
  packs/secretSpells/core/wind/greater-windform.json
  packs/secretSpells/core/wind/lesser-windform.json
  public/lang/en.json
  public/system.json
  src/config.ts
  src/hooks/compendiumSpellsFilter.test.ts
  src/hooks/compendiumSpellsFilter.ts
  src/models/item/SpellDataModel.ts
  src/utils/secretSpellsPack.test.ts
Due: biome-fix-staged

Persistant Hide/Show CT after screen refresh
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
Due: biome-fix-staged

Text Formatting
  packs/classFeatures/core/commander/commander-subclasses/spellblade/crystalline-armor.json
  packs/classFeatures/core/commander/commander-subclasses/spellblade/flashstep.json
  packs/classFeatures/core/commander/commander-subclasses/spellblade/glimmering-decree.json
  packs/classFeatures/core/commander/commander-subclasses/spellblade/rising-phoenix.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/grease-trap.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/snare-trap.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  packs/classFeatures/core/oathsworn/oathsworn-subclasses/oathbreaker/bring-me-your-pain.json
  packs/classFeatures/core/oathsworn/oathsworn-subclasses/oathbreaker/exploit.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-abyssal-depths/glacial-resilience.json
  packs/classFeatures/core/shepherd/shepherd-subclasses/luminary-of-malice/veilwalkers-blessing.json
  packs/classFeatures/core/songweaver/songweaver-progression/songweavers-inspiration.json
  packs/classFeatures/core/songweaver/songweaver-subclasses/herald-of-courage/chorus-of-champions.json
  packs/classFeatures/core/songweaver/songweaver-subclasses/herald-of-snark/opportunistic-snark.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-fang-and-claw/windborne-protector.json
  packs/subclasses/core/commander/spellblade.json
  packs/subclasses/core/mage/invoker-of-chaos.json
  packs/subclasses/core/oathsworn/oathbreaker.json
  packs/subclasses/core/shadowmancer/pact-of-the-abyssal-depths.json
  packs/subclasses/core/shepherd/luminary-of-malice.json
  packs/subclasses/core/songweaver/herald-of-courage.json
  packs/subclasses/core/songweaver/herald-of-snark.json
  packs/subclasses/core/stormshifter/circle-of-fang-and-claw.json
Due: biome-fix-staged

chore: class features clean up textformatting (#443)
  packs/classFeatures/core/commander/commander-subclasses/spellblade/crystalline-armor.json
  packs/classFeatures/core/commander/commander-subclasses/spellblade/flashstep.json
  packs/classFeatures/core/commander/commander-subclasses/spellblade/glimmering-decree.json
  packs/classFeatures/core/commander/commander-subclasses/spellblade/rising-phoenix.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/grease-trap.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/snare-trap.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  packs/classFeatures/core/oathsworn/oathsworn-subclasses/oathbreaker/bring-me-your-pain.json
  packs/classFeatures/core/oathsworn/oathsworn-subclasses/oathbreaker/exploit.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-abyssal-depths/glacial-resilience.json
  packs/classFeatures/core/shepherd/shepherd-subclasses/luminary-of-malice/veilwalkers-blessing.json
  packs/classFeatures/core/songweaver/songweaver-progression/songweavers-inspiration.json
  packs/classFeatures/core/songweaver/songweaver-subclasses/herald-of-courage/chorus-of-champions.json
  packs/classFeatures/core/songweaver/songweaver-subclasses/herald-of-snark/opportunistic-snark.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-fang-and-claw/windborne-protector.json
  packs/subclasses/core/commander/spellblade.json
  packs/subclasses/core/mage/invoker-of-chaos.json
  packs/subclasses/core/oathsworn/oathbreaker.json
  packs/subclasses/core/shadowmancer/pact-of-the-abyssal-depths.json
  packs/subclasses/core/shepherd/luminary-of-malice.json
  packs/subclasses/core/songweaver/herald-of-courage.json
  packs/subclasses/core/songweaver/herald-of-snark.json
  packs/subclasses/core/stormshifter/circle-of-fang-and-claw.json
Due: biome-fix-staged

chore: update spanish translation (#438)
  public/lang/es.json
Due: biome-fix-staged

First PR reviews fixes
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/expandedTurnIdentityStore.ts
  src/utils/combatState.ts
  src/utils/heroicActions.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/combatTracker.utils.ts
  src/view/ui/ctTopTracker/resources.utils.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
Due: biome-fix-staged, prettier-svelte

Compile typescript fix
  src/documents/combat/expandedTurnIdentityStore.ts
Due: biome-fix-staged

Secret Spells Compendium (#441)
  packs/ids.json
  packs/secretSpells/core/fire/hearth-and-home.json
  packs/secretSpells/core/ice/cryotomb.json
  packs/secretSpells/core/lightning/sparkfetch.json
  packs/secretSpells/core/lightning/teleport.json
  packs/secretSpells/core/necrotic/memory-veil.json
  packs/secretSpells/core/necrotic/speak-with-dead.json
  packs/secretSpells/core/radiant/radiant-bond.json
  packs/secretSpells/core/radiant/revive.json
  packs/secretSpells/core/wind/greater-windform.json
  packs/secretSpells/core/wind/lesser-windform.json
  public/lang/en.json
  public/system.json
  src/config.ts
  src/hooks/compendiumSpellsFilter.test.ts
  src/hooks/compendiumSpellsFilter.ts
  src/models/item/SpellDataModel.ts
  src/utils/secretSpellsPack.test.ts
Due: biome-fix-staged

fix: address PR review feedback for style guide compliance
  src/view/chat/MoveActionCard.svelte
  src/view/chat/ReactionCard.svelte
  src/view/sheets/components/MoveActionPanel.svelte
  types/components/MoveActionCard.d.ts
Due: biome-fix-staged, prettier-svelte

docs: only point agents towards AGENTS.md
  .clinerules
  .cursorrules
  .github/copilot-instructions.md
  .windsurfrules
  CLAUDE.md
  GEMINI.md
Due: none

docs: add 'One Export Per File' guideline and update code promotion rules in AGENTS.md
  AGENTS.md
Due: none

docs: update deployment branches to include dev and main in docs-deploy.yml
  .github/workflows/docs-deploy.yml
Due: none

docs: add VitePress documentation site and improved AI agent guidelines
  .claude/settings.json
  .clinerules
  .cursorrules
  .github/copilot-instructions.md
  .github/workflows/docs-deploy.yml
  .gitignore
  .mcp.json
  .windsurfrules
  AGENT.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/.gitignore
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/FullscreenIframe.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/PROJECT_CONTEXT.md
  docs/RELEASE_GUIDE.md
  docs/STYLE_GUIDE.md
  docs/contributing.md
  docs/index.md
  docs/package.json
  docs/planning/architecture.md
  docs/planning/epics.md
  docs/planning/product-vision.md
  docs/planning/ux-design-directions.md
  docs/planning/ux-design-specification.md
  docs/pnpm-lock.yaml
  docs/public/ux-design-directions.html
  docs/system/index.md
Due: biome-fix-staged

NCCT v1.0
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/ready.ts
  src/scss/components/_combat-tracker.scss
  src/scss/main.scss
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/CombatTrackerSettings.svelte.ts
  src/view/ui/NcctTopTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
  src/view/ui/components/CollapsedMonsterCard.svelte
  src/view/ui/components/CombatTrackerControls.svelte
  src/view/ui/components/CombatTrackerControls.test.ts
  src/view/ui/components/CombatTrackerSettingsWindow.svelte
  src/view/ui/components/MonsterCombatant.svelte
  src/view/ui/components/PlayerCharacterCombatant.svelte
Due: biome-fix-staged, prettier-svelte

Lowered complexity
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/utils/combatantOrdering.ts
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Settings, style, function updates
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/ready.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/NcctSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

removed persistant name title
  src/view/ui/NcctTopTracker.svelte
Due: prettier-svelte

Game System toggle to show/hide combat tracker NCCT
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Formatting update. Settings update
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/dialogs/NcctSettingsDialog.svelte
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
