Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

Settings, style, function updates
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/ready.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/NcctSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

settings update. width preview line
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

fix(dice): filter discarded dice in PrimaryDie.exploded getter (#369)
  src/dice/terms/PrimaryDie.test.ts
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

lint/format fixes
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix(dice): prevent explosion results from being flagged as misses
  src/dice/terms/PrimaryDie.test.ts
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

PR comment fixes
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/hooks.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

Code cleanup
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

fix: only show NCSW toggle for combat on viewed scene
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

NCS Hide/Show toggle button (#394)
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

feat(dice): add Vicious dice support and DSN position-based selection
  packs/spells/core/wind/razor-wind.json
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/diceSoNiceIntegration.ts
  src/documents/dialogs/SpellUpcastDialog.svelte.ts
  src/documents/item/base.svelte.ts
  src/hooks/init.ts
  src/hooks/ready.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/managers/utils.ts
  src/migration/migrations/Migration010RazorWindVicious.ts
  src/migration/migrations/index.ts
  src/models/item/SpellDataModel.ts
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/DamageRoll.svelte
  src/view/dataPreparationHelpers/rollTooltips/prepareRollTooltipDiceResults.ts
  src/view/dataPreparationHelpers/rollTooltips/prepareRollTooltipParts.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

chore: update release script to clean state
  build/release.mjs
Due: biome-fix-staged

chore(release): v0.7.2
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

feat(character-sheet): switch to relevant tab after item drop
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-fix-staged, prettier-svelte

feat(character-sheet): flash dropped items with golden highlight
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(character-sheet): always trigger drop flash on active tab
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
Due: biome-fix-staged

fix(character-sheet): Always trigger drop flash + Style Fixes
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/scss/components/_document-card.scss
  src/utils/shouldFlashDroppedItem.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(character-sheet): Automatically scroll to the positon of the inserted item.
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
Due: biome-fix-staged

Add context menu option to convert scene units from feet to spaces.
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/hooks/sceneDirectoryConvertFeetToSpacesContextMenu.ts
  src/nimble.ts
Due: biome-fix-staged

chore: update lefthook and docs
  CONTRIBUTING.md
  lefthook.yml
Due: none

fix: edit monster movement
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/components/MovementSpeed.svelte
Due: prettier-svelte

fix: edit monster movement (#397)
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/components/MovementSpeed.svelte
Due: prettier-svelte

chore: add planning artifacts and UX design directions
  _bmad-output/planning-artifacts/architecture.md
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/prd-validation-report.md
  _bmad-output/planning-artifacts/prd.md
  _bmad-output/planning-artifacts/ux-design-specification.md
  _bmad-output/ux-design-directions.html
Due: none

chore: add Claude Code settings, MCP config, and gitignore updates
  .claude/settings.json
  .gitignore
  .mcp.json
Due: biome-fix-staged

refactor(player-sheet): simplify drop flash flow and clean tab/localization wiring
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_document-card.scss
  src/utils/shouldFlashDroppedItem.test.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/dropItemFlashState.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  src/view/sheets/playerCharacterPrimaryTabs.ts
Due: biome-fix-staged, prettier-svelte

Addresses PR Review issues
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatantOrdering.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

apply damage no longer affects action count
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/utils/replaceRollFormulaData.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/ItemActivationConfigDialog.test.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/handlers/updateDocumentImage.test.ts
  src/view/handlers/updateDocumentImage.ts
Due: biome-fix-staged, prettier-svelte

Fixed tsc errors in the two new regression tests,
  src/view/dialogs/ItemActivationConfigDialog.test.ts
  src/view/handlers/updateDocumentImage.test.ts
Due: biome-fix-staged

refactor(player-sheet): extract primary tab definitions to dedicated config module
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/view/sheets/dropItemFlashState.ts
  src/view/sheets/playerCharacterPrimaryTabConfig.ts
  src/view/sheets/playerCharacterPrimaryTabs.ts
Due: biome-fix-staged

fix: enable editing saves on NPC monster sheets
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
Due: prettier-svelte

fix: use reactive accessors in chat card components
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SavingThrowCard.svelte
  src/view/chat/SkillCheckCard.svelte
  src/view/chat/components/Targets.svelte
Due: prettier-svelte

fix(chat): stabilize reactive chat card mounting
  src/hooks/renderChatMessage.test.ts
  src/hooks/renderChatMessage.ts
Due: biome-fix-staged

fix: enable editing saves on NPC monster sheets (#414)
  CONTRIBUTING.md
  lefthook.yml
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/components/MovementSpeed.svelte
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
Due: prettier-svelte

Revert "fix: enable editing saves on NPC monster sheets (#414)"
  CONTRIBUTING.md
  lefthook.yml
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/components/MovementSpeed.svelte
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
Due: prettier-svelte

fix: enable editing saves on NPC monster sheets (#414)
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
Due: prettier-svelte

docs: add CLAUDE.md for project guidance and commands
  CLAUDE.md
Due: none

feat: add remote development and deployment scripts to package.json fix: update Vite config to use dynamic Foundry URL for asset proxying
  package.json
  vite.config.mts
Due: biome-fix-staged

feat: add remote development and deployment commands to CLAUDE.md
  CLAUDE.md
Due: none

FEAT: add remote deployment commands to package.json and CLAUDE.md
  CLAUDE.md
  package.json
Due: biome-fix-staged

FEAT: enhance data pulling commands in package.json
  CLAUDE.md
  package.json
Due: biome-fix-staged

DOC: Add documentation for compendium authoring
  docs/CHARACTER_SYSTEM.md
  docs/COMPENDIUM_AUTHORING.md
  docs/FOUNDRY_API_REFERENCE.md
  docs/MACROS_AND_AUTOMATION.md
  docs/SCENE_AND_CANVAS.md
Due: none
