Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

refactor(FeatureSheet): extract tab config into constants, assemble navigation in svelte
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/FeatureSheetConstants.ts
Due: biome-fix-staged, prettier-svelte

fix(dialogs): apply savingThrowRollMode rules during character creation (#728)
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

feat: add die modifier vocabulary (crit/miss core)
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/nimbleDieModifiers.test.ts
  src/dice/nimbleDieModifiers.ts
  src/view/debug/scenarios.ts
Due: biome-fix-staged

docs(dice): update engine overview for die modifier vocabulary
  docs/system/dice-engine.md
Due: none

feat(level-down): group removed features under a single header with img+name cards
  public/lang/en.json
  src/config.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(sheets): search features, inventory, actions and spells by description text
  src/view/dataPreparationHelpers/filterItems.test.ts
  src/view/dataPreparationHelpers/filterItems.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

feat(combat): wire flunky tag to suppress critical hits
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

feat(combat): decrement action tracker from all tabs on item activation
  src/documents/actor/character.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

feat(combat): add temporary bonus action slots to the action tracker
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatantSystem.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

feat(dice): forced outcomes, thresholds, and reroll protocol (#726)
  docs/system/dice-engine.md
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/reroll.ts
Due: biome-fix-staged

feat(dice): die modifier vocabulary (c/cv/v/n) (#715)
  docs/system/dice-engine.md
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/nimbleDieModifiers.test.ts
  src/dice/nimbleDieModifiers.ts
  src/view/debug/scenarios.ts
Due: biome-fix-staged

feat(dice): route /r formulas with Nimble modifiers to DamageRoll
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/hooks/init.ts
Due: biome-fix-staged

docs(dice): update engine overview for critCount, brutalPrimary, primaryDieValue
  docs/system/dice-engine.md
Due: none

feat(dice): add critCount, brutalPrimary, and primaryDieValue API
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/view/debug/DiceTestbench.state.svelte.ts
  src/view/debug/DiceTestbench.svelte
  src/view/debug/DiceTestbench.types.ts
  src/view/debug/scenarios.ts
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged, prettier-svelte

feat(dice): critCount, brutalPrimary, and primaryDieValue API (#716)
  docs/system/dice-engine.md
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/hooks/init.ts
  src/view/debug/DiceTestbench.state.svelte.ts
  src/view/debug/DiceTestbench.svelte
  src/view/debug/DiceTestbench.types.ts
  src/view/debug/scenarios.ts
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged, prettier-svelte

refactor(utils): extract stripHtml into shared utility
  src/utils/stripHtml.ts
  src/view/dataPreparationHelpers/filterItems.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

fix(i18n): localize hardcoded bonus action button strings
  public/lang/en.json
  src/view/sheets/components/ActionTracker.svelte
Due: biome-fix-staged, prettier-svelte

feat(combat): wire flunky tag to suppress critical hits (#731)
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

feat(sheets): search features, inventory, and spells by description text (#730)
  src/utils/stripHtml.ts
  src/view/dataPreparationHelpers/filterItems.test.ts
  src/view/dataPreparationHelpers/filterItems.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

refactor(combat): rename bonus to additional per Nimble terminology
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatantSystem.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

feat(combat): decrement action tracker from all tabs on item activation (#732)
  src/documents/actor/character.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

fix: don't block reactions
  public/lang/en.json
  src/documents/combat/combat.svelte.ts
  src/hooks/combatSidebarToggle.ts
  src/macros/activateHeroicActionMacro.ts
  src/utils/dialogConfirm.ts
  src/utils/getHeroicReactionUsageState.ts
  src/utils/showReactionConfirmation.ts
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/ReactionPanels.test.ts
  src/view/sheets/components/handleInterposeAndDefend.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

test(combat): force can bypass active-turn heroic reaction block
  src/documents/combat/combat.svelte.test.ts
Due: biome-fix-staged

revert(dialogs): use native DialogV2.confirm directly
  src/hooks/combatSidebarToggle.ts
  src/macros/activateHeroicActionMacro.ts
  src/utils/dialogConfirm.ts
  src/utils/showReactionConfirmation.ts
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.test.ts
Due: biome-fix-staged, prettier-svelte

i18n(reactions): match rulebook wording in confirm dialog
  public/lang/en.json
Due: biome-fix-staged

chore: update commanders order levels
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/classFeatures/core/commander/commanders-order/reposition.json
Due: biome-fix-staged

fix(review): address PR feedback on type annotations, UUID matching, and test coverage
  public/lang/en.json
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/sheets/FeatureSheet.state.svelte.ts
  src/view/sheets/FeatureSheet.svelte
  types/components/FeatureSheet.d.ts
Due: biome-fix-staged, prettier-svelte

fix(styles): use blue CSS variables for additional action dice
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/sheets/components/ActionTracker.svelte
Due: prettier-svelte

feat(level-up): grant and remove spells during subclass selection (#702)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/removeSpells.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

fix(compendium): restrict Lifebinding Spirit spell to Shepherd only
  packs/spells/core/radiant/lifebinding-spirit.json
Due: biome-fix-staged

feat(features-tab): group class features, add collapsible cards with level badges (#570)
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: prettier-svelte

fix(features-tab): fall back to gainedAtLevels[0] for level badge when gainedAtLevel is null
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: prettier-svelte

feat(features-tab): subclass features nest under subclass card, no redundant heading
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: prettier-svelte

fix(features-tab): derive class/subclass feature lists directly from items
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: prettier-svelte

fix(features-tab): match expand/collapse icon to NPC sheet (fa-expand/fa-compress)
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: prettier-svelte

fix(compendium): restrict Lifebinding Spirit spell to Shepherd only (#738)
  packs/spells/core/radiant/lifebinding-spirit.json
Due: biome-fix-staged

feat(combat): add temporary bonus action slots to the action tracker (#733)
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatantSystem.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

chore: update Patreon to QuestLuminary and remove Phillip Best as author
  package.json
  public/system.json
Due: biome-fix-staged
