Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(ci): change rolling dev release tag due to `latest-dev` got set as immutable (#872)
  .github/workflows/dev-release.yml
Due: none

test(integration): cover damage resist/vuln/immunity via real apply-damage clicks
  tests/integration/damageDefenses.test.ts
  tests/integration/liveHelpers.ts
Due: biome-fix-staged

fix(hud): stop V14's palette height cap from clipping the conditions panel
  src/scss/vendor/foundry/_status-effects.scss
Due: none

test(damage): cover the unsourced banked reduction label
  src/documents/chatMessage.test.ts
Due: biome-fix-staged

test(damage): cover the unsourced banked reduction label (#874)
  src/documents/chatMessage.test.ts
Due: biome-fix-staged

feat(sheet): move wounds to a segmented track under the hit point bar
  public/lang/en.json
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_heading.scss
  src/scss/components/_image.scss
  src/scss/components/_wounds.scss
  src/scss/main.scss
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/WoundTrack.svelte
Due: biome-fix-staged, prettier-svelte

feat(settings): add automation settings module with registration and legacy migration
  public/lang/en.json
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/settings/index.ts
  src/settings/registerAutomationSettings.ts
Due: biome-fix-staged

feat(rules): gate rule dispatch and automation behind family toggles
  src/documents/combat/combat.svelte.ts
  src/documents/combat/handlers/initiativeMessageHandler.ts
  src/documents/item/base.svelte.ts
  src/documents/item/shouldSuppressActivationCard.test.ts
  src/documents/item/spell.ts
  src/hooks/automaticConditions.test.ts
  src/hooks/automaticConditions.ts
  src/hooks/chargeSystem.test.ts
  src/hooks/chargeSystem.ts
  src/hooks/combatantHooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHooks/combatantHealthStateSync.ts
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/models/rules/diceConsumer.ts
  src/models/rules/toggleEffect.ts
  src/utils/chargePool/chargePoolRecover.test.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/combatTurnActions.ts
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/isAutoApplyEnabled.ts
Due: biome-fix-staged

feat(ui): automation settings dialog and docs
  docs/documentation/gm/settings.md
  docs/documentation/playing/conditions.md
  docs/system/rules.md
  public/lang/en.json
  src/settings/registerAutomationSettings.ts
  src/view/settings/AutomationSettingsDialog.svelte
  src/view/settings/AutomationSettingsDialog.types.ts
Due: biome-fix-staged, prettier-svelte

chore: add a release note generator claude command (#869)
  .claude/commands/nimble-release-notes.md
Due: none

fix(sheet): meet 3:1 contrast on the wound track and preview un-fills
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/sheets/components/WoundTrack.svelte
Due: prettier-svelte

fix(settings): address automation settings review feedback
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/item/spell.test.ts
  src/settings/registerAutomationSettings.test.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(sheet): move wounds to a segmented track under the hit point bar (#875)
  public/lang/en.json
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_heading.scss
  src/scss/components/_image.scss
  src/scss/components/_wounds.scss
  src/scss/main.scss
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/WoundTrack.svelte
Due: biome-fix-staged, prettier-svelte

fix(rules): address second-round automation settings review feedback
  src/documents/item/shouldSuppressActivationCard.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/models/rules/initiativeMessage.test.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
Due: biome-fix-staged

fix(actor): stop cosmetic HP feedback from aborting the update dispatch
  src/documents/actor/base.svelte.ts
  src/documents/actor/hpChangeFeedback.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(actor): stop cosmetic HP feedback from aborting the update dispatch (#894)
  src/documents/actor/base.svelte.ts
  src/documents/actor/hpChangeFeedback.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

feat(items): allow zero-cost activations
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/combat/combat.svelte.test.ts
  src/models/item/common.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/resolveItemActionCost.test.ts
  src/utils/resolveItemActionCost.ts
  src/view/sheets/components/CustomReactionsPanel.svelte.ts
  src/view/sheets/pages/ItemActivationCoreConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(items): address review findings on zero-cost activations
  docs/STYLE_GUIDE.md
  src/documents/actor/character.ts
  src/documents/combat/combatCommon.test.ts
  src/documents/combat/combatCommon.ts
  src/documents/combat/combatMinionAttacks.ts
  src/hooks/minionGroupTokenActions.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/resolveItemActionCost.ts
  src/utils/resolveMinionAttackActionCost.test.ts
  src/utils/resolveMinionAttackActionCost.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/pages/ItemActivationCoreConfigTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(items): address second-round review on zero-cost activations
  src/hooks/minionGroupTokenActions.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/resolveMinionAttackActionCost.test.ts
  src/utils/resolveMinionAttackActionCost.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.test.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CustomReactionsPanel.test.ts
Due: biome-fix-staged

fix(items): label reactions correctly and drop turn as a cost
  public/lang/en.json
  src/config.ts
  src/utils/formatActivationCostLabel.test.ts
  src/utils/formatActivationCostLabel.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

refactor(items): centralize the activation cost label
  docs/STYLE_GUIDE.md
  src/macros/activateItemMacro.ts
  src/utils/formatActivationCostLabel.test.ts
  src/utils/formatActivationCostLabel.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(items): zero-cost activations and activation cost labels (#876)
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combatCommon.test.ts
  src/documents/combat/combatCommon.ts
  src/documents/combat/combatMinionAttacks.ts
  src/hooks/minionGroupTokenActions.ts
  src/macros/activateItemMacro.ts
  src/models/item/common.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/formatActivationCostLabel.test.ts
  src/utils/formatActivationCostLabel.ts
  src/utils/resolveItemActionCost.test.ts
  src/utils/resolveItemActionCost.ts
  src/utils/resolveMinionAttackActionCost.test.ts
  src/utils/resolveMinionAttackActionCost.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.test.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.svelte.ts
  src/view/sheets/components/CustomReactionsPanel.test.ts
  src/view/sheets/pages/ItemActivationCoreConfigTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(rules): actionCost rule
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/documents/actor/resolveCharacterItemActionCost.test.ts
  src/documents/actor/resolveCharacterItemActionCost.ts
  src/models/rules/actionCost.test.ts
  src/models/rules/actionCost.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

feat(rules): actionCost rule (#877)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/documents/actor/resolveCharacterItemActionCost.test.ts
  src/documents/actor/resolveCharacterItemActionCost.ts
  src/models/rules/actionCost.test.ts
  src/models/rules/actionCost.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

feat(combat): heroic reaction cost + insufficient-action confirmation
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/actor/resolveCharacterItemActionCost.test.ts
  src/documents/combat/combat.svelte.ts
  src/models/rules/actionCost.test.ts
  src/models/rules/actionCost.ts
  src/utils/getHeroicReactionUsageState.test.ts
  src/utils/getHeroicReactionUsageState.ts
  src/utils/resolveHeroicReactionActionCost.test.ts
  src/utils/resolveHeroicReactionActionCost.ts
  src/utils/showInsufficientActionsConfirmation.test.ts
  src/utils/showInsufficientActionsConfirmation.ts
Due: biome-fix-staged

feat(combat): heroic reaction cost + insufficient-action confirmation (#878)
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/actor/resolveCharacterItemActionCost.test.ts
  src/documents/combat/combat.svelte.ts
  src/models/rules/actionCost.test.ts
  src/models/rules/actionCost.ts
  src/utils/getHeroicReactionUsageState.test.ts
  src/utils/getHeroicReactionUsageState.ts
  src/utils/resolveHeroicReactionActionCost.test.ts
  src/utils/resolveHeroicReactionActionCost.ts
  src/utils/showInsufficientActionsConfirmation.test.ts
  src/utils/showInsufficientActionsConfirmation.ts
Due: biome-fix-staged

feat(combat): actionDelta rule and pending grants
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatInitiative.test.ts
  src/documents/combat/combatInitiative.ts
  src/documents/combat/combatantSystem.test.ts
  src/documents/combat/combatantSystem.ts
  src/hooks/actionEconomySystem.ts
  src/hooks/ready.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/models/rules/actionDelta.test.ts
  src/models/rules/actionDelta.ts
  src/nimble.ts
  src/utils/heroicActions.ts
  src/utils/requestCombatantActionDelta.test.ts
  src/utils/requestCombatantActionDelta.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  tests/fixtures/combat.ts
Due: biome-fix-staged, prettier-svelte

feat(combat): actionDelta rule and pending grants (#879)
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatInitiative.test.ts
  src/documents/combat/combatInitiative.ts
  src/documents/combat/combatantSystem.test.ts
  src/documents/combat/combatantSystem.ts
  src/hooks/actionEconomySystem.ts
  src/hooks/ready.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/models/rules/actionDelta.test.ts
  src/models/rules/actionDelta.ts
  src/nimble.ts
  src/utils/heroicActions.ts
  src/utils/requestCombatantActionDelta.test.ts
  src/utils/requestCombatantActionDelta.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  tests/fixtures/combat.ts
Due: biome-fix-staged, prettier-svelte

feat(chat): granted activation offers
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/actionEconomySystem.ts
  src/hooks/ready.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/models/rules/grantActivation.test.ts
  src/models/rules/grantActivation.ts
  src/utils/combatTurnActions.ts
  src/utils/getPrimaryActiveGmId.ts
  src/utils/grantedActionOffers.test.ts
  src/utils/grantedActionOffers.ts
  src/utils/incomingAttackReactions.ts
  src/view/chat/FeatureCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/GrantedActionOffers.svelte
  src/view/chat/components/GrantedActionOffers.test.ts
  src/view/chat/components/GrantedActionOffers.testHarness.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(chat): granted activation offers (#880)
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/actionEconomySystem.ts
  src/hooks/ready.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/models/rules/grantActivation.test.ts
  src/models/rules/grantActivation.ts
  src/utils/combatTurnActions.ts
  src/utils/getPrimaryActiveGmId.ts
  src/utils/grantedActionOffers.test.ts
  src/utils/grantedActionOffers.ts
  src/utils/incomingAttackReactions.ts
  src/view/chat/FeatureCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/chat/components/GrantedActionOffers.svelte
  src/view/chat/components/GrantedActionOffers.test.ts
  src/view/chat/components/GrantedActionOffers.testHarness.svelte
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged, prettier-svelte

docs: separate the card-side spends heading from the list above it
  docs/system/rules.md
Due: none

feat(berserker): offer Death Blow's Fury spend on the crit that triggers it
  packs/classFeatures/core/berserker/savage-arsenal/death-blow.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration034DeathBlowCardOffer.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(ui): Fix attack panel features having a max height limiting the list of features when expanding the PC sheet
  src/view/sheets/components/AttackActionPanel.svelte
Due: prettier-svelte

fix(migration): narrow Death Blow's description rewrite
  src/migration/migrations/Migration034DeathBlowCardOffer.ts
Due: biome-fix-staged

feat(rules): offer dice-consumer spends on the attack card
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/documents/dialogs/PoolSpendOfferDialog.svelte.ts
  src/managers/ItemActivationManager.ts
  src/models/chat/common.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/substituteSpendFormula.ts
  src/utils/dicePool/types.ts
  src/utils/foldBonusIntoPrimaryDamage.test.ts
  src/utils/foldBonusIntoPrimaryDamage.ts
  src/utils/incomingAttackModifiers.test.ts
  src/utils/incomingAttackModifiers.ts
  src/utils/incomingAttackReactions.ts
  src/utils/incomingReactionEntry.ts
  src/utils/poolSpendCardOffers.test.ts
  src/utils/poolSpendCardOffers.ts
  src/view/chat/components/IncomingReactionPrompts.svelte
  src/view/dialogs/PoolSpendOfferDialog.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

test(dicePool): cover the card-offer and predicate gates on consumers
  src/utils/dicePool/dicePoolConsumers.test.ts
Due: biome-fix-staged

fix(chat): stop a card-side spend from being confirmed twice
  src/documents/chatMessage.ts
  src/documents/dialogs/PoolSpendOfferDialog.svelte.ts
  src/view/chat/components/IncomingReactionPrompts.svelte
  src/view/dialogs/PoolSpendOfferDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): re-check a card offer's outcome before it spends
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/types.ts
  src/utils/incomingAttackModifiers.ts
  src/utils/incomingReactionEntry.ts
Due: biome-fix-staged
