Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(packs): Chaos Lash offers its Reaction when an enemy moves adjacent
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
Due: biome-fix-staged

feat(chat): an activation card records the spaces moved this turn and how far each target is
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/movementContext.test.ts
  src/utils/movement/movementContext.ts
  src/view/chat/components/TextNode.svelte
  src/view/chat/components/TextNode.test.ts
  src/view/chat/components/TextNode.testHarness.svelte
  src/view/dataPreparationHelpers/resolveMovementPlaceholders.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): a standalone Movement Offer card says why under its title
  public/lang/en.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): find the Free Move token without the canvas
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/findActorToken.test.ts
  src/utils/movement/findActorToken.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
Due: biome-fix-staged

fix(movement): a Free Move card posts nothing when no creature gets an offer
  docs/documentation/reference/_partials/freeMove.md
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
Due: biome-fix-staged

fix(movement): a Free Move card takes the rule label as its title, so Coordinated Strike's card says Advance!
  docs/documentation/reference/_partials/freeMove.md
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/postMovementOfferCard.ts
Due: biome-fix-staged

docs(rules): worked examples for Free Move and Movement Trigger
  docs/documentation/reference/_partials/freeMove.md
  docs/documentation/reference/_partials/movementTrigger.md
  docs/documentation/reference/_partials/poolGainMessage.md
Due: none

docs(movement): the Free Move rule and its docs describe the card in plain words
  docs/documentation/gm/combat.md
  docs/documentation/reference/_partials/freeMove.md
  docs/documentation/reference/_partials/poolGainMessage.md
  public/lang/en.json
Due: biome-fix-staged

fix(rules): Free Move and movement trigger cards follow the movement toggles
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/system/rules.md
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
Due: biome-fix-staged

fix(dice pools): dice given back after a reroll are not a pool gain
  docs/documentation/reference/_partials/poolGainMessage.md
  docs/system/rules.md
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
Due: biome-fix-staged

fix(rules): a free move on pool gain or turn start posts once, through the rule lifecycle
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/chargePool/ruleChargeGate.test.ts
Due: biome-fix-staged

test(movement): the live rules suite builds the offer tag key from the system id
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

refactor(rules): a movement trigger card always offers Use, with no reminder payload
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/system/rules.md
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/advance.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  public/lang/en.json
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/movementCardDataModels.test.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
  tests/integration/chatCards.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

test(movement): the trigger matcher's grid mock measures distance, as core does
  src/utils/movement/matchMovementTrigger.test.ts
Due: biome-fix-staged

fix(movement): a Free Move rule for its own creature hides the direction field
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
Due: biome-fix-staged

fix(chat): the card of a move made by an event says it has no Targets section
  src/utils/movement/cardCarriesMovementOffers.test.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): the movement trigger card shows who moved and how far
  docs/documentation/gm/combat.md
  public/lang/en.json
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged, prettier-svelte

test(movement): live suite for freeMove and movementTrigger
  tests/integration/chatCards.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

fix(movement): build standalone offers without the chooser field
  packs/classFeatures/core/hunter/thrill-of-the-hunt/fleet-feet.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/view/chat/MovementOfferCard.test.ts
  tests/integration/chatCards.test.ts
Due: biome-fix-staged

feat(packs): Advance! reminds of advantage after moving toward an enemy, and Coordinated Strike offers its group move
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/advance.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

fix(chat): a failed Use on a Movement Trigger card tells the user
  public/lang/en.json
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
Due: biome-fix-staged

fix(movement): a movement trigger card lets the owner use the feature and keeps what it does not know
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  public/lang/en.json
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/movementCardDataModels.test.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/movement/matchMovementTrigger.test.ts
  src/utils/movement/matchMovementTrigger.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

test(movement): the live rules suite reads the drop tag per token and the one-line result
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

docs(rules): the contributor docs name the Forced and Free Movement toggle
  docs/system/rules.md
Due: none

feat(rules): freeMove and movementTrigger rules
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/chargePool/ruleChargeGate.test.ts
  src/utils/chargePool/ruleChargeGate.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

docs(movement): features that offer a Free Move on their own and features that react to movement
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/system/rules.md
Due: none

feat(rules): a freeMove rule can whisper its card to the feature's owner, the players whose creatures get the move, and the GM
  public/lang/en.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
Due: biome-fix-staged

feat(movement): movementCardWhisper names the users a whispered movement card goes to
  docs/STYLE_GUIDE.md
  src/utils/movement/movementCardWhisper.test.ts
  src/utils/movement/movementCardWhisper.ts
  types/movement.ts
Due: biome-fix-staged

refactor(chat): the note node declares its props type with the other components
  src/view/chat/components/TextNode.svelte
  types/components/TextNode.d.ts
Due: biome-fix-staged, prettier-svelte

docs(movement): who sees a Movement Trigger card and a Free Move card
  docs/documentation/gm/combat.md
  docs/documentation/reference/_partials/freeMove.md
  docs/documentation/reference/_partials/movementTrigger.md
  docs/system/rules.md
Due: none

docs(settings): the Movement Tracking hint says features react in a started combat
  public/lang/en.json
Due: biome-fix-staged

fix(dice pools): an activation that rolls several dice into a pool is one gain
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
Due: biome-fix-staged

feat(migration): Migration067 brings existing copies of the movement pilot features up to the pack
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration067MovementPilots.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(rules): two Free Move offers started together cannot share one charge
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/chargePool/ruleChargeGate.test.ts
  src/utils/chargePool/ruleChargeGate.ts
Due: biome-fix-staged

test(rules): the turn-start test for a combatant with no actor checks dispatch
  src/hooks/ruleEventDispatch.test.ts
Due: biome-fix-staged

feat(packs): Swift Fury offers its Free Move on a card when you gain Fury Dice
  packs/classFeatures/core/berserker/savage-arsenal/swift-fury.json
Due: biome-fix-staged

feat(packs): Sharpshooter's card shows the spaces moved this turn and the distance to the target
  packs/classFeatures/core/hunter/thrill-of-the-hunt/sharpshooter.json
Due: biome-fix-staged

test(movement): the offer card tests read the summary line and each creature's tag
  src/view/chat/MovementOfferCard.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
