Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(adjacency): add requiresReload to settings and guard _populateDerivedTags when sync disabled
  src/documents/actor/base.svelte.ts
  src/settings/adjacencySettings.ts
Due: biome-fix-staged

fix(packs): correct Commander combat tactics levels and Rat Prince classification
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
  packs/ids.json
  packs/monsters/core/underground/rat-prince.json
Due: biome-fix-staged

fix(packs): Commander combat tactics levels & Rat Prince type (#697)
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
  packs/ids.json
  packs/monsters/core/underground/rat-prince.json
Due: biome-fix-staged

chore: extract types, state, and utils from spell grant components
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  types/components/LevelUpSpellCard.d.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

chore: extract spell grant utils from level-up dialog state and add tests
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
Due: biome-fix-staged

feat(level-down): display granted spells in level-down revert preview
  public/lang/en.json
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): add selectSpell mode and populate Stormcaller rules
  packs/classFeatures/core/stormshifter/stormshifter-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormcaller.json
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

fix(level-down): group spells under heading and fix spell card display
  public/lang/en.json
  src/config.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte
Due: biome-fix-staged, prettier-svelte

feat(level-up): grant spells on level up and remove on level down (#186)
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/mage/mage-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/mana-and-radiant-spellcasting.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/master-of-darkness.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-abyssal-depths/master-of-nightfrost.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/draconic-crimson-rite.json
  packs/classFeatures/core/shepherd/shepherd-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/songweaver/songweaver-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-sky-and-storm/deepening-study.json
  public/lang/en.json
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  types/components/CharacterLevelUpDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat: support multi-select class features (choose N per group)
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/classFeatures/core/commander/commanders-order/reposition.json
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/models/item/FeatureDataModel.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

feat: grant subclass features on level up
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/utils/getSubclassFeatures.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/components/levelUpHelper/SubclassFeatureDisplay.svelte
Due: biome-fix-staged, prettier-svelte

fix(adjacency-sync): address review feedback and fix Foundry v13 timing
  src/documents/actor/base.svelte.ts
  src/hooks/combatantHooks/adjacencySync.ts
  src/settings/adjacencySettings.ts
Due: biome-fix-staged

chore(chargePool): split 892-line service into focused modules
  docs/STYLE_GUIDE.md
  src/hooks/chargeSystem.test.ts
  src/hooks/chargeSystem.ts
  src/managers/RestManager.ts
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/chargePoolPreview.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolService.test.ts
  src/view/components/ChargeIndicator.svelte
  src/view/dialogs/ConfigureChargesDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(chargePool): add outbound hooks for consume, recover, and change operations
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/chargePoolHooks.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

feat(chargePool): add onWound, onTurnStart, onTurnEnd, onKill, and onBloodied recovery triggers
  src/documents/chatMessage.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/chargePoolTriggers/bloodiedTrigger.ts
  src/hooks/chargePoolTriggers/chargePoolTriggers.test.ts
  src/hooks/chargePoolTriggers/killTrigger.ts
  src/hooks/chargePoolTriggers/turnTrigger.ts
  src/hooks/chargePoolTriggers/woundTrigger.ts
  src/nimble.ts
  src/utils/chargePool/chargePoolRecover.ts
  src/utils/chargePoolRuleConfig.ts
Due: biome-fix-staged

feat(chargePool): add implicit self-consumption for item-scoped pools
  src/utils/chargePool/helpers.ts
Due: biome-fix-staged

fix(chargePool): add runtime warning when chargeConsumer can't resolve pool
  src/utils/chargePool/chargePoolConsume.ts
Due: biome-fix-staged

test(chargePool): add test for encounterEnd reset-to-zero with set mode
  src/utils/chargePoolService.test.ts
Due: biome-fix-staged

fix(ui): improve charge indicator button hover text contrast
  src/view/components/ChargeIndicator.svelte
Due: prettier-svelte

fix(ui): unify charge consumption and recovery display format
  src/view/chat/components/ChargeConsumptionNode.svelte
Due: prettier-svelte

fix(ui): correct charge consumption delta display format
  src/view/chat/components/ChargeConsumptionNode.svelte
Due: prettier-svelte

feat(level-up): grant spells on level up and remove on level down (#693)
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/mage/mage-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/mana-and-radiant-spellcasting.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/master-of-darkness.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-abyssal-depths/master-of-nightfrost.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/draconic-crimson-rite.json
  packs/classFeatures/core/shepherd/shepherd-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/songweaver/songweaver-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormcaller.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-sky-and-storm/deepening-study.json
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/CharacterLevelUpDialog.d.ts
  types/components/LevelUpSpellCard.d.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

fix(class-sheet): improve progression tab UX and fix data issues
  packs/classFeatures/core/the-cheat/underhanded-abilities/creative-accounting.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/exploit-weakness.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/feinting-attack.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/how-you-get-here.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/im-outta-here.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/misdirection.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/steal-tempo.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/sunder-armor-heavy.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/sunder-armor-medium.json
  packs/classFeatures/core/the-cheat/underhanded-abilities/trickshot.json
  public/lang/en.json
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
  types/components/ClassProgressionTab.d.ts
Due: biome-fix-staged, prettier-svelte

feat(class-sheet): add class progression tab with editing workflow
  packs/classFeatures/core/berserker/savage-arsenal/death-blow.json
  packs/classFeatures/core/berserker/savage-arsenal/deathless-rage.json
  packs/classFeatures/core/berserker/savage-arsenal/eager-for-battle.json
  packs/classFeatures/core/berserker/savage-arsenal/into-the-fray.json
  packs/classFeatures/core/berserker/savage-arsenal/mighty-endurance.json
  packs/classFeatures/core/berserker/savage-arsenal/more-blood.json
  packs/classFeatures/core/berserker/savage-arsenal/rampage.json
  packs/classFeatures/core/berserker/savage-arsenal/swift-fury.json
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/berserker/savage-arsenal/unstoppable-force.json
  packs/classFeatures/core/berserker/savage-arsenal/whirlwind.json
  packs/classFeatures/core/berserker/savage-arsenal/your-next.json
  public/lang/en.json
  src/utils/getClassFeatures.ts
  src/utils/getClassProgressionData.ts
  src/utils/getSubclassChoices.ts
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
  types/components/ClassProgressionTab.d.ts
Due: biome-fix-staged, prettier-svelte

fix(class-sheet): make progression tab reactive to item changes
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: prettier-svelte

fix(class-sheet): improve icon contrast in light and dark modes
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: prettier-svelte

fix(class-sheet): improve progression tab display and add Epic Boon
  public/lang/en.json
  src/utils/getClassFeatures.ts
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(packs): correct gainedAtLevels for multi-level caster features
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/mage/mage-progression/elemental-surge.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/mana-and-radiant-spellcasting.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/master-of-radiance.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/master-of-darkness.json
  packs/classFeatures/core/shepherd/shepherd-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/songweaver/songweaver-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormcaller.json
Due: biome-fix-staged

fix(progression): deduplicate features by name within groups
  src/utils/getClassFeatures.ts
Due: biome-fix-staged

chore(packs): update feature descriptions and remove unused CSS
  packs/classFeatures/core/berserker/berserker-progression/intensifying-fury.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  packs/classFeatures/core/commander/commander-progression/combat-tactics.json
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/mage/mage-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/mana-and-radiant-spellcasting.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/master-of-darkness.json
  packs/classFeatures/core/shepherd/shepherd-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/shepherd/shepherd-progression/master-of-twilight.json
  packs/classFeatures/core/songweaver/songweaver-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/songweaver/songweaver-progression/windbag.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/direbeast-form.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormcaller.json
  src/view/sheets/components/ClassProgressionLevelRow.svelte
Due: biome-fix-staged, prettier-svelte

feat(progression): show level-specific descriptions only
  src/view/sheets/components/ClassProgressionLevelRow.svelte
Due: prettier-svelte

feat(pdf-export): Redesign PDF export dialog with rich text and preview
  public/assets/pdf/CharacterSheet-Full-NoLines.png
  public/lang/en.json
  src/documents/dialogs/GenericDialog.svelte.ts
  src/scss/components/_sheet.scss
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/drawStyledText.ts
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/generatePdfContent.ts
  src/view/sheets/character/pdfExport/parseHtmlToStyledSegments.ts
  src/view/sheets/character/pdfExport/showPdfPreview.ts
  types/components/PdfExportDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): Improve content picker and spell display
  public/lang/en.json
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): Sort features by level and balance column distribution
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged, prettier-svelte

feat: Add PDF character sheet export
  package.json
  pnpm-lock.yaml
  public/assets/pdf/CharacterSheet-Full.png
  public/lang/en.json
  src/view/sheets/character/pdfExport/CharacterPdfExportButton.svelte
  src/view/sheets/character/pdfExport/exportCharacterPdf.ts
  src/view/sheets/character/pdfExport/pdfCoordinates.ts
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  types/components/CharacterPdfExportButton.d.ts
  vite.config.mts
Due: biome-fix-staged, prettier-svelte

fix(pdf-export): resolve dialog lint errors
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfPreviewDialog.svelte
Due: prettier-svelte

feat(pdf-export): Improve dialog resizing and add separate preview dialog
  public/lang/en.json
  src/documents/dialogs/GenericDialog.svelte.ts
  src/scss/components/_sheet.scss
  src/view/dialogs/PdfExportDialog.svelte
  src/view/dialogs/PdfPreviewDialog.svelte
  types/components/PdfPreviewDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(pdf-export): Improve UI spacing and spell details formatting
  src/view/dialogs/PdfExportDialog.svelte
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): grant subclass features on level up
  src/utils/getSubclassFeatures.test.ts
  src/utils/getSubclassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialog.test.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
Due: biome-fix-staged

feat(rules): adjacency rule sync and Lionhearted boon automation (#562)
  .gitignore
  docs/STYLE_GUIDE.md
  packs/boons/core/major/lionhearted.json
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/hooks/combatantHooks/adjacencySync.ts
  src/hooks/ready.ts
  src/models/rules/armorClass.ts
  src/settings/adjacencySettings.ts
  src/settings/index.ts
  src/utils/tokenAdjacency.test.ts
  src/utils/tokenAdjacency.ts
  types/globals.d.ts
Due: biome-fix-staged
