Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

feat(import): use different image sizes for preview vs import
  src/import/nimbleNexus/NimbleNexusParser.ts
  src/import/nimbleNexus/constants.ts
  src/view/dialogs/components/monsterImport/BrowseTabContent.svelte
Due: biome-fix-staged, prettier-svelte

chore: fix npm audit vulnerabilities
  package-lock.json
Due: biome-fix-staged

Light/Dark mode and Language support
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_minion-group-token-actions.scss
  src/utils/minionGroupingModes.ts
  src/view/chat/MinionGroupAttackCard.svelte
Due: biome-fix-staged, prettier-svelte

Format Code
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/utils/minionGroupingModes.ts
  src/view/chat/MinionGroupAttackCard.svelte
Due: biome-fix-staged, prettier-svelte

feat: apply hit dice size bonus rules on level up
  public/lang/en.json
  src/documents/actor/character.ts
  src/view/dialogs/components/levelUpHelper/HitPointSelection.svelte
  src/view/dialogs/components/levelUpHelper/SkillPointAssignment.svelte
Due: biome-fix-staged, prettier-svelte

Logo update / Code clean-up / tighter dice logic
  public/assets/logos/NimbleLogoRaw.avif
Due: none

Logo / code clean-up / improved dice logic
  public/ncsw/logos/Black-A.png
  public/ncsw/logos/White-A.png
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/managers/ItemActivationManager.ts
  src/managers/types.ts
  src/scss/components/_minion-group-token-actions.scss
  src/utils/minionGrouping.test.ts
  src/utils/minionGrouping.ts
  src/utils/minionGroupingModes.ts
Due: biome-fix-staged

Test Fix
  src/managers/ItemActivationManager.test.ts
Due: biome-fix-staged

logo fixed again
  public/ncsw/logos/Black-A.png
  public/ncsw/logos/NimbleLogos.png
  public/ncsw/logos/White-A.png
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_minion-group-token-actions.scss
Due: biome-fix-staged

Big cleanup of first several, now unused, feature iterations
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/utils/minionGrouping.ts
  src/utils/minionGroupingModes.ts
Due: biome-fix-staged

feat: add better condition handling to actor sheets and canvas panel
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/hooks/ready.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_actor-conditions.scss
  src/scss/main.scss
  src/scss/vendor/foundry/_status-effects.scss
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/pages/NPCConditionsTab.svelte
  src/view/sheets/pages/PlayerCharacterConditionsTab.svelte
  src/view/ui/CanvasConditionsPanel.svelte
  src/view/ui/CanvasConditionsPanel.test.ts
Due: biome-fix-staged, prettier-svelte

feat: enhance actor conditions management and UI
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_actor-conditions.scss
  src/scss/components/_tooltip.scss
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged, prettier-svelte

feat: add functionality to remove effects and update condition handling in ActorConditionsList
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/view/components/ActorConditionsList.svelte
  src/view/components/ActorConditionsList.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged, prettier-svelte

feat: enhance condition tooltip to display duration in a user-friendly format
  src/view/dataPreparationHelpers/prepareActorConditions.test.ts
  src/view/dataPreparationHelpers/prepareActorConditions.ts
Due: biome-fix-staged

fix: type handling for effects and conditions in ActorConditionsList
  src/view/components/ActorConditionsList.svelte
Due: prettier-svelte

fix: replace pro fa icon with free fa icon for condition tabs
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

full staged refactor
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/utils/activationEffects.ts
  src/utils/combatantImage.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/tokenTargetLookup.ts
Due: biome-fix-staged

formatting
  src/documents/combat/combat.svelte.ts
  src/utils/tokenTargetLookup.ts
Due: biome-fix-staged

fix(items): exclude crit-only damage from roll dialog display
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: prettier-svelte

fix(items): implement vicious property for weapons and spells
  packs/legendaryMonsters/core/dravok-all-seeing-tyrant.json
  packs/spells/core/wind/razor-wind.json
Due: biome-fix-staged

feat(migration): add Migration003 for vicious weapon data
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration003ViciousWeaponData.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

lowered complexity
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatCommon.ts
  src/documents/combat/combatTypes.ts
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

format fix
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatCommon.ts
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

fix(dice): prevent crit rolls from being marked as miss
  src/dice/terms/PrimaryDie.ts
  src/view/dataPreparationHelpers/rollTooltips/prepareRollTooltipDiceResults.ts
Due: biome-fix-staged

NCSW now persistant during combat
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

chore(npm): fix removed husky hooks
  .gitignore
  build/worktreeSetup.mjs
  package.json
Due: biome-fix-staged

chore: ignore error
  build/worktreeSetup.mjs
Due: biome-fix-staged

chore(format): Fix formatting changes
  packs/ancestries/core/exotic/oozelingconstruct.json
  packs/subclasses/core/commander/spellblade.json
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

chore: update nimble system name
  README.md
  public/system.json
Due: biome-fix-staged

chore(docs): add coding style guide
  docs/STYLE_GUIDE.md
Due: none

tc/chore/fix npm hooks with worktree setup (#337)
  .gitignore
  build/worktreeSetup.mjs
  package.json
  packs/ancestries/core/exotic/oozelingconstruct.json
  packs/subclasses/core/commander/spellblade.json
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

chore: update nimble system name (#338)
  README.md
  public/system.json
Due: biome-fix-staged

feat(spells): add spell configuration and scaling options in Spanish and French translations
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

chore(packs): add missing legendary and standard creature entries
  packs/legendaryMonsters/core/dregatha-thrice-chinned.json
  packs/legendaryMonsters/core/greenthumb-lichling.json
  packs/legendaryMonsters/core/krogg-goblin-king.json
  packs/legendaryMonsters/core/lind-worm.json
  packs/legendaryMonsters/core/rat-prince.json
  packs/legendaryMonsters/core/scorpion-queen.json
  packs/monsters/core/briarbanes/giant-venus-flytrap.json
  packs/monsters/core/goblins/pinky.json
  packs/monsters/core/horrors/incubus-succubus.json
  packs/monsters/core/underground/giant-slug-minion.json
  packs/monsters/core/underground/rat-swarm.json
  packs/monsters/core/underground/wax-golem.json
Due: biome-fix-staged

chore(packs): add missing legendary and standard creature entries (#336)
  packs/legendaryMonsters/core/dregatha-thrice-chinned.json
  packs/legendaryMonsters/core/greenthumb-lichling.json
  packs/legendaryMonsters/core/krogg-goblin-king.json
  packs/legendaryMonsters/core/lind-worm.json
  packs/legendaryMonsters/core/rat-prince.json
  packs/legendaryMonsters/core/scorpion-queen.json
  packs/monsters/core/briarbanes/giant-venus-flytrap.json
  packs/monsters/core/goblins/pinky.json
  packs/monsters/core/horrors/incubus-succubus.json
  packs/monsters/core/underground/giant-slug-minion.json
  packs/monsters/core/underground/rat-swarm.json
  packs/monsters/core/underground/wax-golem.json
Due: biome-fix-staged

fix(items): fix vicious weapon/spell mechanics and roll dialog display (#334)
  packs/legendaryMonsters/core/dravok-all-seeing-tyrant.json
  packs/spells/core/wind/razor-wind.json
  src/dice/terms/PrimaryDie.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration003ViciousWeaponData.ts
  src/migration/migrations/index.ts
  src/view/dataPreparationHelpers/rollTooltips/prepareRollTooltipDiceResults.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

chore(docs): add AGENT.md for AI assistant guidance
  AGENT.md
Due: none
