Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(movement): each dragged token names its own Movement Offer on the drop
  src/documents/token/token.ts
  src/utils/movement/movementOfferTag.test.ts
  src/utils/movement/movementOfferTag.ts
Due: biome-fix-staged

fix(movement): a rolled or rerolled outcome reconciles the card's Movement Offers
  docs/STYLE_GUIDE.md
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/documents/chatMessageDeferredDamage.test.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
Due: biome-fix-staged

docs(movement): the combat page says the token is dragged as usual while a toggle is off
  docs/documentation/gm/combat.md
Due: none

fix(movement): offer a move only on the outcome the card has; save outcomes only show the distance
  docs/documentation/homebrew/activations.md
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  types/movement.ts
Due: biome-fix-staged

test(movement): the live offer suite cleans up its cards and pins both movement toggles
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

fix(movement): the dashed part of an offered drag starts where the offer ends
  src/documents/token/tokenRuler.ts
Due: biome-fix-staged

fix(movement): the card does not list an offer of zero spaces
  src/hooks/movementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNodeState.svelte.ts
Due: biome-fix-staged

feat(movement): a Movement Offer shows its distance on the ruler and never stops the drag
  public/lang/en.json
  src/documents/token/token.ts
  src/documents/token/tokenRuler.ts
  src/hooks/init.ts
  src/utils/movement/markWaypointsPastOffer.test.ts
  src/utils/movement/markWaypointsPastOffer.ts
  src/utils/movement/movementActions.ts
  src/utils/movement/movementOfferConstraints.test.ts
  src/utils/movement/movementOfferConstraints.ts
  src/view/chat/components/MoveNode.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

test(movement): live suite for armed Movement Offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

fix(movement): offers lapse when the combatant or round changes, on that combat's scenes only
  src/utils/movement/registerMovementOffers.test.ts
  src/utils/movement/registerMovementOffers.ts
Due: biome-fix-staged

docs(movement): a move node's distance reads the source's roll data
  types/effectTree.d.ts
Due: biome-fix-staged

refactor(movement): register the offer hooks from src/hooks
  src/hooks/movementOffers.test.ts
  src/hooks/movementOffers.ts
  src/hooks/ready.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.ts
  src/utils/movement/registerMovementOffers.ts
Due: biome-fix-staged

feat(movement): rebuild offers from the card and authorise who takes them
  public/lang/en.json
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferEntry.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/movement/takeMovementOffer.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

feat(movement): a drag names its Movement Offer and the GM records it by name
  src/documents/token/token.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOfferTag.test.ts
  src/utils/movement/movementOfferTag.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  types/movement.ts
Due: biome-fix-staged

feat(movement): stamp Movement Offers on the card once and read them from there
  docs/STYLE_GUIDE.md
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/documents/token/token.ts
  src/documents/token/tokenRuler.ts
  src/models/chat/common.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/findArmedMovementOffer.test.ts
  src/utils/movement/findArmedMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferEntry.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): a toggle change untracks each waiting move, and its tag states the move
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  src/hooks/movementOffers.test.ts
  src/hooks/movementOffers.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/lapseOpenMovementOffers.test.ts
  src/utils/movement/lapseOpenMovementOffers.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MovementStatusChip.svelte
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
  tests/integration/movementOffers.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): a finished Movement settles every open offer its token carries
  docs/documentation/gm/combat.md
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
Due: biome-fix-staged

fix(movement): Movement Offers work only while Movement Tracking is on
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(movement): an open Movement Offer lapses when its combat turn ends
  public/lang/en.json
  src/models/chat/common.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/registerMovementOffers.test.ts
  src/utils/movement/registerMovementOffers.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

feat(movement): the ruler label says which offered movement a drag uses
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  public/lang/en.json
  public/templates/hud/waypoint-label.hbs
  src/documents/token/tokenRuler.ts
  src/scss/components/_token-ruler.scss
  src/scss/main.scss
  src/utils/movement/markWaypointsPastOffer.test.ts
  src/utils/movement/markWaypointsPastOffer.ts
  types/movement.ts
Due: biome-fix-staged

refactor(movement): remove the move node's unused chooser field
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/utils/treeManipulation/createMoveNode.ts
  src/view/chat/components/MoveNode.test.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): a creature moved in any direction that went another way reads "Not used"
  docs/documentation/gm/combat.md
  public/lang/en.json
  src/view/chat/components/moveNodeText.test.ts
  src/view/chat/components/moveNodeText.ts
Due: biome-fix-staged

feat(movement): the ruler shows a character's Moves on its own turn
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  public/templates/hud/waypoint-label.hbs
  src/documents/token/tokenRuler.ts
  src/scss/components/_token-ruler.scss
  src/utils/movement/markMoveBands.test.ts
  src/utils/movement/markMoveBands.ts
  src/utils/movement/moveBandOptions.test.ts
  src/utils/movement/moveBandOptions.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): the Movement Offers setting describes a guided drag, and the card field is tested
  public/lang/en.json
  src/models/chat/common.test.ts
Due: biome-fix-staged

fix(movement): straight drags only for directed pushes
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
Due: biome-fix-staged

fix(movement): a row image in the move node has no alt text
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): move card plural button, taken state, one drag at a time
  public/lang/en.json
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

chore(movement): schema bounds, editor and settings cleanups, docs
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  src/models/chat/common.ts
  src/view/settings/AutomationSettingsDialog.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

test(movement): the live offer suite expects a drop to settle every open offer
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

fix(movement): turning a movement toggle on or off lapses every open offer
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  src/utils/movement/registerMovementOffers.test.ts
  src/utils/movement/registerMovementOffers.ts
Due: biome-fix-staged

test(movement): live suite for movement offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

docs(movement): a Movement Offer guides the drag and never stops it
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
Due: none

docs(movement): contributor docs describe how offers are stamped, carried and settled now
  docs/STYLE_GUIDE.md
  docs/system/rules.md
Due: none

fix(movement): a move node's distance formula keeps its sign
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
Due: biome-fix-staged

feat(activation): move effect node with Movement Offers on the card
  docs/documentation/homebrew/activations.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/treeManipulation/createEffectNode.ts
  src/utils/treeManipulation/createMoveNode.ts
  src/view/chat/components/MoveNode.svelte
  src/view/dataPreparationHelpers/effectTree/getNodeComponent.ts
  src/view/dataPreparationHelpers/effectTree/groupNodes.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/components/MoveNode.d.ts
  types/effectTree.d.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): only the cards that render move nodes set the TARGETS context
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ReactionCard.svelte
  src/view/chat/targetsSection.ts
Due: biome-fix-staged, prettier-svelte

fix(movement): a push that moved less than offered carries the damage reminder
  docs/documentation/gm/combat.md
  public/lang/en.json
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
Due: biome-fix-staged

fix(movement): a token ruler reads the carried offers once until a chat message changes, not the whole chat log each time
  src/hooks/movementOffers.test.ts
  src/hooks/movementOffers.ts
  src/nimble.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
Due: biome-fix-staged

test(chat): move node card states
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNode.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(movement): the Movement Offer tag key takes its prefix from SYSTEM_ID
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/movementOfferTag.test.ts
  src/utils/movement/movementOfferTag.ts
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
