Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(migration): hide the Coordinated Strike gate pools
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration040CommanderHiddenGatePools.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

feat(rules): emit charge pool state as domain tags
  src/documents/actor/base.svelte.ts
  src/utils/chargePool/chargePoolTags.test.ts
  src/utils/chargePool/chargePoolTags.ts
Due: biome-fix-staged

feat(rules): let a charge consumer honour its own predicate
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  src/hooks/chargeSystem.consumerPredicate.test.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

feat(ui): show pending action adjustments in the combat tracker
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/resources.utils.test.ts
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

docs(rules): correct the charge tag naming and warn about pool predicates
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  src/utils/chargePool/chargePoolTags.ts
Due: biome-fix-staged

fix(chat): name only the recipient as the one taking a granted action
  src/view/chat/components/GrantedActionOffers.svelte
  src/view/chat/components/GrantedActionOffers.test.ts
  src/view/chat/utils/resolveGrantedOfferTargeting.test.ts
  src/view/chat/utils/resolveGrantedOfferTargeting.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): stop dimming granted offers aimed at a friendly target
  src/view/chat/components/GrantedActionOffers.svelte
  src/view/chat/components/GrantedActionOffers.test.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): write an activation card's action economy in one update
  src/hooks/actionEconomySystem.test.ts
  src/hooks/actionEconomySystem.ts
Due: biome-fix-staged

perf(ui): resolve the actions tab charge pools once per panel
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CustomReactionsPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/WeaponCard.svelte
  types/components/WeaponCard.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(chat): extract and test the action delta wording
  src/view/chat/components/ActionDeltaSummaryNode.svelte
  src/view/chat/utils/actionDeltaWording.test.ts
  src/view/chat/utils/actionDeltaWording.ts
Due: biome-fix-staged, prettier-svelte

feat(commander): automate Coordinated Strike and repair the Commander packs (#895)
  docs/documentation/rules-builder/predicates.md
  docs/system/rules.md
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
  packs/classFeatures/core/commander/commander-progression/field-medic.json
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-bulwark/taunting-strike.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/experienced-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  src/documents/actor/character.ts
  src/documents/actor/populateDerivedTags.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration036CommanderCoordinatedStrike.ts
  src/migration/migrations/Migration037CommanderPackRepair.ts
  src/migration/migrations/Migration038CommanderStrikeRiders.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

feat(activation): address review feedback on the skip-roll-dialog toggle
  public/lang/en.json
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/view/sheets/pages/ItemActivationCoreConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

feat: add a per-item "Skip roll dialog" toggle (#901)
  packs/classFeatures/core/oathsworn/oathsworn-progression/lay-on-hands.json
  public/lang/en.json
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/models/item/FeatureDataModel.ts
  src/models/item/ObjectDataModel.ts
  src/models/item/SpellDataModel.ts
  src/models/item/common.ts
  src/view/sheets/pages/ItemActivationCoreConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(rules): let a pool modifier contribute charge pool recoveries
  src/models/rules/modifyPool.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

feat(packs): regain a Coordinated Strike use on initiative
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

docs(rules): record that pool modifiers reach charge pools too
  docs/system/rules.md
Due: none

test(actor): cover the early ability/save/skill modifier pass
  src/documents/actor/earlyModifierPass.test.ts
  src/documents/actor/ownsEmbeddedDocument.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(rules): localize the reasons a rule is not running
  public/lang/en.json
  src/managers/RulesManager.ts
Due: biome-fix-staged

refactor(actor): match owned items by identity, not id
  src/documents/actor/base.svelte.ts
  src/documents/actor/ownsEmbeddedDocument.test.ts
Due: biome-fix-staged

fix(actor): only reset an already-prepared actor once documents are ready
  src/documents/actor/base.svelte.ts
  src/documents/actor/prepareDataAccumulatorReset.test.ts
Due: biome-fix-staged

fix(rules): honour contributed recovery predicates and drop bad modes
  src/models/rules/modifyPool.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

fix(ui): label every charge recovery trigger, and stop misdescribing modifiers
  public/lang/en.json
  src/utils/chargeUiConfig.ts
Due: biome-fix-staged

fix(packs): recover the Coordinated Strike use at encounter start
  docs/system/rules.md
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
Due: biome-fix-staged

feat(rules): regain a Coordinated Strike use at encounter start (#904)
  docs/system/rules.md
  packs/classFeatures/core/commander/commander-progression/master-commander.json
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/survey-the-battlefield.json
  public/lang/en.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration041CommanderInitiativeRegain.ts
  src/migration/migrations/index.ts
  src/models/rules/modifyPool.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargeUiConfig.ts
Due: biome-fix-staged

fix(chat): restrict applying a card's condition to GMs
  src/view/chat/components/ConditionNode.svelte
  src/view/chat/components/ConditionNode.test.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): apply a card's condition to each target independently
  src/view/chat/components/ConditionNode.svelte
  src/view/chat/components/ConditionNode.test.ts
Due: biome-fix-staged, prettier-svelte

refactor(chat): type the card's resolved target actors
  src/view/chat/components/ConditionNode.svelte
Due: prettier-svelte

fix(enrichers): drop the false apply hint from the condition tooltip
  src/enrichers/enrichCondition.ts
Due: biome-fix-staged

docs: stop claiming every condition application is centralised
  docs/STYLE_GUIDE.md
  src/utils/applyConditionToActor.ts
Due: biome-fix-staged

fix(ui): stop warning about level data the features tab cannot expect
  src/utils/featureLevelData.test.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(ui): stop warning about level data the features tab cannot expect (#905)
  src/utils/featureLevelData.test.ts
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(rules): make data-prep rules apply live and stop them double-applying (#902)
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/earlyModifierPass.test.ts
  src/documents/actor/ownsEmbeddedDocument.test.ts
  src/documents/actor/prepareDataAccumulatorReset.test.ts
  src/hooks/ready.ts
  src/managers/RulesManager.test.ts
  src/managers/RulesManager.ts
  src/settings/languageSettings.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
  src/view/rulesBuilder/types.d.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

fix(conditions): apply to the card's targets and record their source (#900)
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/enrichers/enrichCondition.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/applyCondition.ts
  src/utils/applyConditionToActor.test.ts
  src/utils/applyConditionToActor.ts
  src/view/chat/components/ConditionNode.svelte
  src/view/chat/components/ConditionNode.test.ts
  src/view/chat/components/ConditionNode.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(sheets): keep portraits editable when Tokenizer is enabled but unavailable
  src/view/handlers/updateDocumentImage.test.ts
  src/view/handlers/updateDocumentImage.ts
Due: biome-fix-staged

chore(migration): renumber AoETemplateFlags 036 to 042
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration042AoETemplateFlags.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(conditions): create condition effects from their source under V14
  src/utils/applyConditionToActor.test.ts
  src/utils/applyConditionToActor.ts
Due: biome-fix-staged

feat(ancestry): size options control on the ancestry sheet, reworked size step (#899)
  public/lang/en.json
  src/config.ts
  src/models/item/AncestryDataModel.ts
  src/utils/sizeSelection.test.ts
  src/utils/sizeSelection.ts
  src/view/dataPreparationHelpers/metaData/prepareAncestryMetadata.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestrySizeSelection.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/components/SizeOptionsSelect.svelte
Due: biome-fix-staged, prettier-svelte

test(integration): cover conditions from chat cards and the ancestry bonus split
  tests/integration/ancestryBonus.test.ts
  tests/integration/conditionCardTargets.test.ts
Due: biome-fix-staged

fix(levelUp): stop duplicate feature copies from crashing the level-up dialog
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
