Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: add data-driven unarmed damage rule system
  packs/classFeatures/core/zephyr/zephyr-progression/swift-fists.json
  src/config/registerRulesConfig.ts
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/migration/migrations/Migration010SwiftFistsUnarmedDamage.ts
  src/migration/migrations/index.ts
  src/models/rules/unarmedDamage.ts
Due: biome-fix-staged

feat: add Assess action chat card
  src/hooks/renderChatMessage.ts
  src/models/chat/AssessActionCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/scss/components/_chat-card.scss
  src/scss/components/_hint.scss
  src/view/chat/AssessActionCard.svelte
Due: biome-fix-staged, prettier-svelte

chore: update languages
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

chore(i18n): add missing translation strings for user-facing UI
  public/lang/en.json
  src/view/chat/components/ItemCardEffects.svelte
  src/view/chat/components/Targets.svelte
  src/view/dialogs/CharacterMovementConfigDialog.svelte
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
  src/view/dialogs/CharacterStatConfigDialog.svelte
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/ui/components/CombatTrackerControls.svelte
Due: biome-fix-staged, prettier-svelte

feat: add Assess action chat card (#427)
  src/hooks/renderChatMessage.ts
  src/models/chat/AssessActionCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/scss/components/_chat-card.scss
  src/scss/components/_hint.scss
  src/view/chat/AssessActionCard.svelte
Due: biome-fix-staged, prettier-svelte

feat: add data-driven unarmed damage rule system (#426)
  packs/classFeatures/core/zephyr/zephyr-progression/swift-fists.json
  src/config/registerRulesConfig.ts
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/migration/migrations/Migration010SwiftFistsUnarmedDamage.ts
  src/migration/migrations/index.ts
  src/models/rules/unarmedDamage.ts
Due: biome-fix-staged

chore: remove action pips in actions tab
  src/view/sheets/components/ActionPipTracker.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

fix: remove unused props from AssessActionPanel
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: hide action pips when not in combat
  src/view/sheets/components/ActionPipTracker.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: add tabbed combat reference with actions and reactions
  public/lang/en.json
  src/view/dialogs/HeroicActionsHelpDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix: match header spacing in Move and Assess panels to Attack panel
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/components/MoveActionPanel.svelte
Due: prettier-svelte

fix: improve Move dialog buttons and unarmed strike chat card
  src/view/dialogs/MoveActionDialog.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: simplify action button tooltips to show action names
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

fix: use correct translation path for roll initiative button
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

refactor: extract AttackActionPanel and CastSpellActionPanel components
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: enhance heroic actions with combat integration
  public/lang/en.json
  src/view/sheets/components/ActionPipTracker.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat: add Heroic Actions tab to PC sheet
  public/lang/en.json
  src/view/dialogs/AssessActionDialog.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionPipTracker.svelte
  src/view/sheets/components/HeroicActionBox.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: only show expand caret for items with actual description content
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: add spell tier and target type to spell cards
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: use enrichHTML to properly render item descriptions
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

fix: use light gold text color for Move dialog button in dark mode
  src/view/dialogs/MoveActionDialog.svelte
Due: prettier-svelte

feat: add Move action confirmation dialog
  public/lang/en.json
  src/view/dialogs/MoveActionDialog.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat: always show compact action tabs and add help dialog
  public/lang/en.json
  src/view/dialogs/HeroicActionsHelpDialog.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat: localize all heroic actions strings
  public/lang/en.json
  src/view/dialogs/AssessActionDialog.svelte
  src/view/sheets/components/ActionPipTracker.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat: add cancel button to Assess action dialog
  src/view/dialogs/AssessActionDialog.svelte
Due: prettier-svelte

fix: hide action pips completely when not in combat
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: show spell base effect and higher level effect in expanded view
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

refactor: extract MoveActionPanel into separate component
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

style: add horizontal padding to help dialog intro text
  src/view/dialogs/HeroicActionsHelpDialog.svelte
Due: prettier-svelte

fix: remove redundant tooltip on End Turn button
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

fix: set 200px min-width on PC sheet to prevent content overflow
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

feat: convert Move and Assess actions to inline panels
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: add roll initiative button when character needs to roll
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: use system.description.public for weapon descriptions
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: add data-driven unarmed damage rule system
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

feat: update padding on move and assess
  public/lang/en.json
  src/view/dialogs/AssessActionDialog.svelte
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/components/MoveActionPanel.svelte
Due: biome-fix-staged, prettier-svelte

feat: replace tooltips with expandable descriptions for weapons/spells
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: added heroic reactions tab
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: use standard basic button variant in Assess dialog
  src/view/dialogs/AssessActionDialog.svelte
Due: prettier-svelte

fix: add commas between spell card metadata elements
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
