Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

show/hide sidebar buttons and scroll bar
  src/view/ui/NcctTopTracker.svelte
Due: prettier-svelte

PR comment fixes
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/hooks.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

lint/format fixes
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

settings update. width preview line
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

Addresses PR Review issues
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatantOrdering.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Resource Drawer, Heroic Reactions, UI updates
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/config/registerConditionsConfig.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHealthStateSync.ts
  src/models/actor/SoloMonsterDataModel.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/nimble.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/actorResources.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/heroicActions.ts
  src/utils/isCombatantDead.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/sheets/pages/NPCSettingsTab.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.test.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
  tests/fixtures/combat.ts
  types/combat.d.ts
Due: biome-fix-staged, prettier-svelte

PR Review edits
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

Settings update and UI improvements
  src/documents/dialogs/GenericDialog.svelte.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.test.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/hooks.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

Hover-over adjustment for resource drawer
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

Functional updates and bug fixes
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatTypes.ts
  src/documents/combat/expandedTurnIdentityStore.ts
  src/settings/combatTrackerSettings.ts
  src/utils/heroicActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/helpers.test.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

UI resize fixes
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
Due: biome-fix-staged, prettier-svelte

PR Review items
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  src/view/ui/ctTopTracker/uiState.svelte.ts
Due: biome-fix-staged, prettier-svelte

Persistant Hide/Show CT after screen refresh
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
Due: biome-fix-staged

Compile typescript fix
  src/documents/combat/expandedTurnIdentityStore.ts
Due: biome-fix-staged

First PR reviews fixes
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/expandedTurnIdentityStore.ts
  src/utils/combatState.ts
  src/utils/heroicActions.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/combatTracker.utils.ts
  src/view/ui/ctTopTracker/resources.utils.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
Due: biome-fix-staged, prettier-svelte

PR Review items addressed
  src/config/registerConditionsConfig.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/heroicActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/combatTracker.utils.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/layout.utils.ts
  src/view/ui/ctTopTracker/resources.utils.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/uiState.svelte.ts
Due: biome-fix-staged, prettier-svelte

PR Reviews addressed
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

PR review addressed
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

PR Review fix. Improved Drag/Drop. Added GM contol for player viewing expanded monsters.
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatCommon.ts
  src/documents/combat/combatInitiative.ts
  src/documents/combat/combatMinionAttacks.ts
  src/documents/combat/combatMinionGroups.ts
  src/documents/combat/combatSorting.ts
  src/documents/combat/combatTurns.ts
  src/documents/combat/combatTypes.ts
  src/documents/combat/combatantSystem.ts
  src/hooks/ready.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatState.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/combatTurnSync.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

feat: add Heroic Reactions tab with chat card targeting system (#431)
  public/lang/en.json
  public/system.json
  src/documents/chatMessage.ts
  src/hooks/renderChatMessage.ts
  src/models/chat/MoveActionCardDataModel.ts
  src/models/chat/ReactionCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_reaction-card.scss
  src/scss/main.scss
  src/view/chat/AssessActionCard.svelte
  src/view/chat/MoveActionCard.svelte
  src/view/chat/ReactionCard.svelte
  src/view/chat/ReactionCardState.svelte.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/TargetSelector.svelte
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  types/components/MoveActionCard.d.ts
  types/components/ReactionCard.d.ts
  types/components/ReactionPanel.d.ts
  types/components/TargetSelector.d.ts
  types/components/WeaponCard.d.ts
Due: biome-fix-staged, prettier-svelte

click area fix for "pan to token" and "ping token"
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

fix: crits cannot miss
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

fix: crits cannot miss (#445)
  src/dice/terms/PrimaryDie.ts
Due: biome-fix-staged

GM toggle reactions no longet costs action
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix: apply advantage/disadvantage to AoE spells without primary die
  src/dice/DamageRoll.ts
Due: biome-fix-staged

Action refresh at end of turn
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

test: add preprocessing tests for DamageRoll attack rolls
  src/dice/DamageRoll.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix: add required options properties to preprocessing tests
  src/dice/DamageRoll.test.ts
Due: biome-fix-staged

fix: apply advantage/disadvantage to AoE spells without primary die (#446)
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

feat: add Zephyr unarmed strike proficiency and Reverberating Strikes
  packs/classFeatures/core/zephyr/zephyr-progression/reverberating-strikes.json
  packs/classFeatures/core/zephyr/zephyr-progression/swift-fists.json
  packs/classes/core/zephyr.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration011SwiftFistsUnarmedProficiency.ts
  src/migration/migrations/index.ts
  src/models/rules/meleeDamageBonus.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/attackUtils.ts
Due: biome-fix-staged

fix: remove extra text from Swift Fists description
  packs/classFeatures/core/zephyr/zephyr-progression/swift-fists.json
Due: biome-fix-staged

fix: add Reverberating Strikes to migration
  src/migration/migrations/Migration011SwiftFistsUnarmedProficiency.ts
Due: biome-fix-staged

fix: correct isDisabled logic for opportunity attacks
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
Due: biome-fix-staged

fix: correct isDisabled logic for all reaction panels
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
Due: biome-fix-staged

fix: correct canInterposeAndDefend logic
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
Due: biome-fix-staged

Stack drag/drop logic
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combatSorting.ts
  src/documents/combat/combatTypes.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/layout.utils.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
  src/view/ui/ctTopTracker/types.ts
  tests/mocks/combat.ts
Due: biome-fix-staged, prettier-svelte

Stack expanded Top Bar
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix: ActionTracker shows for started combat even if not active
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged

refactor: improve reaction panel reactivity and UI
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

revert: remove reaction panel fixes (moved to refactor/reaction-panel-reactivity)
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
