Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

refactor(sheet): drop the resource bar's uncalled props
  src/view/sheets/components/ResourceBar.svelte
  types/components/ResourceBar.d.ts
Due: biome-fix-staged, prettier-svelte

feat(charges): let a charge pool show as a sheet resource
  public/lang/en.json
  src/models/rules/chargePool.ts
  src/utils/chargePool/chargePoolSync.test.ts
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ManaBar.svelte
  src/view/sheets/components/ResourceBar.svelte
Due: biome-fix-staged, prettier-svelte

fix(charges): seed a pool whose maximum only appears later
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
Due: biome-fix-staged

fix(chat): show the tier a pinned cast resolved at
  src/documents/item/spell.ts
  src/models/chat/SpellCardDataModel.ts
  src/view/chat/SpellCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): map an upcast refusal to its message by hand
  src/managers/ItemActivationManager.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
Due: biome-fix-staged

test(spells): cast through the real cast window
  src/documents/item/spell.ts
  src/models/chat/SpellCardDataModel.ts
  tests/integration/builders/buildCharacter.ts
  tests/integration/characterBuilder.test.ts
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

refactor(tests): drop the spell test's builder wrappers
  tests/integration/builders/buildCharacter.ts
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

fix(spells): hold a pinned cast to the caster's unlocked tier
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

docs(shadowmancer): correct the overdraft note and record the expiry gap
  docs/documentation/characters/character-sheet.md
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

test(spells): prove tier derivation and spell cost in a live world
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

test(integration): build test characters the way the system does
  tests/integration/builders/buildCharacter.ts
  tests/integration/characterBuilder.test.ts
  tests/integration/levelUpConformance.test.ts
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

test(spells): pin the overdraft confirmation window and the manual pool write
  src/utils/chargePool/chargePoolRecover.test.ts
  src/utils/spell/spellCost.test.ts
Due: biome-fix-staged

test(sheet): read and correct a promoted pool through the header
  tests/integration/sheetResourceBar.test.ts
Due: biome-fix-staged

fix(spells): report an upcast refusal in the player's language
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
Due: biome-fix-staged

fix(migration): run Migration048 on worlds already at the last version
  src/migration/MigrationList.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration048LayOnHandsPool.test.ts
  src/migration/migrations/Migration048LayOnHandsPool.ts
Due: biome-fix-staged

refactor(charges): drop the unused consumer rule id
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

fix(activation): settle charge spends only once the use is allowed
  docs/documentation/reference/_partials/chargeConsumer.md
  public/lang/en.json
  src/hooks/chargeSystem.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

refactor(rules): gate maxCost on variable mode and name the cost modes
  public/lang/en.json
  src/models/rules/chargeConsumer.test.ts
  src/models/rules/chargeConsumer.ts
Due: biome-fix-staged

fix(ui): keep the spend input in step with the amount it clamps to
  public/lang/en.json
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

docs(oathsworn): tell the player Lay on Hands asks for an amount
  packs/classFeatures/core/oathsworn/oathsworn-progression/lay-on-hands.json
Due: biome-fix-staged

test(integration): cover spending the whole pool
  tests/integration/chargeSpend.test.ts
Due: biome-fix-staged

fix(activation): hold spent pool dice until the use is allowed
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

docs(migration): say what Migration048 actually skips, and cover its branches
  src/migration/migrations/Migration048LayOnHandsPool.test.ts
  src/migration/migrations/Migration048LayOnHandsPool.ts
Due: biome-fix-staged

fix(ui): name the pool in the charge stepper labels
  public/lang/en.json
  src/view/dialogs/ItemActivationConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

test(integration): stage each charge-spend test instead of chaining them
  tests/integration/chargeSpend.test.ts
  tests/integration/liveHelpers.ts
Due: biome-fix-staged

fix: remove migration test
  src/migration/migrations/Migration048LayOnHandsPool.test.ts
Due: biome-fix-staged

Update tests/integration/chargeSpend.test.ts
  tests/integration/chargeSpend.test.ts
Due: biome-fix-staged

fix(charges): reserve fixed costs before a variable spend
  docs/documentation/reference/_partials/chargeConsumer.md
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePoolService.test.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.test.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
Due: biome-fix-staged

feat(level-up): grant and remove spells during subclass selection (#702)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/removeSpells.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules): complete removeSpells rule metadata and promote spell damage-type helpers
  public/lang/en.json
  src/documents/actor/character.ts
  src/models/rules/removeSpells.test.ts
  src/models/rules/removeSpells.ts
  src/utils/spell/spellDamageType.test.ts
  src/utils/spell/spellDamageType.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
Due: biome-fix-staged

feat(level-up): restrict spell schools with keep-and-convert exception
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-flame/fiery-dedication.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-frost/crown-of-ice.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-surges/electrical-dedication.json
  packs/ids.json
  packs/subclasses/core/mage/invoker-of-flame.json
  packs/subclasses/core/mage/invoker-of-frost.json
  packs/subclasses/core/mage/invoker-of-surges.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/restrictSpellSchools.test.ts
  src/models/rules/restrictSpellSchools.ts
  src/utils/classProgression/mage.expect.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

feat(compendium): add Nimble Core Rules journal compendium
  packs/ids.json
  packs/rules/core/ancestry-and-background.json
  packs/rules/core/character-creation.json
  packs/rules/core/combat.json
  packs/rules/core/core-rules.json
  packs/rules/core/equipment.json
  packs/rules/core/glossary.json
  packs/rules/core/optional-rules.json
  packs/rules/core/resting-and-downtime.json
  packs/rules/core/spells.json
  packs/rules/core/start-here.json
  public/system.json
Due: biome-fix-staged

fix(charges): keep a variable spend and its deduction one number
  docs/documentation/reference/_partials/chargeConsumer.md
  public/lang/en.json
  src/hooks/chargeSystem.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolService.test.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  tests/integration/liveHelpers.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

docs(charges): rewrite the charge consumer notes for GMs
  docs/documentation/reference/_partials/chargeConsumer.md
Due: none

Update src/managers/ItemActivationManager.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

fix(charges): keep a variable spend and its deduction one number (#946)
  docs/documentation/reference/_partials/chargeConsumer.md
  public/lang/en.json
  src/hooks/chargeSystem.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/chargePool/chargePoolConsume.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/chargePoolService.test.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  tests/integration/liveHelpers.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(packs): correct Jack of All Trades activation
  packs/classFeatures/core/songweaver/songweaver-progression/jack-of-all-trades.json
Due: biome-fix-staged

docs: document swapping class options on a rest
  docs/documentation/playing/rest-and-recovery.md
  docs/documentation/reference/_partials/optionSwap.md
  docs/documentation/reference/_partials/poolMaxBonus.md
  docs/documentation/reference/_partials/skillPointMove.md
Due: none

fix(chore): ignore test files in migration folder
  .gitignore
  src/migration/migrations/Migration048PoolMaxBonusItems.test.ts
Due: biome-fix-staged
