Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(armor): AC not updating on item change, iron defense level 13 dead rule (#795)
  packs/ancestries/core/exotic/turtlefolk.json
  packs/classFeatures/core/zephyr/zephyr-progression/iron-defense.json
  packs/magicItems/core/coreRules/resolute-fangs-golden-bastion.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
Due: biome-fix-staged

test(toggleEffect): red-phase tests for foundation rule + dispatcher events
  src/hooks/ruleEventDispatch.test.ts
  src/models/rules/toggleEffect.test.ts
Due: biome-fix-staged

feat(rules): add toggleEffect foundation rule (#577)
  docs/system/rules.md
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
Due: biome-fix-staged

fix(rules): address review findings on toggleEffect
  docs/system/rules.md
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
Due: biome-fix-staged

feat(berserker): apply toggleEffect to Rage feature
  packs/classFeatures/core/berserker/berserker-progression/rage.json
Due: biome-fix-staged

fix(dicePool): honor diceConsumer predicate for autoBonus pools
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
Due: biome-fix-staged

chore(berserker): apply compendia formatter to rage.json
  packs/classFeatures/core/berserker/berserker-progression/rage.json
Due: biome-fix-staged

fix(toggleEffect): item activation no longer toggles off enabled effect
  docs/system/rules.md
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
Due: biome-fix-staged

fix(activation): suppress duplicate roll chat for pool actions
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/dicePool/dicePoolRefill.ts
Due: biome-fix-staged

feat(toggleEffect): on/off switch UI, confirm prompt, pool clearing on end
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  public/lang/en.json
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
  src/utils/toggleEffectControl.ts
  src/view/chat/components/PoolNode.svelte
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/WeaponCard.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  types/components/WeaponCard.d.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

chore(toggleEffectControl): move disableToggleEffect doc back to its function
  src/utils/toggleEffectControl.ts
Due: biome-fix-staged

test(toggleEffectControl): cover rule/AE detection + enable path
  src/utils/toggleEffectControl.test.ts
  src/utils/toggleEffectControl.ts
Due: biome-fix-staged

chore: remove em-dashes from PR-added comments, tests, docs, strings
  docs/system/rules.md
  public/lang/en.json
  src/hooks/ruleEventDispatch.ts
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/base.ts
  src/models/rules/toggleEffect.test.ts
  src/models/rules/toggleEffect.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
  src/utils/toggleEffectControl.test.ts
  src/utils/toggleEffectControl.ts
  src/view/chat/components/PoolNode.svelte
  src/view/sheets/components/AttackActionPanel.svelte
Due: biome-fix-staged, prettier-svelte

fix(types): type contexts, state, and shared helpers to reduce svelte-check errors
  src/utils/sortItems.ts
  src/view/components/ActorConditionsList.test.ts
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  tests/fixtures/characters.ts
  tests/fixtures/dialogs.ts
Due: biome-fix-staged, prettier-svelte

fix(types): accept heterogeneous component props in GenericDialog
  src/documents/dialogs/GenericDialog.svelte.ts
Due: biome-fix-staged

fix(types): type StatConfigDialog document, snippets, and attack panel context
  src/view/dialogs/CharacterStatConfigDialog.svelte
  src/view/dialogs/CharacterStatConfigDialogState.svelte.ts
  src/view/sheets/components/AttackActionPanel.svelte
  types/components/CharacterStatConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(types): clean up ClassSheet, TagGroup, and event-target typing
  src/view/components/TagGroup.svelte
  src/view/sheets/ClassSheet.state.svelte.ts
  src/view/sheets/ClassSheet.svelte
  types/tagGroupOption.d.ts
Due: biome-fix-staged, prettier-svelte

fix(types): cast event targets and snippet maps in FeatureSheet and NPCMetaConfigDialog
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/FeatureSheet.state.svelte.ts
  src/view/sheets/FeatureSheet.svelte
Due: biome-fix-staged, prettier-svelte

fix(types): use correct TextEditor.EnrichmentOptions type path in Editor
  src/view/sheets/components/Editor.svelte
Due: prettier-svelte

fix(types): narrow class system data and mana-recovery args in rest dialogs
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
Due: prettier-svelte

fix(types): optional editingEnabled, localize numbers, and misc small fixes
  src/utils/localize.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/components/MovementSpeed.svelte
  src/view/sheets/components/SavingThrows.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(types): stringify i18n args, typed skills doc prop, npc name target cast
  src/view/dialogs/CharacterSkillsConfigDialogState.svelte.ts
  src/view/dialogs/RollHitDiceDialog.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/sheets/NPCSheet.svelte
  types/components/CharacterSkillsConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(types): type LevelUp document and drop unused level-up prop passes
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(types): settings key casts, roll summary options, dialog actor types
  src/view/chat/components/RollSummary.svelte
  src/view/dialogs/CheckRollDialog.svelte
  src/view/dialogs/EditManaDialog.svelte
  src/view/dialogs/ItemActivationConfigDialog.svelte
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(types): type target tokens and heroic actions context
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  types/components/TargetSelector.d.ts
Due: biome-fix-staged, prettier-svelte

fix(types): chat card systems, level-down actor, chat message create casts
  src/config.ts
  src/documents/dialogs/ItemMacroDialog.svelte.ts
  src/view/chat/MoveActionCard.svelte
  src/view/chat/components/ChargeConsumptionNode.svelte
  src/view/chat/components/DamageNode.svelte
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/ConfigureChargesDialog.svelte
  src/view/dialogs/components/levelUpHelper/HitPointSelection.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/components/MoveActionPanel.svelte
Due: biome-fix-staged, prettier-svelte

fix(types): cast Foundry-internal sheet drag handler and misc deep casts
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/dialogs/ConfigureChargesDialog.svelte
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
  src/view/ui/CanvasConditionsPanel.svelte
Due: prettier-svelte

fix(types): global NimbleBaseItem.reactive, opportunity attack and roll casts
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte
  types/globals.d.ts
Due: biome-fix-staged, prettier-svelte

fix(types): type AttackActionPanel weapon items and onActivateItem prop
  src/view/sheets/components/AttackActionPanel.svelte
Due: prettier-svelte

fix(types): narrow spell system data and coalesce spell ids in spells tab
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: prettier-svelte

fix(types): type inventory item grouping, system access, and rules managers
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

fix(types): type chat targets message document and token documents
  src/view/chat/components/Targets.svelte
Due: prettier-svelte

fix(types): type NPCCoreTab helpers, drag-drop, and NPC system access
  src/view/sheets/pages/NPCCoreTab.svelte
  types/components/ChargeIndicator.d.ts
Due: biome-fix-staged, prettier-svelte

fix(types): expose augmented document members in Editor via typed alias
  src/view/sheets/components/Editor.svelte
Due: prettier-svelte

feat(character): add full-character JSON export and actor import
  public/lang/en.json
  src/documents/dialogs/ActorCreationDialog.svelte.ts
  src/view/dialogs/ActorCreationDialog.svelte
  src/view/sheets/character/jsonExport/CharacterJsonExportButton.svelte
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  types/components/CharacterJsonExportButton.d.ts
Due: biome-fix-staged, prettier-svelte

fix(character): label and lay out import buttons side by side
  public/lang/en.json
  src/config.ts
  src/view/dialogs/ActorCreationDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(character): derive max HP and show item levels in import preview
  public/lang/en.json
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(character): add import preview modal for player character JSON
  public/lang/en.json
  src/documents/dialogs/ActorCreationDialog.svelte.ts
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
Due: biome-fix-staged, prettier-svelte

chore: apply formatter to import dialog files
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
  src/view/dialogs/ImportPlayerCharacterDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(ci): remove tsx/jsx globs that crash format auto-commit
  .github/workflows/format.yml
Due: none

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
