Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-format:
      glob: "*.{ts,mts,js,mjs}"
      run: npx @biomejs/biome format --write {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

chore: enhance lefthook with pre-push hooks for checks, typecheck, and tests
  lefthook.yml
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

chore: replace husky with lefthook for git hooks (#317)
  .husky/pre-commit
  lefthook.yml
  package-lock.json
  package.json
Due: none

fix: add Odd Constitution rules to Oozeling/Construct ancestry
  packs/ancestries/core/exotic/oozelingconstruct.json
  src/hooks/ready.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration003OozelingConstructRules.ts
  src/migration/migrations/index.ts
Due: biome-format

fix: add Odd Constitution rules to Oozeling/Construct ancestry (#322)
  packs/ancestries/core/exotic/oozelingconstruct.json
  src/hooks/ready.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration003OozelingConstructRules.ts
  src/migration/migrations/index.ts
Due: biome-format

Lint check fix
  src/view/sheets/PlayerCharacterSheet.svelte
Due: prettier-svelte

handleInitiativeRules
  src/documents/combat/combat.svelte.ts
  src/documents/combat/handleInitiativeRules.ts
  src/documents/combat/handlers/combatManaHandler.ts
Due: biome-format

Spellblade Mana edge case
  src/documents/combat/combat.svelte.ts
  src/nimble.ts
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-format, prettier-svelte

Changed to Rule based
  packs/subclasses/core/commander/spellblade.json
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/config/registerRulesConfig.ts
  src/documents/combat/combat.svelte.ts
  src/models/rules/combatMana.ts
  src/nimble.ts
  src/utils/combatManaRules.test.ts
  src/utils/combatManaRules.ts
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-format, prettier-svelte

data migration and feature fix
  src/hooks/ready.ts
  src/migration/runSpellbladeCombatManaMigration.ts
  src/settings/index.ts
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-format, prettier-svelte

Integrate Spellblade combat mana migration into MigrationRunner
  src/hooks/ready.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration004SpellbladeCombatMana.ts
  src/migration/migrations/index.ts
  src/migration/runSpellbladeCombatManaMigration.ts
  src/settings/index.ts
Due: biome-format

Spellblade Mana edge case during combat (#307)
  packs/subclasses/core/commander/spellblade.json
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/config/registerRulesConfig.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/handleInitiativeRules.ts
  src/documents/combat/handlers/combatManaHandler.ts
  src/hooks/ready.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration004SpellbladeCombatMana.ts
  src/migration/migrations/index.ts
  src/models/rules/combatMana.ts
  src/nimble.ts
  src/utils/combatManaRules.test.ts
  src/utils/combatManaRules.ts
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-format, prettier-svelte

feat(import): add smart parsing for Nimble Nexus action descriptions
  src/import/nimbleNexus/NimbleNexusParser.ts
  src/import/nimbleNexus/constants.ts
  src/import/nimbleNexus/descriptionParser.test.ts
  src/import/nimbleNexus/descriptionParser.ts
  src/import/nimbleNexus/types.ts
Due: biome-format

chore: fix formatting issues in JSON and import order
  packs/ancestries/core/exotic/oozelingconstruct.json
  packs/subclasses/core/commander/spellblade.json
  src/documents/combat/combat.svelte.ts
Due: biome-format

fix(import): correct Magmin Touch test to use damage type from formula
  src/import/nimbleNexus/descriptionParser.test.ts
Due: biome-format

chore: fix Biome formatting
  src/import/nimbleNexus/constants.ts
  src/import/nimbleNexus/descriptionParser.ts
Due: biome-format

feat: add ScalingConfig component to SpellConfigTab for spell scaling options
  src/view/sheets/components/ScalingConfig.svelte
  src/view/sheets/pages/SpellConfigTab.svelte
Due: prettier-svelte

fix: default highestUnlockedSpellTier to 9 if missing for upcasting functionality
  src/managers/ItemActivationManager.ts
Due: biome-format

fix: improve upcast constraint calculations for spell dialog
  src/view/dialogs/SpellUpcastDialog.svelte
Due: prettier-svelte

fix: update higher level effect label in SpellDescriptionTab for dynamic display
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/sheets/pages/SpellDescriptionTab.svelte
Due: prettier-svelte

add: translated scaling config
  public/lang/en.json
  src/view/sheets/components/ScalingConfig.svelte
  src/view/sheets/pages/SpellConfigTab.svelte
Due: prettier-svelte

fix(import): ensure token texture is properly applied on import
  src/import/nimbleNexus/NimbleNexusParser.ts
Due: biome-format

feat(combat): initiative sorting and ordering
  src/documents/combat/combat.svelte.ts
Due: biome-format

Heroes correctly move to death zone according to wounds and not hitpoints
  src/hooks/combatantDefeatSync.ts
  src/utils/isCombatantDead.ts
Due: biome-format

Initiative sorting
  src/scss/components/_combat-tracker.scss
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: prettier-svelte

initiative/sort
  src/actions/draggable.svelte.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantDefeatSync.ts
  src/scss/components/_combat-tracker.scss
  src/utils/isCombatantDead.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
  src/view/ui/components/MonsterCombatant.svelte
  src/view/ui/components/PlayerCharacterCombatant.svelte
Due: biome-format, prettier-svelte

lint check fix
  src/actions/draggable.svelte.ts
Due: biome-format

Fixed starting turn player to always be the top most player
  src/documents/combat/combat.svelte.ts
  src/view/ui/components/MonsterCombatant.svelte
  src/view/ui/components/PlayerCharacterCombatant.svelte
Due: biome-format, prettier-svelte

GM can drag/reorder all active cards. Players can drag/reorder only character cards they own.
  src/documents/combat/combat.svelte.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: biome-format, prettier-svelte

Added tests
  src/documents/combat/combat.svelte.test.ts
  src/hooks/combatantDefeatSync.test.ts
  src/utils/isCombatantDead.test.ts
Due: biome-format

End Combat modal wording updated
  src/view/ui/components/CombatTrackerControls.svelte
Due: prettier-svelte

Review fixes / Tracker stays open when all actors removed
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantDefeatSync.test.ts
  src/utils/isCombatantDead.test.ts
  src/utils/isCombatantDead.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
  src/view/ui/components/CombatTrackerControls.svelte
Due: biome-format, prettier-svelte

Updated drag/drop permissions
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: biome-format, prettier-svelte

minion group mode
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenBadges.ts
  src/nimble.ts
  src/scss/components/_combat-tracker.scss
  src/utils/minionGrouping.ts
  src/view/ui/CombatTracker.svelte
  tests/mocks/combat.ts
Due: biome-format, prettier-svelte

UI adjustments
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/scss/components/_minion-group-token-actions.scss
  src/view/ui/CombatTracker.svelte
Due: biome-format, prettier-svelte

Grouping updates
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/token/tokenDocument.test.ts
  src/documents/token/tokenDocument.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/hooks/ready.ts
  src/nimble.ts
  src/scss/components/_combat-tracker.scss
  src/scss/components/_minion-group-token-actions.scss
  src/scss/main.scss
  src/settings/index.ts
  src/utils/minionGrouping.test.ts
  src/utils/minionGrouping.ts
  src/view/ui/CombatTracker.svelte
Due: biome-format, prettier-svelte

Simplified popover table
  src/scss/components/_combat-tracker.scss
  src/view/ui/CombatTracker.svelte
Due: prettier-svelte

Canvas Lite Version
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/hooks/minionGroupingModeSync.ts
  src/hooks/ready.ts
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/minionGrouping.ts
  src/utils/minionGroupingModes.ts
  src/view/ui/CombatTracker.svelte
Due: biome-format, prettier-svelte

New Nimble Combat System
  public/system.json
  src/actions/draggable.svelte.ts
  src/documents/chatMessage.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/hooks/minionGroupingModeSync.ts
  src/hooks/ready.ts
  src/hooks/renderChatMessage.ts
  src/models/chat/MinionGroupAttackCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/scss/components/_combat-tracker.scss
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/minionGroupingModes.ts
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: biome-format, prettier-svelte

Restore upstream combat tracker parity
  src/scss/components/_combat-tracker.scss
  src/view/ui/CombatTracker.svelte
Due: prettier-svelte
