Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: show action pips after initiative is rolled, before combat starts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: add animation when action pips are spent
  src/view/sheets/components/ActionPipTracker.svelte
Due: prettier-svelte

fix: increase PC sheet default width for new tab icon
  src/documents/sheets/sheetDefaults.ts
Due: biome-fix-staged

fix: add row wrapper to unarmed strike card for proper layout
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

fix: prevent deselecting Attack/Spell tabs - can only switch between them
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

style: left-align intro and footer text in help dialog
  src/view/dialogs/HeroicActionsHelpDialog.svelte
Due: prettier-svelte

fix: implement proper unarmed strike damage mechanics
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

feat: add Assess action chat card and improve target selection
  public/lang/en.json
  public/system.json
  src/view/dialogs/AssessActionDialog.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: Assess dialog cancel button translation and sizing
  public/lang/en.json
  src/view/dialogs/AssessActionDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix: add rollInitiative translation to heroicActions section
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

style: improve help dialog text readability
  src/view/dialogs/HeroicActionsHelpDialog.svelte
Due: prettier-svelte

fix: improve assess action button UX
  public/lang/en.json
  src/view/dialogs/AssessActionDialog.svelte
  src/view/sheets/components/AssessActionPanel.svelte
Due: biome-fix-staged, prettier-svelte

feat: convert Move action to inline panel
  public/lang/en.json
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

chore: add step to disable Jekyll in docs deployment workflow
  .github/workflows/docs-deploy.yml
Due: none

chore: trigger update
  docs/index.md
Due: none

CHG: Update PRD and ralph-once.sh for task instructions
  PRD.md
  ralph-once.sh
Due: none

docs: add planning docs, system docs section, and polish landing page
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/FullscreenIframe.vue
  docs/.vitepress/theme/index.ts
  docs/index.md
  docs/planning/architecture.md
  docs/planning/epics.md
  docs/planning/product-vision.md
  docs/planning/ux-design-directions.md
  docs/planning/ux-design-specification.md
  docs/public/ux-design-directions.html
  docs/system/index.md
Due: biome-fix-staged

CHG: Mark SmallTime audit as complete
  PRD.md
  progress.txt
Due: none

CHG: Update .gitignore and ralph-once.sh for clarity
  .gitignore
  playwright/screenshots/smalltime-clock-updated.png
  playwright/screenshots/smalltime-initial-state.png
  playwright/screenshots/smalltime-widget-visible.png
  ralph-once.sh
Due: none

chore(i18n): add missing translation strings for user-facing UI (#419)
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/view/chat/components/ItemCardEffects.svelte
  src/view/chat/components/Targets.svelte
  src/view/dialogs/CharacterMovementConfigDialog.svelte
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
  src/view/dialogs/CharacterStatConfigDialog.svelte
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/ui/components/CombatTrackerControls.svelte
Due: biome-fix-staged, prettier-svelte

feat: add Heroic Actions tab to PC sheet
  public/lang/en.json
  public/system.json
  src/documents/sheets/sheetDefaults.ts
  src/view/dialogs/AssessActionDialog.svelte
  src/view/dialogs/HeroicActionsHelpDialog.svelte
  src/view/dialogs/MoveActionDialog.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/HeroicActionBox.svelte
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix: address PR review feedback for Heroic Actions tab
  packs/classFeatures/core/the-cheat/the-cheat-progression/twist-the-blade-2.json
  public/lang/en.json
  src/migration/migrations/Migration010SwiftFistsUnarmedDamage.ts
  src/models/rules/unarmedDamage.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/assessOptions.ts
  src/utils/evaluateFormula.ts
  src/utils/movementSpeeds.ts
  src/utils/targeting.ts
  src/view/chat/AssessActionCard.svelte
  src/view/dialogs/AssessActionDialog.svelte
  src/view/dialogs/MoveActionDialog.svelte
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/HeroicActionBox.svelte
  src/view/sheets/components/MoveActionPanel.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  types/components/AssessActionDialog.d.ts
  types/components/AssessActionPanel.d.ts
  types/components/AttackActionPanel.d.ts
  types/components/CastSpellActionPanel.d.ts
  types/components/HeroicActionBox.d.ts
  types/components/MoveActionDialog.d.ts
  types/components/MoveActionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

fix: address linter and TypeScript warnings in evaluateFormula
  src/utils/evaluateFormula.ts
Due: biome-fix-staged

refactor: extract component state into .svelte.ts files and fix DamageRoll lookup
  docs/STYLE_GUIDE.md
  src/dice/DamageRoll.ts
  src/view/dialogs/AssessActionDialog.svelte
  src/view/dialogs/AssessActionDialog.svelte.ts
  src/view/sheets/components/AssessActionPanel.svelte
  src/view/sheets/components/AssessActionPanel.svelte.ts
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix: move CONFIG.NIMBLE access inside factory functions
  src/dice/DamageRoll.ts
  src/view/dialogs/AssessActionDialog.svelte.ts
  src/view/sheets/components/AssessActionPanel.svelte.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

Formatting update. Settings update
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/dialogs/NcctSettingsDialog.svelte
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

NCCT v1.0
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/ready.ts
  src/scss/components/_combat-tracker.scss
  src/scss/main.scss
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/CombatTrackerSettings.svelte.ts
  src/view/ui/NcctTopTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
  src/view/ui/components/CollapsedMonsterCard.svelte
  src/view/ui/components/CombatTrackerControls.svelte
  src/view/ui/components/CombatTrackerControls.test.ts
  src/view/ui/components/CombatTrackerSettingsWindow.svelte
  src/view/ui/components/MonsterCombatant.svelte
  src/view/ui/components/PlayerCharacterCombatant.svelte
Due: biome-fix-staged, prettier-svelte

Lowered complexity
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/utils/combatantOrdering.ts
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

removed persistant name title
  src/view/ui/NcctTopTracker.svelte
Due: prettier-svelte

show/hide sidebar buttons and scroll bar
  src/view/ui/NcctTopTracker.svelte
Due: prettier-svelte

Game System toggle to show/hide combat tracker NCCT
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/ui/NcctTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

settings update. width preview line
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

PR comment fixes
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/hooks.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

lint/format fixes
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Addresses PR Review issues
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatantOrdering.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Settings, style, function updates
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/ready.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/NcctSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

Resource Drawer, Heroic Reactions, UI updates
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/config/registerConditionsConfig.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantDefeatSync.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHealthStateSync.ts
  src/models/actor/SoloMonsterDataModel.ts
  src/models/combatant/CharacterCombatantDataModel.ts
  src/nimble.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/utils/actorResources.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/heroicActions.ts
  src/utils/isCombatantDead.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/sheets/pages/NPCSettingsTab.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.test.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
  tests/fixtures/combat.ts
  types/combat.d.ts
Due: biome-fix-staged, prettier-svelte

Settings update and UI improvements
  src/documents/dialogs/GenericDialog.svelte.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/utils/actorHealthState.test.ts
  src/utils/actorHealthState.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/helpers.test.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/hooks.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

Functional updates and bug fixes
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatTypes.ts
  src/documents/combat/expandedTurnIdentityStore.ts
  src/settings/combatTrackerSettings.ts
  src/utils/heroicActions.ts
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/helpers.test.ts
  src/view/ui/ctTopTracker/helpers.ts
  src/view/ui/ctTopTracker/state.ts
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

UI resize fixes
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
