Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore(chat cards): drop the dead duplicate-damage guard in applyAllDamage
  src/documents/chatMessage.ts
Due: biome-fix-staged

fix(chat cards): narrow the healing node's disposition with hasDispositionTarget
  src/view/chat/components/HealingNode.svelte
Due: prettier-svelte

fix(chat cards): count a nested damage roll once
  src/documents/chatMessage.test.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/chat/components/ItemCardEffects.test.ts
Due: biome-fix-staged

test(chat cards): pin the box an unrolled deferred child really draws
  src/view/chat/components/ItemCardEffects.test.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
Due: biome-fix-staged

docs(homebrew): say what Any and a nested damage entry do to the card
  docs/documentation/homebrew/activations.md
Due: none

fix(tests): pick a spell the blank test character can actually cast
  tests/integration/chatCards.test.ts
Due: biome-fix-staged

fix(inventory): keep the container rules with the actor, drop the quiver's bag (#818)
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/items.md
  packs/items/core/misc/quiver-and-ammo.json
  src/documents/actor/character.ts
  src/documents/actor/getContainerCapacityUsage.test.ts
  src/documents/actor/inventoryContainers.test.ts
  src/documents/actor/inventoryContainers.ts
  src/documents/actor/prepareHighestUnlockedSpellTier.test.ts
  src/models/actor/CharacterDataModel.ts
  src/view/sheets/components/CurrencyTracker.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat cards): show a damage roll once when the node has a target disposition (#979)
  docs/documentation/homebrew/activations.md
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/utils/buildDeferredDamagePatch.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/utils/treeManipulation/hasDispositionTarget.ts
  src/utils/treeManipulation/isAwaitingDeferredRoll.ts
  src/view/chat/components/ApplyDamageButton.svelte
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/HealingNode.svelte
  src/view/chat/components/ItemCardEffects.test.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
  src/view/dataPreparationHelpers/effectTree/processNodes.ts
  types/components/ApplyDamageButton.d.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

fix(chat cards): apply one Damage Outcome per parent on a crit card
  docs/documentation/homebrew/activations.md
  src/documents/chatMessage.test.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
Due: biome-fix-staged

fix(chat cards): apply one Damage Outcome per parent on a crit card (#981)
  docs/documentation/homebrew/activations.md
  src/documents/chatMessage.test.ts
  src/utils/treeManipulation/findNodesByContexts.test.ts
  src/utils/treeManipulation/findNodesByContexts.ts
  src/view/dataPreparationHelpers/effectTree/getRelevantNodes.test.ts
Due: biome-fix-staged

fix(tests): pick a spell the blank test character can actually cast (#983)
  tests/integration/chatCards.test.ts
Due: biome-fix-staged

test(movement): the Free Move and Forced Movement actions register at init
  src/utils/movement/movementActions.test.ts
Due: biome-fix-staged

fix(movement): count Spaces Moved This Turn in any started combat, not only the viewed one
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
Due: biome-fix-staged

feat(settings): movement offers automation toggle
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  public/lang/en.json
  src/settings/automationSettings.test.ts
  src/settings/automationSettings.ts
  src/settings/registerAutomationSettings.test.ts
  src/view/settings/AutomationSettingsDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(movement): requestMove primitive and owning-client plan relay
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/init.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

feat(activation): move effect node with Movement Offers on the card
  docs/documentation/homebrew/activations.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/treeManipulation/createEffectNode.ts
  src/utils/treeManipulation/createMoveNode.ts
  src/view/chat/components/MoveNode.svelte
  src/view/dataPreparationHelpers/effectTree/getNodeComponent.ts
  src/view/dataPreparationHelpers/effectTree/groupNodes.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/components/MoveNode.d.ts
  types/effectTree.d.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

test(chat): move node card states
  src/view/chat/components/MoveNode.test.ts
  src/view/chat/components/MoveNode.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): the move node states the offer and records the result
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

feat(movement): a drag names its Movement Offer and the GM records it by name
  src/documents/token/token.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOfferTag.test.ts
  src/utils/movement/movementOfferTag.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): straight drags only for directed pushes
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
Due: biome-fix-staged

feat(movement): rebuild offers from the card and authorise who takes them
  public/lang/en.json
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferEntry.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveMoveDistance.test.ts
  src/utils/movement/resolveMoveDistance.ts
  src/utils/movement/takeMovementOffer.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

test(movement): live suite for armed Movement Offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

feat(movement): an open Movement Offer lapses when its combat turn ends
  public/lang/en.json
  src/models/chat/common.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/registerMovementOffers.test.ts
  src/utils/movement/registerMovementOffers.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

feat(movement): offer a Movement by arming the token, not a card button
  public/lang/en.json
  src/documents/token/token.ts
  src/hooks/init.ts
  src/hooks/ready.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/findArmedMovementOffer.test.ts
  src/utils/movement/findArmedMovementOffer.ts
  src/utils/movement/movementOfferConstraints.test.ts
  src/utils/movement/movementOfferConstraints.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementOffers.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  src/utils/movement/takeMovementOffer.ts
  tests/mocks/foundry.ts
  types/movement.ts
Due: biome-fix-staged

fix(movement): refuse taken offers, cap stamps at the offer, drop the inert plan option
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferRelay.test.ts
  src/utils/movement/movementOfferRelay.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/registerMovementQueries.test.ts
  src/utils/movement/registerMovementQueries.ts
  src/utils/movement/resolveMoveDistance.test.ts
Due: biome-fix-staged

fix(movement): report the drag result from the mover's client
  docs/system/rules.md
  src/documents/token/tokenDocument.ts
  src/hooks/ready.ts
  src/utils/movement/buildMovementRecord.test.ts
  src/utils/movement/buildMovementRecord.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/planOfferedMove.test.ts
  src/utils/movement/planOfferedMove.ts
  src/utils/movement/requestMove.test.ts
  src/utils/movement/requestMove.ts
  types/movement.ts
Due: biome-fix-staged

docs(movement): the push shape is a system convenience, not a rule
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
Due: none

chore(movement): schema bounds, editor and settings cleanups, docs
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
  src/models/chat/common.ts
  src/view/settings/AutomationSettingsDialog.svelte
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(movement): a Movement Offer shows its distance on the ruler and never stops the drag
  public/lang/en.json
  src/documents/token/token.ts
  src/documents/token/tokenRuler.ts
  src/hooks/init.ts
  src/utils/movement/markWaypointsPastOffer.test.ts
  src/utils/movement/markWaypointsPastOffer.ts
  src/utils/movement/movementActions.ts
  src/utils/movement/movementOfferConstraints.test.ts
  src/utils/movement/movementOfferConstraints.ts
  src/view/chat/components/MoveNode.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(chat): move card plural button, taken state, one drag at a time
  public/lang/en.json
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
Due: biome-fix-staged, prettier-svelte

docs(movement): a move node's distance reads the source's roll data
  types/effectTree.d.ts
Due: biome-fix-staged

docs(movement): a Movement Offer guides the drag and never stops it
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
Due: none

test(movement): live suite for stamped Movement Offers that guide the drag
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

fix(movement): the Movement Offers setting describes a guided drag, and the card field is tested
  public/lang/en.json
  src/models/chat/common.test.ts
Due: biome-fix-staged

feat(movement): stamp Movement Offers on the card once and read them from there
  docs/STYLE_GUIDE.md
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/documents/token/token.ts
  src/documents/token/tokenRuler.ts
  src/models/chat/common.ts
  src/utils/movement/buildCardMovementOffer.test.ts
  src/utils/movement/buildCardMovementOffer.ts
  src/utils/movement/findArmedMovementOffer.test.ts
  src/utils/movement/findArmedMovementOffer.ts
  src/utils/movement/movementOfferEntry.test.ts
  src/utils/movement/movementOfferEntry.ts
  src/utils/movement/movementOffers.test.ts
  src/utils/movement/movementOffers.ts
  src/utils/movement/resolveArmedMovementOffer.test.ts
  src/utils/movement/resolveArmedMovementOffer.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

docs(movement): Movement Offers arm the token
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/activations.md
Due: none

test(movement): live suite for movement offers
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged

feat(rules): freeMove and movementTrigger rules
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/chargePool/ruleChargeGate.test.ts
  src/utils/chargePool/ruleChargeGate.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

feat(packs): Fleet Feet, Heavy Strike and Chaos Lash offer their moves
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/fleet-feet.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
Due: biome-fix-staged

feat(chat): a Movement Offer card of its own, and a card that offers an item after a Movement
  public/lang/en.json
  public/system.json
  src/hooks/renderChatMessage.ts
  src/models/chat/MovementOfferCardDataModel.ts
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/models/chat/movementCardDataModels.test.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  types/components/MovementOfferCard.d.ts
  types/components/MovementTriggerCard.d.ts
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
