Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(i18n): rename the scroll tier warning to tierLockedWarning
  public/lang/en.json
  src/view/dialogs/SpellScrollDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): warn about a scroll above the tier the actor has unlocked
  src/view/dialogs/SpellScrollDialog.state.svelte.test.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  tests/harnesses/SpellScrollDialogStateHarness.svelte
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): attribute a spell cost to its class and pay for a cast once
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/asChargePoolActor.ts
  src/utils/spell/confirmSpellOverdraft.ts
  src/utils/spell/paySpellCost.test.ts
  src/utils/spell/paySpellCost.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/utils/spell/spendSpellCost.ts
  src/utils/spell/validateSpellCost.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  types/spellCost.d.ts
Due: biome-fix-staged

test(activation): assert the NPC mock has no tier ladder
  src/managers/ItemActivationManager.test.ts
Due: biome-fix-staged

docs(spells): say a pool class spends charges, and never gets a slider
  docs/documentation/homebrew/spells.md
Due: none

fix(spells): localize the cast dialog warnings
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(activation): read the upcast failure key from CONFIG
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

test(activation): clear the pool mock before the deferred-spend case
  src/managers/ItemActivationManager.poolNode.test.ts
Due: biome-fix-staged

fix(spells): fall back to mana when two classes each declare a spell cost
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
Due: biome-fix-staged

feat(charges): let a charge pool show as a sheet resource
  public/lang/en.json
  src/models/rules/chargePool.ts
  src/utils/chargePool/chargePoolSync.test.ts
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ManaBar.svelte
  src/view/sheets/components/ResourceBar.svelte
Due: biome-fix-staged, prettier-svelte

fix(sheet): pass Math.clamp arguments in documented order
  src/view/sheets/components/ResourceBar.svelte
Due: prettier-svelte

chore(types): declare getRollData on the spell cost actor slice
  src/utils/spell/asChargePoolActor.ts
  types/spellCost.d.ts
Due: biome-fix-staged

test(spells): prove tier derivation and spell cost in a live world
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

test(integration): build test characters the way the system does
  tests/integration/builders/buildCharacter.ts
  tests/integration/characterBuilder.test.ts
  tests/integration/levelUpConformance.test.ts
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

docs(spells): state what Alt does under a class that pins the cast tier
  docs/documentation/homebrew/spells.md
Due: none

fix(migration): match a Shadowmancer class that kept its name but lost its identifier
  src/migration/migrations/Migration052ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
Due: biome-fix-staged

feat(spells): resolve a class-pinned cast tier on every activation path
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): show the tier a pinned cast resolved at
  src/documents/item/spell.ts
  src/models/chat/SpellCardDataModel.ts
  src/view/chat/SpellCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): label a spell that does not scale at its own tier under a pinned cast
  src/managers/ItemActivationManager.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(migration): only clear a positive Shadowmancer mana current
  src/migration/migrations/Migration052ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
Due: biome-fix-staged

refactor(sheet): collapse ResourceBar to the one shape that has callers
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ResourceBar.svelte
  types/components/ResourceBar.d.ts
Due: biome-fix-staged, prettier-svelte

test(activation): drop the deferred dialog spend test that dev already covers
  src/managers/ItemActivationManager.poolNode.test.ts
Due: biome-fix-staged

test(integration): pin the cast tier on a spell that scales
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

docs(shadowmancer): record the Hollow One and free-cast exceptions that are not automated
  docs/documentation/characters/character-sheet.md
Due: none

feat(spells): open the cast dialog for a pinned upcast choice
  docs/documentation/homebrew/character-options.md
  docs/documentation/homebrew/spells.md
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

refactor(class-sheet): match the sibling handlers' fire-and-forget update
  src/view/sheets/ClassSheet.state.svelte.ts
Due: biome-fix-staged

fix(charges): store whether a pool has been seeded
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
Due: biome-fix-staged

fix(charges): seed a pool whose maximum only appears later
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
Due: biome-fix-staged

chore(migration): renumber the Shadowmancer migration to 052
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

test(spells): pin the overdraft confirmation window and the manual pool write
  src/utils/chargePool/chargePoolRecover.test.ts
  src/utils/spell/spellCost.test.ts
Due: biome-fix-staged

fix(spells): map an upcast refusal to its message by hand
  src/managers/ItemActivationManager.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
Due: biome-fix-staged

fix(spells): report an upcast refusal in the player's language
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
Due: biome-fix-staged

chore(migration): number the Shadowmancer migration 049
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration049ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration049ShadowmancerPilferedPower.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

refactor(spells): name the spell cost outcome for both its callers
  src/utils/spell/spendSpellCost.ts
  src/utils/spell/validateSpellCost.ts
  types/spellCost.d.ts
Due: biome-fix-staged

feat(spells): class-declared spell cost with pool spend and overdraft
  public/lang/en.json
  src/documents/item/spell.ts
  src/models/item/ClassDataModel.ts
  src/utils/spell/confirmSpellOverdraft.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
Due: biome-fix-staged

test(spells): cast through the real cast window
  src/documents/item/spell.ts
  src/models/chat/SpellCardDataModel.ts
  tests/integration/builders/buildCharacter.ts
  tests/integration/characterBuilder.test.ts
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

fix(spells): count a zeroed mana max against its base max
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
Due: biome-fix-staged

refactor(tests): drop the spell test's builder wrappers
  tests/integration/builders/buildCharacter.ts
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

perf(spells): resolve the spell list's costs through one shared resolver
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

fix(spells): hold a pinned cast to the caster's unlocked tier
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte
