Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

feat(packs): Chaos Lash offers its Reaction when an enemy moves adjacent
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
Due: biome-fix-staged

feat(packs): Swift Fury offers its Free Move on a card when you gain Fury Dice
  packs/classFeatures/core/berserker/savage-arsenal/swift-fury.json
Due: biome-fix-staged

feat(packs): Advance! reminds of advantage after moving toward an enemy, and Coordinated Strike offers its group move
  packs/classFeatures/core/commander/commander-subclasses/champion-of-the-vanguard/advance.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
Due: biome-fix-staged

feat(packs): Thunderous Steps offers its damage when a Raging Berserker stops next to creatures after 4 spaces this turn
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
Due: biome-fix-staged

docs(movement): features that offer a Free Move on their own and features that react to movement
  docs/STYLE_GUIDE.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/settings.md
  docs/system/rules.md
Due: none

feat(movement): match a finished Movement against a trigger's geometry
  src/utils/movement/matchMovementTrigger.test.ts
  src/utils/movement/matchMovementTrigger.ts
Due: biome-fix-staged

feat(chat): an activation card records the spaces moved this turn and how far each target is
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/item/base.svelte.ts
  src/models/chat/FeatureCardDataModel.ts
  src/models/chat/ObjectCardDataModel.ts
  src/models/chat/SpellCardDataModel.ts
  src/models/chat/common.test.ts
  src/models/chat/common.ts
  src/utils/movement/movementContext.test.ts
  src/utils/movement/movementContext.ts
  src/view/chat/components/TextNode.svelte
  src/view/chat/components/TextNode.test.ts
  src/view/chat/components/TextNode.testHarness.svelte
  src/view/dataPreparationHelpers/resolveMovementPlaceholders.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): a free move on pool gain or turn start posts once, through the rule lifecycle
  docs/STYLE_GUIDE.md
  docs/system/rules.md
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/base.ts
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/utils/chargePool/ruleChargeGate.test.ts
Due: biome-fix-staged

feat(packs): Sharpshooter's card shows the spaces moved this turn and the distance to the target
  packs/classFeatures/core/hunter/thrill-of-the-hunt/sharpshooter.json
Due: biome-fix-staged

refactor(chat): the note node declares its props type with the other components
  src/view/chat/components/TextNode.svelte
  types/components/TextNode.d.ts
Due: biome-fix-staged, prettier-svelte

test(movement): live suite for freeMove and movementTrigger
  tests/integration/chatCards.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged

fix(movement): a movement trigger card lets the owner use the feature and keeps what it does not know
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
  public/lang/en.json
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/movementCardDataModels.test.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/movement/matchMovementTrigger.test.ts
  src/utils/movement/matchMovementTrigger.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  src/view/chat/MovementTriggerCardState.svelte.ts
  types/movement.ts
Due: biome-fix-staged, prettier-svelte

feat(migration): Migration062 brings existing copies of the movement pilot features up to the pack
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration062MovementPilots.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(spells): migrate Master of Storm, and promote the concentration model
  docs/STYLE_GUIDE.md
  docs/documentation/playing/conditions.md
  docs/documentation/reference/_partials/concentrationTrack.md
  packs/magicItems/core/gmGuide/cloak-of-lesser-windform.json
  packs/magicItems/core/wands/wand-of-fly.json
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/concentrationToggle.test.ts
  src/documents/actor/endOneConcentration.test.ts
  src/documents/actor/endOneConcentration.ts
  src/documents/concentration.ts
  src/documents/item/base.svelte.ts
  src/migration/ChecklistMigrationBase.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration062ConcentrationAppliesToCaster.ts
  src/migration/migrations/Migration063MasterOfStormTracks.ts
  src/migration/migrations/index.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/base.ts
  src/models/rules/concentrationTrack.test.ts
  src/models/rules/concentrationTrack.ts
  src/scss/components/_chat-card.scss
  src/utils/applyConditionToActor.ts
  src/utils/concentration.ts
  src/utils/concentrationPack.test.ts
  src/view/chat/SpellCard.svelte
  tests/integration/concentration.test.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

fix(inventory): ask in the sheet, not in the delete hook (#818)
  docs/documentation/homebrew/items.md
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/actor/getContainerCapacityUsage.test.ts
  src/documents/actor/getUsedInventorySlots.test.ts
  src/documents/actor/storeItemInContainer.test.ts
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/managers/RulesManager.ts
  src/managers/manager.d.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration062ObjectSizeTypeChoices.ts
  src/migration/migrations/index.ts
  src/models/item/ObjectDataModel.ts
  src/utils/containerConfig.ts
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/components/ObjectContainerConfig.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTabUtils.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTabUtils.ts
  tests/fixtures/containableObject.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
  tests/integration/containerInventory.test.ts
  types/ruleSource.d.ts
Due: biome-fix-staged, prettier-svelte

feat(inventory): charge armor its stowed slot cost when it is not worn
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/items.md
  packs/items/core/armors/adventurers-garb.json
  packs/items/core/armors/chain-shirt.json
  packs/items/core/armors/cheap-hides.json
  packs/items/core/armors/cloth-epic-enchantment.json
  packs/items/core/armors/cloth-major-enchantment.json
  packs/items/core/armors/cloth-minor-enchantment.json
  packs/items/core/armors/dragonscale.json
  packs/items/core/armors/full-plate.json
  packs/items/core/armors/half-plate.json
  packs/items/core/armors/hard-leather.json
  packs/items/core/armors/mithril-plate.json
  packs/items/core/armors/ox-hide.json
  packs/items/core/armors/rusty-mail.json
  packs/items/core/armors/rusty-plate.json
  packs/items/core/armors/scale-mail.json
  packs/items/core/armors/wyrmhide.json
  public/lang/en.json
  src/documents/actor/inventoryContainers.test.ts
  src/documents/actor/inventoryContainers.ts
  src/models/item/ObjectDataModel.ts
  src/view/sheets/ObjectSheet.svelte
  tests/fixtures/containableObject.ts
  types/inventoryContainers.d.ts
Due: biome-fix-staged, prettier-svelte

fix(inventory): make every row reachable without a mouse
  docs/documentation/characters/character-sheet.md
  public/lang/en.json
  src/scss/components/_document-card.scss
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTabUtils.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTabUtils.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
  tests/mocks/foundry.ts
Due: biome-fix-staged, prettier-svelte

feat(packs): Fleet Feet, Heavy Strike and Chaos Lash offer their moves
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/fleet-feet.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/chaos-lash.json
Due: biome-fix-staged

fix(dice pools): an activation that rolls several dice into a pool is one gain
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
Due: biome-fix-staged

feat(rules): freeMove and movementTrigger rules
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/poolGainMessage.test.ts
  src/hooks/poolGainMessage.ts
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/models/rules/movementTrigger.test.ts
  src/models/rules/movementTrigger.ts
  src/utils/chargePool/ruleChargeGate.test.ts
  src/utils/chargePool/ruleChargeGate.ts
  src/view/rulesBuilder/components/RuleTypePicker.svelte.ts
Due: biome-fix-staged

fix(chat): a standalone Movement Offer card says why under its title
  public/lang/en.json
  src/models/rules/freeMove.test.ts
  src/models/rules/freeMove.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
  tests/integration/movementRules.test.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): a Movement Offer reads as one short line
  docs/documentation/gm/combat.md
  docs/documentation/homebrew/activations.md
  public/lang/en.json
  src/utils/movement/movementOffers.ts
  src/view/chat/components/MoveNode.svelte
  src/view/chat/components/MoveNode.test.ts
  tests/integration/movementOffers.test.ts
Due: biome-fix-staged, prettier-svelte

feat(chat): a Movement Offer card of its own, and a card that offers an item after a Movement
  public/lang/en.json
  public/system.json
  src/hooks/renderChatMessage.ts
  src/models/chat/MovementOfferCardDataModel.ts
  src/models/chat/MovementTriggerCardDataModel.ts
  src/models/chat/chatDataModels.ts
  src/models/chat/movementCardDataModels.test.ts
  src/utils/movement/postMovementOfferCard.test.ts
  src/utils/movement/postMovementOfferCard.ts
  src/utils/movement/postMovementTriggerCard.test.ts
  src/utils/movement/postMovementTriggerCard.ts
  src/view/chat/MovementOfferCard.svelte
  src/view/chat/MovementOfferCard.test.ts
  src/view/chat/MovementTriggerCard.svelte
  src/view/chat/MovementTriggerCard.test.ts
  types/components/MovementOfferCard.d.ts
  types/components/MovementTriggerCard.d.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): prune nested concentration nodes and keep GM edits (#23)
  docs/documentation/playing/conditions.md
  src/migration/migrations/Migration062ConcentrationAppliesToCaster.ts
  src/utils/applyConditionToActor.ts
  src/utils/concentrationPack.test.ts
  tests/integration/concentration.test.ts
Due: biome-fix-staged

fix(inventory): keep the container rules with the actor, drop the quiver's bag (#818)
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/items.md
  packs/items/core/misc/quiver-and-ammo.json
  src/documents/actor/character.ts
  src/documents/actor/getContainerCapacityUsage.test.ts
  src/documents/actor/inventoryContainers.test.ts
  src/documents/actor/inventoryContainers.ts
  src/documents/actor/prepareHighestUnlockedSpellTier.test.ts
  src/models/actor/CharacterDataModel.ts
  src/view/sheets/components/CurrencyTracker.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(inventory): keep container helpers private, route drops into the bag they land on (#818)
  docs/STYLE_GUIDE.md
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/items.md
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/actor/getUsedInventorySlots.test.ts
  src/documents/actor/storeItemInContainer.test.ts
  src/documents/item/object.test.ts
  src/documents/item/object.ts
  src/documents/sheets/PlayerCharacterSheet.svelte.ts
  src/managers/RulesManager.ts
  src/models/item/ObjectDataModel.ts
  src/utils/containerConfig.ts
  src/utils/inventoryContainers.test.ts
  src/utils/inventoryContainers.ts
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.state.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.ts
  tests/fixtures/containableObject.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
  tests/integration/containerInventory.test.ts
  types/inventoryContainers.d.ts
Due: biome-fix-staged, prettier-svelte
