Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

feat(character): apply class option swaps and skill point moves
  src/documents/actor/character.ts
  src/utils/planOptionSwap.test.ts
  src/utils/planOptionSwap.ts
  types/optionSwap.d.ts
Due: biome-fix-staged

feat(migration): grant the option swap features to existing characters
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration049GrantOptionSwapFeatures.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(ui): report swap changes through a callback and floor the skill bonus
  docs/documentation/playing/rest-and-recovery.md
  public/lang/en.json
  src/utils/skillLimits.ts
  src/view/chat/components/OptionChangesList.svelte
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/dialogs/components/levelUpHelper/SkillPointAssignment.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.testHarness.svelte
  types/components/OptionChangesList.d.ts
  types/components/OptionSwapSection.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rest): quote the offering feature and keep the whole pool in view
  docs/documentation/playing/rest-and-recovery.md
  public/lang/en.json
  src/utils/resolveOptionSwapOffer.test.ts
  src/utils/resolveOptionSwapOffer.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

chore: clarify gitignore
  .gitignore
Due: none

fix(levelUp): count the picks a character holds, and never swap one away for nothing
  docs/documentation/reference/_partials/poolMaxBonus.md
  src/documents/actor/character.ts
  src/migration/migrations/Migration048PoolMaxBonusItems.ts
  src/utils/chargePool/helpers.ts
  src/utils/collectSwappableOptions.test.ts
  src/utils/collectSwappableOptions.ts
  src/utils/planOptionSwap.test.ts
  src/utils/planOptionSwap.ts
Due: biome-fix-staged

fix(chat): type the rest card's option changes as a schema
  src/models/chat/FieldRestCardDataModel.ts
  src/models/chat/SafeRestCardDataModel.ts
Due: biome-fix-staged

fix(rest): title a pool on the rest card the way the dialog does
  src/utils/formatGroupName.ts
  src/utils/summarizeOptionSwap.test.ts
  src/utils/summarizeOptionSwap.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTabUtils.ts
Due: biome-fix-staged

fix(rest): bail on an incomplete swap write, report a point that moved away
  public/lang/en.json
  src/documents/actor/character.ts
Due: biome-fix-staged

fix(rest): fold each pool's other options and drop the clashing dark colours
  docs/documentation/playing/rest-and-recovery.md
  public/lang/en.json
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

chore(packs): object predicates and real timestamps on the swap features
  packs/classFeatures/core/berserker/berserker-progression/wrath-and-ruin.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
  packs/classFeatures/core/commander/commander-progression/rigorous-training.json
  packs/classFeatures/core/hunter/hunter-progression/remember-the-wild.json
  packs/classFeatures/core/mage/mage-progression/study.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/serve-selflessly.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/supplicate.json
  packs/classFeatures/core/shepherd/shepherd-progression/serve.json
  packs/classFeatures/core/songweaver/songweaver-progression/jack-of-all-trades.json
  packs/classFeatures/core/songweaver/songweaver-progression/perform.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/be-wild.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/trade-secrets.json
  packs/classFeatures/core/zephyr/zephyr-progression/focus.json
Due: biome-fix-staged

test(integration): swap class options through the live rest dialogs
  tests/integration/README.md
  tests/integration/optionSwap.test.ts
Due: biome-fix-staged

feat(rules): make poolMaxBonus a real rule type carried by granted items
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/migration/migrations/Migration048PoolMaxBonusItems.test.ts
  src/migration/migrations/Migration048PoolMaxBonusItems.ts
  src/migration/migrations/index.ts
  src/models/rules/poolMaxBonus.test.ts
  src/models/rules/poolMaxBonus.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.test.ts
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  tests/harnesses/CharacterLevelDownStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(ui): offer class option swaps in the rest dialogs
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(rest): size and style the option swap section in the rest dialogs
  src/documents/actor/character.ts
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
  types/components/OptionSwapSection.d.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): declare poolMaxBonus early-phase and normalize optionSwap groups
  src/models/rules/optionSwap.test.ts
  src/models/rules/optionSwap.ts
  src/models/rules/poolMaxBonus.test.ts
  src/models/rules/poolMaxBonus.ts
  src/models/rules/skillPointMove.test.ts
  src/models/rules/skillPointMove.ts
  src/utils/resolveOptionSwapOffer.ts
Due: biome-fix-staged

fix(types): break the swap section's cycle back to the character
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  types/components/OptionSwapSection.d.ts
  types/optionSwap.d.ts
Due: biome-fix-staged

fix(rest): stop a swap when a grant cannot be resolved, report only what changed
  docs/STYLE_GUIDE.md
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/utils/summarizeOptionSwap.test.ts
  src/utils/summarizeOptionSwap.ts
Due: biome-fix-staged

feat(rest): offer option swaps on a rest and report them on the card
  packs/classFeatures/core/berserker/berserker-progression/wrath-and-ruin.json
  packs/classFeatures/core/commander/commander-progression/rigorous-training.json
  packs/classFeatures/core/hunter/hunter-progression/remember-the-wild.json
  packs/classFeatures/core/mage/mage-progression/study.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/serve-selflessly.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/supplicate.json
  packs/classFeatures/core/shepherd/shepherd-progression/serve.json
  packs/classFeatures/core/songweaver/songweaver-progression/perform.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/be-wild.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/trade-secrets.json
  packs/classFeatures/core/zephyr/zephyr-progression/focus.json
  packs/ids.json
  public/lang/en.json
  src/documents/actor/character.ts
  src/managers/RestManager.ts
  src/models/chat/FieldRestCardDataModel.ts
  src/models/chat/SafeRestCardDataModel.ts
  src/utils/classProgression/berserker.expect.ts
  src/utils/classProgression/commander.test.ts
  src/utils/classProgression/hunter.expect.ts
  src/utils/classProgression/mage.expect.ts
  src/utils/classProgression/oathsworn.expect.ts
  src/utils/classProgression/shadowmancer.expect.ts
  src/utils/classProgression/shepherd.expect.ts
  src/utils/classProgression/songweaver.expect.ts
  src/utils/classProgression/stormshifter.expect.ts
  src/utils/classProgression/the-cheat.expect.ts
  src/utils/classProgression/zephyr.expect.ts
  src/utils/summarizeOptionSwap.test.ts
  src/utils/summarizeOptionSwap.ts
  src/view/chat/FieldRestCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/components/OptionChangesList.svelte
  types/components/OptionSwapSection.d.ts
  types/optionSwap.d.ts
Due: biome-fix-staged, prettier-svelte

fix(migration): share the source id helpers and backfill Jack of All Trades
  src/migration/MigrationRunnerBase.ts
  src/migration/compendiumSourceId.ts
  src/migration/migrations/Migration048PoolMaxBonusItems.ts
  src/migration/migrations/Migration049GrantOptionSwapFeatures.ts
  src/migration/migrations/Migration050JackOfAllTradesSkillPointMove.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(rest): grant a swap's replacements before removing what they replace
  public/lang/en.json
  src/documents/actor/character.ts
Due: biome-fix-staged

feat(rules): add optionSwap and skillPointMove rule types
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/models/rules/optionSwap.test.ts
  src/models/rules/optionSwap.ts
  src/models/rules/skillPointMove.test.ts
  src/models/rules/skillPointMove.ts
Due: biome-fix-staged

feat(rest): fold a level's alternatives into one swappable pool
  docs/documentation/playing/rest-and-recovery.md
  docs/documentation/reference/_partials/optionSwap.md
  src/utils/collectPoolRequirements.ts
  src/utils/collectSwappableOptions.test.ts
  src/utils/collectSwappableOptions.ts
Due: biome-fix-staged

feat(levelUp): resolve which class options a character may swap
  src/models/rules/optionSwap.test.ts
  src/models/rules/skillPointMove.test.ts
  src/utils/collectPoolCandidates.ts
  src/utils/collectPoolRequirements.ts
  src/utils/collectSwappableOptions.test.ts
  src/utils/collectSwappableOptions.ts
  src/utils/findMissingLevelSelections.ts
  src/utils/resolveOptionSwapOffer.test.ts
  src/utils/resolveOptionSwapOffer.ts
Due: biome-fix-staged

test(integration): pin that a held die pick cannot be added twice
  tests/integration/optionSwap.test.ts
Due: biome-fix-staged

chore(migration): renumber to 049-051 after Lay on Hands took 048 on dev
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration049PoolMaxBonusItems.ts
  src/migration/migrations/Migration050GrantOptionSwapFeatures.ts
  src/migration/migrations/Migration051JackOfAllTradesSkillPointMove.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

docs(rules): say the max die is swappable in the poolMaxBonus example
  docs/documentation/reference/_partials/poolMaxBonus.md
Due: none

refactor(ui): drop the unused formatGroupName re-export from the group selection state
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
Due: biome-fix-staged

refactor(ui): import formatGroupName directly in the class progression views
  src/view/sheets/components/ClassProgressionLevelRow.state.svelte.ts
  src/view/sheets/components/ClassProgressionLevelRowUtils.ts
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTabUtils.ts
Due: biome-fix-staged

fix(rest): title a merged option pool from its group names, not its key
  src/utils/summarizeOptionSwap.test.ts
  src/utils/summarizeOptionSwap.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
Due: biome-fix-staged

refactor(rest): type the option swap payload on RestManager.Data
  src/documents/actor/character.ts
  src/managers/RestManager.ts
Due: biome-fix-staged

chore(migration): drop the unused folder field from the swap feature table
  src/migration/migrations/Migration050GrantOptionSwapFeatures.ts
Due: biome-fix-staged

refactor(utils): name the option pool collectors apart from charge pools
  docs/STYLE_GUIDE.md
  src/utils/collectOptionPoolCandidates.ts
  src/utils/collectOptionPoolRequirements.ts
  src/utils/collectSwappableOptions.ts
  src/utils/findMissingLevelSelections.ts
Due: biome-fix-staged

refactor(rest): give every option pool a heading in the collector, not in each consumer
  src/utils/collectSwappableOptions.test.ts
  src/utils/collectSwappableOptions.ts
  src/utils/summarizeOptionSwap.test.ts
  src/utils/summarizeOptionSwap.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
Due: biome-fix-staged

feat(utils): read a character's option picks from the level-up history
  src/utils/collectOptionPicks.test.ts
  src/utils/collectOptionPicks.ts
Due: biome-fix-staged

feat(rest): count option picks from the level-up history, not from holdings
  public/lang/en.json
  src/documents/actor/character.ts
  src/utils/collectOptionPoolRequirements.ts
  src/utils/collectSwappableOptions.test.ts
  src/utils/collectSwappableOptions.ts
  src/utils/planOptionSwap.test.ts
  src/utils/planOptionSwap.ts
  src/utils/summarizeOptionSwap.test.ts
  src/utils/summarizeOptionSwap.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
  types/optionSwap.d.ts
Due: biome-fix-staged, prettier-svelte

feat(ui): show a repeated option pick as one card with a count and its controls
  public/lang/en.json
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

feat(rest): show the swap feature and say why when no pick is recorded
  public/lang/en.json
  src/documents/actor/character.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.state.svelte.ts
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte
  src/view/dialogs/components/optionSwap/OptionSwapSection.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

test(integration): pin repeated die picks, the hand-added item, and the hand-built character
  tests/integration/optionSwap.test.ts
Due: biome-fix-staged

docs: describe counted option picks, the repeatable flag, and hand-added items
  docs/STYLE_GUIDE.md
  docs/documentation/homebrew/character-options.md
  docs/documentation/playing/rest-and-recovery.md
  docs/documentation/reference/_partials/grantItem.md
  docs/documentation/reference/_partials/optionSwap.md
  docs/documentation/reference/_partials/poolMaxBonus.md
Due: none
