Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(settings): treat Common as universal, not a per-ancestry grant
  public/lang/en.json
  src/documents/actor/character.ts
  src/settings/languageSettings.test.ts
  src/settings/languageSettings.ts
  src/view/dialogs/LanguageCustomizationDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(i18n): clarify spoken-by hint in In-Game Languages dialog
  public/lang/en.json
Due: biome-fix-staged

fix(character-creation): show settings-driven ancestry languages
  src/view/dialogs/characterCreation/state.svelte.ts
Due: biome-fix-staged

refactor(character-creation): modernize BonusLanguageSelection
  src/view/dialogs/components/characterCreator/BonusLanguageSelection.svelte
  src/view/dialogs/components/characterCreator/BonusLanguageSelection.svelte.ts
  src/view/dialogs/components/characterCreator/BonusLanguageSelection.types.ts
Due: biome-fix-staged, prettier-svelte

feat(character-sheet): show color-coded associated stat for each skill (#509) (#827)
  public/lang/en.json
  src/config.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/scss/components/_skill.scss
  src/view/dialogs/components/characterCreator/SkillPointAssignment.svelte
  src/view/sheets/components/Skills.svelte
Due: biome-fix-staged, prettier-svelte

fix(conditions): only active GM applies automatic conditions (Hampered) (#825)
  src/hooks/automaticConditions.test.ts
  src/hooks/automaticConditions.ts
Due: biome-fix-staged

feat(settings): custom and aliased in-game languages (#829)
  packs/ancestries/core/common/gnome.json
  packs/ancestries/core/exotic/orc.json
  public/lang/en.json
  src/config.ts
  src/documents/actor/character.ts
  src/hooks/ready.ts
  src/models/rules/grantProficiencies.ts
  src/settings/index.ts
  src/settings/languageSettings.test.ts
  src/settings/languageSettings.ts
  src/utils/getLanguageName.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/CharacterLanguageProficienciesConfigDialog.svelte
  src/view/dialogs/LanguageCustomizationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/BonusLanguageSelection.svelte
  src/view/dialogs/components/characterCreator/BonusLanguageSelection.svelte.ts
  src/view/dialogs/components/characterCreator/BonusLanguageSelection.types.ts
  src/view/dialogs/languageCustomization/state.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(combat): gate owner drag-to-front turn sync on take-turn eligibility
  src/documents/combat/combatSorting.ts
Due: biome-fix-staged

fix(actor): validate targetType in convertMonsterType
  src/documents/actor/base.svelte.ts
Due: biome-fix-staged

fix(sheets): keep subclass parent class field reactive across tab switches
  src/view/sheets/SubclassSheet.svelte
Due: prettier-svelte

refactor(spells): extract custom spell schools editor state and types
  src/view/settings/CustomSpellSchoolsEditor.svelte
  src/view/settings/CustomSpellSchoolsEditor.types.ts
  src/view/settings/CustomSpellSchoolsEditorState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(sheets): remove unused .nimble-items-section CSS selector
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: prettier-svelte

feat(spells): allow GMs to define custom spell schools
  public/lang/en.json
  src/hooks/compendiumSpellsFilter.ts
  src/settings/index.ts
  src/settings/registerSpellSchoolSettings.ts
  src/settings/spellSchoolSettings.test.ts
  src/settings/spellSchoolSettings.ts
  src/view/settings/CustomSpellSchoolsEditor.svelte
Due: biome-fix-staged, prettier-svelte

feat(spells): polish custom spell schools editor and icons
  public/lang/en.json
  src/hooks/compendiumSpellsFilter.ts
  src/scss/components/_secondary-navigation.scss
  src/settings/registerSpellSchoolSettings.ts
  src/settings/spellSchoolSettings.test.ts
  src/settings/spellSchoolSettings.ts
  src/utils/isImageIcon.ts
  src/view/components/SecondaryNavigationItem.svelte
  src/view/components/SpellSchoolIcon.svelte
  src/view/components/TagGroup.svelte
  src/view/dataPreparationHelpers/metaData/prepareSpellMetadata.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  src/view/settings/CustomSpellSchoolsEditor.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): mutate spell school config in place for live reactivity
  src/settings/spellSchoolSettings.ts
Due: biome-fix-staged

feat(combat): add active turn handoff controls (#832)
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatSorting.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

feat(actor): convert monsters between standard, minion, and solo subtypes (#828)
  public/lang/en.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/convertMonsterType.test.ts
  src/models/actor/actorDataModels.ts
  src/view/dialogs/NPCMetaConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(sheets): subclass parent class reactivity + feat(spells): custom spell schools (#826)
  public/lang/en.json
  src/hooks/compendiumSpellsFilter.ts
  src/scss/components/_secondary-navigation.scss
  src/settings/index.ts
  src/settings/registerSpellSchoolSettings.ts
  src/settings/spellSchoolSettings.test.ts
  src/settings/spellSchoolSettings.ts
  src/utils/isImageIcon.ts
  src/view/components/SecondaryNavigationItem.svelte
  src/view/components/SpellSchoolIcon.svelte
  src/view/components/TagGroup.svelte
  src/view/dataPreparationHelpers/metaData/prepareSpellMetadata.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  src/view/settings/CustomSpellSchoolsEditor.svelte
  src/view/settings/CustomSpellSchoolsEditor.types.ts
  src/view/settings/CustomSpellSchoolsEditorState.svelte.ts
  src/view/sheets/SubclassSheet.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: biome-fix-staged, prettier-svelte

chore: add worktree:reset script
  package.json
Due: biome-fix-staged

feat(rules): add advantage-level support to hitDiceAdvantage for Hardy boon
  packs/boons/core/major/hardy.json
  public/lang/en.json
  src/documents/actor/character.ts
  src/managers/HitDiceManager.ts
  src/managers/RestManager.ts
  src/models/chat/LevelUpSummaryCardDataModel.ts
  src/models/rules/hitDiceAdvantage.test.ts
  src/models/rules/hitDiceAdvantage.ts
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/dialogs/FieldRestDialog.svelte
Due: biome-fix-staged, prettier-svelte

refactor(rules): scope hitDiceAdvantage levels to max-HP roll only
  packs/boons/core/major/hardy.json
  src/managers/HitDiceManager.ts
  src/managers/RestManager.ts
Due: biome-fix-staged

feat(rules): hitDiceAdvantage advantage-level support for Hardy boon (#406) (#831)
  packs/boons/core/major/hardy.json
  public/lang/en.json
  src/documents/actor/character.ts
  src/managers/RestManager.ts
  src/models/chat/LevelUpSummaryCardDataModel.ts
  src/models/rules/hitDiceAdvantage.test.ts
  src/models/rules/hitDiceAdvantage.ts
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/dialogs/FieldRestDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(combat): refill the correct hero on turn-end under expanded solo-monster turns
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix(combat): restore per-turn actions for low-initiative characters and solo monsters
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatInitiative.test.ts
  src/documents/combat/combatInitiative.ts
Due: biome-fix-staged

fix(combat): keep hero max actions at 3; initiative only seeds round 1
  src/documents/combat/combatInitiative.test.ts
  src/documents/combat/combatInitiative.ts
Due: biome-fix-staged

fix(combat): refill the outgoing hero when Foundry skips their turn-end
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix: all inventory item quantities can be modified
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

test: verify inventory quantities are editable for all object sizes
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix: remove unused ts-expect-error directive in inventory tab test
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
Due: biome-fix-staged

fix(content): let Ignite miss and crit on its primary die
  packs/spells/core/fire/ignite.json
Due: biome-fix-staged

feat(migration): repair Ignite's stray AoE template (#835)
  src/migration/migrations/Migration026IgniteSingleTarget.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix: all inventory item quantities can be modified (#839)
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte.test.ts
  tests/harnesses/PlayerCharacterInventoryTabHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(migration): bump LATEST_SCHEMA_VERSION to 26
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

fix(spells): let Ignite miss and crit; migrate existing copies (#835) (#840)
  packs/spells/core/fire/ignite.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration026IgniteSingleTarget.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

chore: add worktree:reset script (#834)
  package.json
Due: biome-fix-staged

chore(system): raise Foundry compatibility minimum to v14
  public/system.json
Due: biome-fix-staged

fix(types): resolve remaining v14 fvtt-types errors in actor _preCreate and PC import
  src/documents/actor/minion.ts
  src/documents/actor/npc.ts
  src/documents/actor/soloMonster.ts
  src/import/playerCharacter/ImportPlayerCharacterDialog.svelte.ts
Due: biome-fix-staged

chore(deps): add playwright for the v14 integration test harness
  package.json
  pnpm-lock.yaml
Due: biome-fix-staged

feat(tests): add live-Foundry integration test harness for V14 verification
  .gitignore
  package.json
  pnpm-lock.yaml
  tests/integration/README.md
  tests/integration/actorCrud.test.ts
  tests/integration/game.test.ts
  tests/integration/pool.ts
  tests/integration/tester.ts
  vitest.integration.config.mts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
