Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(migration): add Vicious Mockery (songweaver) to Migration022 class restrictions
  packs/spells/core/wind/vicious-mockery.json
  src/migration/migrations/Migration023SpellClasses.ts
Due: biome-fix-staged

fix: migration version 23
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

fix(migration): Migration023 — propagate class restrictions onto existing spells (#779)
  packs/spells/core/wind/vicious-mockery.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration023SpellClasses.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

feat(rules): add grantMovement rule type (#745)
  packs/classFeatures/core/hunter/hunter-progression/explorer-of-the-wilds.json
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/professional-skulker.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/models/rules/grantMovement.test.ts
  src/models/rules/grantMovement.ts
  src/view/dialogs/CharacterMovementConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

feat(skills): add level-up history to configure skills dialog
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/dialogs/GenericDialog.svelte.ts
  src/scss/vendor/foundry/_application.scss
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

docs(agents): require SYSTEM_ID for every system-id usage
  AGENTS.md
  docs/STYLE_GUIDE.md
Due: none

test(systemId): enforce SYSTEM_ID usage via source-scan test
  src/utils/systemId.test.ts
Due: biome-fix-staged

feat(dev-build): migrate legacy nimble.* flags and settings on dev install
  public/lang/en.json
  src/hooks/ready.ts
  src/migration/devFlagRebrand.ts
  src/nimble.ts
  src/utils/systemId.test.ts
Due: biome-fix-staged

fix: address PR review feedback
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/etc/Predicate.ts
  src/macros/activateHeroicActionMacro.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/damageBonus.test.ts
  src/models/rules/damageBonus.ts
  src/utils/attackUtils.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

feat(ui): highlight token on canvas when hovering over combatants (#487)
  public/lang/en.json
  src/hooks/minionGroupTokenActions.ts
  src/settings/combatTrackerSettings.ts
  src/utils/tokenHoverHighlight.ts
  src/view/chat/components/Targets.svelte
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(ui): address review feedback — simplify PIXI access, add lang=ts, update style guide
  docs/STYLE_GUIDE.md
  src/utils/tokenHoverHighlight.ts
  src/view/chat/components/Targets.svelte
Due: biome-fix-staged, prettier-svelte

feat(ui): highlight all group tokens when hovering a monster stack in CT
  src/utils/tokenHoverHighlight.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

i18n(settings): use localization keys for combat tracker hover color setting
  public/lang/en.json
  src/settings/combatTrackerSettings.ts
Due: biome-fix-staged

feat(combat-tracker): highlight token on canvas when hovering over combatant card
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

fix(ui): prefix now-unused event params with underscore after hover sig change
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix(ui): address review feedback on token hover highlight
  src/hooks/minionGroupTokenActions.ts
  src/settings/combatTrackerSettings.ts
  src/utils/tokenHoverHighlight.ts
  src/view/chat/components/Targets.svelte
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(ui): respect hover color for uncontrolled tokens
  src/utils/tokenHoverHighlight.ts
Due: biome-fix-staged

fix(settings): replace hardcoded 'nimble' system ID with SYSTEM_ID constant
  src/settings/combatTrackerSettings.ts
Due: biome-fix-staged

fix(ui): use AbortController to clean up panel hover listeners
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

fix(ui): address remaining review feedback
  public/lang/en.json
  src/hooks/minionGroupTokenActions.ts
  src/settings/combatTrackerSettings.ts
  src/view/chat/components/Targets.svelte
Due: biome-fix-staged, prettier-svelte

feat(combat-ui): highlight canvas token on hover (#487) (#780)
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/hooks/minionGroupTokenActions.ts
  src/settings/combatTrackerSettings.ts
  src/utils/tokenHoverHighlight.ts
  src/view/chat/components/Targets.svelte
  src/view/dialogs/CtSettingsDialog.svelte
  src/view/dialogs/ctSettingsDialog/state.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

fix: address PR review feedback
  docs/system/rules.md
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/minion.ts
  src/documents/actor/npc.ts
  src/documents/actor/soloMonster.ts
  src/models/rules/damageBonus.test.ts
  src/utils/attackUtils.ts
Due: biome-fix-staged

feat: add skill modification
  public/lang/en.json
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(dialogs): improve skills and stat config dialog UX
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
  src/view/dialogs/CharacterStatConfigDialog.svelte
Due: prettier-svelte

test(stats): add cap enforcement tests for level-up and stat config dialogs
  src/view/dialogs/CharacterLevelUpDialog.test.ts
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
  src/view/dialogs/CharacterStatConfigDialog.test.ts
Due: biome-fix-staged, prettier-svelte

fix(dialogs): derive skill edit budget from entry data and consolidate styles
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
Due: prettier-svelte

test(dialogs): add tests for CharacterSkillsConfigDialog
  src/view/dialogs/CharacterSkillsConfigDialog.test.ts
Due: biome-fix-staged

refactor(dialogs): extract state and types from CharacterSkillsConfigDialog and CharacterStatConfigDialog
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
  src/view/dialogs/CharacterSkillsConfigDialogState.svelte.ts
  src/view/dialogs/CharacterStatConfigDialog.svelte
  src/view/dialogs/CharacterStatConfigDialogState.svelte.ts
  types/components/CharacterSkillsConfigDialog.d.ts
  types/components/CharacterStatConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(stats): cap stat increases at +5 from level-up and stat config editor (#775)
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/dialogs/GenericDialog.svelte.ts
  src/documents/item/class.ts
  src/scss/vendor/foundry/_application.scss
  src/view/dialogs/CharacterLevelUpDialog.test.ts
  src/view/dialogs/CharacterSkillsConfigDialog.svelte
  src/view/dialogs/CharacterSkillsConfigDialog.test.ts
  src/view/dialogs/CharacterSkillsConfigDialogState.svelte.ts
  src/view/dialogs/CharacterStatConfigDialog.svelte
  src/view/dialogs/CharacterStatConfigDialog.test.ts
  src/view/dialogs/CharacterStatConfigDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/AbilityScoreIncrease.svelte
  types/components/CharacterSkillsConfigDialog.d.ts
  types/components/CharacterStatConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix: apply negative max hit dice bonuses
  src/documents/actor/character.ts
  src/managers/HitDiceManager.test.ts
  src/managers/HitDiceManager.ts
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix: dedupe hit dice clamping
  src/managers/HitDiceManager.ts
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): add `setIfEmpty` dice-pool refill mode
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
Due: biome-fix-staged

feat(rules): resolve `@poolMax` / `@poolCurrent` tokens in dice-pool refill values
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
Due: biome-fix-staged

refactor: move hit dice clamp helper to utils
  docs/STYLE_GUIDE.md
  src/managers/HitDiceManager.ts
  src/utils/clampHitDiceBySize.ts
  src/view/dialogs/FieldRestDialog.svelte
  src/view/dialogs/SafeRestDialog.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

feat(rules): add `setIfEmpty` dice-pool refill mode (#787)
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
Due: biome-fix-staged

feat(rules): resolve `@poolMax` / `@poolCurrent` tokens in dice-pool refill values (#788)
  src/utils/dicePool/dicePoolRefill.test.ts
  src/utils/dicePool/dicePoolRefill.ts
Due: biome-fix-staged

fix(oathsworn): refill Judgment Dice once-per-encounter and scale with L14
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  src/migration/migrations/Migration024OathswornRefillMode.test.ts
  src/migration/migrations/Migration024OathswornRefillMode.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

test(dice-pool): end-to-end Oathsworn refill flow through modifyPool
  src/utils/dicePool/dicePoolRefill.test.ts
Due: biome-fix-staged
