Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

feat(dice): add weapon type suggestions and rollModeSources hint to testbench
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

feat(dice): scenario presets for dice testbench
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
  src/view/debug/scenarios.ts
Due: biome-fix-staged, prettier-svelte

docs(dice): strip local rulebook file:line refs from comments
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration015WeaponType.ts
  src/models/item/ObjectDataModel.ts
  src/utils/attackUtils.ts
Due: biome-fix-staged

feat(dice): simplify rollMode sources to adv/dis counters, convert Force Crit/Miss to checkboxes
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

fix(dice): split base primary dice from explosion rerolls in testbench results
  src/view/debug/DiceTestbench.svelte
Due: prettier-svelte

feat(dice): show explosion glow on base primary die when it triggered the chain
  src/view/debug/DiceTestbench.svelte
Due: prettier-svelte

feat(dice): roll builder UI for dice testbench
  public/lang/en.json
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

docs(system): add dice engine overview
  docs/system/dice-engine.md
  docs/system/index.md
Due: none

feat(dice): add stageAndRoll orchestration for dice testbench
  src/view/debug/stageAndRoll.test.ts
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged

feat(dice): add dice testbench debug setting and empty window shell
  public/lang/en.json
  src/settings/index.ts
  src/view/debug/DiceTestbench.svelte
Due: biome-fix-staged, prettier-svelte

fix(dice): auto-flag AoE from template.shape only; strip bug-id noise from comments and tests
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration015WeaponType.ts
  src/models/item/ObjectDataModel.ts
  src/utils/attackUtils.ts
Due: biome-fix-staged

fix(dice): bump migration schema to 14 and break attackUtils import cycle
  src/utils/attackUtils.ts
Due: biome-fix-staged

chore: update .gitignore
  .gitignore
Due: none

fix: update attackUtils imports after file relocation
  src/dice/DamageRoll.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

feat(rules): applyCondition rule type with event-time dispatch (#703)
  packs/monsters/core/cultists/doomsayer.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/chatMessage.ts
  src/hooks/combatantHooks/combatantDefeatSync.ts
  src/hooks/combatantHooks/combatantHealthStateSync.ts
  src/hooks/ruleEventDispatch.test.ts
  src/hooks/ruleEventDispatch.ts
  src/models/rules/applyCondition.test.ts
  src/models/rules/applyCondition.ts
  src/models/rules/base.ts
  src/nimble.ts
  src/settings/index.ts
  src/utils/actorHpChangePaths.ts
Due: biome-fix-staged

docs(dice): replace jargon term "elemental riders" with plain language
  docs/system/dice-engine.md
Due: none

refactor(dice): extract DiceTestbench script into separate modules
  src/view/debug/DiceTestbench.constants.ts
  src/view/debug/DiceTestbench.state.svelte.ts
  src/view/debug/DiceTestbench.svelte
  src/view/debug/DiceTestbench.types.ts
  src/view/debug/DiceTestbench.utils.ts
Due: biome-fix-staged, prettier-svelte

fix(dice): engine correctness gaps + DiceTestbench (#713)
  .gitignore
  docs/system/dice-engine.md
  docs/system/index.md
  public/lang/en.json
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/constructD20RollFormula.ts
  src/dice/constructD20Term.ts
  src/dice/nimbleDieModifiers.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/hooks/init.ts
  src/managers/HitDiceManager.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration015WeaponType.ts
  src/migration/migrations/index.ts
  src/models/item/ObjectDataModel.ts
  src/settings/index.ts
  src/utils/attackUtils.ts
  src/utils/getRollFormula.ts
  src/view/debug/DiceTestbench.constants.ts
  src/view/debug/DiceTestbench.state.svelte.ts
  src/view/debug/DiceTestbench.svelte
  src/view/debug/DiceTestbench.types.ts
  src/view/debug/DiceTestbench.utils.ts
  src/view/debug/scenarios.ts
  src/view/debug/stageAndRoll.test.ts
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged, prettier-svelte

docs(dice): update engine overview for explosionStyle option
  docs/system/dice-engine.md
Due: none

refactor(dice): decouple explosion style from canCrit
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
Due: biome-fix-staged

feat: add die modifier vocabulary (crit/miss core)
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/nimbleDieModifiers.test.ts
  src/dice/nimbleDieModifiers.ts
  src/view/debug/scenarios.ts
Due: biome-fix-staged

docs(dice): update engine overview for die modifier vocabulary
  docs/system/dice-engine.md
Due: none

feat(dice): add critCount, brutalPrimary, and primaryDieValue API
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/view/debug/DiceTestbench.state.svelte.ts
  src/view/debug/DiceTestbench.svelte
  src/view/debug/DiceTestbench.types.ts
  src/view/debug/scenarios.ts
  src/view/debug/stageAndRoll.ts
Due: biome-fix-staged, prettier-svelte

docs(dice): update engine overview for critCount, brutalPrimary, primaryDieValue
  docs/system/dice-engine.md
Due: none

feat(dice): route /r formulas with Nimble modifiers to DamageRoll
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/hooks/init.ts
Due: biome-fix-staged

docs(dice): update engine overview for value mutation framework
  docs/system/dice-engine.md
Due: none

feat(dice): add post-roll value mutation framework
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/mutations.test.ts
  src/dice/mutations.ts
Due: biome-fix-staged

feat(dice): add forced outcomes, thresholds, and reroll protocol
  docs/system/dice-engine.md
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
  src/dice/reroll.ts
Due: biome-fix-staged

fix(compendium): Songweaver spell school level 1 and fire in my bones
  packs/classFeatures/core/songweaver/songweaver-progression/wind-spellcasting-and.json
  packs/classFeatures/core/songweaver/songweaver-subclasses/herald-of-courage/fire-in-my-bones.json
Due: biome-fix-staged

fix(compendium): Songweaver spell school level 1 and fire in my bones (#727)
  packs/classFeatures/core/songweaver/songweaver-progression/wind-spellcasting-and.json
  packs/classFeatures/core/songweaver/songweaver-subclasses/herald-of-courage/fire-in-my-bones.json
Due: biome-fix-staged

fix(dialogs): apply savingThrowRollMode rules during character creation
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

refactor(dice): decouple explosionStyle from canCrit (#714)
  docs/system/dice-engine.md
  src/dice/DamageRoll.test.ts
  src/dice/DamageRoll.ts
Due: biome-fix-staged

fix(level-up): hide completed class feature options
  src/utils/getClassFeatures.test.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix: normalize the symbols for x
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/hail-of-arrows.json
  packs/classFeatures/core/mage/spellshaper/echo-casting.json
  packs/classFeatures/core/mage/spellshaper/methodical-spellweaver.json
  packs/classFeatures/core/songweaver/a-people-person/mal-the-malevolent-imp.json
Due: biome-fix-staged

fix: update docs
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/hunter/thrill-of-the-hunt/hail-of-arrows.json
  packs/classFeatures/core/mage/spellshaper/echo-casting.json
  packs/classFeatures/core/mage/spellshaper/methodical-spellweaver.json
  packs/classFeatures/core/songweaver/a-people-person/mal-the-malevolent-imp.json
Due: biome-fix-staged

feat(level-up): sort class feature options alphabetically
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
Due: biome-fix-staged

refactor: simplify review fixes — reuse sortDocumentsByName, hoist featureTypeOptions, remove console.log
  src/documents/item/feature.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/sheets/FeatureSheet.svelte
Due: biome-fix-staged, prettier-svelte

refactor(FeatureSheet): extract script block into state, utils, constants, and types files
  src/view/sheets/FeatureSheet.state.svelte.ts
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/FeatureSheetConstants.ts
  src/view/sheets/FeatureSheetUtils.ts
  types/sheets/FeatureSheet.d.ts
Due: biome-fix-staged, prettier-svelte

fix(FeatureSheet): rename state var to featureState to avoid $state rune conflict
  src/view/sheets/FeatureSheet.svelte
Due: prettier-svelte
