Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(activation): refactor ItemActivationConfigDialog (theme colors + extraction)
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged, prettier-svelte

fix(activation): extract ItemActivationEffectsConfigTab helpers and types
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/components/ItemActivationEffectsConfigTab.d.ts
Due: biome-fix-staged, prettier-svelte

ci(dev-release): list merged PRs in rolling dev release body
  .github/workflows/dev-release.yml
  build/generate-dev-changelog.mjs
Due: biome-fix-staged

ci(dev-release): list merged PRs in rolling dev release body (#772)
  .github/workflows/dev-release.yml
  build/generate-dev-changelog.mjs
Due: biome-fix-staged

feat(activation): pool effect node, dialog dice-spend, autoBonus mode (#769)
  packs/classFeatures/core/berserker/berserker-progression/rage.json
  public/lang/en.json
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration021RagePoolActivation.ts
  src/migration/migrations/index.ts
  src/models/rules/dicePool.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/dicePool/dicePoolRefill.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/dieFaceIcons.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/dicePool/types.ts
  src/utils/treeManipulation/createEffectNode.ts
  src/utils/treeManipulation/createPoolNode.ts
  src/view/chat/components/PoolNode.svelte
  src/view/dataPreparationHelpers/effectTree/getNodeComponent.ts
  src/view/dataPreparationHelpers/effectTree/groupNodes.ts
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
  src/view/sheets/pages/ItemActivationEffectsConfigTab.svelte
  src/view/sheets/pages/itemActivationEffectsConfigTabHelpers.ts
  types/components/ItemActivationConfigDialog.d.ts
  types/components/ItemActivationEffectsConfigTab.d.ts
  types/components/PoolNode.d.ts
  types/effectTree.d.ts
Due: biome-fix-staged, prettier-svelte

chore(build): fix svelte compile warnings in rules builder and activation dialog
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/sheets/pages/ItemRulesTab.svelte
Due: prettier-svelte

feat(spells): deduplicate spell index by signature and prefer default Nimble compendium
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/utils/getSpells.test.ts
  src/utils/getSpells.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/SpellSelection.svelte.test.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
Due: biome-fix-staged

fix(build): make ItemActivationConfigDialog state properly reactive
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
Due: biome-fix-staged, prettier-svelte

chore(build): fix svelte compile warnings (#774)
  src/view/dialogs/ItemActivationConfigDialog.svelte
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/sheets/pages/ItemRulesTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(stats): cap stat increases at +5 from level-up and stat config editor
  public/lang/en.json
  src/view/dialogs/CharacterStatConfigDialog.svelte
  src/view/dialogs/components/levelUpHelper/AbilityScoreIncrease.svelte
Due: biome-fix-staged, prettier-svelte

feat(combat-tracker): highlight token on canvas when hovering over combatant card
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/types.ts
Due: biome-fix-staged, prettier-svelte

refactor(combat-tracker): simplify hover handler casts using CanvasTokenLike guards
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix(actors): place new actors in the selected folder when creating from sidebar
  src/documents/actor/base.svelte.ts
  src/documents/dialogs/ActorCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

debug(combat-tracker): add hover handler debug logs
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix(charCreation): use compendium source when building ancestry/class/background lists
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/migrations/Migration019CelestialSavingThrow.ts
  src/migration/migrations/index.ts
  src/utils/getChoicesFromCompendium.ts
Due: biome-fix-staged

feat(charCreation): show source label on class/ancestry/background option cards
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/utils/getDocumentSourceLabel.ts
  src/view/dialogs/components/characterCreator/AncestrySelection.svelte
  src/view/dialogs/components/characterCreator/BackgroundSelection.svelte
  src/view/dialogs/components/characterCreator/ClassSelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: biome-fix-staged, prettier-svelte

feat(characterCreator): ancestry grid auto-fills columns based on available width
  src/view/dialogs/components/characterCreator/AncestrySelection.svelte
Due: prettier-svelte

fix(characterCreator): widen meta to 100% so source badge reaches right edge; restore backgrounds source label
  src/view/dialogs/components/characterCreator/BackgroundSelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: prettier-svelte

fix(characterCreator): source badge right-anchored with graceful wrap on resize
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: prettier-svelte

fix(characterCreator): left-align ancestry size/source and stack them horizontally
  src/view/dialogs/components/characterCreator/AncestrySelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: prettier-svelte

fix(characterCreator): move source labels out of absolute position to avoid overlap
  src/view/dialogs/components/characterCreator/AncestrySelection.svelte
  src/view/dialogs/components/characterCreator/BackgroundSelection.svelte
  src/view/dialogs/components/characterCreator/ClassSelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: prettier-svelte

fix(charCreation): fall back to compendium source for saving throw rule resolution
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/utils/getChoicesFromCompendium.ts
Due: biome-fix-staged

Chore: latest version?
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration022CelestialSavingThrow.ts
Due: biome-fix-staged

fix(migration): correct class name and version in Migration022CelestialSavingThrow
  src/migration/migrations/Migration022CelestialSavingThrow.ts
Due: biome-fix-staged

Fix: test mock directory
  src/view/dialogs/CharacterLevelUpDialog.test.ts
Due: biome-fix-staged

fix(tests): add String.prototype.slugify polyfill to test setup
  tests/setup.ts
Due: biome-fix-staged

fix(stats): add statAtMax tooltip to disabled options in level-up dialog
  src/view/dialogs/components/levelUpHelper/AbilityScoreIncrease.svelte
Due: prettier-svelte

fix(stats): enforce +5 cap across all levels in stat config editor
  src/view/dialogs/CharacterStatConfigDialog.svelte
Due: prettier-svelte

fix(stats): cap final modifier (base + increases) at +5, not increases alone
  src/documents/item/class.ts
  src/view/dialogs/CharacterStatConfigDialog.svelte
  src/view/dialogs/components/levelUpHelper/AbilityScoreIncrease.svelte
Due: biome-fix-staged, prettier-svelte

fix(stats): show lock icon and dashed border on at-max toggle buttons
  src/view/dialogs/CharacterStatConfigDialog.svelte
Due: prettier-svelte

debug(stats): add logging to capstone toggle and data preparation
  src/documents/item/class.ts
  src/view/dialogs/CharacterStatConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

chore(stats): remove debug logging from stat config dialog
  src/view/dialogs/CharacterStatConfigDialog.svelte
Due: prettier-svelte

fix(tests): add String.prototype.slugify polyfill to test setup (#781)
  src/view/dialogs/CharacterLevelUpDialog.test.ts
  tests/setup.ts
Due: biome-fix-staged

test(predicate,damageBonus): add tests for presence-check and targetCondition
  src/etc/Predicate.test.ts
  src/models/rules/damageBonus.test.ts
Due: biome-fix-staged

fix(actors): place new actors in the selected folder when creating from sidebar (#777)
  src/documents/actor/base.svelte.ts
  src/documents/dialogs/ActorCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

fix(actors): re-evaluate self:fullHp after character HP is computed
  src/documents/actor/character.ts
Due: biome-fix-staged

feat(grantMovement): add rules builder integration
  public/lang/en.json
  src/models/rules/grantMovement.ts
Due: biome-fix-staged

fix(charCreation): Celestial saving throw bug, source labels on option cards, responsive ancestry grid (#778)
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration022CelestialSavingThrow.ts
  src/migration/migrations/index.ts
  src/utils/getDocumentSourceLabel.ts
  src/view/dialogs/components/characterCreator/AncestrySelection.svelte
  src/view/dialogs/components/characterCreator/BackgroundSelection.svelte
  src/view/dialogs/components/characterCreator/ClassSelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(migration): add Migration019 to propagate class restrictions onto existing spells
  src/migration/migrations/Migration023SpellClasses.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
