Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix(lionhearted): replace testAdjacency with distance-based check
  src/hooks/combatantHooks/lionheartedAdjacencySync.test.ts
  src/utils/tokenAdjacency.ts
Due: biome-fix-staged

fix(lionhearted): deregister stale hooks on re-registration
  src/hooks/combatantHooks/lionheartedAdjacencySync.test.ts
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
Due: biome-fix-staged

fix(lionhearted): use HMR dispose to clean up hooks before module reload
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
Due: biome-fix-staged

fix(lionhearted): sync immediately on registration if canvas is ready
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
Due: biome-fix-staged

fix(lionhearted): use pending positions from updateToken changes to fix stale reads
  src/hooks/combatantHooks/lionheartedAdjacencySync.ts
  src/utils/tokenAdjacency.ts
Due: biome-fix-staged

feat(lionhearted): add lion condition icon and wire it to the lionhearted status
  public/assets/icons/LICENSE.md
  public/assets/icons/lionhearted.svg
  src/config/registerConditionsConfig.ts
Due: biome-fix-staged

fix: CT, Choose turn order before starting combat (#546)
  docs/STYLE_GUIDE.md
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatMinionGroups.ts
  src/documents/combat/combatSorting.ts
  src/utils/combatTurnSync.test.ts
  src/utils/combatTurnSync.ts
  src/utils/getHeroicReactionUsageState.ts
  src/utils/isCombatStarted.test.ts
  src/utils/isCombatStarted.ts
  src/utils/minionGrouping.test.ts
  src/utils/minionGrouping.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
Due: biome-fix-staged

feat: Add character to combat with Initiative Roll (#551)
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/settings/index.ts
  src/settings/initiativeSettings.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
Due: biome-fix-staged, prettier-svelte

fix(combat-system): respect activation cost quantity when consuming combat actions (#477) (#534)
  docs/STYLE_GUIDE.md
  src/documents/combat/combatCommon.ts
  src/documents/combat/combatMinionAttacks.ts
  src/documents/combat/combatTypes.ts
  src/hooks/minionGroupTokenActions.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/resolveItemActionCost.test.ts
  src/utils/resolveItemActionCost.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(docs-deploy): restrict deployment trigger to main branch only
  .github/workflows/docs-deploy.yml
Due: none

fix(docs-deploy): restrict deployment trigger to main branch only (#556)
  .github/workflows/docs-deploy.yml
Due: none

Updated es.json (#554)
  public/lang/es.json
Due: biome-fix-staged

chore(agents): add rules system context hook for Claude Code
  .claude/hooks/rules-context.md
  .claude/hooks/rules-context.sh
  .claude/settings.json
Due: biome-fix-staged

docs: align planning docs with current project state
  docs/planning/architecture.md
  docs/planning/epics.md
  docs/planning/product-vision.md
Due: none

docs: align planning docs with current project state (#558)
  docs/planning/architecture.md
  docs/planning/epics.md
  docs/planning/product-vision.md
Due: none

feat/fix: Initiative roll enricher (#547)
  src/documents/actor/base.svelte.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/view/dialogs/CheckRollDialog.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  types/combat.d.ts
  types/components/CheckRollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(zephyr): implement unarmored predicate for Swift Feet (#528)
  packs/classFeatures/core/zephyr/zephyr-progression/swift-feet.json
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration013SwiftFeetPredicates.ts
  src/migration/migrations/index.ts
  src/models/rules/initiativeBonus.ts
  src/models/rules/speedBonus.test.ts
  src/models/rules/speedBonus.ts
  src/view/dialogs/CharacterMovementConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(test): align PlayerCharacterCoreTab tests with implementation
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
Due: biome-fix-staged

fix(test): align PlayerCharacterCoreTab tests with implementation (#561)
  src/view/sheets/pages/PlayerCharacterCoreTab.test.ts
Due: biome-fix-staged

feat: add selectSpell mode for individual spell selection
  packs/backgrounds/core/academy-dropout.json
  public/lang/en.json
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/models/rules/grantSpells.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  types/components/SpellGrantDisplay.d.ts
Due: biome-fix-staged, prettier-svelte

feat(spells): add spell rules for level 1
  packs/classFeatures/core/mage/mage-progression/elemental-spellcasting.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/conduit-of-shadow.json
  packs/classFeatures/core/shepherd/shepherd-progression/keeper-of-life-and-death.json
  packs/classFeatures/core/songweaver/songweaver-progression/wind-spellcasting-and.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/master-of-storms.json
  packs/spells/core/necrotic/shadow-blast.json
  packs/spells/core/necrotic/summon-shadow.json
  src/config/registerRulesConfig.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix: improve spell selection UX in character creation
  public/lang/en.json
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  types/components/SpellGrantDisplay.d.ts
Due: biome-fix-staged, prettier-svelte

fix(character-creation): isolate spell grant edit state
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/utils/getSpells.test.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte.test.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.test.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte.test.ts
  tests/harnesses/CharacterCreationStateHarness.svelte
  tests/harnesses/SpellGrantDisplayHarness.svelte
  types/components/SpellReferenceCard.d.ts
Due: biome-fix-staged, prettier-svelte

fix: exclude utility spells from cantrip grants in character creation
  src/models/rules/grantSpells.ts
  src/utils/getSpells.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  types/components/SpellGrantDisplay.d.ts
Due: biome-fix-staged, prettier-svelte

fix: remove unused variables and fix type errors in spell components
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  types/components/SpellReferenceCard.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(spells): extract state logic into .svelte.ts files
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte.ts
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): improve style guide compliance for spell components
  public/lang/en.json
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/getSpells.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
Due: biome-fix-staged, prettier-svelte

fix: exclude secret spells from character creation spell index
  src/utils/getSpells.ts
Due: biome-fix-staged

feat: add class restrictions for spells in character creation
  packs/spells/core/necrotic/shadow-blast.json
  packs/spells/core/necrotic/summon-shadow.json
  src/models/item/SpellDataModel.ts
  src/utils/getSpells.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
Due: biome-fix-staged, prettier-svelte

fix: pass filtering options when creating spells from school selections
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
Due: biome-fix-staged

fix: require confirmation for spell school selection before advancing
  public/lang/en.json
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  types/components/SpellGrantDisplay.d.ts
Due: biome-fix-staged, prettier-svelte

chore: remove unused imports from state.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.ts
Due: biome-fix-staged

fix(spells): improve spell selection UX in character creation
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
Due: biome-fix-staged, prettier-svelte

fix: address code review findings for spell grants
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.ts
Due: biome-fix-staged

fix: rename includeUtility to utilityOnly and fix spell filtering
  packs/backgrounds/core/academy-dropout.json
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/models/rules/grantSpells.ts
  src/utils/getSpells.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  types/components/SpellGrantDisplay.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(spells): extract spell helpers to utils and add school filtering
  public/lang/en.json
  src/utils/getSpells.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/utils/backgroundChecks.ts
  src/view/dialogs/characterCreation/utils/processGrantSpellsRules.ts
  src/view/dialogs/characterCreation/utils/spellHelpers.ts
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/SpellSelection.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): adjust label-to-content spacing consistency
  src/view/dialogs/components/characterCreator/SchoolSelection.svelte
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
Due: prettier-svelte

fix: include SPELLS stage constant for character creation
  src/view/dialogs/characterCreation/constants.ts
Due: biome-fix-staged

fix(spells): improve spell selection checkbox and spacing styles
  src/view/dialogs/components/characterCreator/SpellCard.svelte
  src/view/dialogs/components/characterCreator/SpellGrantDisplay.svelte
  src/view/dialogs/components/characterCreator/SpellSelection.svelte
Due: prettier-svelte
