Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

chore: restore Phillip Best as author and fix Patreon URL
  package.json
  public/system.json
Due: biome-fix-staged

chore: add QuestLuminary Patreon link for Trevor Carlston (#739)
  package.json
  public/system.json
Due: biome-fix-staged

feat(hunter): wire Wild Heart Impressive Form (#400)
  packs/classFeatures/core/hunter/hunter-subclasses/keeper-of-the-wildheart/impressive-form.json
Due: biome-fix-staged

feat(mage): wire At Any Cost Necrotic spell grants (#628)
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-control/at-any-cost.json
Due: biome-fix-staged

feat(mage): wire Tempest Mage Wind spell grants (#629)
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/tempest-mage.json
Due: biome-fix-staged

feat(shadowmancer): wire Shadowmastery L6/8/14 spell grants
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/shadowmastery.json
Due: biome-fix-staged

feat(shepherd): wire Master of Twilight L3/6/11 spell grants
  packs/classFeatures/core/shepherd/shepherd-progression/master-of-twilight.json
Due: biome-fix-staged

feat(songweaver): wire Windbag(3) L14 utility spell grants
  packs/classFeatures/core/songweaver/songweaver-progression/windbag.json
Due: biome-fix-staged

feat(zephyr): wire Iron Defense AC override + L13 doubling (#374)
  packs/classFeatures/core/zephyr/zephyr-progression/iron-defense.json
Due: biome-fix-staged

fix(shepherd): Master of Twilight L11 grants all utility spells per rulebook
  packs/classFeatures/core/shepherd/shepherd-progression/master-of-twilight.json
Due: biome-fix-staged

fix(zephyr): add L13 to Iron Defense gainedAtLevels
  packs/classFeatures/core/zephyr/zephyr-progression/iron-defense.json
Due: biome-fix-staged

mend
  packs/spells/core/radiant/lifebinding-spirit.json
Due: biome-fix-staged

feat(features-tab): group class features, collapsible cards, level badges (#570) (#737)
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
Due: prettier-svelte

perf(rules): use array push instead of spread for damageBonus accumulation
  src/models/rules/damageBonus.ts
Due: biome-fix-staged

feat(rules): generalize meleeDamageBonus into damageBonus with appliesTo scoping
  packs/classFeatures/core/zephyr/zephyr-progression/reverberating-strikes.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/macros/activateHeroicActionMacro.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration016DamageBonus.ts
  src/migration/migrations/index.ts
  src/models/rules/damageBonus.test.ts
  src/models/rules/damageBonus.ts
  src/models/rules/meleeDamageBonus.ts
  src/utils/attackUtils.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

fix(migration): bump LATEST_SCHEMA_VERSION to 16 for damageBonus migration
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

feat(rules): add conditionImmunity rule type
  packs/backgrounds/core/fearless.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/automaticConditions.ts
  src/hooks/conditionImmunityGuard.ts
  src/models/rules/conditionImmunity.test.ts
  src/models/rules/conditionImmunity.ts
  src/nimble.ts
Due: biome-fix-staged

fix(reactions): unblock & confirm reactions on pc turn and macro bar (#734)
  public/lang/en.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/macros/activateHeroicActionMacro.ts
  src/utils/getHeroicReactionUsageState.ts
  src/utils/showReactionConfirmation.ts
  src/view/sheets/components/DefendReactionPanel.svelte
  src/view/sheets/components/DefendReactionPanel.svelte.ts
  src/view/sheets/components/HelpReactionPanel.svelte
  src/view/sheets/components/HelpReactionPanel.svelte.ts
  src/view/sheets/components/InterposeReactionPanel.svelte
  src/view/sheets/components/InterposeReactionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  src/view/sheets/components/ReactionPanels.test.ts
  src/view/sheets/components/handleInterposeAndDefend.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.test.ts
  types/components/ReactionPanel.d.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): reshape damageBonus into delivery + source axes
  packs/classFeatures/core/zephyr/zephyr-progression/reverberating-strikes.json
  src/macros/activateHeroicActionMacro.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration016DamageBonus.ts
  src/models/rules/damageBonus.test.ts
  src/models/rules/damageBonus.ts
  src/utils/attackUtils.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

feat(packs): wire damageBonus rules on Keen Eye and Fiery boon
  packs/boons/core/minor/fiery.json
  packs/classFeatures/core/hunter/hunter-progression/keen-eye-steady-hand.json
Due: biome-fix-staged

feat(rules): add dice-based damage bonus support
  src/macros/activateHeroicActionMacro.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/damageBonus.test.ts
  src/models/rules/damageBonus.ts
  src/utils/attackUtils.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
Due: biome-fix-staged

feat(classFeatures): add automation rules to seven features across six classes (#740)
  packs/classFeatures/core/hunter/hunter-subclasses/keeper-of-the-wildheart/impressive-form.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-chaos/tempest-mage.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-control/at-any-cost.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/shadowmastery.json
  packs/classFeatures/core/shepherd/shepherd-progression/master-of-twilight.json
  packs/classFeatures/core/songweaver/songweaver-progression/windbag.json
  packs/classFeatures/core/zephyr/zephyr-progression/iron-defense.json
  packs/spells/core/radiant/lifebinding-spirit.json
Due: biome-fix-staged

feat(rules): add conditionImmunity rule type (#743)
  packs/backgrounds/core/fearless.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/hooks/automaticConditions.ts
  src/hooks/conditionImmunityGuard.ts
  src/models/rules/conditionImmunity.test.ts
  src/models/rules/conditionImmunity.ts
  src/nimble.ts
Due: biome-fix-staged

feat(levelUp): support selecting one option or another on level up (#708)
  packs/classFeatures/core/commander/commander-progression/combat-experience.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
  packs/classFeatures/core/commander/commanders-order/coordinated-strike.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/classFeatures/core/commander/commanders-order/reposition.json
  packs/ids.json
  src/documents/actor/character.ts
  src/models/item/FeatureDataModel.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

fix(compendium): remove combat-tactics from levels 6+ selection groups
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
Due: biome-fix-staged

chore: compendia formatting
  packs/backgrounds/core/fearless.json
  packs/classFeatures/core/commander/combat-tactics/commanding-presence.json
  packs/classFeatures/core/commander/combat-tactics/heavy-strike.json
  packs/classFeatures/core/commander/combat-tactics/inerrant-strike.json
  packs/classFeatures/core/commander/combat-tactics/lunging-strike.json
  packs/classFeatures/core/commander/combat-tactics/sweeping-strike.json
  packs/classFeatures/core/commander/commander-progression/combat-experience.json
  packs/classFeatures/core/commander/commander-progression/max-combat-die.json
Due: biome-fix-staged

fix(levelUp): support per-level levelUpOptions and fix Commander progression data
  packs/classFeatures/core/commander/commander-progression/combat-experience.json
  packs/classFeatures/core/commander/commander-progression/fit-for-any-battlefield.json
  packs/ids.json
  src/models/item/FeatureDataModel.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

feat(compendia): group subclass folders under a [Class] Subclasses wrapper
  build/lib/Pack.mjs
Due: biome-fix-staged

chore(release): v0.8.4
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

feat(rules): add grantMovement rule type
  packs/classFeatures/core/hunter/hunter-progression/explorer-of-the-wilds.json
  packs/classFeatures/core/the-cheat/the-cheat-subclasses/tools-of-the-silent-blade/professional-skulker.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/models/rules/grantMovement.test.ts
  src/models/rules/grantMovement.ts
Due: biome-fix-staged

fix(rules): two-phase processing and runtime mode guard for grantMovement
  src/models/rules/grantMovement.test.ts
  src/models/rules/grantMovement.ts
Due: biome-fix-staged

fix(rules): grant+bonus stacking and movement config dialog
  src/models/rules/grantMovement.test.ts
  src/models/rules/grantMovement.ts
  src/view/dialogs/CharacterMovementConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix: address PR #742 review feedback
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration016DamageBonus.ts
  src/models/rules/damageBonus.ts
  src/utils/attackUtils.ts
Due: biome-fix-staged

feat(class-sheet): add class progression tab with editing workflow
  packs/classFeatures/core/berserker/savage-arsenal/death-blow.json
  packs/classFeatures/core/berserker/savage-arsenal/deathless-rage.json
  packs/classFeatures/core/berserker/savage-arsenal/eager-for-battle.json
  packs/classFeatures/core/berserker/savage-arsenal/into-the-fray.json
  packs/classFeatures/core/berserker/savage-arsenal/mighty-endurance.json
  packs/classFeatures/core/berserker/savage-arsenal/more-blood.json
  packs/classFeatures/core/berserker/savage-arsenal/rampage.json
  packs/classFeatures/core/berserker/savage-arsenal/swift-fury.json
  packs/classFeatures/core/berserker/savage-arsenal/thunderous-steps.json
  packs/classFeatures/core/berserker/savage-arsenal/unstoppable-force.json
  packs/classFeatures/core/berserker/savage-arsenal/whirlwind.json
  packs/classFeatures/core/berserker/savage-arsenal/your-next.json
  public/lang/en.json
  src/utils/getClassFeatures.ts
  src/utils/getClassProgressionData.ts
  src/utils/getSubclassChoices.ts
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
  types/components/ClassProgressionTab.d.ts
Due: biome-fix-staged, prettier-svelte

fix(class-sheet): improve progression tab UX and fix data issues
  public/lang/en.json
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
  types/components/ClassProgressionTab.d.ts
Due: biome-fix-staged, prettier-svelte

fix(packs): correct gainedAtLevels for multi-level caster features
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/mage/mage-progression/elemental-surge.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/mana-and-radiant-spellcasting.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/master-of-radiance.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/radiant-judgement.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/master-of-darkness.json
  packs/classFeatures/core/shepherd/shepherd-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/songweaver/songweaver-progression/mana-and-unlock-tier-1-spells.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormcaller.json
Due: biome-fix-staged

fix(class-sheet): improve icon contrast in light and dark modes
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: prettier-svelte

fix(class-sheet): make progression tab reactive to item changes
  src/view/sheets/pages/ClassProgressionTab.svelte
Due: prettier-svelte
