Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

test(rules): stub `predicate` instead of the removed `_predicate` getter
  src/documents/actor/resolveCharacterItemActionCost.test.ts
  src/utils/resolveHeroicReactionActionCost.test.ts
Due: biome-fix-staged

test(integration): point the live harness at the applyRuleEffects toggle
  tests/integration/applyCondition.test.ts
  tests/integration/conditionImmunity.test.ts
  tests/integration/dicePools.test.ts
  tests/integration/liveHelpers.ts
  tests/integration/markTargetConditionalBonus.test.ts
  tests/integration/predicateTiming.test.ts
  tests/integration/rollModeRules.test.ts
  tests/integration/toggleEffect.test.ts
Due: biome-fix-staged

fix(migration): keep the ancestry bonus split at 035
  src/migration/migrations/ancestryBonusSplit.test.ts
Due: biome-fix-staged

fix(effects): keep token icons on effects created before the V14 upgrade
  src/documents/activeEffect/activeEffect.test.ts
  src/documents/activeEffect/activeEffect.ts
  tests/mocks/foundry.ts
Due: biome-fix-staged

fix(chat): don't target hidden or defeated tokens from an AoE region
  src/documents/chatMessage.ts
  src/utils/isTokenDefeated.test.ts
  src/utils/isTokenDefeated.ts
Due: biome-fix-staged

fix(chat): label a square AoE from its configured width
  src/view/chat/components/TemplateSection.svelte
Due: prettier-svelte

fix(chat): tolerate a missing author colour in card headers
  src/view/dataPreparationHelpers/calculateHeaderTextColor.ts
Due: biome-fix-staged

fix(canvas): surface AoE placement failures instead of dropping them
  public/lang/en.json
  src/documents/item/base.svelte.ts
  src/view/chat/components/TemplateSection.svelte
Due: biome-fix-staged, prettier-svelte

chore(level-up): bring the duplicate-source branch in line with the style guide
  docs/STYLE_GUIDE.md
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/utils/getDocumentSourceLabel.ts
  src/utils/getEffectiveSelectionMax.test.ts
  src/utils/getEffectiveSelectionMax.ts
  src/utils/getItemSource.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/selectionGroupRules.test.ts
  src/view/dialogs/selectionGroupRules.ts
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  types/components/ClassProgressionTab.d.ts
  types/components/SourceTag.d.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): resolve duplicate class features with a comparison list
  public/lang/en.json
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.test.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/featureDiff.test.ts
  src/view/dialogs/featureDiff.ts
  types/components/ClassFeatureSelection.d.ts
  types/components/DuplicateSourceGroup.d.ts
Due: biome-fix-staged, prettier-svelte

fix(level-up): use the shared SelectionIndicator in the duplicate picker
  src/view/components/SelectionIndicator.svelte
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.test.ts
  types/components/SelectionIndicator.d.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): toggle Keep all, and clip the duplicate identity line
  public/lang/en.json
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.test.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.ts
  src/view/dialogs/components/characterCreator/tooltipWhenClipped.test.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): restrict spell schools with keep-and-convert exception
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-flame/fiery-dedication.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-frost/crown-of-ice.json
  packs/classFeatures/core/mage/mage-subclasses/invoker-of-surges/electrical-dedication.json
  packs/ids.json
  packs/subclasses/core/mage/invoker-of-flame.json
  packs/subclasses/core/mage/invoker-of-frost.json
  packs/subclasses/core/mage/invoker-of-surges.json
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/restrictSpellSchools.test.ts
  src/models/rules/restrictSpellSchools.ts
  src/utils/classProgression/mage.expect.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(rules): complete removeSpells rule metadata and promote spell damage-type helpers
  public/lang/en.json
  src/documents/actor/character.ts
  src/models/rules/removeSpells.test.ts
  src/models/rules/removeSpells.ts
  src/utils/spell/spellDamageType.test.ts
  src/utils/spell/spellDamageType.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
Due: biome-fix-staged

feat(level-up): grant and remove spells during subclass selection (#702)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/actor/character.ts
  src/models/actor/CharacterDataModel.ts
  src/models/rules/removeSpells.ts
  src/view/dialogs/CharacterLevelDownDialog.svelte
  src/view/dialogs/CharacterLevelDownDialogState.svelte.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte.ts
  src/view/dialogs/spellGrantUtils.test.ts
  src/view/dialogs/spellGrantUtils.ts
  types/components/LevelUpSpellGrants.d.ts
Due: biome-fix-staged, prettier-svelte

fix(level-up): correct the duplicate picker's default state and reachable outcomes
  public/lang/en.json
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/utils/getDocumentSourceLabel.ts
  src/view/components/SelectionIndicator.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.test.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/featureDiff.test.ts
  src/view/dialogs/featureDiff.ts
  src/view/dialogs/selectionGroupRules.test.ts
  src/view/dialogs/selectionGroupRules.ts
  types/components/ClassFeatureSelection.d.ts
  types/components/SelectionIndicator.d.ts
Due: biome-fix-staged, prettier-svelte

chore(level-up): note the source badge's font-size change on extraction
  src/view/components/SourceTag.svelte
Due: prettier-svelte

fix(ancestry): address second PR review on the ancestry bonus split
  AGENTS.md
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/dialogs/CharacterCreationDialog.test.ts
  src/documents/item/ancestry.test.ts
  src/documents/item/ancestry.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/ancestryBonusSplit.test.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  tests/harnesses/CharacterCreationStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(level-up): resolve duplicate class features with a comparison list (#854)
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/scss/base/_variables.scss
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/utils/getDocumentSourceLabel.ts
  src/utils/getItemSource.ts
  src/view/components/SelectionIndicator.svelte
  src/view/components/SourceTag.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.test.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/characterCreator/tooltipWhenClipped.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  src/view/dialogs/featureDiff.test.ts
  src/view/dialogs/featureDiff.ts
  src/view/dialogs/selectionGroupRules.test.ts
  src/view/dialogs/selectionGroupRules.ts
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
  src/view/sheets/pages/ClassProgressionTabUtils.ts
  tests/harnesses/ClassFeatureSelectionStateHarness.svelte
  types/components/ClassFeatureSelection.d.ts
  types/components/ClassProgressionTab.d.ts
  types/components/DuplicateSourceGroup.d.ts
  types/components/SelectionIndicator.d.ts
  types/components/SourceTag.d.ts
Due: biome-fix-staged, prettier-svelte

chore: add a release note generator claude command (#869)
  .claude/commands/nimble-release-notes.md
Due: none

chore(migration): renumber AoETemplateFlags 035 to 036
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration036AoETemplateFlags.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(types): match V14 document signatures in the ancestry bonus code
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/item/ancestryBonus.ts
Due: biome-fix-staged

fix(types): handle a document without a UUID in the duplicate-feature grouping
  src/utils/getClassFeatures.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/DuplicateSourceGroup.svelte.ts
Due: biome-fix-staged

feat(rules): centralise condition application
  docs/STYLE_GUIDE.md
  src/utils/applyConditionToActor.test.ts
  src/utils/applyConditionToActor.ts
Due: biome-fix-staged

fix(rules): record where a rule-applied condition came from
  src/models/rules/applyCondition.test.ts
  src/models/rules/applyCondition.ts
Due: biome-fix-staged

fix(chat): apply a card's condition to its targets, not your selection
  public/lang/en.json
  src/view/chat/components/ConditionNode.svelte
  src/view/chat/components/ConditionNode.test.ts
  src/view/chat/components/ConditionNode.testHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(items): add skipRollDialog field to the shared activation schema
  src/models/item/FeatureDataModel.ts
  src/models/item/ObjectDataModel.ts
  src/models/item/SpellDataModel.ts
  src/models/item/common.ts
Due: biome-fix-staged

feat(activation): honor skipRollDialog when resolving activation dialog data
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

feat(sheets): add a skip-roll-dialog toggle to the activation config tab
  public/lang/en.json
  src/view/sheets/pages/ItemActivationCoreConfigTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(packs): activate Lay on Hands without the roll dialog
  packs/classFeatures/core/oathsworn/oathsworn-progression/lay-on-hands.json
Due: biome-fix-staged

test(activation): cover dialog routing for the skipRollDialog flag
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

fix(rules): stop data-prep rules stacking twice per prepare cycle
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/prepareDataAccumulatorReset.test.ts
  src/hooks/ready.ts
  src/settings/languageSettings.ts
Due: biome-fix-staged

fix(sheet): refresh actor sheets when an Active Effect changes
  src/documents/actor/base.svelte.ts
  src/documents/actor/ownsEffect.test.ts
Due: biome-fix-staged

feat(rules): show in the builder why a rule is not running
  public/lang/en.json
  src/managers/RulesManager.test.ts
  src/managers/RulesManager.ts
  src/view/rulesBuilder/components/RuleCard.svelte
  src/view/rulesBuilder/components/RuleCardState.svelte.ts
  src/view/rulesBuilder/types.d.ts
Due: biome-fix-staged, prettier-svelte

fix(rules): resolve stat references in rule formulas during data prep
  src/documents/actor/character.ts
Due: biome-fix-staged

feat(actor): stop capping ability and skill modifiers
  src/documents/actor/character.ts
Due: biome-fix-staged

refactor(actor): match owned Active Effects by identity, not documentName
  src/documents/actor/base.svelte.ts
  src/documents/actor/ownsEffect.test.ts
Due: biome-fix-staged

fix(ancestry): conform size options UI to the style guide
  public/lang/en.json
  src/view/sheets/AncestrySheet.svelte
Due: biome-fix-staged, prettier-svelte

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
