Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore(scripts): release automation of git tags and changelog update
  build/release.mjs
  docs/RELEASE_GUIDE.md
Due: biome-fix-staged

chore(release): v0.7.1
  CHANGELOG.md
  package-lock.json
  package.json
  public/system.json
Due: biome-fix-staged

fix: update gnoll damage formula
  packs/monsters/core/gnolls/gnoll.json
Due: biome-fix-staged

Update es.json
  public/lang/es.json
Due: biome-fix-staged

NPCSheet image and Hit Point overlap fix
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/BackgroundSheet.svelte
  src/view/sheets/BoonSheet.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/MonsterFeatureSheet.svelte
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/SpellSheet.svelte
  src/view/sheets/SubclassSheet.svelte
Due: prettier-svelte

removed compile warning fixes
  src/view/chat/AbilityCheckCard.svelte
  src/view/chat/FeatureCard.svelte
  src/view/chat/FieldRestCard.svelte
  src/view/chat/LevelUpSummaryCard.svelte
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/chat/ObjectCard.svelte
  src/view/chat/SafeRestCard.svelte
  src/view/chat/SpellCard.svelte
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/sheets/AncestrySheet.svelte
  src/view/sheets/BackgroundSheet.svelte
  src/view/sheets/BoonSheet.svelte
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/FeatureSheet.svelte
  src/view/sheets/MonsterFeatureSheet.svelte
  src/view/sheets/ObjectSheet.svelte
  src/view/sheets/SpellSheet.svelte
  src/view/sheets/SubclassSheet.svelte
Due: prettier-svelte

NPCSheet image and Hit Point overlap fix (#355)
  src/view/sheets/NPCSheet.svelte
Due: prettier-svelte

Simplified popover table
  src/scss/components/_combat-tracker.scss
  src/view/ui/CombatTracker.svelte
Due: prettier-svelte

lint check fix
  src/actions/draggable.svelte.ts
Due: biome-fix-staged

Added tests
  src/documents/combat/combat.svelte.test.ts
  src/hooks/combatantDefeatSync.test.ts
  src/utils/isCombatantDead.test.ts
Due: biome-fix-staged

Fixed starting turn player to always be the top most player
  src/documents/combat/combat.svelte.ts
  src/view/ui/components/MonsterCombatant.svelte
  src/view/ui/components/PlayerCharacterCombatant.svelte
Due: biome-fix-staged, prettier-svelte

GM can drag/reorder all active cards. Players can drag/reorder only character cards they own.
  src/documents/combat/combat.svelte.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: biome-fix-staged, prettier-svelte

Initiative sorting
  src/scss/components/_combat-tracker.scss
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: prettier-svelte

End Combat modal wording updated
  src/view/ui/components/CombatTrackerControls.svelte
Due: prettier-svelte

Heroes correctly move to death zone according to wounds and not hitpoints
  src/hooks/combatantDefeatSync.ts
  src/utils/isCombatantDead.ts
Due: biome-fix-staged

minion group mode
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenBadges.ts
  src/nimble.ts
  src/scss/components/_combat-tracker.scss
  src/utils/minionGrouping.ts
  src/view/ui/CombatTracker.svelte
Due: biome-fix-staged, prettier-svelte

Review fixes / Tracker stays open when all actors removed
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantDefeatSync.test.ts
  src/utils/isCombatantDead.test.ts
  src/utils/isCombatantDead.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
  src/view/ui/components/CombatTrackerControls.svelte
Due: biome-fix-staged, prettier-svelte

initiative/sort
  src/actions/draggable.svelte.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/combatantDefeatSync.ts
  src/scss/components/_combat-tracker.scss
  src/utils/isCombatantDead.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
  src/view/ui/components/MonsterCombatant.svelte
  src/view/ui/components/PlayerCharacterCombatant.svelte
Due: biome-fix-staged, prettier-svelte

feat(combat): initiative sorting and ordering
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

Updated drag/drop permissions
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: biome-fix-staged, prettier-svelte

Logo / code clean-up / improved dice logic
  public/ncsw/logos/Black-A.png
  public/ncsw/logos/White-A.png
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/scss/components/_minion-group-token-actions.scss
  src/utils/minionGrouping.test.ts
  src/utils/minionGrouping.ts
  src/utils/minionGroupingModes.ts
Due: biome-fix-staged

formatting
  src/documents/combat/combat.svelte.ts
  src/utils/tokenTargetLookup.ts
Due: biome-fix-staged

New Nimble Combat System
  src/actions/draggable.svelte.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/hooks/minionGroupingModeSync.ts
  src/hooks/ready.ts
  src/scss/components/_combat-tracker.scss
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/minionGroupingModes.ts
  src/view/chat/MinionGroupAttackCard.svelte
  src/view/ui/CombatTracker.svelte
  src/view/ui/components/BaseCombatant.svelte
Due: biome-fix-staged, prettier-svelte

Canvas Lite Version
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/hooks/minionGroupingModeSync.ts
  src/hooks/ready.ts
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/minionGrouping.ts
  src/utils/minionGroupingModes.ts
  src/view/ui/CombatTracker.svelte
Due: biome-fix-staged, prettier-svelte

full staged refactor
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/tokenTargetLookup.ts
Due: biome-fix-staged

Light/Dark mode and Language support
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_minion-group-token-actions.scss
  src/utils/minionGroupingModes.ts
  src/view/chat/MinionGroupAttackCard.svelte
Due: biome-fix-staged, prettier-svelte

UI adjustments
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/scss/components/_minion-group-token-actions.scss
  src/view/ui/CombatTracker.svelte
Due: biome-fix-staged, prettier-svelte

Grouping updates
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/nimble.ts
  src/scss/components/_combat-tracker.scss
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/utils/minionGrouping.test.ts
  src/utils/minionGrouping.ts
  src/view/ui/CombatTracker.svelte
Due: biome-fix-staged, prettier-svelte

logo fixed again
  public/ncsw/logos/Black-A.png
  public/ncsw/logos/White-A.png
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_minion-group-token-actions.scss
Due: biome-fix-staged

Restore upstream combat tracker parity
  src/scss/components/_combat-tracker.scss
  src/view/ui/CombatTracker.svelte
Due: prettier-svelte

Format Code
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/utils/minionGroupingModes.ts
  src/view/chat/MinionGroupAttackCard.svelte
Due: biome-fix-staged, prettier-svelte

Big cleanup of first several, now unused, feature iterations
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/hooks/minionGroupTokenBadges.ts
  src/scss/components/_minion-group-token-actions.scss
  src/settings/index.ts
  src/utils/minionGrouping.ts
  src/utils/minionGroupingModes.ts
Due: biome-fix-staged

NCSW now persistant during combat
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

lowered complexity
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatCommon.ts
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

format fix
  src/documents/combat/combat.svelte.ts
  src/documents/combat/combatCommon.ts
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

fix(combat): resolve duplicate imports after rebuild
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix(nimble): remove duplicate NCS imports blocking startup
  src/nimble.ts
Due: biome-fix-staged

restore(ncs): reapply pre-sync CT/NCS shared UI from stash
  public/lang/en.json
  public/lang/es.json
  public/lang/fr.json
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenActions.ts
  src/scss/components/_combat-tracker.scss
  src/scss/components/_minion-group-token-actions.scss
  src/view/ui/CombatTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix: update gnoll damage formula (#352)
  packs/monsters/core/gnolls/gnoll.json
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
