Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(spells): refuse a fast-forwarded cast that would pick an enhancement
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

fix(spells): offer no upcast for a flat pool cost unless the tier is pinned
  docs/documentation/homebrew/character-options.md
  docs/documentation/homebrew/spells.md
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/computeUpcastBounds.test.ts
  src/utils/spell/computeUpcastBounds.ts
  src/view/dialogs/SpellUpcastDialog.svelte
Due: biome-fix-staged, prettier-svelte

fix(spells): show the cost at the tier a pinned cast resolves at
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

test(spells): expect the localized refusal for a flat-cost upcast
  src/managers/ItemActivationManager.test.ts
Due: biome-fix-staged

fix(migration): update a Pilfered Power rule the item already carries
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
Due: biome-fix-staged

fix(sheet): require an update handler on an editable resource bar
  src/view/sheets/components/ResourceBar.svelte
  types/components/ResourceBar.d.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): match a class by the identifier its levels are stored under
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  types/spellCost.d.ts
Due: biome-fix-staged

feat(shadowmancer): show Pilfered Power where mana is shown
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/pilfered-power.json
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
Due: biome-fix-staged

docs(spells): note that a cast above the unlocked tier is refused
  docs/documentation/homebrew/spells.md
Due: none

docs(shadowmancer): correct the overdraft note and record the expiry gap
  docs/documentation/characters/character-sheet.md
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

fix(chat): drop the pinned tier label the cast window never shows
  src/documents/item/spell.ts
  src/models/chat/SpellCardDataModel.ts
  src/view/chat/SpellCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(shadowmancer): regain the Heart of Burning Fire use once per combat
  docs/documentation/characters/character-sheet.md
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/heart-of-burning-fire.json
  src/migration/migrations/Migration049ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration049ShadowmancerPilferedPower.ts
Due: biome-fix-staged

docs(homebrew): explain that spell grants unlock spell tiers
  docs/documentation/homebrew/character-options.md
Due: none

feat(migration): migrate embedded Shadowmancer items to Pilfered Power
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

feat(spells): bound the overdraft by level, and show the real level-up cost
  public/lang/en.json
  src/models/item/ClassDataModel.ts
  src/utils/spell/confirmSpellOverdraft.ts
  src/utils/spell/paySpellCost.test.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  types/components/LevelUpSpellCard.d.ts
  types/components/LevelUpSpellGrants.d.ts
  types/spellCost.d.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): show spell costs and make the cast dialog obey the automation setting (#920)
  docs/documentation/gm/settings.md
  docs/documentation/homebrew/spells.md
  src/documents/dialogs/SpellUpcastDialog.svelte.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
  src/utils/spell/computeUpcastBounds.test.ts
  src/utils/spell/computeUpcastBounds.ts
  src/utils/spell/getSpellManaCost.test.ts
  src/utils/spell/getSpellManaCost.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  tests/harnesses/LevelUpSpellCardStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

feat(spells): derive unlocked spell tier from a class's own spell grants (#921)
  docs/documentation/characters/character-sheet.md
  docs/documentation/characters/creation.md
  docs/documentation/homebrew/character-options.md
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/actor/prepareHighestUnlockedSpellTier.test.ts
  src/models/rules/grantSpells.ts
  src/utils/spell/getHighestSpellTier.packs.test.ts
  src/utils/spell/getHighestSpellTier.test.ts
  src/utils/spell/getHighestSpellTier.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.test.ts
  src/view/dialogs/SpellScrollDialog.state.svelte.ts
  src/view/dialogs/SpellScrollDialog.svelte
  src/view/dialogs/openSpellScrollDialog.ts
  src/view/sheets/pages/PlayerCharacterSettingsTab.svelte
  src/view/sheets/pages/PlayerCharacterSettingsTabState.svelte.test.ts
  src/view/sheets/pages/PlayerCharacterSettingsTabState.svelte.ts
  tests/harnesses/SpellScrollDialogStateHarness.svelte
  types/components/SpellScrollDialog.d.ts
Due: biome-fix-staged, prettier-svelte

feat(shadowmancer): Pilfered Power instead of mana (#925)
  docs/documentation/characters/character-sheet.md
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/pilfered-power.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/heart-of-burning-fire.json
  packs/classes/core/shadowmancer.json
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
  src/migration/migrations/index.ts
  src/utils/classProgression/shadowmancer.expect.ts
Due: biome-fix-staged

feat(charges): let a charge pool show in the sheet header (#926)
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/spells.md
  docs/documentation/reference/_partials/chargePool.md
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/pilfered-power.json
  public/lang/en.json
  src/config.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
  src/models/rules/chargePool.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/chargePool/chargePoolRecover.test.ts
  src/utils/chargePool/chargePoolSync.test.ts
  src/utils/chargePool/chargePoolSync.ts
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
  src/utils/chargePool/types.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/utils/spell/spendSpellCost.ts
  src/utils/spell/validateSpellCost.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/sheets/ClassSheet.state.svelte.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/HitDiceBar.svelte
  src/view/sheets/components/HitPointBar.svelte
  src/view/sheets/components/ManaBar.svelte
  src/view/sheets/components/ResourceBar.svelte
  tests/integration/builders/buildCharacter.ts
  tests/integration/characterBuilder.test.ts
  tests/integration/levelUpConformance.test.ts
  tests/integration/sheetResourceBar.test.ts
  tests/integration/spellTierAndCost.test.ts
  types/components/ResourceBar.d.ts
  types/spellCost.d.ts
Due: biome-fix-staged, prettier-svelte

feat(spells): let a class declare what its tiered spells cost (#922)
  docs/documentation/homebrew/character-options.md
  docs/documentation/homebrew/spells.md
  public/lang/en.json
  src/config.ts
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/models/item/ClassDataModel.ts
  src/utils/chargePool/helpers.ts
  src/utils/spell/asChargePoolActor.ts
  src/utils/spell/computeUpcastBounds.test.ts
  src/utils/spell/computeUpcastBounds.ts
  src/utils/spell/confirmSpellOverdraft.ts
  src/utils/spell/paySpellCost.test.ts
  src/utils/spell/paySpellCost.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/utils/spell/spendSpellCost.test.ts
  src/utils/spell/spendSpellCost.ts
  src/utils/spell/validateSpellCost.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpSpellGrants.svelte
  src/view/sheets/ClassSheet.state.svelte.test.ts
  src/view/sheets/ClassSheet.state.svelte.ts
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/ClassSheetUtils.ts
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
  tests/harnesses/LevelUpSpellCardStateHarness.svelte
  types/components/LevelUpSpellCard.d.ts
  types/components/LevelUpSpellGrants.d.ts
  types/spellCost.d.ts
Due: biome-fix-staged, prettier-svelte

feat(nexus-import): show the creator in the monster browse list
  src/view/dialogs/components/monsterImport/BrowseTabContent.svelte
  src/view/dialogs/components/monsterImport/BrowseTabContent.test.ts
Due: biome-fix-staged, prettier-svelte

feat(nexus-import): store the credit as a flag and show it in the sheet header
  docs/documentation/gm/import-export.md
  public/lang/en.json
  src/import/importCredit.test.ts
  src/import/importCredit.ts
  src/import/importSources.ts
  src/import/nimbleNexus/NimbleNexusParser.test.ts
  src/import/nimbleNexus/NimbleNexusParser.ts
  src/import/nimbleNexus/creatorCredit.test.ts
  src/import/nimbleNexus/creatorCredit.ts
  src/view/dialogs/components/monsterImport/BrowseTabContent.svelte
  src/view/sheets/NPCSheet.svelte
Due: biome-fix-staged, prettier-svelte

feat(nexus-import): credit the creator on imported monsters
  src/import/nimbleNexus/NimbleNexusParser.test.ts
  src/import/nimbleNexus/NimbleNexusParser.ts
Due: biome-fix-staged

docs(import): describe the Nimble Nexus creator credit
  docs/documentation/gm/import-export.md
Due: none

refactor(nexus-import): one creator shape and one flags accessor
  src/config.ts
  src/import/nimbleNexus/constants.ts
  src/import/nimbleNexus/types.ts
  src/view/dialogs/components/monsterImport/BrowseTabContent.svelte
  src/view/sheets/NPCSheet.svelte
Due: biome-fix-staged, prettier-svelte

refactor(nexus-import): declare includes per endpoint and share the creator shape
  src/import/nimbleNexus/NimbleNexusApiClient.test.ts
  src/import/nimbleNexus/NimbleNexusApiClient.ts
  src/import/nimbleNexus/constants.ts
  src/import/nimbleNexus/types.ts
Due: biome-fix-staged

refactor(nexus-import): escape and localize the credit the repo's way
  public/lang/en.json
  src/config.ts
  src/import/nimbleNexus/NimbleNexusParser.test.ts
  src/import/nimbleNexus/creatorCredit.test.ts
  src/import/nimbleNexus/creatorCredit.ts
  src/view/dialogs/components/monsterImport/BrowseTabContent.svelte
Due: biome-fix-staged, prettier-svelte

feat(nexus-import): side-load the creator with each monster
  src/import/nimbleNexus/NimbleNexusApiClient.test.ts
  src/import/nimbleNexus/NimbleNexusApiClient.ts
  src/import/nimbleNexus/creatorCredit.test.ts
  src/import/nimbleNexus/creatorCredit.ts
  src/import/nimbleNexus/types.ts
Due: biome-fix-staged

fix(import): remove punctuation in created by string
  public/lang/en.json
Due: biome-fix-staged

chore: sync translation files
  public/lang/babele/es/nimble.nimble-class-features.json
  public/lang/babele/fr/nimble.nimble-class-features.json
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

test(import): match the credit sentence without a trailing period
  docs/documentation/gm/import-export.md
  src/import/importCredit.test.ts
Due: biome-fix-staged

test(nexus-import): assert the exact include value
  src/import/nimbleNexus/NimbleNexusApiClient.test.ts
Due: biome-fix-staged

fix: docs naming a random user
  docs/documentation/gm/import-export.md
Due: none

test(nexus-import): stop naming real Nimble Nexus users in fixtures
  src/import/importCredit.test.ts
  src/import/nimbleNexus/NimbleNexusApiClient.test.ts
  src/import/nimbleNexus/NimbleNexusParser.test.ts
  src/view/dialogs/components/monsterImport/BrowseTabContent.test.ts
Due: biome-fix-staged

fix(packs): Enveloped by the Master no longer raises max Wounds
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/enveloped-by-the-master.json
Due: biome-fix-staged

fix(packs): Aura of Refuge reads @will, not the missing @willpower key
  packs/classFeatures/core/oathsworn/oathsworn-subclasses/oath-of-refuge/aura-of-refuge.json
Due: biome-fix-staged

fix(packs): Savage Awareness offers Perception advantage as a roll choice
  packs/classFeatures/core/berserker/berserker-subclasses/path-of-the-red-mist/savage-awareness.json
Due: biome-fix-staged

fix(packs): Fleet Footed and Winged no longer add speed outside a Direbeast form
  packs/classFeatures/core/stormshifter/chimeric-boon/fleet-footed.json
  packs/classFeatures/core/stormshifter/chimeric-boon/winged.json
Due: biome-fix-staged

feat(migration): Migration053 corrects the five shipped rules on embedded copies
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration053PackRuleCorrections.test.ts
  src/migration/migrations/Migration053PackRuleCorrections.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(migration): Migration053 keeps a rule whose omitted base fields were edited
  src/migration/migrations/Migration053PackRuleCorrections.test.ts
  src/migration/migrations/Migration053PackRuleCorrections.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
