Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

refactor(migration): import the shared toSnapshotId helper in the Shadowmancer migration
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

test: close gaps a passing run would hide
  src/utils/chargePool/chargePoolRecover.test.ts
  tests/integration/characterBuilder.test.ts
  tests/integration/levelUpConformance.test.ts
  tests/integration/sheetResourceBar.test.ts
  tests/integration/spellTierAndCost.test.ts
Due: biome-fix-staged

fix(spells): charge the declared pool when a multiclass caster holds no mana
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  types/spellCost.d.ts
Due: biome-fix-staged

fix(spells): refuse a mana cost the caster cannot cover before anything is written
  public/lang/en.json
  src/config.ts
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spendSpellCost.ts
  src/utils/spell/validateSpellCost.ts
  types/spellCost.d.ts
Due: biome-fix-staged

fix(sheet): theme the resource bar and move its props type out
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/sheets/components/ResourceBar.svelte
  types/components/ResourceBar.d.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): read the unlocked-tier refusal key from CONFIG
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

refactor(sheet): drop the resource bar's uncalled props
  src/view/sheets/components/ResourceBar.svelte
  types/components/ResourceBar.d.ts
Due: biome-fix-staged, prettier-svelte

fix(charges): persist a pool whose only change is the seeded marker
  src/utils/chargePool/helpers.test.ts
  src/utils/chargePool/helpers.ts
Due: biome-fix-staged

test(spells): stub the pinned tier spell through vi.stubGlobal
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
Due: biome-fix-staged

docs(classes): document the class spellcasting config
  docs/documentation/homebrew/character-options.md
  docs/documentation/homebrew/spells.md
Due: none

refactor(spells): tighten the spell cost seam after review
  src/documents/item/spell.test.ts
  src/documents/item/spell.ts
  src/managers/ItemActivationManager.ts
  src/utils/chargePool/helpers.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged, prettier-svelte

test(integration): close the level-up sheet in afterAll
  tests/integration/levelUpConformance.test.ts
Due: biome-fix-staged

fix(spells): throw for a cost label on a spell the panel does not list
  src/view/sheets/components/CastSpellActionPanel.svelte.test.ts
  src/view/sheets/components/CastSpellActionPanel.svelte.ts
Due: biome-fix-staged

fix(spells): report an over-ladder mana spend as above the max tier
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

docs(charges): document a pool shown as a sheet resource
  docs/documentation/characters/character-sheet.md
  docs/documentation/reference/_partials/chargePool.md
Due: none

refactor(charges): read a pool's display flags through one helper
  src/utils/chargePool/helpers.ts
Due: biome-fix-staged

fix(sheet): pass Math.clamp its arguments in the documented order
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
  src/view/sheets/components/HitDiceBar.svelte
  src/view/sheets/components/HitPointBar.svelte
Due: biome-fix-staged, prettier-svelte

test(sheet): read and correct a promoted pool through the header
  tests/integration/sheetResourceBar.test.ts
Due: biome-fix-staged

fix(spells): bound the overdraft consequence by the declaring class level
  docs/documentation/homebrew/character-options.md
  public/lang/en.json
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
  types/spellCost.d.ts
Due: biome-fix-staged

test(sheet): cover resetting the spell tier override
  src/view/sheets/pages/PlayerCharacterSettingsTabState.svelte.test.ts
Due: biome-fix-staged

docs(spells): say which actors have no spell tier ladder
  docs/documentation/homebrew/spells.md
Due: none

test(migration): drop the Migration048 output test
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
Due: biome-fix-staged

chore(migration): renumber the Shadowmancer Pilfered Power migration to 052
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(spells): localize the cast dialog's mana cost line
  src/view/dialogs/SpellUpcastDialog.svelte
Due: prettier-svelte

fix(shadowmancer): bound the overdraft at level 11 and clear stale mana
  packs/classes/core/shadowmancer.json
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

test(spells): follow the level-up card's cost label
  src/view/dialogs/components/levelUpHelper/LevelUpSpellCard.svelte.test.ts
  tests/harnesses/LevelUpSpellCardStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

chore(types): drop the unread type field from SpellCostActorLike
  types/spellCost.d.ts
Due: biome-fix-staged

fix(spells): charge a non-scaling spell its own tier under a pinned cast tier
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

feat(class): edit class spellcasting on the class sheet
  public/lang/en.json
  src/config.ts
  src/view/sheets/ClassSheet.state.svelte.test.ts
  src/view/sheets/ClassSheet.state.svelte.ts
  src/view/sheets/ClassSheet.svelte
  src/view/sheets/ClassSheetUtils.ts
Due: biome-fix-staged, prettier-svelte

docs(migration): describe the rule back-fill in the class docblock
  src/migration/migrations/Migration052ShadowmancerPilferedPower.ts
Due: biome-fix-staged

feat(shadowmancer): Pilfered Power as a charge pool with a pool spell cost
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/pilfered-power.json
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/heart-of-burning-fire.json
  packs/classes/core/shadowmancer.json
  src/utils/classProgression/shadowmancer.expect.ts
Due: biome-fix-staged

fix(spells): render the pool cost label through the language file
  public/lang/en.json
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
Due: biome-fix-staged

docs(spells): document pool spell costs and the Greedy Pact limitation
  docs/documentation/characters/character-sheet.md
Due: none

test(spells): exercise the overdraw re-check on a pool that refills
  src/utils/spell/paySpellCost.test.ts
Due: biome-fix-staged

fix(spells): bound every cast by the caster's unlocked tier
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/spell/spellCost.test.ts
  src/utils/spell/spellCost.ts
Due: biome-fix-staged

fix(activation): hold dialog spends until the use is allowed
  src/managers/ItemActivationManager.poolNode.test.ts
Due: biome-fix-staged

docs(characters): document the spell tier override and the scroll warning
  docs/documentation/characters/character-sheet.md
  docs/documentation/characters/creation.md
Due: none

fix(shadowmancer): regain Pilfered Power on the initiative roll
  packs/classFeatures/core/shadowmancer/shadowmancer-subclasses/pact-of-the-red-dragon/heart-of-burning-fire.json
  src/migration/migrations/Migration048ShadowmancerPilferedPower.test.ts
  src/migration/migrations/Migration048ShadowmancerPilferedPower.ts
Due: biome-fix-staged

test(actor): cover the spell tier override against derivation
  src/documents/actor/prepareHighestUnlockedSpellTier.test.ts
Due: biome-fix-staged

fix(spells): refuse the spend when the declared pool is gone
  src/utils/spell/spendSpellCost.test.ts
  src/utils/spell/spendSpellCost.ts
Due: biome-fix-staged
