Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

test(classProgression): extract expectation reports into .expect sidecars
  src/utils/classProgression/berserker.expect.ts
  src/utils/classProgression/berserker.test.ts
  src/utils/classProgression/hunter.expect.ts
  src/utils/classProgression/hunter.test.ts
  src/utils/classProgression/mage.expect.ts
  src/utils/classProgression/mage.test.ts
  src/utils/classProgression/oathsworn.expect.ts
  src/utils/classProgression/oathsworn.test.ts
  src/utils/classProgression/shadowmancer.expect.ts
  src/utils/classProgression/shadowmancer.test.ts
  src/utils/classProgression/shepherd.expect.ts
  src/utils/classProgression/shepherd.test.ts
  src/utils/classProgression/songweaver.expect.ts
  src/utils/classProgression/songweaver.test.ts
  src/utils/classProgression/stormshifter.expect.ts
  src/utils/classProgression/stormshifter.test.ts
  src/utils/classProgression/the-cheat.expect.ts
  src/utils/classProgression/the-cheat.test.ts
  src/utils/classProgression/zephyr.expect.ts
  src/utils/classProgression/zephyr.test.ts
Due: biome-fix-staged

fix(levelUp): add missing selectOption/deselectOption aria strings
  public/lang/en.json
Due: biome-fix-staged

refactor(levelUp): extract isLevelUpOptionApplicable and drop redundant casts
  docs/STYLE_GUIDE.md
  src/utils/getClassFeatures.ts
  src/utils/isLevelUpOptionApplicable.ts
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.utils.ts
Due: biome-fix-staged

test(classProgression): consolidate Report types and enumerate subclass data
  src/utils/classProgression/berserker.expect.ts
  src/utils/classProgression/hunter.expect.ts
  src/utils/classProgression/mage.expect.ts
  src/utils/classProgression/oathsworn.expect.ts
  src/utils/classProgression/shadowmancer.expect.ts
  src/utils/classProgression/shadowmancer.test.ts
  src/utils/classProgression/shepherd.expect.ts
  src/utils/classProgression/songweaver.expect.ts
  src/utils/classProgression/stormshifter.expect.ts
  src/utils/classProgression/the-cheat.expect.ts
  src/utils/classProgression/zephyr.expect.ts
  tests/fixtures/classProgression.types.ts
Due: biome-fix-staged

test(levelUp): cover option-picker auto-select and level-down pool bonuses
  src/view/dialogs/CharacterLevelDownDialogState.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.test.ts
  tests/harnesses/CharacterLevelDownStateHarness.svelte
  tests/harnesses/FeatureOptionPickerStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

docs(testing): add compendium-vs-vault class-feature audit
  docs/testing/compendium-vs-vault-audit.md
Due: none

fix(tests): don't await browser setup in pool worker start
  tests/integration/pool.ts
Due: biome-fix-staged

docs: make screenshot placeholders visible on rendered pages
  docs/documentation/characters/advancement.md
  docs/documentation/characters/character-sheet.md
  docs/documentation/characters/creation.md
  docs/documentation/core-concepts.md
  docs/documentation/gm/combat.md
  docs/documentation/gm/import-export.md
  docs/documentation/gm/macros.md
  docs/documentation/gm/monsters.md
  docs/documentation/homebrew/activations.md
  docs/documentation/homebrew/character-options.md
  docs/documentation/homebrew/enrichers.md
  docs/documentation/homebrew/index.md
  docs/documentation/homebrew/items.md
  docs/documentation/homebrew/monsters.md
  docs/documentation/homebrew/spells.md
  docs/documentation/index.md
  docs/documentation/installation.md
  docs/documentation/playing/conditions.md
  docs/documentation/playing/dice-and-chat.md
  docs/documentation/playing/rest-and-recovery.md
  docs/documentation/rules-builder/formulas.md
  docs/documentation/rules-builder/index.md
  docs/documentation/rules-builder/predicates.md
Due: none

docs: drop screenshot placeholders for base Foundry UI
  docs/documentation/gm/macros.md
  docs/documentation/gm/monsters.md
  docs/documentation/installation.md
Due: none

refactor(levelUp): address PR #800 review follow-ups
  docs/testing/class-progression-test-report.html
  docs/testing/compendium-vs-vault-audit.md
  src/documents/actor/character.ts
  src/migration/migrations/Migration028CombatDiceMaxFormula.ts
  src/view/dialogs/CharacterLevelUpDialog.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.test.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.utils.ts
  tests/harnesses/FeatureOptionPickerStateHarness.svelte
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

feat(levelUp): add parent progression items for class ability selection groups
  packs/classFeatures/core/commander/commander-progression/commanders-orders.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/direbeast-form.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/expert-shifter.json
  packs/ids.json
Due: biome-fix-staged

fix(compendia): correct Commander's Orders level progression
  packs/classFeatures/core/commander/commander-progression/commanders-orders.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/classFeatures/core/commander/commanders-order/reposition.json
Due: biome-fix-staged

fix(compendia): fix icons and levels on parent progression items
  packs/classFeatures/core/berserker/berserker-progression/savage-arsenal.json
  packs/classFeatures/core/commander/commander-progression/commanders-orders.json
  packs/classFeatures/core/commander/commanders-order/face-me.json
  packs/classFeatures/core/commander/commanders-order/hold-the-line.json
  packs/classFeatures/core/commander/commanders-order/i-can-do-this-all-day.json
  packs/classFeatures/core/commander/commanders-order/move-it-move-it.json
  packs/classFeatures/core/commander/commanders-order/reposition.json
  packs/classFeatures/core/mage/mage-progression/spell-shaper.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/sacred-decree.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/gift-from-the-master.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/the-pact-is-sealed.json
  packs/classFeatures/core/shepherd/shepherd-progression/sacred-graces.json
  packs/classFeatures/core/songweaver/songweaver-progression/a-people-person.json
  packs/classFeatures/core/songweaver/songweaver-progression/lyrical-weaponry.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/underhanded-abilities.json
  packs/classFeatures/core/zephyr/zephyr-progression/martial-arts-ability.json
Due: biome-fix-staged

fix(compendia): reconcile parent items with #800 selection-group ownership
  packs/classFeatures/core/commander/commander-progression/commanders-orders.json
  packs/classFeatures/core/mage/mage-progression/spell-shaper.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/direbeast-form.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/expert-shifter.json
Due: biome-fix-staged

fix(compendia): update selection-group parent progression icons (#801)
  packs/classFeatures/core/berserker/berserker-progression/savage-arsenal.json
  packs/classFeatures/core/mage/mage-progression/spell-shaper.json
  packs/classFeatures/core/oathsworn/oathsworn-progression/sacred-decree.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/gift-from-the-master.json
  packs/classFeatures/core/shadowmancer/shadowmancer-progression/the-pact-is-sealed.json
  packs/classFeatures/core/shepherd/shepherd-progression/sacred-graces.json
  packs/classFeatures/core/songweaver/songweaver-progression/a-people-person.json
  packs/classFeatures/core/songweaver/songweaver-progression/lyrical-weaponry.json
  packs/classFeatures/core/the-cheat/the-cheat-progression/underhanded-abilities.json
  packs/classFeatures/core/zephyr/zephyr-progression/martial-arts-ability.json
  packs/ids.json
Due: biome-fix-staged

feat(ancestry): confirm/swap step for ancestry bonus + fix card layout
  packs/ancestries/core/common/dwarf.json
  packs/ancestries/core/exotic/goblin.json
  packs/ancestries/core/exotic/kobold.json
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(charges): don't auto-consume charges when no chargeConsumer rule exists
  src/utils/chargePool/helpers.ts
  src/utils/chargePoolService.test.ts
Due: biome-fix-staged

fix(charges): don't auto-consume charges when no chargeConsumer rule exists (#850)
  src/utils/chargePool/helpers.ts
  src/utils/chargePoolService.test.ts
Due: biome-fix-staged

docs: state explicitly that a Charge Pool alone never spends charges
  docs/documentation/homebrew/items.md
  docs/documentation/reference/_partials/chargePool.md
Due: none

feat(rules): add damageReduction foundation rule (#580)
  public/lang/en.json
  src/config/registerRulesConfig.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/models/rules/damageReduction.test.ts
  src/models/rules/damageReduction.ts
Due: biome-fix-staged

feat(rules): bank manual dice spends as one-shot damage reduction
  docs/system/rules.md
  packs/classFeatures/core/berserker/berserker-progression/that-all-you-got.json
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/bankedDamageReduction.test.ts
  src/utils/bankedDamageReduction.ts
  src/utils/dicePool/dicePoolConsumers.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/types.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
Due: biome-fix-staged

feat(dicePool): open the spend panel when a manual consumer item is activated
  public/lang/en.json
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/dicePool/types.ts
  src/view/sheets/components/DicePoolPanel.svelte
  src/view/sheets/components/DicePoolPanel.svelte.ts
  src/view/sheets/components/DicePoolTracker.svelte
  src/view/sheets/components/DicePoolTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): only play the dice sound when an activation actually rolled
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
Due: biome-fix-staged

chore(packs): shorten "That all you got?!" usage note to click-to-use
  packs/classFeatures/core/berserker/berserker-progression/that-all-you-got.json
Due: biome-fix-staged

docs: state that the system only implements officially released rules
  docs/documentation/index.md
Due: none

docs: drop redundant Rules Builder screenshot from the welcome page
  docs/documentation/index.md
Due: none

docs: show the Rules Builder window screenshot in the builder tour
  docs/documentation/rules-builder/index.md
Due: none

feat(effects): never hide Active Effects
  src/documents/actor/base.svelte.ts
  src/view/components/ActorConditionsList.svelte
Due: biome-fix-staged, prettier-svelte

feat(dicePool): store banked damage reduction as a visible Active Effect
  docs/system/rules.md
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/utils/bankedDamageReduction.test.ts
  src/utils/bankedDamageReduction.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
Due: biome-fix-staged

feat(rules): let rules suppress redundant activation cards
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
  src/models/rules/base.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
Due: biome-fix-staged

docs: split the official-rules note and caveat that core mechanics aren't homebrewable
  docs/documentation/index.md
Due: none

fix(chat): apply banked damage reduction once per actor and per card
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
Due: biome-fix-staged

fix(effects): include item-transferred effects in token status icons
  src/documents/actor/base.svelte.ts
Due: biome-fix-staged

refactor(items): share the activation-card creation tail
  src/documents/item/base.svelte.ts
  src/documents/item/spell.ts
Due: biome-fix-staged

refactor(rules): share dice-detection and actor-array push helpers
  src/models/rules/base.ts
  src/models/rules/damageBonus.ts
  src/models/rules/damageReduction.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
