Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

Remove Spanish and French Translation Placeholders.
  public/lang/es.json
  public/lang/fr.json
Due: biome-fix-staged

refactor: extract character creation logic into separate modules
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/constants.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/characterCreation/utils.ts
Due: biome-fix-staged, prettier-svelte

refactor: use proper types instead of any for character creation
  src/documents/item/item.d.ts
  src/models/rules/rule.d.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/characterCreation/utils.ts
Due: biome-fix-staged

feat: display detailed spell cards for spell references in features
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  types/components/ClassFeatureSelection.d.ts
  types/components/SpellReferenceCard.d.ts
Due: biome-fix-staged, prettier-svelte

fix: only show red/green dice styling on Primary Die
  src/view/dataPreparationHelpers/rollTooltips/prepareRollTooltipDiceResults.ts
Due: biome-fix-staged

Fix: Remove combatant when token deleted, fix death state
  src/hooks/combatantDefeatSync.ts
  src/hooks/combatantHealthStateSync.ts
  src/hooks/tokenCombatantSync.ts
  src/nimble.ts
Due: biome-fix-staged

Add tests for combat sync hooks
  src/hooks/combatantDefeatSync.test.ts
  src/hooks/combatantHealthStateSync.test.ts
  src/hooks/tokenCombatantSync.test.ts
  tests/fixtures/combat.ts
  tests/mocks/combat.ts
Due: biome-fix-staged

Update es.json
  public/lang/es.json
Due: biome-fix-staged

fix(ui): add img-wrapper with ::after for pseudo border
  src/scss/components/_document-card.scss
  src/view/components/ActorConditionsList.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: prettier-svelte

fix(ui): replace `__img` border with `::after` overlay divider (#506)
  src/scss/components/_document-card.scss
  src/view/components/ActorConditionsList.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
  src/view/sheets/pages/PlayerCharacterSpellsTab.svelte
Due: prettier-svelte

Updated es.json (#505)
  public/lang/es.json
Due: biome-fix-staged

fix(inventory): make equipped the source of truth for object rule state (#495)
  public/lang/en.json
  src/documents/item/item.d.ts
  src/documents/item/object.ts
  src/managers/RulesManager.test.ts
  src/managers/RulesManager.ts
  src/managers/manager.d.ts
  src/models/item/ObjectDataModel.ts
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(combat): apply NPC armor rules in combat damage application
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/DamageRoll.svelte
Due: biome-fix-staged, prettier-svelte

chore: add GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: use feature request label for feature issue template
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

chore: add GitHub issue and PR templates (#512)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: only show red/green dice styling on Primary Die (#502)
  src/view/dataPreparationHelpers/rollTooltips/prepareRollTooltipDiceResults.ts
Due: biome-fix-staged

Enhancement/convert to spaces (#461)
  src/config/registerDocumentConfig.ts
  src/documents/scene/scene.test.ts
  src/documents/scene/scene.ts
  src/hooks/init.ts
  tests/mocks/foundry.ts
  types/scene.ts
Due: biome-fix-staged

Turn completion for non-players is now based on turn progression, not just on action count.
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenBadges.ts
  src/models/combatant/NPCCombatantDataModel.ts
  src/models/combatant/SoloMonsterCombatantDataModel.ts
Due: biome-fix-staged

Refactor: Organize combatant hooks and extract shared test helpers
  src/hooks/combatantHooks/combatantDefeatSync.test.ts
  src/hooks/combatantHooks/combatantDefeatSync.ts
  src/hooks/combatantHooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHooks/combatantHealthStateSync.ts
  src/hooks/combatantHooks/tokenCombatantSync.test.ts
  src/hooks/combatantHooks/tokenCombatantSync.ts
  src/nimble.ts
  tests/helpers.ts
  tests/mocks/combat.ts
Due: biome-fix-staged

fix: address PR review comments for class feature selection
  public/lang/en.json
  src/documents/item/item.d.ts
  src/utils/getClassFeatures.ts
  src/utils/scrollIntoView.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/characterCreation/utils.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
Due: biome-fix-staged, prettier-svelte

Agents.md updates
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/layout.utils.test.ts
  src/view/ui/ctTopTracker/layout.utils.ts
Due: biome-fix-staged, prettier-svelte

Agents.md update fixes
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
Due: biome-fix-staged

Default change width from 10 to 5
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/ui/ctTopTracker/layout.utils.ts
Due: biome-fix-staged

fix: make action dice discrete and show tooltips to the right (#494)
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
Due: biome-fix-staged, prettier-svelte

refactor: extract Svelte component logic into state files
  src/utils/getClassFeatures.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
Due: biome-fix-staged, prettier-svelte

chore: added comment
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

feature(actor): add HP scrolling text and centralize HP manipulation flow
  src/documents/actor/actor.d.ts
  src/documents/actor/base.svelte.ts
  src/documents/actor/character.ts
  src/documents/actor/hpScrollingTextColors.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

perf: build class feature index once when dialog opens
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/characterCreation/utils.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix: cache class feature index across dialog re-renders
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
Due: biome-fix-staged

Fix: Remove combatant when token deleted, fix death state (#503)
  src/hooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHooks/combatantDefeatSync.test.ts
  src/hooks/combatantHooks/combatantDefeatSync.ts
  src/hooks/combatantHooks/combatantHealthStateSync.test.ts
  src/hooks/combatantHooks/combatantHealthStateSync.ts
  src/hooks/combatantHooks/tokenCombatantSync.test.ts
  src/hooks/combatantHooks/tokenCombatantSync.ts
  src/nimble.ts
  tests/fixtures/combat.ts
  tests/helpers.ts
  tests/mocks/combat.ts
Due: biome-fix-staged

chore(packs): added speedbonus to zephyr and lodging boon
  packs/boons/core/lodging/plus-1-speed.json
  packs/classFeatures/core/zephyr/zephyr-progression/swift-feet.json
Due: biome-fix-staged

feat: add class feature grants during character creation (#497)
  public/lang/en.json
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/item/item.d.ts
  src/models/rules/rule.d.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/constants.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/types.ts
  src/view/dialogs/characterCreation/utils.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureCard.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte
  src/view/dialogs/components/characterCreator/SpellReferenceCard.svelte.ts
  types/components/ClassFeatureSelection.d.ts
  types/components/SpellReferenceCard.d.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): enforce armor-adjusted damage and improve apply-damage UX
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/RollSummary.svelte
  types/components/RollSummary.d.ts
Due: biome-fix-staged, prettier-svelte

fix(ncsw): preserve user targets when group attack panel refreshes
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

fix(combat): prevent end-turn refill races for hero actions and heroic reactions
  src/documents/combat/combat.svelte.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged, prettier-svelte

chore(style): add lang="ts" marker and document queued combat action utility
  docs/STYLE_GUIDE.md
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: prettier-svelte

fix(chat): treat non-positive damage totals as no-damage and show feedback
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
Due: biome-fix-staged
