Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-fix-staged:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    prettier-svelte:
      glob: "*.svelte"
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  output:
    colored: false
    meta: false
  env:
    NO_COLOR: "1"
    FORCE_COLOR: "0"
    CLICOLOR: "0"
    CLICOLOR_FORCE: "0"
    TERM: "dumb"
  commands:
    check:
      glob: "*.{js,ts,mjs,mts,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --error-on-warnings --files-ignore-unknown=true {push_files} 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    typecheck:
      run: npm run type-check 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'
    tests:
      glob: "*.{js,ts,mjs,mts,svelte}"
      run: npm run test 2>&1 | sed -E 's/\x1b\[[0-9;]*[a-zA-Z]//g; s/\x1b\]11;rgb:[^;]*;[^R]*R//g'

fix: Apply NPC Armor rules in combat damage application (#507)
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/DamageRoll.svelte
  src/view/chat/components/RollSummary.svelte
  types/components/RollSummary.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(combat): extract shared turn-progress helpers to src/utils/
  src/hooks/minionGroupTokenBadges.ts
  src/utils/combatTurnProgress.ts
  src/view/ui/ctTopTracker/combat.utils.ts
Due: biome-fix-staged

fix: monsters marked as finished their turn on their turn (#513)
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/hooks/minionGroupTokenBadges.ts
  src/models/combatant/NPCCombatantDataModel.ts
  src/models/combatant/SoloMonsterCombatantDataModel.ts
  src/utils/combatTurnProgress.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.ts
Due: biome-fix-staged

fix(combat-tracker): clean up layout width test
  src/view/ui/ctTopTracker/layout.utils.test.ts
Due: biome-fix-staged

Combat Tracker window width (#514)
  src/settings/combatTrackerSettings.test.ts
  src/settings/combatTrackerSettings.ts
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/layout.utils.test.ts
  src/view/ui/ctTopTracker/layout.utils.ts
Due: biome-fix-staged, prettier-svelte

Iniative dupe fix
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combatant/combatant.svelte.test.ts
  src/documents/combatant/combatant.svelte.ts
  src/utils/initiativeRollLock.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  tests/fixtures/combat.ts
Due: biome-fix-staged, prettier-svelte

fix(combat): simplify _preUpdate and remove redundant lock guards
  src/documents/combatant/combatant.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

fix: duplicate initiative (#515)
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  src/documents/combatant/combatant.svelte.test.ts
  src/documents/combatant/combatant.svelte.ts
  src/utils/initiativeRollLock.ts
  src/view/sheets/components/ActionTracker.svelte
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
  src/view/ui/ctTopTracker/combat.utils.ts
  tests/fixtures/combat.ts
Due: biome-fix-staged, prettier-svelte

fix(ncsw): preserve user targets when group attack panel refreshes (#518)
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

Tooltip reversed
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

fix: reversed tooltips in combat tracker (#521)
  src/view/ui/CtTopTracker.svelte
Due: prettier-svelte

chore(packs): added speedbonus to zephyr and lodging boon (#517)
  packs/boons/core/lodging/plus-1-speed.json
  packs/classFeatures/core/zephyr/zephyr-progression/swift-feet.json
Due: biome-fix-staged

chore: added different backup images for heroes/monsters
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

chore: added different backup images for heroes/monsters (#522)
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

fix: add backup images
  src/utils/combatantImage.test.ts
  src/utils/combatantImage.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
Due: biome-fix-staged, prettier-svelte

Turn Tracking fix
  src/utils/combatTurnSync.test.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
Due: biome-fix-staged

fix: revert to default FoundryVTT actor img
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

fix: add backup images (#524)
  src/utils/combatantImage.test.ts
  src/utils/combatantImage.ts
  src/view/sheets/NPCSheet.svelte
  src/view/sheets/PlayerCharacterSheet.svelte
  src/view/ui/CtTopTracker.svelte
  src/view/ui/ctTopTracker/constants.ts
  src/view/ui/ctTopTracker/resources.utils.ts
Due: biome-fix-staged, prettier-svelte

fix: Turn Tracking (#525)
  src/utils/combatTurnSync.test.ts
  src/view/ui/ctTopTracker/combat.utils.ts
  src/view/ui/ctTopTracker/combatTracker.utils.test.ts
  src/view/ui/ctTopTracker/topTrackerStore.svelte.test.ts
Due: biome-fix-staged

chore(release): v0.8.1
  CHANGELOG.md
  package.json
  public/system.json
Due: biome-fix-staged

fix: Combat tracker invisible area no longer blocks canvas clicks (#476)
  src/view/ui/CtTopTracker.state.svelte.ts
  src/view/ui/CtTopTracker.svelte
Due: biome-fix-staged, prettier-svelte

fix: Half-Giant Dwarvish predicate not evaluating INT condition
  src/documents/actor/character.ts
Due: biome-fix-staged

fix(combat-system): respect activation cost quantity when consuming combat actions (#477)
  docs/STYLE_GUIDE.md
  src/documents/combat/combatCommon.ts
  src/documents/combat/combatMinionAttacks.ts
  src/documents/combat/combatTypes.ts
  src/hooks/minionGroupTokenActions.ts
  src/utils/combatTurnActions.ts
  src/utils/minionGroupAttackSession.ts
  src/utils/resolveItemActionCost.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(ui): fix conditions menu being incorrectly oversized (#500)
  public/lang/en.json
  src/view/pixi/NimbleTokenHUD.svelte
Due: biome-fix-staged, prettier-svelte

test(combat-system): add tests for resolveItemActionCost and multi-action costs (#477)
  src/utils/combatTurnActions.test.ts
  src/utils/resolveItemActionCost.test.ts
Due: biome-fix-staged

fix(chat): fix minion roll chat propagation and field rest mana feedback (#478, #481)
  public/lang/en.json
  src/config.ts
  src/documents/chatMessage.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combatCommon.ts
  src/hooks/renderChatMessage.ts
  src/managers/RestManager.ts
  src/models/chat/FieldRestCardDataModel.ts
  src/view/chat/FieldRestCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(style): replace hardcoded colors with CSS custom properties in FieldRestCard
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/chat/FieldRestCard.svelte
Due: prettier-svelte

fix(ui): fix conditions menu being incorrectly oversized (#500) (#532)
  public/lang/en.json
  src/view/pixi/NimbleTokenHUD.svelte
Due: biome-fix-staged, prettier-svelte

fix(combat-tracker): allow targeting friendly-disposition tokens (#469)
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

fix(combat-tracker): allow targeting friendly-disposition tokens (#469) (#533)
  src/hooks/minionGroupTokenActions.ts
Due: biome-fix-staged

fix(chat): fix minion roll chat propagation and field rest mana feedback (#478, #481) (#535)
  public/lang/en.json
  src/config.ts
  src/documents/chatMessage.ts
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combatCommon.ts
  src/hooks/renderChatMessage.ts
  src/managers/RestManager.ts
  src/models/chat/FieldRestCardDataModel.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/chat/FieldRestCard.svelte
Due: biome-fix-staged, prettier-svelte

fix(combat): serialize combatant action mutations with fresh document resolution
  docs/STYLE_GUIDE.md
  src/documents/combat/combat.svelte.ts
  src/utils/combatTurnActions.test.ts
  src/utils/combatTurnActions.ts
  src/utils/combatantActionMutationQueue.test.ts
  src/utils/combatantActionMutationQueue.ts
  src/utils/queueCombatantMutationWithFreshDocument.test.ts
  src/utils/queueCombatantMutationWithFreshDocument.ts
  src/view/sheets/components/ActionTracker.svelte.ts
  src/view/sheets/pages/PlayerCharacterHeroicActionsTab.svelte.ts
  src/view/ui/CtTopTracker.state.svelte.ts
Due: biome-fix-staged

refactor(chat-hp): remove defensive actor HP fallbacks and align style ordering
  src/documents/actor/base.svelte.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/sheets/NPCSheet.svelte
Due: biome-fix-staged, prettier-svelte

chore(compendium): Fix granted levels
  packs/classFeatures/core/hunter/hunter-subclasses/keeper-of-the-wildheart/resourceful-herbalist.json
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormborn-1.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormborn-2.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-fang-and-claw/master-of-forms-2.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-fang-and-claw/master-of-forms.json
Due: biome-fix-staged

style: improve pc creator UI consistency
  src/scss/components/_card.scss
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/StartingEquipmentSelection.svelte
  src/view/dialogs/components/characterCreator/StatAssignment.svelte
Due: prettier-svelte

feature(inventory): allow equipping any object item with rules.
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

feature(inventory): allow equipping any object item with rules. (#539)
  src/view/sheets/pages/PlayerCharacterInventoryTab.svelte
Due: prettier-svelte

chore(compendium): Fix granted levels (#536)
  packs/classFeatures/core/hunter/hunter-subclasses/keeper-of-the-wildheart/resourceful-herbalist.json
  packs/classFeatures/core/mage/mage-progression/elemental-mastery.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormborn-1.json
  packs/classFeatures/core/stormshifter/stormshifter-progression/stormborn-2.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-fang-and-claw/master-of-forms-2.json
  packs/classFeatures/core/stormshifter/stormshifter-subclasses/circle-of-fang-and-claw/master-of-forms.json
Due: biome-fix-staged
