Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

docs: cover card-side dice spends in the user documentation
  docs/documentation/playing/dice-and-chat.md
  docs/documentation/reference/_partials/diceConsumer.md
Due: none

fix(chat): rename the card's Reactions section to Options
  docs/documentation/playing/dice-and-chat.md
  public/lang/en.json
Due: biome-fix-staged

fix(chat): carry a folded card-side spend across a reroll
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/utils/foldBonusIntoPrimaryDamage.ts
Due: biome-fix-staged

docs: gather the context-only formula references in one place
  docs/documentation/reference/_partials/diceConsumer.md
  docs/documentation/reference/_partials/dicePool.md
  docs/documentation/rules-builder/formulas.md
Due: none

fix(chat): serialize reaction writes per card
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/utils/incomingAttackReactions.ts
Due: biome-fix-staged

fix(chat): tell the spending player why the GM refused their spend
  src/documents/chatMessage.ts
  src/utils/incomingAttackReactions.test.ts
  src/utils/incomingAttackReactions.ts
  src/view/chat/components/IncomingReactionPrompts.svelte
Due: biome-fix-staged, prettier-svelte

docs(rules): move card-side pool spends out of the modifier list
  docs/system/rules.md
  src/documents/chatMessage.test.ts
  src/view/dialogs/PoolSpendOfferDialog.svelte
  types/components/PoolSpendOfferDialog.d.ts
Due: biome-fix-staged, prettier-svelte

test(chat): cover the card-side spend offer UI
  src/view/chat/components/IncomingReactionPrompts.test.ts
Due: biome-fix-staged

feat(rules): offer dice-consumer spends on the attack card (#887)
  docs/STYLE_GUIDE.md
  docs/documentation/playing/dice-and-chat.md
  docs/documentation/reference/_partials/diceConsumer.md
  docs/documentation/reference/_partials/dicePool.md
  docs/documentation/rules-builder/formulas.md
  docs/system/rules.md
  packs/classFeatures/core/berserker/savage-arsenal/death-blow.json
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/documents/dialogs/PoolSpendOfferDialog.svelte.ts
  src/managers/ItemActivationManager.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration034DeathBlowCardOffer.ts
  src/migration/migrations/index.ts
  src/models/chat/common.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/dicePool/dicePoolConsumers.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/substituteSpendFormula.ts
  src/utils/dicePool/types.ts
  src/utils/foldBonusIntoPrimaryDamage.test.ts
  src/utils/foldBonusIntoPrimaryDamage.ts
  src/utils/incomingAttackModifiers.test.ts
  src/utils/incomingAttackModifiers.ts
  src/utils/incomingAttackReactions.test.ts
  src/utils/incomingAttackReactions.ts
  src/utils/incomingReactionEntry.ts
  src/utils/poolSpendCardOffers.test.ts
  src/utils/poolSpendCardOffers.ts
  src/view/chat/components/IncomingReactionPrompts.svelte
  src/view/chat/components/IncomingReactionPrompts.test.ts
  src/view/dialogs/PoolSpendOfferDialog.svelte
  src/view/sheets/components/AttackActionPanel.svelte
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
  types/components/PoolSpendOfferDialog.d.ts
Due: biome-fix-staged, prettier-svelte

refactor(attacks): extract the shared attack-delivery classifier
  docs/STYLE_GUIDE.md
  src/utils/attackDelivery.test.ts
  src/utils/attackDelivery.ts
  src/utils/conditionalBonuses.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged

fix(chat): drop and re-check card offers the outcome no longer supports
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
Due: biome-fix-staged

feat(rules): filter card-side dice spends by attack delivery
  src/macros/activateHeroicActionMacro.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/incomingAttackModifiers.test.ts
  src/utils/incomingAttackModifiers.ts
  src/utils/poolSpendCardOffers.test.ts
  src/utils/poolSpendCardOffers.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
Due: biome-fix-staged

docs(rules): document the attack-delivery filter on card offers
  docs/documentation/reference/_partials/diceConsumer.md
  docs/system/rules.md
Due: none

feat(rules): filter card-side dice spends by attack delivery (#888)
  docs/STYLE_GUIDE.md
  docs/documentation/reference/_partials/diceConsumer.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/macros/activateHeroicActionMacro.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/attackDelivery.test.ts
  src/utils/attackDelivery.ts
  src/utils/conditionalBonuses.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/dicePoolRuleConfig.ts
  src/utils/dicePool/helpers.test.ts
  src/utils/dicePool/helpers.ts
  src/utils/incomingAttackModifiers.test.ts
  src/utils/incomingAttackModifiers.ts
  src/utils/poolSpendCardOffers.test.ts
  src/utils/poolSpendCardOffers.ts
  src/view/dialogs/itemActivationConfigDialogHelpers.ts
  src/view/dialogs/itemActivationConfigDialogState.svelte.ts
  src/view/sheets/components/AttackActionPanel.svelte.ts
  src/view/sheets/components/OpportunityAttackPanel.svelte.ts
  types/components/ItemActivationConfigDialog.d.ts
Due: biome-fix-staged

feat(rules): add a damage type to the dice-consumer card offer
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/types.ts
Due: biome-fix-staged

feat(chat): apply a typed card-offer spend as its own damage packet
  docs/STYLE_GUIDE.md
  docs/documentation/reference/_partials/diceConsumer.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/utils/appendTypedBonusDamage.test.ts
  src/utils/appendTypedBonusDamage.ts
  src/utils/foldBonusIntoPrimaryDamage.ts
Due: biome-fix-staged

fix(effects): surface typed bonus damage on hit cards
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/utils/treeManipulation/createBonusDamageNode.test.ts
  src/utils/treeManipulation/createBonusDamageNode.ts
Due: biome-fix-staged

feat(rules): add a damage type to the dice-consumer card offer (#889)
  docs/STYLE_GUIDE.md
  docs/documentation/reference/_partials/diceConsumer.md
  docs/system/rules.md
  public/lang/en.json
  src/documents/chatMessage.ts
  src/documents/chatMessageSpendOffer.test.ts
  src/managers/ItemActivationManager.test.ts
  src/managers/ItemActivationManager.ts
  src/models/rules/diceConsumer.test.ts
  src/models/rules/diceConsumer.ts
  src/utils/appendTypedBonusDamage.test.ts
  src/utils/appendTypedBonusDamage.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/types.ts
  src/utils/foldBonusIntoPrimaryDamage.ts
  src/utils/treeManipulation/createBonusDamageNode.test.ts
  src/utils/treeManipulation/createBonusDamageNode.ts
Due: biome-fix-staged

feat(chat): apply damage once per card instead of once per damage node
  docs/documentation/reference/_partials/diceConsumer.md
  docs/system/rules.md
  src/documents/chatMessageDamageApplication.test.ts
  src/view/chat/components/ApplyDamageButton.svelte
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/DamageRoll.svelte
  src/view/chat/components/ItemCardEffects.svelte
  src/view/chat/components/RollSummary.svelte
  types/components/ApplyDamageButton.d.ts
  types/components/RollSummary.d.ts
Due: biome-fix-staged, prettier-svelte

fix(chat): keep an Apply Damage control on save-gated damage
  docs/documentation/reference/_partials/diceConsumer.md
  docs/system/rules.md
  src/documents/chatMessage.ts
  src/documents/chatMessageDamageApplication.test.ts
  src/view/chat/components/ApplyDamageButton.svelte
  src/view/chat/components/ItemCardEffects.test.ts
  src/view/chat/components/ItemCardEffects.testHarness.svelte
  src/view/chat/components/SavingThrowNode.svelte
  types/components/ApplyDamageButton.d.ts
Due: biome-fix-staged, prettier-svelte

feat(damage): apply a card's damage packets in one pass
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
Due: biome-fix-staged

feat(chat): apply a card's damage in one pass, once per attack (#890)
  docs/documentation/reference/_partials/diceConsumer.md
  docs/system/rules.md
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/documents/chatMessageDamageApplication.test.ts
  src/view/chat/components/ApplyDamageButton.svelte
  src/view/chat/components/DamageNode.svelte
  src/view/chat/components/DamageRoll.svelte
  src/view/chat/components/ItemCardEffects.svelte
  src/view/chat/components/ItemCardEffects.test.ts
  src/view/chat/components/ItemCardEffects.testHarness.svelte
  src/view/chat/components/RollSummary.svelte
  src/view/chat/components/SavingThrowNode.svelte
  types/components/ApplyDamageButton.d.ts
  types/components/RollSummary.d.ts
Due: biome-fix-staged, prettier-svelte

fix(level-up): keep duplicate-source groups out of the class sheet
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/scss/base/_variables.scss
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/utils/getEffectiveSelectionMax.test.ts
  src/utils/getEffectiveSelectionMax.ts
  src/utils/getItemSource.ts
  src/view/components/SourceTag.svelte
  src/view/dialogs/CharacterLevelUpDialogState.svelte.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.test.ts
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpFeatureOptionPicker.svelte
  src/view/sheets/components/ClassProgressionLevelRow.svelte
  src/view/sheets/pages/ClassProgressionTab.state.svelte.ts
  src/view/sheets/pages/ClassProgressionTab.svelte
  src/view/sheets/pages/ClassProgressionTabUtils.ts
  tests/harnesses/ClassFeatureSelectionStateHarness.svelte
  types/components/ClassFeatureSelection.d.ts
  types/components/ClassProgressionTab.d.ts
  types/components/SourceTag.d.ts
Due: biome-fix-staged, prettier-svelte

feat(level-up): show duplicate class features with source labels and selection
  public/lang/en.json
  src/utils/getClassFeatures.test.ts
  src/utils/getClassFeatures.ts
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte
  src/view/dialogs/components/characterCreator/ClassFeatureSelection.svelte.ts
  src/view/dialogs/components/characterCreator/FeatureCard.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte
  src/view/dialogs/components/characterCreator/FeatureGroupSelection.svelte.ts
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte
  src/view/dialogs/components/levelUpHelper/LevelUpClassFeatureSelection.svelte.ts
  types/components/ClassFeatureSelection.d.ts
Due: biome-fix-staged, prettier-svelte

test(ancestry): cover the bonus confirm/swap flow and ancestry languages
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.test.ts
  tests/harnesses/CharacterCreationStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(ancestry): cover ancestryBonus in item-type enumerations
  src/import/playerCharacter/buildImportPreview.test.ts
  src/import/playerCharacter/buildImportPreview.ts
  src/managers/ItemActivationManager.ts
  src/view/dialogs/ActorSavingThrowConfigDialog.svelte
  src/view/sheets/character/pdfExport/generatePdfContent.ts
Due: biome-fix-staged, prettier-svelte

feat(ancestry): confirm/swap step for ancestry bonus + fix card layout
  packs/ancestries/core/common/dwarf.json
  packs/ancestries/core/exotic/goblin.json
  packs/ancestries/core/exotic/kobold.json
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
Due: biome-fix-staged, prettier-svelte

refactor(ancestry): style-guide conformance for ancestry bonus
  public/lang/en.json
  src/view/dialogs/characterCreation/state.svelte.test.ts
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.svelte
  tests/harnesses/CharacterCreationStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

chore(ancestry): add stable rule ids to ancestry and bonus pack data
  packs/ancestries/core/common/dwarf.json
  packs/ancestries/core/common/elf.json
  packs/ancestries/core/common/gnome.json
  packs/ancestries/core/exotic/celestial.json
  packs/ancestries/core/exotic/dragonborn.json
  packs/ancestries/core/exotic/dryadshroomling.json
  packs/ancestries/core/exotic/fiendkin.json
  packs/ancestries/core/exotic/goblin.json
  packs/ancestries/core/exotic/half-giant.json
  packs/ancestries/core/exotic/kobold.json
  packs/ancestries/core/exotic/orc.json
  packs/ancestryBonuses/core/common/lithe.json
  packs/ancestryBonuses/core/common/optimistic.json
  packs/ancestryBonuses/core/common/stout.json
  packs/ancestryBonuses/core/exotic/flameborn.json
  packs/ancestryBonuses/core/exotic/highborn.json
  packs/ancestryBonuses/core/exotic/hollow-bones.json
  packs/ancestryBonuses/core/exotic/odd-constitution.json
Due: biome-fix-staged

fix(i18n): localize ancestry bonus sheet navigation
  public/lang/en.json
  src/view/sheets/AncestryBonusSheet.svelte
Due: biome-fix-staged, prettier-svelte

refactor(ancestry): style-guide conformance for the ancestry bonus flow
  public/lang/en.json
  src/documents/dialogs/CharacterCreationDialog.svelte.ts
  src/documents/item/ancestryBonus.ts
  src/documents/sheets/AncestryBonusSheet.svelte.ts
  src/migration/migrations/Migration032AncestryBonusSplit.ts
  src/models/item/itemDataModels.ts
  src/scss/components/_button.scss
  src/view/dialogs/CharacterCreationDialog.svelte
  src/view/dialogs/characterCreation/state.svelte.ts
  src/view/dialogs/characterCreation/utils/ancestryBonusRequiresSaveChoice.ts
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.svelte
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.svelte.ts
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.types.ts
  src/view/dialogs/components/characterCreator/AncestrySizeSelection.svelte
  src/view/dialogs/components/characterCreator/DocumentCard.svelte
  src/view/sheets/AncestryBonusSheet.svelte
  src/view/sheets/pages/PlayerCharacterFeaturesTab.svelte
  types/components/AncestryBonusSheet.d.ts
Due: biome-fix-staged, prettier-svelte

fix(i18n): localize ancestry bonus UI
  public/lang/en.json
  src/view/dataPreparationHelpers/documentTooltips/prepareAncestryBonusTooltip.ts
  src/view/dialogs/components/characterCreator/AncestryBonusSelection.svelte
  src/view/sheets/AncestryBonusSheet.svelte
  src/view/sheets/AncestrySheet.svelte
Due: biome-fix-staged, prettier-svelte

fix(migration): renumber ancestry bonus split to 035
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(migration): keep the ancestry language sentence on the ancestry
  src/migration/migrations/Migration035AncestryBonusSplit.test.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
Due: biome-fix-staged

fix(ui): re-derive movement adjustments when items change
  src/view/dialogs/CharacterMovementConfigDialog.svelte
Due: prettier-svelte

fix(migration): clear ancestry trait rules the bonus already carries
  src/migration/migrations/Migration035AncestryBonusSplit.test.ts
  src/migration/migrations/Migration035AncestryBonusSplit.ts
Due: biome-fix-staged

fix(ui): show generic speed bonuses in the movement config dialog
  src/utils/collectMovementAdjustments.test.ts
  src/utils/collectMovementAdjustments.ts
  src/view/dialogs/CharacterMovementConfigDialog.svelte
Due: biome-fix-staged, prettier-svelte

chore(migration): renumber AoETemplateFlags 034 to 035
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration035AoETemplateFlags.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
