Repository Nimble-Co/FoundryVTT-Nimble: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix-staged, prettier-svelte

biome-fix-staged:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier-svelte:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore(migration): bump LATEST_SCHEMA_VERSION to 32
  src/migration/MigrationRunnerBase.ts
Due: biome-fix-staged

fix(rules-builder): resolve modifyPool pool picker from poolType (#806)
  docs/system/rules.md
  scripts/docs/generateReference.gen.ts
  src/models/rules/_widgetOption.test.ts
  src/models/rules/_widgetOption.ts
  src/models/rules/modifyPool.test.ts
  src/models/rules/modifyPool.ts
  src/view/rulesBuilder/components/ChargePoolPicker.svelte
  src/view/rulesBuilder/components/DicePoolPicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte.test.ts
  src/view/rulesBuilder/components/SchemaFieldRendererState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(rules-builder): allow typing a pool identifier on unowned items
  public/lang/en.json
  src/models/rules/modifyPool.ts
  src/view/rulesBuilder/components/ChargePoolPicker.svelte
  src/view/rulesBuilder/components/DicePoolPicker.svelte
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

chore(tests): use the exported WidgetResolver type in modifyPool tests
  src/models/rules/modifyPool.test.ts
Due: biome-fix-staged

docs: cover the dice-pool rule types and the spend panel
  docs/documentation/characters/character-sheet.md
  docs/documentation/homebrew/activations.md
  docs/documentation/reference/_partials/diceConsumer.md
  docs/documentation/reference/_partials/dicePool.md
  docs/documentation/reference/_partials/modifyConsumer.md
  docs/documentation/reference/_partials/modifyPool.md
  docs/documentation/reference/_partials/modifyToggle.md
  docs/documentation/reference/_partials/poolGainMessage.md
Due: none

feat(spells): add increaseDieSize upcast scaling operation (#845)
  packs/spells/core/radiant/lifebinding-spirit.json
  public/lang/en.json
  src/config.ts
  src/models/item/SpellDataModel.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
  src/utils/spell/stepFormulaDieSize.test.ts
  src/utils/spell/stepFormulaDieSize.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/sheets/components/ScalingConfig.svelte
  types/spellScaling.d.ts
Due: biome-fix-staged, prettier-svelte

feat(migration): backfill Lifebinding Spirit die-size upcast scaling (#845)
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration032LifebindingSpiritDieSize.ts
  src/migration/migrations/index.ts
Due: biome-fix-staged

fix(rules-builder): distinguish "no actor" from "no pools" in the pool pickers
  public/lang/en.json
  src/view/rulesBuilder/components/ChargePoolPicker.svelte
  src/view/rulesBuilder/components/ChargePoolPicker.svelte.ts
  src/view/rulesBuilder/components/DicePoolPicker.svelte
  src/view/rulesBuilder/components/DicePoolPicker.svelte.ts
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte.test.ts
Due: biome-fix-staged, prettier-svelte

fix(combat): backstop the turn-start hook when Foundry skips the turn interval
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
  tests/mocks/combat.ts
Due: biome-fix-staged

fix(dicePool): localize the face-floor flavor and scope-filter modifyConsumer
  docs/documentation/reference/_partials/modifyConsumer.md
  public/lang/en.json
  src/models/rules/modifyConsumer.ts
  src/utils/dicePool/dicePoolConsumers.test.ts
  src/utils/dicePool/dicePoolConsumers.ts
  src/utils/dicePool/dicePoolRefill.ts
Due: biome-fix-staged

refactor(dicePool): one maximize implementation behind both entry points
  src/utils/dicePool/rollDieIntoPool.persist.test.ts
  src/view/sheets/components/DicePoolPanel.svelte.test.ts
  src/view/sheets/components/DicePoolPanel.svelte.ts
  tests/harnesses/DicePoolPanelStateHarness.svelte
Due: biome-fix-staged, prettier-svelte

fix(activation): collect deferred pool nodes from the flat effect list
  src/managers/ItemActivationManager.poolNode.test.ts
  src/managers/ItemActivationManager.ts
Due: biome-fix-staged

fix(rules-builder): resolve modifyPool pool picker from poolType (#806) (#862)
  docs/system/rules.md
  public/lang/en.json
  scripts/docs/generateReference.gen.ts
  src/models/rules/_widgetOption.test.ts
  src/models/rules/_widgetOption.ts
  src/models/rules/modifyPool.test.ts
  src/models/rules/modifyPool.ts
  src/view/rulesBuilder/components/ChargePoolPicker.svelte
  src/view/rulesBuilder/components/ChargePoolPicker.svelte.ts
  src/view/rulesBuilder/components/DicePoolPicker.svelte
  src/view/rulesBuilder/components/DicePoolPicker.svelte.ts
  src/view/rulesBuilder/components/SchemaFieldRenderer.svelte.test.ts
  src/view/rulesBuilder/components/SchemaFieldRendererState.svelte.ts
Due: biome-fix-staged, prettier-svelte

fix(spells): harden increaseDieSize edge cases from review (#845)
  src/utils/spell/stepFormulaDieSize.test.ts
  src/utils/spell/stepFormulaDieSize.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/sheets/components/ScalingConfig.svelte
Due: biome-fix-staged, prettier-svelte

feat(spells): add increaseDieSize upcast scaling operation (#864)
  packs/spells/core/radiant/lifebinding-spirit.json
  public/lang/en.json
  src/config.ts
  src/migration/MigrationRunnerBase.ts
  src/migration/migrations/Migration032LifebindingSpiritDieSize.ts
  src/migration/migrations/index.ts
  src/models/item/SpellDataModel.ts
  src/utils/spell/applyUpcastDeltas.test.ts
  src/utils/spell/applyUpcastDeltas.ts
  src/utils/spell/stepFormulaDieSize.test.ts
  src/utils/spell/stepFormulaDieSize.ts
  src/view/dialogs/SpellUpcastDialog.svelte
  src/view/sheets/components/ScalingConfig.svelte
  types/spellScaling.d.ts
Due: biome-fix-staged, prettier-svelte

ci: skip FoundryVTT publish for pre-releases
  .github/workflows/main.yml
Due: none

ci: skip FoundryVTT publish for pre-releases (#865)
  .github/workflows/main.yml
Due: none

fix(combat): ignore skipped turn dispatches in turn-start/turn-end overrides
  src/documents/combat/combat.svelte.test.ts
  src/documents/combat/combat.svelte.ts
Due: biome-fix-staged

fix: adjust language in bankedReductionNote
  public/lang/en.json
Due: biome-fix-staged

fix: adjust language in bankedReductionNote (#866)
  public/lang/en.json
Due: biome-fix-staged

ci: preserve release state when attaching build artifacts
  .github/workflows/main.yml
Due: none

fix: add 14.365 as the verified version
  public/system.json
Due: biome-fix-staged

ci: preserve release state when attaching build artifacts (#867)
  .github/workflows/main.yml
Due: none

chore: add a release note generator claude command
  .claude/commands/nimble-release-notes.md
Due: none

fix(system): resolve Babele dependency from the package listing
  public/system.json
Due: biome-fix-staged

fix(system): resolve Babele dependency from the package listing (#870)
  public/system.json
Due: biome-fix-staged

feat(damage): apply damage vulnerabilities and surface a per-target breakdown (#785)
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/models/actor/CharacterDataModel.ts
  src/view/chat/components/Targets.svelte
  src/view/dialogs/CharacterMetaConfigDialog.svelte
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/dialogs/components/DamageDefensesConfig.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): tighten the damage adjustments breakdown (#785)
  public/lang/en.json
  src/view/chat/components/Targets.svelte
Due: biome-fix-staged, prettier-svelte

refactor(chat): fold damage adjustments into the target list (#785)
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/Targets.svelte
Due: biome-fix-staged, prettier-svelte

fix(chat): theme the damage badges instead of hardcoding colours
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/view/chat/components/Targets.svelte
Due: prettier-svelte

fix(damage): address review on vulnerability handling (#785)
  public/lang/en.json
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/view/chat/components/Targets.svelte
  src/view/dialogs/components/DamageDefensesConfig.svelte
Due: biome-fix-staged, prettier-svelte

feat(character): surface damage defenses on the character sheet (#785)
  public/lang/en.json
  src/documents/actor/character.ts
  src/view/dialogs/CharacterMetaConfigDialog.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
Due: biome-fix-staged, prettier-svelte

refactor(damage): promote getDamageTypeLabel and pin the armor icon (#785)
  docs/STYLE_GUIDE.md
  src/documents/chatMessage.ts
  src/utils/getDamageTypeLabel.ts
  src/view/chat/components/Targets.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
Due: biome-fix-staged, prettier-svelte

feat(damage): apply resistances, vulnerabilities and immunities in the damage pipeline (#871)
  docs/STYLE_GUIDE.md
  public/lang/en.json
  src/documents/actor/character.ts
  src/documents/chatMessage.test.ts
  src/documents/chatMessage.ts
  src/models/actor/CharacterDataModel.ts
  src/scss/base/_theme.scss
  src/scss/base/_variables.scss
  src/utils/getDamageTypeLabel.ts
  src/view/chat/components/Targets.svelte
  src/view/dialogs/CharacterMetaConfigDialog.svelte
  src/view/dialogs/NPCMetaConfigDialog.svelte
  src/view/dialogs/components/DamageDefensesConfig.svelte
  src/view/sheets/pages/NPCCoreTab.svelte
  src/view/sheets/pages/PlayerCharacterCoreTab.svelte
Due: biome-fix-staged, prettier-svelte

fix(ci): change rolling dev release tag due to `latest-dev` got set as immutable
  .github/workflows/dev-release.yml
Due: none

fix(ci): add tagging to move dev tag to current commit
  .github/workflows/dev-release.yml
Due: none

Path conditions:
  biome-fix-staged: any of: *.{js,ts,mjs,mts,json,jsonc}
  prettier-svelte: any of: *.svelte
